Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

docs(changeset): fix: added deprecated sidebar support
  .changeset/six-laws-pull.md
Due: prettier

feat: add object support to useClipboard
  packages/api-reference/src/components/Content/Schema/SchemaPropertyExamples.vue
  packages/use-hooks/src/useClipboard/useClipboard.test.ts
  packages/use-hooks/src/useClipboard/useClipboard.ts
Due: prettier, biome

docs(changeset): feat: added object stringification to useClipboard
  .changeset/three-roses-cut.md
Due: prettier

feat(docs): add fathom analytics
  documentation/assets/fathom.js
  knip.jsonc
  scalar.config.json
Due: prettier, biome

feat(docs): add fathom analytics (#7679)
  documentation/assets/fathom.js
  knip.jsonc
  scalar.config.json
Due: prettier, biome

feat(components): simplify nested sidebar items styles
  packages/components/src/components/ScalarSidebar/ScalarSidebarNestedItems.vue
Due: prettier, biome

test(components): update snapshots
  packages/components/src/components/ScalarSidebar/snapshots/base-1-collapsed.png
  packages/components/src/components/ScalarSidebar/snapshots/base-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/discrete-groups-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/discrete-groups-3-selected.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-2-hover.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-3-selected.png
Due: none

docs(changeset): feat(components): simplify nested sidebar items styles
  .changeset/clever-cases-grow.md
Due: prettier

feat: almost there
  packages/api-client/src/v2/blocks/operation-block/helpers/get-example.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/get-example.ts
  packages/api-client/src/v2/components/code-input/CodeInput.test.ts
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/components/data-table/DataTableInputSelect.vue
Due: prettier, biome

improve tests
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/CredentialsLocationJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/DocumentDownloadTypeJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/OperationSorterJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/OperationTitleSourceJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/PkceConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/PropertyOrderJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarClientJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarLayoutJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarTargetJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarThemeJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/TagSorterJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ThemeModeJsonConverterTests.cs
Due: none

feat: it works!
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/components/data-table/DataTableInput.vue
  packages/api-client/src/v2/features/collection/components/Form.vue
  packages/api-client/src/v2/features/collection/components/Servers.vue
Due: prettier, biome

chore: undo useless tests
  packages/api-client/src/v2/components/code-input/CodeInput.test.ts
Due: prettier, biome

fix: types
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.test.ts
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesTable.test.ts
  packages/api-client/src/v2/features/global-cookies/components/CookiesTable.test.ts
Due: prettier, biome

docs(changeset): feat: add array + object functionality to code input
  .changeset/fluffy-nails-itch.md
Due: prettier

chore: add jsdom dep
  packages/oas-utils/package.json
  packages/openapi-to-markdown/package.json
  packages/pre-post-request-scripts/package.json
  packages/react-renderer/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
Due: prettier, biome

fix: html/js link
  scalar.config.json
Due: prettier, biome

fix: html/js link (#7687)
  scalar.config.json
Due: prettier, biome

fix: vuejs redierct
  scalar.config.json
Due: prettier, biome

fix: vuejs redierct (#7688)
  scalar.config.json
Due: prettier, biome

feat(api-client): ensure patch is uppercased when building request (#7675)
  .changeset/strict-badgers-type.md
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request.ts
Due: prettier, biome

feat(components): simplify nested sidebar items styles (#7680)
  .changeset/clever-cases-grow.md
  packages/components/src/components/ScalarSidebar/ScalarSidebarNestedItems.vue
  packages/components/src/components/ScalarSidebar/snapshots/base-1-collapsed.png
  packages/components/src/components/ScalarSidebar/snapshots/base-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/discrete-groups-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/discrete-groups-3-selected.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-2-hover.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-3-selected.png
Due: prettier, biome

improve tests (#7685)
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/CredentialsLocationJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/DocumentDownloadTypeJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/OperationSorterJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/OperationTitleSourceJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/PkceConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/PropertyOrderJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarClientJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarLayoutJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarTargetJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ScalarThemeJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/TagSorterJsonConverterTests.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Converters/ThemeModeJsonConverterTests.cs
Due: none

docs: update configuration and Docker integration documentation
  documentation/configuration.md
  documentation/integrations/docker.md
Due: prettier

docs(mock-server): add Docker image badges and improve table formatting in documentation
  documentation/guides/mock-server/docker.md
Due: prettier

docs: update the links in the root README
  README.md
Due: prettier

docs: migrat oss-pledge-blog-post
  documentation/assets/blog/oss-pledge.jpeg
  documentation/blog/oss-pledge-2024.md
Due: prettier

feat: markdown default line height
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
Due: prettier, biome

docs(changeset): feat: markdown default line height
  .changeset/major-planes-divide.md
Due: prettier

feat(openapi): add support for x-example and x-examples in Swagger 2.0 to OpenAPI 3.x upgrade
  documentation/openapi.md
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

docs(changeset): feat: migrate x-example and x-examples
  .changeset/solid-mammals-decide.md
Due: prettier

feat: direct values in x-examples in the request body
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

chore: fix app
  projects/scalar-app/src/renderer/src/main.ts
Due: prettier, biome

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#7696)
  README.md
Due: prettier

chore: restore test
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
Due: prettier, biome

fix: migrate x-example and x-examples
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

test: x-examples
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
Due: prettier, biome

fix: objects are copied as [object Object] string
  packages/api-reference/src/components/Content/Schema/SchemaPropertyExamples.vue
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
