Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: return an email when format is set to email
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
Due: prettier, eslint

feat: generate random values based on the format
  packages/oas-utils/src/getExampleFromSchema.ts
Due: prettier, eslint

docs(changeset): feat: generated example values based on the given format
  .changeset/calm-bugs-hunt.md
Due: prettier

fix: CSS warning (#1863)
  packages/api-client/src/components/SimpleTable/SimpleCell.vue
Due: prettier, eslint

feat(oas-utils): generate random values based on the `format` (#1866)
  .changeset/calm-bugs-hunt.md
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
Due: prettier, eslint

feat: copy server url with replaced variables (#1864)
  .changeset/neat-singers-cry.md
  packages/api-reference/src/components/Content/BaseUrl/ServerItem.vue
Due: prettier, eslint

feat: support for `<abbr />` tags, fix #1850 (#1860)
  .changeset/lazy-poems-study.md
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

RELEASING: Releasing 16 package(s) (#1867)
  .changeset/calm-bugs-hunt.md
  .changeset/lazy-poems-study.md
  .changeset/neat-singers-cry.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

feat: Move react integration to reactive interface (#1855)
  .changeset/clean-hotels-fold.md
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/vite-env.d.ts
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference/src/esm.ts
  packages/galaxy/package.json
  packages/galaxy/src/index.ts
  packages/galaxy/tsconfig.json
  packages/galaxy/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: authentication card form style
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormGroup.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormTextInput.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecuritySchemeScopes.vue
Due: prettier, eslint

docs(changeset): fix: authentication card form style
  .changeset/rare-lies-wink.md
Due: prettier

feat(api-reference): support for constants in schemas, fix #1846 (#1865)
  .changeset/beige-timers-report.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

fix: api reference auth form style (#1870)
  .changeset/rare-lies-wink.md
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormGroup.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormTextInput.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecuritySchemeScopes.vue
Due: prettier, eslint

RELEASING: Releasing 14 package(s) (#1869)
  .changeset/beige-timers-report.md
  .changeset/clean-hotels-fold.md
  .changeset/rare-lies-wink.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/galaxy/CHANGELOG.md
  packages/galaxy/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

chore: removed auto injected css
  packages/api-client-react/package.json
  packages/api-client-react/vite.config.ts
  packages/api-client/package.json
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/vite.config.ts
  packages/components/package.json
  packages/components/vite.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/play-button/package.json
  packages/themes/package.json
  packages/themes/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: seeing the issues now
  examples/fastify-api-reference/vite.config.ts
  examples/web/src/App.vue
  examples/web/vite.config.ts
  packages/api-client/package.json
  packages/api-client/vite.config.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/fastify-api-reference/vite.config.ts
Due: prettier, eslint

feat: almost there
  examples/cdn-api-reference/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/echo-server/vite.config.ts
  packages/galaxy/vite.config.ts
  packages/nuxt/src/module.ts
  packages/play-button/vite.standalone.config.ts
  packages/themes/package.json
Due: prettier, eslint

feat: added css import to docu
  packages/api-client-react/src/style.css
  packages/api-reference-react/package.json
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/docusaurus/src/ScalarDocusaurus.tsx
Due: prettier, eslint

feat: externalize components
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
Due: prettier, eslint

feat: working on the new stuff
  packages/api-client-react/src/style.css
  packages/api-client/package.json
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/src/style.css
  packages/api-reference-react/vite.config.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/vite.config.ts
  packages/nuxt/src/runtime/components/nuxt-theme.css
  packages/nuxt/src/runtime/plugins/hydrateClient.d.mts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: added injection code
  packages/api-client/vite.config.ts
Due: prettier, eslint

feat: testing 1-2
  examples/react/package.json
  examples/react/src/App.tsx
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: got it working
  examples/react/src/App.tsx
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/src/style.css
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/vite.config.ts
Due: prettier, eslint

chore: added docs
  README.md
  packages/api-reference-react/README.md
  packages/api-reference/README.md
Due: prettier

feat: one more down
  packages/nuxt/package.json
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/nuxt/src/runtime/components/nuxt-theme.css
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: add alias back in
  packages/api-reference/vite.standalone.config.ts
Due: prettier, eslint

chore: things
  examples/react/package.json
  packages/nuxt/.gitignore
  packages/nuxt/src/runtime/plugins/hydrateClient.d.mts
  pnpm-lock.yaml
Due: package_format, prettier

feat: alias changes
  examples/cdn-api-reference/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/web/vite.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/galaxy/vite.config.ts
  packages/play-button/vite.standalone.config.ts
Due: prettier, eslint

fix: remove alias from example
  examples/web/vite.config.ts
Due: prettier, eslint

feat: add aliases back in
  examples/cdn-api-reference/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/galaxy/vite.config.ts
  packages/play-button/vite.standalone.config.ts
Due: prettier, eslint

feat: added client style imports
  examples/web/src/style.css
  examples/web/vite.config.ts
  packages/api-client/README.md
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
Due: prettier, eslint

docs(changeset): feat: css files must be explicitly imported, check the docs
  .changeset/chatty-crews-allow.md
Due: prettier

fix: build
  packages/api-reference-react/src/ApiReferenceReact.tsx
Due: prettier, eslint

feat(api-reference): support x-enumDescriptions
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

feat: testing fix
  examples/docusaurus/package.json
  examples/esm-api-reference/package.json
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  packages/api-client-react/package.json
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-reference-react/package.json
  packages/docusaurus/package.json
  packages/nextjs-api-reference/package.json
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/nuxt/src/runtime/components/nuxt-theme.css
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: css specificity
  packages/api-client/src/components/ApiClient/AddressBar.vue
Due: prettier, eslint

docs(changeset): BREAKING CHANGE: css must now be explicitly imported, see docs for more details
  .changeset/nasty-ants-drum.md
Due: prettier

feat: move references css config to css layer
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

fix: apply docusaurus theme to body
  packages/docusaurus/src/theme.css
Due: prettier

docs(changeset): fix: apply docusaurus theme to body
  .changeset/big-cherries-grin.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
