Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore: update actions
  .github/actions/check-changes/action.yml
Due: prettier

chore: reduction
  .github/actions/build/action.yml
  .github/actions/check-changes/action.yml
  .github/actions/restore-build/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/cache-refresh.yml
Due: prettier

clean up tehe types package
  knip.jsonc
  packages/agent-chat/src/entities/registry/document.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/types/package.json
  packages/types/src/api-reference/api-client-plugin.ts
  packages/types/src/api-reference/api-reference-configuration.test.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/authentication-configuration.ts
  packages/types/src/api-reference/base-configuration.ts
  packages/types/src/api-reference/index.ts
  packages/types/src/api-reference/source-configuration.ts
  packages/types/src/api-reference/types.test.ts
  packages/types/src/api-reference/types.ts
  packages/types/src/entities/index.ts
  packages/types/src/entities/security-scheme.test.ts
  packages/types/src/entities/security-scheme.ts
  packages/types/src/utils/index.ts
  packages/types/src/utils/nanoid.test.ts
  packages/types/src/utils/nanoid.ts
  packages/workspace-store/src/request-example/context/security/extract-security-scheme-secrets.test.ts
  packages/workspace-store/src/request-example/context/security/extract-security-scheme-secrets.ts
Due: prettier, biome

fix(scalar-app): allow images from any https source in CSP
  projects/scalar-app/entrypoints/electron/renderer/index.html
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

docs: require changesets for projects/* changes
  AGENTS.md
Due: prettier

fix(scalar-app): restore data: and blob: in img-src CSP for response previews
  projects/scalar-app/entrypoints/electron/renderer/index.html
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

chore: add changeset for scalar-app CSP image source update
  .changeset/csp-allow-https-images.md
Due: prettier

fix: align team switcher
  projects/scalar-app/src/App.vue
  projects/scalar-app/src/features/app/App.vue
Due: prettier, biome

docs(changeset): fix: align team picker with dashboard
  .changeset/gold-paths-check.md
Due: prettier

fix: analytics
  packages/api-client/src/plugins/posthog/sanitize-event-payload.ts
  projects/scalar-app/src/App.vue
  projects/scalar-app/src/features/app/App.vue
  projects/scalar-app/src/hooks/use-auth-handlers.test.ts
  projects/scalar-app/src/hooks/use-auth-handlers.ts
Due: prettier, biome

docs(changeset): fix: some analytics events not firing
  .changeset/smooth-plants-open.md
Due: prettier

chore: random
  projects/scalar-app/src/features/app/App.vue
Due: prettier, biome

chore: remove extra teams
  projects/scalar-app/src/features/app/App.vue
Due: prettier, biome

fix: tests
  packages/api-client/src/plugins/posthog/sanitize-event-payload.test.ts
Due: prettier, biome

fix: empty prop
  projects/scalar-app/src/features/app/components/AppHeader.test.ts
  projects/scalar-app/src/features/app/components/AppHeader.vue
Due: prettier, biome

pre open a path + method
  packages/api-client/src/v2/blocks/operation-block/components/Header.test.ts
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/blocks/operation-block/components/OpenApiClientButton.test.ts
  packages/api-client/src/v2/blocks/operation-block/components/OpenApiClientButton.vue
  projects/scalar-app/src/App.vue
  projects/scalar-app/src/features/import-listener/ImportListener.vue
  projects/scalar-app/src/features/import-listener/helpers/get-import-from-query.test.ts
  projects/scalar-app/src/features/import-listener/helpers/get-import-from-query.ts
  projects/scalar-app/src/features/import-listener/types.ts
Due: prettier, biome

correctly land on the example page
  projects/scalar-app/src/App.vue
Due: prettier, biome

fix(scalar-app): make CSP more permissive for cross-origin content
  .changeset/csp-more-permissive.md
  projects/scalar-app/entrypoints/electron/renderer/index.html
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

fix(scalar-app): restrict script-src and add liadm.com
  projects/scalar-app/entrypoints/electron/renderer/index.html
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

move the types to the types package
  packages/types/package.json
  packages/types/src/openapi/3.1/callback.ts
  packages/types/src/openapi/3.1/components.ts
  packages/types/src/openapi/3.1/contact.ts
  packages/types/src/openapi/3.1/discriminator.ts
  packages/types/src/openapi/3.1/encoding.ts
  packages/types/src/openapi/3.1/example.ts
  packages/types/src/openapi/3.1/external-documentation.ts
  packages/types/src/openapi/3.1/header.ts
  packages/types/src/openapi/3.1/index.ts
  packages/types/src/openapi/3.1/info.ts
  packages/types/src/openapi/3.1/license.ts
  packages/types/src/openapi/3.1/link.ts
  packages/types/src/openapi/3.1/media-type.ts
  packages/types/src/openapi/3.1/oauth-flow.ts
  packages/types/src/openapi/3.1/oauthflows.ts
  packages/types/src/openapi/3.1/openapi-document.ts
  packages/types/src/openapi/3.1/operation.ts
  packages/types/src/openapi/3.1/parameter.ts
  packages/types/src/openapi/3.1/path-item.ts
  packages/types/src/openapi/3.1/paths.ts
  packages/types/src/openapi/3.1/reference.ts
  packages/types/src/openapi/3.1/request-body.ts
  packages/types/src/openapi/3.1/response.ts
  packages/types/src/openapi/3.1/responses.ts
  packages/types/src/openapi/3.1/schema.ts
  packages/types/src/openapi/3.1/security-requirement.ts
  packages/types/src/openapi/3.1/security-scheme.ts
  packages/types/src/openapi/3.1/server-variable.ts
  packages/types/src/openapi/3.1/server.ts
  packages/types/src/openapi/3.1/tag.ts
  packages/types/src/openapi/3.1/xml.ts
Due: prettier, biome

move the schemas to the schemas package
  packages/schemas/package.json
  packages/schemas/scripts/generate-types.ts
  packages/schemas/src/openapi/3.1/index.ts
  packages/types/src/openapi/3.1/oauthflows.ts
  packages/types/tsconfig.build.json
  packages/types/tsconfig.json
  packages/workspace-store/package.json
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/schemas.ts
  packages/workspace-store/src/schemas/v3.1/openapi/index.ts
  packages/workspace-store/src/schemas/v3.1/openapi/reference.ts
  packages/workspace-store/src/schemas/workspace.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

use the new types on the client package
  lefthook.yml
  packages/schemas/scripts/generate-types.ts
  packages/schemas/src/openapi/3.1/index.ts
  packages/types/src/openapi/3.1/callback.ts
  packages/types/src/openapi/3.1/components.ts
  packages/types/src/openapi/3.1/contact.ts
  packages/types/src/openapi/3.1/discriminator.ts
  packages/types/src/openapi/3.1/encoding.ts
  packages/types/src/openapi/3.1/example.ts
  packages/types/src/openapi/3.1/external-documentation.ts
  packages/types/src/openapi/3.1/header.ts
  packages/types/src/openapi/3.1/index.generated.d.ts
  packages/types/src/openapi/3.1/index.ts
  packages/types/src/openapi/3.1/info.ts
  packages/types/src/openapi/3.1/license.ts
  packages/types/src/openapi/3.1/link.ts
  packages/types/src/openapi/3.1/media-type.ts
  packages/types/src/openapi/3.1/oauth-flow.ts
  packages/types/src/openapi/3.1/oauthflows.ts
  packages/types/src/openapi/3.1/openapi-document.ts
  packages/types/src/openapi/3.1/operation.ts
  packages/types/src/openapi/3.1/parameter.ts
  packages/types/src/openapi/3.1/path-item.ts
  packages/types/src/openapi/3.1/paths.ts
  packages/types/src/openapi/3.1/reference.ts
  packages/types/src/openapi/3.1/request-body.ts
  packages/types/src/openapi/3.1/response.ts
  packages/types/src/openapi/3.1/responses.ts
  packages/types/src/openapi/3.1/schema.ts
  packages/types/src/openapi/3.1/security-requirement.ts
  packages/types/src/openapi/3.1/security-scheme.ts
  packages/types/src/openapi/3.1/server-variable.ts
  packages/types/src/openapi/3.1/server.ts
  packages/types/src/openapi/3.1/tag.ts
  packages/types/src/openapi/3.1/xml.ts
  packages/validation/src/coerce.test.ts
  packages/validation/src/schema.ts
  packages/validation/src/typegen.test.ts
  packages/validation/src/validate.test.ts
  packages/workspace-store/src/client.ts
Due: prettier, biome

stricter output?
  packages/schemas/src/openapi/3.1/index.ts
  packages/workspace-store/src/client.ts
Due: prettier, biome

migrate the entities scheams
  packages/schemas/scripts/generate-types.ts
  packages/schemas/src/openapi/3.1/index.ts
  packages/types/src/openapi/3.1/index.generated.ts
  packages/workspace-store/scripts/generate-openapi-types.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/entities/auth/index.ts
  packages/workspace-store/src/entities/auth/schema.ts
  packages/workspace-store/src/entities/history/index.ts
  packages/workspace-store/src/entities/history/schema.ts
  packages/workspace-store/src/events/definitions/auth.ts
  packages/workspace-store/src/events/definitions/document.ts
  packages/workspace-store/src/mutators/auth.ts
  packages/workspace-store/src/schemas/workspace.ts
Due: prettier, biome

fix all type errors
  packages/agent-chat/src/helpers.ts
  packages/api-client/package.json
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.ts
  packages/api-client/src/v2/blocks/request-block/helpers/get-form-body-rows.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/openid-discovery-to-flows.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/openid-discovery-to-flows.ts
  packages/api-reference/src/components/Content/Schema/SchemaEnums.vue
  packages/api-reference/src/components/Content/Schema/SchemaHeading.vue
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-enum-values.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-property-description.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-schema-type.ts
  packages/api-reference/src/components/Content/Schema/helpers/has-complex-array-items.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
  packages/api-reference/src/components/Content/Schema/helpers/schema-name.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-render-array-item-composition.ts
  packages/api-reference/src/features/Operation/helpers/flatten-deep-object-query-parameter.ts
  packages/api-reference/src/features/Operation/helpers/get-required-security.ts
  packages/api-reference/src/features/example-responses/ExampleSchema.vue
  packages/api-reference/src/helpers/openapi.ts
  packages/api-reference/src/helpers/storage.ts
  packages/oas-utils/package.json
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/openapi-to-markdown/package.json
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/pre-post-request-scripts/package.json
  packages/types/src/openapi/3.1/index.ts
  packages/workspace-store/src/resolve.ts
  pnpm-lock.yaml
  projects/scalar-app/src/helpers/drag-handle-factory.ts
Due: packages-format, prettier, biome

fix lefthook
  lefthook.yml
Due: prettier

fix formatting
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/process-body.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestParams.vue
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/features/environments/EnvironmentsList.vue
  packages/api-client/src/v2/features/environments/components/Environment.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentCreateModal.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesDropdown.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesTable.vue
  packages/api-reference/src/blocks/scalar-client-selector-block/components/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Schema/SchemaComposition.vue
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/features/Operation/components/ParameterList.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/features/Operation/components/RequestBody.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callback.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callbacks.vue
  packages/api-reference/src/features/Operation/helpers/filter-selected-security.test.ts
  packages/api-reference/src/features/Operation/helpers/filter-selected-security.ts
  packages/api-reference/src/features/Search/helpers/create-search-index.ts
  packages/api-reference/src/features/example-responses/ExampleResponse.test.ts
  packages/types/src/openapi/3.1/index.generated.ts
  packages/workspace-store/src/request-example/builder/helpers/get-example.test.ts
  packages/workspace-store/src/request-example/builder/security/build-request-security.ts
  packages/workspace-store/src/request-example/context/security/get-selected-security.test.ts
  projects/scalar-app/RELEASE_NOTES.schema.json
  projects/scalar-app/src/features/app/components/DesktopTabs.vue
  projects/scalar-app/src/features/command-palette/helpers/get-operation-from-curl.ts
  projects/scalar-app/src/features/global-cookies/components/CookiesTable.vue
Due: prettier, biome

fix(openapi-types): allow OpenAPI 3.2 schema references
  .changeset/openapi-32-schema-types.md
  packages/openapi-types/3.2/media-type.d.ts
  packages/openapi-types/3.2/schema.d.ts
  packages/openapi-types/src/openapi-types.test-d.ts
  projects/scalar-app/RELEASE_NOTES.schema.json
Due: prettier, biome

wip
  packages/workspace-store/src/request-example/builder/helpers/get-example-from-schema.ts
Due: prettier, biome

support content field
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
Due: prettier, biome

fix: restore inline OpenAPI document support
  .changeset/api-client-react-inline-content.md
Due: prettier

resolve
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
Due: prettier, biome

fix problems
  packages/oas-utils/package.json
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/schemas/src/openapi/3.1/index.ts
  packages/validation/src/coerce.test.ts
  packages/validation/src/coerce.ts
  packages/workspace-store/src/resolve.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
