Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

Update update-contributors.yml
  .github/workflows/update-contributors.yml
Due: prettier

ci: skip update-contributors workflow on forks (#3331)
  .github/workflows/update-contributors.yml
Due: prettier

style(components): updates modal animation (#3260)
  .changeset/clean-bananas-fold.md
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

feat(galaxy): add variables to the second server, see #3317 (#3323)
  .changeset/afraid-guests-vanish.md
  .changeset/lazy-dancers-push.md
  packages/cli/src/commands/validate/ValidateCommand.ts
  packages/galaxy/src/specifications/3.1.yaml
  packages/openapi-parser/schemas/v3.1/schema.json
  packages/openapi-parser/tests/openapi3-examples/3.1/fail/server_enum_empty.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.1/fail/server_enum_unknown.test.ts
Due: prettier, eslint

feat(api-reference): new fun way to test popular OpenAPI documents (#3315)
  packages/api-reference/package.json
  packages/api-reference/playground/examples/index.html
  packages/api-reference/playground/examples/src/App.vue
  packages/api-reference/playground/examples/src/main.ts
Due: prettier, eslint

fix: TS issues
  packages/api-client/src/libs/create-fetch-body.test.ts
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

fix: more TS issues
  examples/api-client/vite.config.ts.js
  packages/api-client/src/libs/create-fetch-headers.test.ts
  packages/api-client/src/libs/create-fetch-query-params.test.ts
  packages/api-client/src/libs/create-request-operation.test.ts
Due: prettier, eslint

chore: add more tests
  packages/api-client/src/libs/create-fetch-body.test.ts
  packages/api-client/src/libs/create-fetch-headers.test.ts
  packages/api-client/src/libs/create-fetch-query-params.test.ts
  packages/api-client/src/libs/create-request-operation.test.ts
  packages/api-client/src/libs/decode-buffer.test.ts
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

docs(changeset): fix: header names can have leading/trailing whitespaces
  .changeset/moody-kiwis-learn.md
Due: prettier

chore: add point to declaration file
  packages/types/package.json
  packages/types/src/index.ts
Due: prettier, eslint

docs(changeset): chore: add point to declaration file
  .changeset/chilly-cycles-refuse.md
Due: prettier

fix(api-references): selected server doesn’t update the API client, fix #2830 (#3287)
  .changeset/eleven-tigers-mix.md
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/features/BaseUrl/BaseUrl.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

chore: update some workspace dependencies (#3312)
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  package.json
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/libs/normalize-headers.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Servers/ServerForm.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/features/ExampleResponses/ExampleResponses.vue
  packages/api-reference/src/legacy/components/CardFormTextInput.vue
  packages/api-reference/src/legacy/stores/useServerStore.ts
  packages/code-highlight/src/code/highlight.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/mock-server/src/createMockServer.ts
  packages/oas-utils/src/helpers/ssrState.ts
  packages/ts-to-openapi/src/node.ts
  playwright/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-reference): OAuth authorization code flow rendering (#3290)
  .changeset/empty-donkeys-tan.md
  .changeset/lemon-shoes-judge.md
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier, eslint

fix(api-reference): check if default value is undefined instead of falsy
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs(changeset): fix(api-reference): check if default value is undefined instead of falsy
  .changeset/mean-penguins-call.md
Due: prettier

fix(api-client): pass metadata only if available to palette component
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

feat(api-client): focuses on first result on command palette search
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

feat(api-client): adds back event oncommand action form keydown delete
  packages/api-client/src/components/CommandPalette/CommandActionForm.vue
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteTag.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

docs(changeset): feat: enhances command palette navigation and style
  .changeset/olive-roses-cough.md
Due: prettier

style(api-client): updates command palette ui
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/themes/src/variables.css
Due: prettier, eslint

feat(api-client): command palette navigation (#3324)
  .changeset/olive-roses-cough.md
  packages/api-client/src/components/CommandPalette/CommandActionForm.vue
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteTag.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/themes/src/variables.css
Due: prettier, eslint

chore: allow more levels before checking for circular references
  packages/oas-utils/src/spec-getters/getExampleFromSchema.test.ts
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

refactor: use for in loop
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

chore: don’t recreate variable with static values
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

chore: don’t pretty print example responses before passing it to the scalar code block component
  packages/api-reference/src/features/ExampleResponses/ExampleResponse.vue
Due: prettier, eslint

chore: remove debug output
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

refactor: merge read-only/write-only checks
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

refactor: faster array access
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

docs(changeset): chore: improve performance of getExampleFromSchema
  .changeset/sharp-walls-bathe.md
Due: prettier

feat(Scalar.AspNetCore): add missing favicon configuration
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Assets/favicon.png
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
Due: none

chore(types): add point to declaration file (#3332)
  .changeset/chilly-cycles-refuse.md
  packages/types/package.json
  packages/types/src/index.ts
Due: prettier, eslint

chore: move client-scalar-com to a new projects folder
  .changeset/config.json
  .github/workflows/ci.yml
  package.json
  pnpm-workspace.yaml
  projects/client-scalar-com/index.html
  projects/client-scalar-com/package.json
  projects/client-scalar-com/src/main.ts
  projects/client-scalar-com/tsconfig.json
  projects/client-scalar-com/vite.config.ts
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: move `client.scalar.com` to a new projects folder (#3327)
  .changeset/config.json
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/client-scalar-com/index.html
  projects/client-scalar-com/package.json
  projects/client-scalar-com/src/main.ts
  projects/client-scalar-com/tsconfig.json
  projects/client-scalar-com/vite.config.ts
Due: package_format, prettier, eslint

docs: update the README
  packages/scalar.aspnetcore/README.md
Due: prettier

chore: add xC0dex
  CODEOWNERS
Due: none

fix: typo
  packages/scalar.aspnetcore/README.md
Due: prettier

test: SchemaPropertyHeading
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.spec.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
