Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

misc client style clean ups (#239)
  packages/api-client/src/components/ApiClient/AddressBar.vue
  packages/api-client/src/components/ApiClient/Request/Request.vue
  packages/api-client/src/components/ApiClient/Request/RequestHeaders.vue
  packages/api-client/src/components/ApiClient/Request/RequestQuery.vue
  packages/api-client/src/components/ApiClient/Request/RequestVariables.vue
  packages/api-client/src/components/CollapsibleSection/CollapsibleSection.vue
  packages/api-client/src/components/Grid/Grid.vue
Due: prettier, eslint

fix: externalize markdown plugin to not break SSG (#242)
  .changeset/wise-radios-explode.md
  packages/api-reference/src/components/Sidebar.vue
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.ts
  packages/api-reference/vite.config.ts
Due: prettier, eslint

fix: add missing models.vue
  packages/api-reference/src/components/Content/Models.vue
Due: prettier, eslint

wip: add models to api refs
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/types.ts
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorHeader.vue
  packages/swagger-parser/src/helpers/parseSwaggerFile.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: make the linting git hook only fix staged files
  lefthook.yml
Due: prettier

fix: add delete index emit to grid
  packages/api-client/src/components/Grid/Grid.vue
Due: prettier, eslint

chore: remove product hunt from getting started page
  packages/swagger-editor/src/components/SwaggerEditor/GettingStarted.vue
Due: prettier, eslint

Fix scrolling for mobile API client
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-reference/src/components/ApiClientModal.vue
Due: prettier, eslint

docs(changeset): Fix overflow and scrolling issues for API client
  .changeset/large-turtles-worry.md
Due: prettier

Fix references not respecting height on mobile Safari
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

docs(changeset): Fix references not respecting height on mobile Safari
  .changeset/short-doors-laugh.md
Due: prettier

chore: configure dependabot to only create PRs for security updates
  .github/dependabot.yml
Due: prettier

feat: add analyze function to return stats, rename parseSwaggerFile to just parse
  packages/swagger-parser/src/helpers/analyze.test.ts
  packages/swagger-parser/src/helpers/analyze.ts
  packages/swagger-parser/src/helpers/index.ts
  packages/swagger-parser/src/helpers/parse.test.ts
  packages/swagger-parser/src/helpers/parse.ts
Due: prettier, eslint

docs(changeset): refactor: rename parseSwaggerFile to just parse
  .changeset/pink-ravens-live.md
Due: prettier

docs(changeset): feat: add preflight helper function to quickly analyze specs without parsing them
  .changeset/healthy-moons-refuse.md
Due: prettier

fix: don’t use tags to calculate number of operations
  packages/swagger-parser/src/helpers/preflight.ts
Due: prettier, eslint

fix: make analyze and preflight functions sync
  packages/swagger-parser/src/helpers/analyze.ts
  packages/swagger-parser/src/helpers/preflight.ts
Due: prettier, eslint

feat: count models in preflight + analyze
  packages/swagger-parser/src/helpers/analyze.test.ts
  packages/swagger-parser/src/helpers/analyze.ts
  packages/swagger-parser/src/helpers/preflight.ts
Due: prettier, eslint

refactor: types
  packages/swagger-parser/src/helpers/analyze.ts
  packages/swagger-parser/src/helpers/parse.ts
  packages/swagger-parser/src/types.ts
Due: prettier, eslint

fix: export all types
  packages/swagger-parser/src/index.ts
Due: prettier, eslint

feat: add preflight function
  packages/swagger-parser/src/helpers/index.ts
  packages/swagger-parser/src/helpers/preflight.test.ts
  packages/swagger-parser/src/helpers/preflight.ts
Due: prettier, eslint

chore: use new name for parse function in analyze tests
  packages/swagger-parser/src/helpers/analyze.test.ts
Due: prettier, eslint

docs(changeset): feat: add analyze helper to get stats for Swagger/OpenAPI specs
  .changeset/five-crews-mix.md
Due: prettier

fix: types
  packages/swagger-parser/src/types.ts
Due: prettier, eslint

chore: replace parseSwaggerFile with parse
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-parser/README.md
Due: prettier, eslint

fix: check if the endpoint has example responses
  packages/api-reference/src/components/Content/ReferenceEndpoint/Copy.vue
Due: prettier, eslint

fix: avoid inifinite loops in example responses
  packages/api-reference/src/helpers/generateResponseContent.ts
Due: prettier, eslint

chore: update Discord link, fix #262
  README.md
Due: prettier

chore: update all Discord links
  README.md
  packages/api-client-proxy/README.md
  packages/api-client/README.md
  packages/api-reference/README.md
  packages/echo-server/README.md
  packages/fastify-api-reference/README.md
  packages/swagger-editor/README.md
  packages/swagger-parser/README.md
  packages/themes/README.md
  packages/use-clipboard/README.md
  packages/use-codemirror/README.md
  packages/use-keyboard-event/README.md
  packages/use-toasts/README.md
  packages/use-tooltip/README.md
Due: prettier
