Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

feat: disable agent scalar if agent.enabled = false is set
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

feat: tweak the tooltip
  packages/api-reference/src/components/AgentScalar/AgentScalarTooltip.vue
  packages/types/src/api-reference/source-configuration.ts
Due: prettier, biome

docs: tweak the agent scalar docs
  documentation/guides/agent/getting-started.md
  documentation/guides/agent/key.md
  scalar.config.json
Due: prettier, biome

docs: agent scalar pricing
  documentation/guides/agent/pricing.md
  scalar.config.json
Due: prettier, biome

docs: pricing example, section in existing pricing table
  documentation/guides/agent/pricing.md
  documentation/guides/pricing.md
  packages/agent-chat/src/components/PaymentSection.vue
Due: prettier, biome

fix: ensure agent key defaults to an empty string when undefined
  packages/api-reference/src/components/AgentScalar/AgentScalarChatInterface.vue
Due: prettier, biome

fix: TS errors
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
Due: prettier, biome

fix: broken test
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
Due: prettier, biome

docs(changeset): feat: enable/disable agent scalar
  .changeset/warm-actors-learn.md
Due: prettier

feat: Make command palette state reactive
  packages/api-client/src/v2/features/command-palette/hooks/use-command-palette-state.test.ts
  packages/api-client/src/v2/features/command-palette/hooks/use-command-palette-state.ts
Due: prettier, biome

docs(changeset): Made the inputs to useCommandPalette state reactive
  .changeset/fluffy-carrots-serve.md
Due: prettier

feat: Add concurency controls to the CI. Will cancelt the previous CI run when a new one is pushed.
  .github/workflows/ci.yml
Due: prettier

feat(api-reference): disable agent scalar (#7995)
  .changeset/warm-actors-learn.md
  documentation/configuration.md
  documentation/guides/agent/getting-started.md
  documentation/guides/agent/key.md
  documentation/guides/agent/pricing.md
  documentation/guides/pricing.md
  packages/agent-chat/src/components/PaymentSection.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.test.ts
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarChatInterface.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarTooltip.vue
  packages/api-reference/src/components/AgentScalar/index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/utils/sources.ts
  packages/types/src/api-reference/source-configuration.ts
  scalar.config.json
Due: prettier, biome

fix(agent): change enabled flag to disabled
  documentation/configuration.md
  documentation/guides/agent/getting-started.md
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/types/src/api-reference/source-configuration.ts
Due: prettier, biome

docs(changeset): fix(agent): change enabled flag to disabled
  .changeset/early-hounds-shave.md
Due: prettier

fix(agent): change enabled flag to disabled (#8000)
  .changeset/early-hounds-shave.md
  documentation/configuration.md
  documentation/guides/agent/getting-started.md
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/types/src/api-reference/source-configuration.ts
Due: prettier, biome

feat: Make command palette state reactive (#7998)
  .changeset/fluffy-carrots-serve.md
  packages/api-client/src/v2/features/command-palette/hooks/use-command-palette-state.test.ts
  packages/api-client/src/v2/features/command-palette/hooks/use-command-palette-state.ts
Due: prettier, biome

feat(agent): add inline agent chat
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarChatInterface.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/ask-agent-button/AskAgentButton.vue
  packages/api-reference/src/features/ask-agent-button/index.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/use-agent.ts
Due: prettier, biome

fix: add missing files
  packages/agent-chat/src/App.vue
  packages/agent-chat/src/state/state.ts
  packages/api-client/src/v2/blocks/operation-code-sample/components/OperationCodeSample.vue
Due: prettier, biome

fix: update snapshot
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
Due: none

docs(changeset): feat(agent): add inline agent chat
  .changeset/lemon-meteors-jog.md
Due: prettier

fix: unused files
  packages/api-reference/src/features/ask-agent-button/index.ts
  packages/api-reference/src/hooks/use-agent.ts
Due: prettier, biome

fix: remove test
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
Due: prettier, biome

fix: remove test
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.test.ts
Due: prettier, biome

fix: add undefined
  packages/api-reference/src/hooks/use-agent.ts
Due: prettier, biome

fix: agent scalar test
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
Due: prettier, biome

feat(agent): add agent chat inline (#8002)
  .changeset/lemon-meteors-jog.md
  packages/agent-chat/src/App.vue
  packages/agent-chat/src/state/state.ts
  packages/api-client/src/v2/blocks/operation-code-sample/components/OperationCodeSample.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.test.ts
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarChatInterface.vue
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.test.ts
  packages/api-reference/src/components/AgentScalar/AgentScalarDrawer.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/ask-agent-button/AskAgentButton.vue
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/use-agent.ts
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
Due: prettier, biome

fix: agent docs
  documentation/guides/agent/getting-started.md
Due: prettier

feat(api-client): restore old search (#7988)
  .changeset/kind-pillows-fly.md
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInput.test.ts
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/components/sidebar/Sidebar.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/command-palette/TheCommandPalette.vue
  packages/api-client/src/v2/features/search/components/SearchButton.vue
  packages/api-client/src/v2/features/search/components/SearchModal.vue
  packages/api-client/src/v2/features/search/components/SearchResult.vue
  packages/api-client/src/v2/features/search/hooks/use-search-index.test.ts
  packages/api-client/src/v2/features/search/hooks/use-search-index.ts
  packages/api-client/src/v2/features/search/index.ts
  packages/api-client/src/v2/features/search/types.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.test.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.ts
  packages/sidebar/src/helpers/filter-items.ts
  packages/workspace-store/src/events/definitions/index.ts
  packages/workspace-store/src/events/definitions/ui.ts
  packages/workspace-store/src/events/index.ts
Due: prettier, biome

fix: do not add content type of none
  packages/api-client/src/v2/blocks/request-block/helpers/get-default-headers.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/get-default-headers.ts
Due: prettier, biome

docs(changeset): fix: do not add a content type of none
  .changeset/deep-wasps-argue.md
Due: prettier

chore: refactor
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/import/ImportListener.vue
  packages/api-client/src/v2/features/import/components/ImportModal.vue
  packages/api-client/src/v2/features/import/components/WorkspaceSelector.vue
  packages/api-client/src/v2/features/import/helpers/generate-unique-slug.ts
  packages/api-client/src/v2/features/import/helpers/get-url-query-parameter.ts
  packages/api-client/src/v2/features/import/helpers/import-document-to-workspace.ts
  packages/api-client/src/v2/features/import/helpers/load-document-from-source.ts
Due: prettier, biome

chore: refactor
  packages/api-client/src/v2/features/import/ImportListener.vue
  packages/api-client/src/v2/features/import/components/ImportModal.vue
  packages/api-client/src/v2/features/import/helpers/wait-for-condition.ts
Due: prettier, biome

chore: remove v1 imports
  packages/api-client/src/v2/features/import/components/ImportModal.vue
Due: prettier, biome

chore: add test cases
  packages/api-client/src/v2/features/import/helpers/generate-unique-slug.test.ts
  packages/api-client/src/v2/features/import/helpers/get-url-query-parameter.test.ts
  packages/api-client/src/v2/features/import/helpers/import-document-to-workspace.test.ts
  packages/api-client/src/v2/features/import/helpers/import-document-to-workspace.ts
  packages/api-client/src/v2/features/import/helpers/load-document-from-source.test.ts
  packages/api-client/src/v2/features/import/helpers/wait-for-condition.test.ts
Due: prettier, biome

chore: rename package
  packages/api-client/package.json
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/import-listener/ImportListener.vue
  packages/api-client/src/v2/features/import-listener/components/DropEventListener.vue
  packages/api-client/src/v2/features/import-listener/components/ImportModal.vue
  packages/api-client/src/v2/features/import-listener/components/WorkspaceSelector.vue
  packages/api-client/src/v2/features/import-listener/helpers/generate-unique-slug.test.ts
  packages/api-client/src/v2/features/import-listener/helpers/generate-unique-slug.ts
  packages/api-client/src/v2/features/import-listener/helpers/get-url-query-parameter.test.ts
  packages/api-client/src/v2/features/import-listener/helpers/get-url-query-parameter.ts
  packages/api-client/src/v2/features/import-listener/helpers/import-document-to-workspace.test.ts
  packages/api-client/src/v2/features/import-listener/helpers/import-document-to-workspace.ts
  packages/api-client/src/v2/features/import-listener/helpers/load-document-from-source.test.ts
  packages/api-client/src/v2/features/import-listener/helpers/load-document-from-source.ts
  packages/api-client/src/v2/features/import-listener/helpers/wait-for-condition.test.ts
  packages/api-client/src/v2/features/import-listener/helpers/wait-for-condition.ts
  packages/api-client/src/v2/features/import-listener/index.ts
Due: prettier, biome

chore: support company logo
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/import-listener/ImportListener.vue
Due: prettier, biome

chore: restore
  packages/sidebar/src/helpers/create-sidebar-state.ts
Due: prettier, biome

docs(changeset): feat: import modal for client v2
  .changeset/funny-lights-find.md
Due: prettier
