Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

RELEASING: Releasing 13 package(s) (#3233)
  .changeset/fresh-rivers-brush.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/openapi-parser/CHANGELOG.md
  packages/openapi-parser/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

chore: fix prettier bug
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Properties/launchSettings.json
Due: prettier

fix: fathom script
  packages/api-client-app/src/renderer/index.html
Due: prettier

docs(changeset): fix: fathom script
  .changeset/quick-lions-bake.md
Due: prettier

fix: remove unsafe eval
  packages/api-client-app/src/renderer/index.html
Due: prettier

fix: fathom script (#3234)
  .changeset/quick-lions-bake.md
  packages/api-client-app/src/renderer/index.html
Due: prettier

RELEASING: Releasing 1 package(s) (#3235)
  .changeset/quick-lions-bake.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
Due: prettier

chore: update the create workspace wording
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

test: add a failing test for the fastify http proxy
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/src/proxy.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

refactor: move types to a separate file
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/src/types.ts
Due: prettier, eslint

chore: clean up dependencies
  package.json
Due: prettier

chore: setup build and test scripts for @scalar/config package
  packages/cli/src/commands/index.ts
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/src/check.test.ts
  packages/config/src/check.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add required lint scripts
  packages/config/package.json
Due: prettier

chore: rename lint to check
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/ScalarConfigJsonSchema.json
  packages/cli/src/commands/check/check.test.ts
  packages/cli/src/commands/check/check.ts
  packages/cli/src/commands/check/invalid.json
  packages/cli/src/commands/check/types.ts
  packages/cli/src/commands/check/valid.json
Due: prettier, eslint

feat: cli lint scalar config json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/lint/LintCommand.ts
  packages/cli/src/commands/lint/ScalarConfigJsonSchema.json
  packages/cli/src/commands/lint/invalid.json
  packages/cli/src/commands/lint/lint.test.ts
  packages/cli/src/commands/lint/lint.ts
  packages/cli/src/commands/lint/types.ts
Due: prettier, eslint

chore: separate config package
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/check.test.ts
  packages/cli/tsconfig.json
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/src/ScalarConfigJsonSchema.json
  packages/config/src/check.test.ts
  packages/config/src/check.ts
  packages/config/src/index.ts
  packages/config/src/invalid.json
  packages/config/src/types.ts
  packages/config/src/valid.json
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add boilerplate for new lint cli command
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/lint/LintCommand.ts
  packages/cli/src/commands/lint/lint.test.ts
  packages/cli/src/commands/lint/valid.json
  packages/cli/src/index.ts
Due: prettier, eslint

feat: get schema errors when validating config
  packages/config/src/check.ts
  packages/config/test/check.test.ts
  packages/config/test/valid.json
Due: prettier, eslint

chore: fix build
  packages/config/package.json
  packages/config/src/check.ts
  packages/config/src/configuration.ts
  packages/config/src/index.ts
  packages/config/src/schemas/config.json
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
  packages/config/vite.config.ts
Due: prettier, eslint

chore: update readme, dependencies, and test data
  packages/cli/package.json
  packages/config/README.md
  packages/config/test/valid.json
Due: prettier

chore: build still not exporting types
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/src/configTypes.ts
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

feat: use typebox
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/check.test.ts
  packages/config/package.json
  packages/config/src/check.ts
  packages/config/src/configTypes.ts
  packages/config/src/configuration.ts
  packages/config/src/schemas/config.json
  packages/config/test/check.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: readme and test organization
  packages/config/README.md
  packages/config/test/check.test.ts
  packages/config/test/invalid.json
  packages/config/test/valid.json
Due: prettier, eslint

chore: check package and cli command wip
  packages/cli/package.json
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/check.test.ts
  packages/cli/src/commands/check/invalid.json
  packages/cli/src/commands/check/valid.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/schemas/config.json
  packages/config/src/check.ts
  packages/config/src/configuration.ts
  packages/config/src/index.ts
  packages/config/src/types.ts
  packages/config/test/check.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update link type children
  packages/config/src/configTypes.ts
Due: prettier, eslint

chore: improve check command output
  packages/cli/src/commands/check/CheckCommand.ts
Due: prettier, eslint

refactor: don’t mess with the given file path, improve test
  packages/config/src/check.ts
  packages/config/test/check.test.ts
Due: prettier, eslint

docs: update README
  packages/config/README.md
Due: prettier

docs: add scalar check to README
  packages/cli/README.md
Due: prettier

refactor: use central place for the error message
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/libs/errors.ts
Due: prettier, eslint

chore: define simplified types wip
  packages/config/src/check.ts
  packages/config/src/configTypes.ts
  packages/config/src/simplified.ts
  packages/config/test/check.test.ts
  packages/config/test/simplified.test.ts
  packages/config/test/valid-reference.json
Due: prettier, eslint

chore: code style
  packages/config/test/check.test.ts
Due: prettier, eslint

chore: use common test script name
  packages/config/package.json
Due: prettier

chore: wording
  packages/config/package.json
Due: prettier

chore: recursive sidebar types
  packages/config/src/configTypes.ts
  packages/config/test/check.test.ts
  packages/config/test/simplified.test.ts
Due: prettier, eslint

chore: check function code style
  packages/config/src/check.ts
  packages/config/src/configTypes.ts
  packages/config/src/utils.ts
Due: prettier, eslint

feat: check and validate deeply nested scalar config files
  packages/cli/src/commands/check/valid.json
  packages/config/src/check.ts
  packages/config/src/configTypes.ts
  packages/config/src/simplified.ts
  packages/config/test/check.test.ts
  packages/config/test/invalid-comprehensive.json
  packages/config/test/invalid-extra.json
  packages/config/test/simplified.test.ts
Due: prettier, eslint

feat: improve error message for nested sidebar items
  packages/cli/package.json
  packages/cli/src/commands/check/invalid-comprehensive.json
  packages/config/src/utils.ts
  packages/config/test/check.test.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
