Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

fix(pre-post-request-scripts): enable `knip` (#7637)
  .changeset/quiet-readers-bow.md
  .changeset/short-eagles-swim.md
  knip.jsonc
  packages/pre-post-request-scripts/package.json
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/console.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/create-environment-utils.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/create-expect-chain.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/create-response-assertions.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/create-response-assertions.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/create-test-utils.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/index.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/context/postman-scripts/postman-scripts.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/index.ts
  packages/pre-post-request-scripts/src/plugins/post-response-scripts/components/TestResults/TestResults.test.ts
  packages/pre-post-request-scripts/tsconfig.build.json
  packages/pre-post-request-scripts/vite.config.ts
Due: prettier, biome

docs: add effect (#7631)
  README.md
  documentation/integrations/effect.md
  scalar.config.json
Due: prettier, biome

chore: release django ninja integration (#7628)
  .changeset/eager-tools-play.md
  integrations/django-ninja/CHANGELOG.md
  integrations/django-ninja/package.json
Due: prettier, biome

fix(api-client-react): enable `knip`
  .changeset/metal-owls-build.md
  knip.jsonc
  packages/api-client-react/package.json
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/playground/index.html
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(changelog-generator): preserve indentation when changelog files contain multiple lines
  tooling/changelog-generator/src/formatter.ts
  tooling/changelog-generator/src/index.test.ts
Due: prettier, biome

fix(api-client-react): enable `knip` (#7639)
  .changeset/metal-owls-build.md
  knip.jsonc
  packages/api-client-react/package.json
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/playground/index.html
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix: knip issues
  integrations/docusaurus/playground/package.json
  knip.jsonc
Due: prettier, biome

chore: update lock file
  pnpm-lock.yaml
Due: packages-format, prettier

chore: remove package.json for docusaurus playground
  integrations/docusaurus/package.json
  integrations/docusaurus/playground/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

Update .github/renovate.json
  .github/renovate.json
Due: prettier, biome

chore: remove @scalar/docusaurus dependency from package.json and pnpm-lock.yaml
  integrations/docusaurus/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(changelog-generator): preserve indentation when changelog files contain multiple lines (#7640)
  tooling/changelog-generator/src/formatter.ts
  tooling/changelog-generator/src/index.test.ts
Due: prettier, biome

chore: update knip.jsonc to ignore all docusaurus integrations
  knip.jsonc
Due: biome

fix(api-reference): show more button appears even if tags don't have any children (#7597)
  .changeset/twelve-guests-hug.md
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.test.ts
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.vue
Due: prettier, biome

refactor(changelog-generator): improve formatters logic
  tooling/changelog-generator/src/formatter.test.ts
  tooling/changelog-generator/src/formatter.ts
  tooling/changelog-generator/src/index.test.ts
  tooling/changelog-generator/src/index.ts
  tooling/changelog-generator/tsconfig.build.json
Due: prettier, biome

refactor(changelog-generator): improve formatters logic (#7641)
  tooling/changelog-generator/src/formatter.test.ts
  tooling/changelog-generator/src/formatter.ts
  tooling/changelog-generator/src/index.test.ts
  tooling/changelog-generator/src/index.ts
  tooling/changelog-generator/tsconfig.build.json
Due: prettier, biome

chore: address feedback
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

chore: resolve threads
  packages/api-reference/src/components/Content/Schema/helpers/is-empty-schema-object.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/is-empty-schema-object.ts
Due: prettier, biome

chore: fix threads
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

chore: update typebox
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier

docs(changeset): chore: update typebox
  .changeset/seven-knives-sleep.md
Due: prettier

chore: update typebox (#7643)
  .changeset/seven-knives-sleep.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier

fix(api-reference): preserve oneOf/anyOf in allOf schema compositions
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
Due: prettier, biome

feat: add comprehensive Claude Code configuration
  .claude/README.md
  .claude/agents/monorepo-architect.md
  .claude/agents/openapi-specialist.md
  .claude/agents/test-engineer.md
  .claude/agents/vue-expert.md
  .claude/commands/check-quality.md
  .claude/commands/explore-package.md
  .claude/commands/new-package.md
  .claude/commands/pr.md
  .claude/commands/test-package.md
  .claude/hooks/post-edit.sh
  .claude/hooks/pre-commit.sh
  .claude/hooks/user-prompt-submit.sh
  .claude/settings.json
  .claudeignore
  CLAUDE.backup.md
  CLAUDE.md
Due: prettier, biome

refactor: optimize Claude config files for conciseness
  .claude/agents/monorepo-architect.md
  .claude/agents/openapi-specialist.md
  .claude/agents/test-engineer.md
  .claude/agents/vue-expert.md
  .claude/commands/check-quality.md
  .claude/commands/explore-package.md
  .claude/commands/new-package.md
  .claude/commands/pr.md
  .claude/commands/test-package.md
  CLAUDE.md
Due: prettier

chore(openapi-upgrader): enable `knip`
  knip.jsonc
  packages/openapi-upgrader/package.json
  packages/openapi-upgrader/src/upgrade.ts
  packages/openapi-upgrader/tsconfig.build.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore(openapi-upgrader): enable `knip` (#7650)
  knip.jsonc
  packages/openapi-upgrader/package.json
  packages/openapi-upgrader/src/upgrade.ts
  packages/openapi-upgrader/tsconfig.build.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

remove support for obsolete EndpointPrefix property
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  integrations/dotnet/aspnetcore/tests/apis/Scalar.AspNetCore.Tests.Api/Program.cs
Due: none

docs(changeset): remove obsolete `EndpointPrefix` property
  .changeset/wet-balloons-cry.md
Due: prettier

Update wet-balloons-cry.md
  .changeset/wet-balloons-cry.md
Due: prettier

feat(Scalar.AspNetCore): remove obsolete `EndpointPathPrefix` property (#7648)
  .changeset/wet-balloons-cry.md
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  integrations/dotnet/aspnetcore/tests/apis/Scalar.AspNetCore.Tests.Api/Program.cs
Due: prettier

docs(README): add Scalar OpenAPI to Markdown link to documentation
  README.md
Due: prettier

chore: correctly merge the URL
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

feat(api-reference): show empty schema for object with no properties (#7583)
  .changeset/tangy-clouds-live.md
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/helpers/is-empty-schema-object.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/is-empty-schema-object.ts
Due: prettier, biome

fix: imports
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/storage.ts
  packages/workspace-store/src/schemas/v3.1/strict/components.ts
  packages/workspace-store/src/schemas/v3.1/strict/openapi-document.ts
  packages/workspace-store/src/schemas/v3.1/strict/ref-definitions.ts
Due: prettier, biome

chore: update snappers
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
Due: none

fix: types
  packages/api-reference/src/components/Content/Models/Model.test.ts
  packages/api-reference/src/components/Content/Operations/TraversedEntry.test.ts
  packages/api-reference/src/features/Operation/components/OperationParameters.test.ts
Due: prettier, biome

chore: remove extra import
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome
