Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

feat: revert back to previous auth style
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/store/import-spec.ts
  packages/api-client/src/store/security-schemes.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/consts/new-auth-options.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/types.ts
  packages/oas-utils/src/entities/spec/collection.ts
  packages/oas-utils/src/entities/spec/parameters.ts
  packages/oas-utils/src/entities/spec/request-examples.ts
  packages/oas-utils/src/entities/spec/requests.ts
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: added auth
  packages/api-client/src/libs/errors.ts
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request.ts
  packages/api-client/src/store/security-schemes.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
Due: prettier, eslint

feat: completed oauth ui
  .eslintrc.cjs
  packages/api-client/src/store/security-schemes.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/consts/new-auth-options.ts
  packages/api-client/src/views/Request/libs/auth.ts
  packages/api-client/src/views/Request/libs/index.ts
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: the proxy header `Access-Control-Allow-Credentials` isn’t removed
  packages/api-client/src/libs/normalize-headers.ts
Due: prettier, eslint

fix: add back in server overload
  packages/api-client/src/store/import-spec.ts
Due: prettier, eslint

fix: type
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
Due: prettier, eslint

fix: types
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthModal.vue
Due: prettier, eslint

feat(api-client): favors useDropdown hook over dropdown widget
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
Due: prettier, eslint

chore(api-client): remove codeDropdownWidget
  packages/api-client/src/components/CodeInput/codeDropdownWidget.ts
Due: prettier, eslint

feat(api-client): add parseEndVariables function
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/libs/environment-parser.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
Due: prettier, eslint

feat(use-codemirror): adds useDropdown hook
  packages/use-codemirror/src/hooks/useDropdown.ts
  packages/use-codemirror/src/index.ts
Due: prettier, eslint

docs(changeset): feat: adds useDropdown hook
  .changeset/famous-knives-hang.md
Due: prettier

docs(changeset): feat: favors useDropdown hook over dropdown widget
  .changeset/gentle-rockets-love.md
Due: prettier

fix: non oauth security schemes (#3082)
  .eslintrc.cjs
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/errors.ts
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request.ts
  packages/api-client/src/store/security-schemes.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthModal.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/consts/new-auth-options.ts
  packages/api-client/src/views/Request/libs/auth.ts
  packages/api-client/src/views/Request/libs/index.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/types.ts
  packages/oas-utils/src/entities/spec/collection.ts
  packages/oas-utils/src/entities/spec/parameters.ts
  packages/oas-utils/src/entities/spec/request-examples.ts
  packages/oas-utils/src/entities/spec/requests.ts
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat(components): add / update icons to match line icons
  packages/components/src/components/ScalarIcon/icons/Background.svg
  packages/components/src/components/ScalarIcon/icons/CallToAction.svg
  packages/components/src/components/ScalarIcon/icons/Cloud.svg
  packages/components/src/components/ScalarIcon/icons/Cog.svg
  packages/components/src/components/ScalarIcon/icons/DarkMode.svg
  packages/components/src/components/ScalarIcon/icons/Email.svg
  packages/components/src/components/ScalarIcon/icons/House.svg
  packages/components/src/components/ScalarIcon/icons/Leave.svg
  packages/components/src/components/ScalarIcon/icons/LightMode.svg
  packages/components/src/components/ScalarIcon/icons/Payment.svg
  packages/components/src/components/ScalarIcon/icons/Users.svg
  packages/components/src/components/ScalarIcon/icons/Wallet.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
Due: prettier, eslint

docs(changeset): feat(components): add / update icons to match line icons
  .changeset/strong-plants-train.md
Due: prettier

fix: oauth2 fixes
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: most of oauth 2
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/libs/oauth2.ts
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/helpers/schema-model.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: oauth2 (#3086)
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/libs/oauth2.ts
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/helpers/schema-model.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: update eslint
  .eslintrc.cjs
Due: none

fix: type error
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
Due: prettier, eslint

chore: grab prettier
  .prettierignore
Due: none

fix: lint
  packages/api-client-app/package.json
Due: prettier

fix: format theme error
  packages/themes/src/fixtures/updatedTheme.css
Due: prettier

fix: version
  packages/api-client-app/package.json
Due: prettier

docs(changeset): chore: update lint, prettier and format theme
  .changeset/yellow-beds-smash.md
Due: prettier

chore: run prettier
  packages/api-reference/src/legacy/fixtures/httpRequestMethods.ts
Due: prettier, eslint

chore: add missing parser tests
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/load/plugins/fetchUrls.test.ts
  packages/openapi-parser/tests/migration-layer.test.ts
Due: prettier, eslint

docs(changeset): chore: update fetch global tests
  .changeset/nine-cars-decide.md
Due: prettier

chore: cherry pick some files (#3088)
  .changeset/yellow-beds-smash.md
  .eslintrc.cjs
  .prettierignore
  packages/api-client-app/package.json
  packages/api-reference/src/legacy/fixtures/httpRequestMethods.ts
  packages/themes/src/fixtures/updatedTheme.css
Due: prettier, eslint

chore: add missing parser tests (#3089)
  .changeset/nine-cars-decide.md
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/load/plugins/fetchUrls.test.ts
  packages/openapi-parser/tests/migration-layer.test.ts
Due: prettier, eslint

chore: cherry pick some files (#3088)
  .changeset/yellow-beds-smash.md
Due: prettier

chore: add missing parser tests (#3089)
  .changeset/nine-cars-decide.md
Due: prettier

feat: add deletable combobox
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOption.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/types.ts
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

docs(changeset): chore: add deleteable combobox
  .changeset/shaggy-moons-look.md
Due: prettier

feat: add deletable combobox (#3090)
  .changeset/shaggy-moons-look.md
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOption.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/types.ts
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

fix: pulling ls keys circular
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

feat: cherrypick unrelated files from refactor branch
  packages/api-client/src/errors.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/libs/errors.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/libs/sendRequest.ts
  packages/api-client/src/store/index.ts
  packages/api-client/src/store/local-storage.ts
  packages/api-client/src/store/workspace.ts
  packages/oas-utils/test/fixtures/basic-circular-spec.json
  packages/oas-utils/test/fixtures/petstore-tls.json
  packages/object-utils/package.json
  packages/object-utils/src/arrays/index.ts
  packages/object-utils/src/arrays/types.ts
  packages/object-utils/src/mutator-record/handlers.ts
  packages/object-utils/src/mutator-record/index.ts
  packages/object-utils/src/mutator-record/local-storage.ts
  packages/object-utils/src/parse/index.ts
  packages/object-utils/src/parse/json.ts
Due: prettier, eslint

docs(changeset): chore: cherrypicking refactor branch for object utils changes
  .changeset/spotty-parrots-remain.md
Due: prettier
