Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: remove duplicate tests
  .changeset/tall-comics-sneeze.md
  packages/api-client/package.json
  packages/api-client/src/libs/decode-buffer.test.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request/create-fetch-body.test.ts
  packages/api-client/src/libs/send-request/create-fetch-headers.test.ts
  packages/api-client/src/libs/send-request/create-fetch-query-params.test.ts
  packages/api-client/src/libs/send-request/create-request-operation.test.ts
  packages/api-client/src/libs/send-request/index.ts
  packages/api-client/src/libs/send-request/send-request.ts
Due: prettier, eslint

chore: clean up
  packages/api-client/src/libs/decode-buffer.test.ts
Due: prettier, eslint

chore: clean up
  packages/api-client/src/libs/index.ts
Due: prettier, eslint

refactor(api-reference): make `<Operation />` a feature (#3928)
  .changeset/itchy-buckets-lick.md
  .changeset/purple-apes-boil.md
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Operation/EndpointDetails.vue
  packages/api-reference/src/components/Content/Operation/EndpointDetailsCard.vue
  packages/api-reference/src/components/Content/Operation/index.ts
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/components/Content/Webhooks/index.ts
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/OperationPath.vue
  packages/api-reference/src/embeds/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/Webhooks.vue
  packages/api-reference/src/features/Operation/components/ContentTypeSelect.vue
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/features/Operation/components/ParameterHeaders.vue
  packages/api-reference/src/features/Operation/components/ParameterList.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/features/Operation/components/RequestBody.vue
  packages/api-reference/src/features/Operation/components/RequestBodyPropertiesChild.vue
  packages/api-reference/src/features/Operation/components/Webhook.vue
  packages/api-reference/src/features/Operation/hooks/useResponses.ts
  packages/api-reference/src/features/Operation/index.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/Search/useSearchIndex.ts
  packages/api-reference/src/features/TestRequestButton/TestRequestButton.vue
  packages/api-reference/src/features/TestRequestButton/index.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/useOperation.ts
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/types/src/legacy/reference-config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): css conflict with grid (#3985)
  .changeset/brown-tips-sort.md
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/api-reference/src/features/Search/SearchButton.vue
Due: prettier, eslint

chore: add import to ofetch
  packages/snippetz/src/plugins/js/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
Due: prettier, eslint

chore: comments
  packages/snippetz/src/core/index.ts
  packages/snippetz/src/core/utils/arrayToObject.ts
  packages/snippetz/src/core/utils/isKeyNeedsQuotes.ts
  packages/snippetz/src/core/utils/needsQuotes.ts
  packages/snippetz/src/core/utils/objectToString.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
Due: prettier, eslint

feat: add curl
  packages/snippetz/package.json
  packages/snippetz/playground/src/App.vue
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
  packages/snippetz/src/plugins/shell/curl/index.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
Due: prettier, eslint

docs(changeset): feat: add shell/curl
  .changeset/red-bulldogs-beam.md
Due: prettier

feat: add new types to the snippetz function
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/snippetz.ts
Due: prettier, eslint

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#3992)
  README.md
Due: prettier

feat: use long parameters, not the abbr
  packages/api-reference/src/helpers/getExampleCode.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
Due: prettier, eslint

chore: whitespace
  packages/snippetz/playground/src/components/CodeExample.vue
Due: prettier, eslint

feat(types): adds servers to information reference config
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

docs(changeset): feat: adds servers to information reference config
  .changeset/sour-hotels-exist.md
Due: prettier

feat(api-reference): displays path server in request example
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.ts
Due: prettier, eslint

docs(changeset): feat(api-reference): displays path server in request example
  .changeset/twelve-elephants-smell.md
Due: prettier

readme: top 10 contributors november
  README.md
Due: prettier

readme: top 10 contributors november (#3995)
  README.md
Due: prettier

docs(components): add custom middleware example
  packages/components/src/components/ScalarFloating/ScalarFloating.stories.ts
  packages/components/src/components/ScalarFloating/types.ts
Due: prettier, eslint

refactor(api-client): remove dropdown from environment selector
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
Due: prettier, eslint

refecto(components): extract listbox checkbox component
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarCombobox/ScalarCombobox.stories.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOption.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.stories.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.stories.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarListbox/ScalarListboxCheckbox.vue
  packages/components/src/components/ScalarListbox/ScalarListboxItem.vue
  packages/components/src/components/ScalarListbox/index.ts
  packages/components/src/components/ScalarListbox/types.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.stories.ts
Due: prettier, eslint

feat(components): add combobox start and end slots
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOption.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarListbox/ScalarListboxOption.vue
Due: prettier, eslint

chore: clean up OptionStyle type
  packages/components/src/components/ScalarCombobox/ScalarComboboxOption.vue
  packages/components/src/components/ScalarListbox/index.ts
  packages/components/src/components/ScalarListbox/types.ts
Due: prettier, eslint

docs(changeset): feat(components): cleanup and extend floating components
  .changeset/purple-otters-suffer.md
Due: prettier

refactor(components): remove isOpen prop and add slot definitions
  packages/components/src/components/ScalarCombobox/ScalarCombobox.spec.ts
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarCombobox/types.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.spec.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.spec.ts
  packages/components/src/components/ScalarFloating/ScalarFloating.stories.ts
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/index.ts
  packages/components/src/components/ScalarFloating/types.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarMenu/ScalarMenu.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.spec.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
  packages/components/src/components/ScalarPopover/index.ts
  packages/components/src/components/ScalarPopover/types.ts
Due: prettier, eslint

refactor: expose middleware on floating components
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarFloating/types.ts
  packages/components/src/components/ScalarFloating/useResizeWithTarget.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
Due: prettier, eslint

feat: remove negative margin
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
Due: prettier, eslint

refactor(components): update targetRef to to target and support IDs
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.spec.ts
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/types.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
Due: prettier, eslint

chore: fix team picker default alignment
  packages/components/src/components/ScalarMenu/ScalarMenu.vue
Due: prettier, eslint

chore: update scalar menu slots
  packages/components/src/components/ScalarMenu/ScalarMenu.vue
Due: prettier, eslint

fic(components): only teleport when floating ref exists
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
Due: prettier, eslint

refactor(mock-server): use path aliases (#3987)
  .changeset/twelve-berries-tap.md
  packages/mock-server/package.json
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/routes/mockAnyResponse.ts
  packages/mock-server/src/utils/createOpenApiDefinition.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrls.test.ts
  packages/mock-server/src/utils/getOperations.ts
  packages/mock-server/src/utils/index.ts
  packages/mock-server/src/utils/setupAuthenticationRoutes.ts
  packages/mock-server/tests/authentication/apiKey.test.ts
  packages/mock-server/tests/authentication/basicAuthentication.test.ts
  packages/mock-server/tests/authentication/bearerAuthentication.test.ts
  packages/mock-server/tests/authentication/oAuth.test.ts
  packages/mock-server/tests/authentication/openIdConnect.test.ts
  packages/mock-server/tsconfig.build.json
  packages/mock-server/tsconfig.json
  packages/mock-server/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(components): create static dropdown alternative
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownButton.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownDivider.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownItem.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownMenu.vue
  packages/components/src/components/ScalarDropdown/index.ts
Due: prettier, eslint

fix: remove extra input gap
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
Due: prettier, eslint

fix: PR feedback
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix: multiple responses
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
Due: prettier, eslint

docs(changeset): fix: response have been doubled
  .changeset/popular-apples-love.md
Due: prettier

chore: export each theme individually for easier access
  packages/themes/src/index.ts
Due: prettier, eslint
