Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix foramtting
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/process-parameters.test.ts
Due: prettier, biome

fix(api-reference): make request body and parameters searchable (#8747)
  .changeset/fresh-donuts-open.md
  packages/api-reference/src/features/Search/helpers/create-fuse-instance.ts
  packages/api-reference/src/features/Search/helpers/create-search-index.test.ts
  packages/api-reference/src/features/Search/helpers/create-search-index.ts
  packages/api-reference/src/features/Search/search-quality.test.ts
  packages/api-reference/src/features/Search/types.ts
  packages/api-reference/src/helpers/openapi.test.ts
  packages/api-reference/src/helpers/openapi.ts
Due: prettier, biome

fix tests
  packages/snippetz/src/httpsnippet-lite/targets/c/libcurl/client.ts
  packages/snippetz/src/plugins/csharp/httpclient/httpclient.test.ts
  packages/snippetz/src/plugins/dart/http/http.test.ts
  packages/snippetz/src/plugins/http/http11/http11.test.ts
  packages/snippetz/src/plugins/js/fetch/fetch.test.ts
  packages/snippetz/src/plugins/php/curl/curl.test.ts
  packages/snippetz/src/plugins/rust/reqwest/reqwest.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
Due: prettier, biome

resolve threds
  packages/snippetz/src/libs/http.test.ts
  packages/snippetz/src/libs/http.ts
  packages/snippetz/src/plugins/js/fetch/fetch.test.ts
Due: prettier, biome

feat: display model names for body section
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

remvoe css
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

docs(changeset): feat: display model name for body section
  .changeset/grumpy-facts-hope.md
Due: prettier

fix(docs): use layout toc option for landing pages
  documentation/guides/docs/getting-started.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
  scalar.config.json
Due: prettier, biome

fix all test cases
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.ts
Due: prettier, biome

fix(docs): remove remaining manual toc css overrides
  documentation/guides/docs/getting-started.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/sdks/getting-started.md
Due: prettier

chore(changeset): add docs toc layout migration changeset
  .changeset/late-birds-share.md
Due: prettier

fix(workspace-store): openIdConnect retrieve stored token for Authorization header (#8742)
  .changeset/gold-trees-melt.md
  packages/workspace-store/src/request-example/builder/security/build-request-security.test.ts
  packages/workspace-store/src/request-example/builder/security/build-request-security.ts
Due: prettier, biome

Delete .changeset/late-birds-share.md
  .changeset/late-birds-share.md
Due: prettier

fix(docs): use layout toc option for landing pages (#8751)
  documentation/guides/docs/getting-started.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
  scalar.config.json
Due: prettier, biome

feat(api-reference): display model names for body section (#8750)
  .changeset/grumpy-facts-hope.md
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

feat(api-client, snippetz): support `allowReserved` for code samples (#8748)
  .changeset/early-stars-pump.md
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/process-parameters.test.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/process-parameters.ts
  packages/snippetz/src/httpsnippet-lite/targets/c/libcurl/client.ts
  packages/snippetz/src/libs/http.test.ts
  packages/snippetz/src/libs/http.ts
  packages/snippetz/src/plugins/csharp/httpclient/httpclient.test.ts
  packages/snippetz/src/plugins/csharp/httpclient/httpclient.ts
  packages/snippetz/src/plugins/dart/http/http.test.ts
  packages/snippetz/src/plugins/dart/http/http.ts
  packages/snippetz/src/plugins/http/http11/http11.test.ts
  packages/snippetz/src/plugins/http/http11/http11.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
  packages/snippetz/src/plugins/php/curl/curl.test.ts
  packages/snippetz/src/plugins/php/curl/curl.ts
  packages/snippetz/src/plugins/rust/reqwest/reqwest.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
Due: prettier, biome

fix(nuxt): add path separator to route pattern to prevent hijacking similar paths (#8726)
  .changeset/nuxt-route-separator-fix.md
  integrations/nuxt/playground/pages/docs-keys.vue
  integrations/nuxt/playground/pages/docs-reference.vue
  integrations/nuxt/src/module.ts
  integrations/nuxt/test-results/.last-run.json
  integrations/nuxt/test/nuxt.e2e.ts
  knip.jsonc
Due: prettier, biome

fix: circular references cause max call stack exceeded
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/openapi-to-markdown/src/create-markdown-from-openapi.test.ts
Due: prettier, biome

docs(changeset): fix: circular references cause max call stack exceeded
  .changeset/quiet-oranges-stick.md
Due: prettier

feat: ssr
  .changeset/cuddly-roses-exist.md
  .changeset/perky-crews-juggle.md
  .changeset/true-trains-repair.md
  .github/workflows/ci.yml
  examples/vue-ssr/index.html
  examples/vue-ssr/package.json
  examples/vue-ssr/server.ts
  examples/vue-ssr/src/App.vue
  examples/vue-ssr/src/AppWithJsApi.vue
  examples/vue-ssr/src/entry-client.ts
  examples/vue-ssr/src/entry-server.ts
  examples/vue-ssr/src/main.ts
  examples/vue-ssr/src/vite-env.d.ts
  examples/vue-ssr/vite.config.ts
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/src/ssr.ts
  packages/api-reference/src/standalone/lib/html-api.ts
  packages/client-side-rendering/README.md
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.test.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/src/index.ts
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/client-side-rendering/tsconfig.build.json
  packages/client-side-rendering/tsconfig.json
  packages/core/src/libs/html-rendering/html-rendering.ts
  packages/server-side-rendering/README.md
  packages/server-side-rendering/package.json
  packages/server-side-rendering/playground/server.ts
  packages/server-side-rendering/src/index.ts
  packages/server-side-rendering/src/ssr-hydration-config.test.ts
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
  packages/server-side-rendering/tsconfig.build.json
  packages/server-side-rendering/tsconfig.json
  packages/server-side-rendering/vite.config.ts
Due: prettier, biome

test(api-reference): verify single head creation in hydration path
  packages/api-reference/src/standalone/lib/html-api.test.ts
Due: prettier, biome

test(api-reference): assert no hydration console warnings
  packages/api-reference/src/standalone/lib/html-api.test.ts
Due: prettier, biome

fix(api-reference): avoid orphan app creation in SSR detection
  .changeset/flat-points-rest.md
  packages/api-reference/src/standalone/lib/html-api.test.ts
  packages/api-reference/src/standalone/lib/html-api.ts
Due: prettier, biome

fix(changeset): add missing frontmatter delimiter
  .changeset/flat-points-rest.md
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: packages-format, prettier

fix(server-side-rendering): escape cdn path in html
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

feat(api-reference): SSR (#8431)
  .changeset/cuddly-roses-exist.md
  .changeset/flat-points-rest.md
  .changeset/perky-crews-juggle.md
  .changeset/true-trains-repair.md
  .github/workflows/ci.yml
  examples/vue-ssr/index.html
  examples/vue-ssr/package.json
  examples/vue-ssr/server.ts
  examples/vue-ssr/src/App.vue
  examples/vue-ssr/src/AppWithJsApi.vue
  examples/vue-ssr/src/entry-client.ts
  examples/vue-ssr/src/entry-server.ts
  examples/vue-ssr/src/main.ts
  examples/vue-ssr/src/vite-env.d.ts
  examples/vue-ssr/vite.config.ts
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/src/ssr.ts
  packages/api-reference/src/standalone/lib/html-api.test.ts
  packages/api-reference/src/standalone/lib/html-api.ts
  packages/client-side-rendering/README.md
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.test.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/src/index.ts
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/client-side-rendering/tsconfig.build.json
  packages/client-side-rendering/tsconfig.json
  packages/core/src/libs/html-rendering/html-rendering.ts
  packages/server-side-rendering/README.md
  packages/server-side-rendering/package.json
  packages/server-side-rendering/playground/server.ts
  packages/server-side-rendering/src/index.ts
  packages/server-side-rendering/src/ssr-hydration-config.test.ts
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
  packages/server-side-rendering/tsconfig.build.json
  packages/server-side-rendering/tsconfig.json
  packages/server-side-rendering/vite.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(openapi-to-markdown): circular references cause max call stack exceeded (#8757)
  .changeset/quiet-oranges-stick.md
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/openapi-to-markdown/src/create-markdown-from-openapi.test.ts
Due: prettier, biome

feat: default to dark-mode for non-js users
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

docs(changeset): feat: default to dark-mode for non-js users
  .changeset/olive-sides-hang.md
Due: prettier

fix(server-side-rendering): derive initial body mode from config
  .changeset/sharp-fans-share.md
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

hide empty content type exampples
  packages/api-reference/src/features/example-responses/ExampleResponses.test.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/has-response-content.test.ts
  packages/api-reference/src/features/example-responses/has-response-content.ts
Due: prettier, biome

docs(changeset): feat: hide response tabs without body content
  .changeset/happy-buttons-dance.md
Due: prettier

fix(server-side-rendering): respect light-mode config for non-js body class (#8758)
  .changeset/olive-sides-hang.md
  .changeset/sharp-fans-share.md
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

chore: check this after
  packages/api-client-react/README.md
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client-react/src/api-client-modal-store.ts
  packages/api-client-react/src/index.ts
  packages/api-client-react/src/useApiClientModal.ts
Due: prettier, biome

chore: updating readme
  packages/api-client-react/README.md
Due: prettier

feat: something is going
  packages/api-client-react/package.json
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client-react/src/client-store.ts
  packages/api-client-react/src/create-api-client-controller.ts
  packages/api-client-react/src/index.ts
  packages/api-client-react/src/lazy-load.ts
  packages/api-client/src/v2/features/modal/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: checkpoiing
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client-react/src/create-api-client-controller.ts
Due: prettier, biome

feat: working
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client-react/src/api-client-modal-store.ts
  packages/api-client-react/src/create-api-client-controller.ts
  packages/api-client-react/src/index.ts
Due: prettier, biome

feat: updated
  packages/api-client-react/README.md
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/api-client-modal-store.ts
  packages/api-client-react/src/create-api-client.ts
  packages/api-client-react/src/index.ts
  packages/api-client-react/src/use-api-client.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
