Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

feat(api-reference): add opt-in Mermaid Markdown plugin
  .changeset/mermaid-markdown-plugin.md
  knip.jsonc
  packages/api-reference/playground/mermaid/index.html
  packages/api-reference/playground/mermaid/main.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/plugins/plugin-manager.test.ts
  packages/api-reference/src/plugins/plugin-manager.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
  packages/components/src/components/ScalarMarkdown/index.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.ts
  packages/components/src/index.ts
  packages/helpers/src/markdown/markdown-render-hook.ts
  packages/mermaid-plugin/CHANGELOG.md
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/package.json
  packages/mermaid-plugin/screenshots/modal.png
  packages/mermaid-plugin/screenshots/reference.png
  packages/mermaid-plugin/src/create-diagram.test.ts
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/index.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  packages/mermaid-plugin/src/render-mermaid.ts
  packages/mermaid-plugin/tsconfig.build.json
  packages/mermaid-plugin/tsconfig.json
  packages/schemas/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

fix(mermaid-plugin): preserve collapsed Markdown summaries
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/playground/mermaid/summary.html
  packages/api-reference/playground/mermaid/summary.ts
  packages/api-reference/playwright.mermaid.config.ts
  packages/api-reference/playwright/test/mermaid.e2e.ts
  packages/api-reference/src/components/RenderPlugins/RenderPlugins.test.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdownSummary.vue
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

chore(mermaid-plugin): remove PR screenshots
  packages/mermaid-plugin/screenshots/modal.png
  packages/mermaid-plugin/screenshots/reference.png
Due: none

fix(api-reference): start Mermaid playground for CI tests
  packages/api-reference/playwright.config.ts
Due: prettier, biome

test(mermaid-plugin): guard opt-in loading and strict security
  packages/api-reference/playground/mermaid/main.ts
  packages/api-reference/playwright/test/mermaid.e2e.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  packages/mermaid-plugin/src/render-mermaid.ts
Due: prettier, biome

fix(mermaid-plugin): harden Markdown hook lifecycle and CI coverage
  .changeset/mermaid-markdown-plugin.md
  packages/api-reference/playwright.config.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.ts
  packages/helpers/src/markdown/markdown-render-hook.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/render-mermaid.test.ts
Due: prettier, biome

fix(mermaid-plugin): defer publishing and start local playground tests
  packages/api-reference/playwright.config.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/package.json
  pnpm-workspace.yaml
Due: prettier, biome

fix(mermaid-plugin): expose themeable viewer styles
  .changeset/mermaid-markdown-plugin.md
  documentation/plugins.md
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/create-diagram.test.ts
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/diagram-styles.ts
Due: prettier, biome

fix(snippetz): keep multiline strings and odd names valid in clj-http examples (#10507)
  .changeset/clj-http-multiline-strings.md
  packages/snippetz/src/plugins/clojure/clj_http/clj_http.test.ts
  packages/snippetz/src/plugins/clojure/clj_http/clj_http.ts
Due: prettier, biome

fix(blocks): repair Storybook lockfile references
  pnpm-lock.yaml
Due: packages-format, prettier

feat(api-reference): expose tag actions slot
  .changeset/tiny-tag-actions.md
  packages/api-reference/README.md
  packages/api-reference/src/components/Content/Tags/Tag.test.ts
  packages/api-reference/src/components/Content/Tags/Tag.vue
  packages/api-reference/src/components/Content/Tags/components/ClassicLayout.vue
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.vue
  packages/api-reference/src/components/Content/Tags/components/TagSection.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, biome

fix(api-reference): preserve default classic tag spacing
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, biome

docs(api-reference): remove tag actions README section
  packages/api-reference/README.md
Due: prettier

fix(snippetz): send the body in http/http1.1 examples for json media types and text bodies
  .changeset/http11-body-media-types.md
  packages/snippetz/src/plugins/http/http11/http11.test.ts
  packages/snippetz/src/plugins/http/http11/http11.ts
Due: prettier, biome

ci: scope pypi publish jobs to production-pypi environment
  .github/workflows/publish-integrations.yml
Due: prettier

fix(snippetz): send the body in http/http1.1 examples for json media types and text bodies (#10510)
  .changeset/http11-body-media-types.md
  packages/snippetz/src/plugins/http/http11/http11.test.ts
  packages/snippetz/src/plugins/http/http11/http11.ts
Due: prettier, biome

ci: scope pypi publish jobs to production-pypi environment (#9279)
  .github/workflows/publish-integrations.yml
Due: prettier

docs(nestjs): document browser-loaded plugins
  .changeset/friendly-nestjs-plugins.md
  documentation/integrations/nestjs.md
  documentation/plugins.md
  integrations/nestjs/src/nestJSApiReference.test.ts
  knip.jsonc
  packages/api-reference/public/examples/plugins/custom-extension.js
  packages/api-reference/test/configuration/plugins.e2e.ts
Due: prettier, biome

docs(scalar.com): add auth.md signup instructions
  documentation/assets/auth.md
Due: prettier

feat(docs): publish agent skills discovery index
  documentation/agent-skills.md
  documentation/assets/.well-known/agent-skills/index.json
Due: prettier, biome

feat(docs): include design system skill archive
  documentation/assets/.well-known/agent-skills/scalar-design-system.tar.gz
Due: none

docs(scalar.com): use canonical agent SDK link
  documentation/assets/auth.md
Due: prettier

fix(docs): publish only Scalar product skills
  documentation/agent-skills.md
  documentation/assets/.well-known/agent-skills/index.json
  documentation/assets/.well-known/agent-skills/scalar-design-system.tar.gz
  documentation/assets/.well-known/agent-skills/scalar-docs/SKILL.md
  documentation/assets/.well-known/agent-skills/scalar-mock-server/SKILL.md
Due: prettier, biome

feat(docs): generate published agent skills and digests
  .github/workflows/validate-scalar-configuration.yaml
  documentation/agent-skills.md
  tooling/scripts/README.md
  tooling/scripts/src/cli.ts
  tooling/scripts/src/commands/generate-agent-skills.test.ts
  tooling/scripts/src/commands/generate-agent-skills.ts
Due: prettier, biome

fix(ci): install root runtime for skill generator
  .github/workflows/validate-scalar-configuration.yaml
Due: prettier

feat(dotnet): configure featured HTTP clients
  .changeset/dotnet-featured-clients.md
  documentation/integrations/aspnetcore/integration.md
  integrations/dotnet/shared/src/Scalar.Shared/Contract/ScalarConfiguration.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Mapper/ScalarOptionsMapper.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/ScalarOptions.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/FeaturedClientsTests.cs
Due: prettier

feat(dotnet): configure OAuth device authorization
  .changeset/dotnet-device-authorization.md
  documentation/integrations/aspnetcore/integration.md
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/Authentication/DeviceAuthorizationFlowExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/Authentication/ScalarFlowsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/Authentication/Flows/DeviceAuthorizationFlow.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/Authentication/Flows/ScalarFlows.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Extensions/Authentication/DeviceAuthorizationFlowTests.cs
Due: prettier

ci(release-notes): add resumable historical backfill
  .github/actions/backfill-release-notes/README.md
  .github/actions/backfill-release-notes/history.test.ts
  .github/actions/backfill-release-notes/history.ts
  .github/actions/backfill-release-notes/run.ts
  .github/actions/backfill-release-notes/tsconfig.json
  .github/workflows/backfill-release-notes.yml
Due: prettier, biome

fix(release-notes): preserve all checkpoints before generation
  .github/actions/backfill-release-notes/backfill.test.ts
  .github/actions/backfill-release-notes/backfill.ts
  .github/actions/backfill-release-notes/run.ts
  .github/workflows/backfill-release-notes.yml
Due: prettier, biome

ci(release-notes): run one-time backfill on this PR
  .github/workflows/backfill-release-notes.yml
Due: prettier

ci(release-notes): use branch-scoped backfill token
  .github/workflows/backfill-release-notes.yml
Due: prettier

test(scalar-app): wait for Monaco operation focus before editing
  .changeset/fix-monaco-test-startup.md
  projects/scalar-app/test/collection-editor.monaco.e2e.ts
Due: prettier, biome

chore(release-notes): remove temporary backfill automation
  .github/actions/backfill-release-notes/README.md
  .github/actions/backfill-release-notes/backfill.test.ts
  .github/actions/backfill-release-notes/backfill.ts
  .github/actions/backfill-release-notes/history.test.ts
  .github/actions/backfill-release-notes/history.ts
  .github/actions/backfill-release-notes/run.ts
  .github/actions/backfill-release-notes/tsconfig.json
  .github/workflows/backfill-release-notes.yml
Due: prettier, biome

docs(release-notes): correct historical product summaries
  packages/mock-server/RELEASE_NOTES.json
  packages/mock-server/RELEASE_NOTES.md
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

docs(release-notes): backfill historical product releases (#10522)
  packages/agent-chat/RELEASE_NOTES.json
  packages/agent-chat/RELEASE_NOTES.md
  packages/api-reference/RELEASE_NOTES.json
  packages/api-reference/RELEASE_NOTES.md
  packages/mock-server/RELEASE_NOTES.json
  packages/mock-server/RELEASE_NOTES.md
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

docs(cli): update commands
  documentation/guides/cli/commands.md
Due: prettier

test(scalar-app): serve watcher test documents from memory instead of a local server
  pnpm-lock.yaml
  projects/scalar-app/package.json
  projects/scalar-app/src/features/app/hooks/use-document-watcher.test.ts
Due: packages-format, prettier, biome

feat(api-reference): add Explore Scalar call to action on localhost
  .changeset/explore-scalar-sidebar-cta.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.test.ts
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/ApiReference.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarStickers.vue
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerAgentScalar.test.ts
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerAgentScalar.vue
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerDeveloperPortals.vue
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerSdks.vue
  packages/api-reference/src/features/explore-scalar/constants.ts
  packages/api-reference/src/features/explore-scalar/index.ts
  packages/api-reference/src/features/explore-scalar/use-explore-scalar-transition.test.ts
  packages/api-reference/src/features/explore-scalar/use-explore-scalar-transition.ts
  packages/api-reference/src/features/localization/locales.test.ts
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/use-register-link.test.ts
  packages/api-reference/src/hooks/use-register-link.ts
  packages/helpers/src/dom/start-view-transition.test.ts
  packages/helpers/src/dom/start-view-transition.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

test(scalar-app): serve watcher test documents from memory instead of a local server (#10535)
  pnpm-lock.yaml
  projects/scalar-app/package.json
  projects/scalar-app/src/features/app/hooks/use-document-watcher.test.ts
Due: packages-format, prettier, biome

fix(api-reference): refine the Explore Scalar card and dialog rows
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarStickers.vue
Due: prettier, biome
