Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

style(api-reference): use the brand gradient wash in the Explore Scalar dialog
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
Due: prettier, biome

fix(components): reset border and padding on code block pre
  .changeset/code-block-pre-host-styles.md
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, biome

assets for brynn/doc-6485-styling-changes
  brynn/doc-6485-styling-changes/before.png
Due: none

docs(cli): generate the command reference from scalar context
  .github/workflows/update-scalar-cli-documentation.yml
  documentation/assets/cli/scalar-cli.webp
  documentation/guides/cli/authentication.md
  documentation/guides/cli/ci-and-scripting.md
  documentation/guides/cli/commands.md
  documentation/guides/cli/commands/access-group.md
  documentation/guides/cli/commands/auth.md
  documentation/guides/cli/commands/document.md
  documentation/guides/cli/commands/general.md
  documentation/guides/cli/commands/project.md
  documentation/guides/cli/commands/registry.md
  documentation/guides/cli/commands/schema.md
  documentation/guides/cli/commands/sdk.md
  documentation/guides/cli/commands/team.md
  documentation/guides/cli/getting-started.md
  scalar.config.json
  tooling/scripts/README.md
  tooling/scripts/src/cli.ts
  tooling/scripts/src/commands/generate-cli-docs.test.ts
  tooling/scripts/src/commands/generate-cli-docs.ts
Due: prettier, biome

style(api-reference): keep the Explore Scalar stickers flat
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarStickers.vue
Due: prettier, biome

fix(cli): escape backslashes in generated command tables
  tooling/scripts/src/commands/generate-cli-docs.test.ts
  tooling/scripts/src/commands/generate-cli-docs.ts
Due: prettier, biome

fix(api-reference): keep every printed text on the Explore Scalar stickers
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerAgentScalar.vue
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerDeveloperPortals.vue
Due: prettier, biome

assets for brynn/doc-6485-styling-changes
  brynn/doc-6485-styling-changes/after.png
Due: none

fix(cli): drop unused exports from the docs generator
  tooling/scripts/src/commands/generate-cli-docs.ts
Due: prettier, biome

feat(api-reference): book the demo call inside the Explore Scalar dialog
  packages/api-reference/src/features/explore-scalar/cal-embed.test.ts
  packages/api-reference/src/features/explore-scalar/cal-embed.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/constants.ts
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

feat(api-reference): simplify the Explore Scalar calls to action and morph between steps
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/api-reference/src/hooks/use-register-link.test.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

feat(api-reference): put Marc's sticker on the wall when the demo call is hovered
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.vue
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/components/stickers/StickerMarc.vue
Due: prettier, biome

docs(scalar-com): add MCP build and hosting guides and API management content
  documentation/guides/enterprise/enterprise.md
  documentation/learn/api-management/api-governance.md
  documentation/learn/api-management/api-management-vs-api-gateway.md
  documentation/learn/api-management/index.md
  documentation/learn/index.md
  documentation/learn/mcp/build-mcp-server.md
  documentation/learn/mcp/host-mcp-server.md
  documentation/learn/mcp/index.md
  documentation/learn/mcp/mcp-oauth.md
  documentation/learn/mcp/remote-mcp-servers.md
  documentation/learn/openapi/api-catalog.md
  documentation/learn/openapi/index.md
  documentation/library/best-api-management-platforms-2026.md
  documentation/library/best-mcp-server-generators-2026.md
  documentation/library/index.md
  scalar.config.json
Due: prettier, biome

fix(api-reference): keep the Explore Scalar trigger a gradient button and lift the card while the dialog is open
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.vue
Due: prettier, biome

docs(scalar-com): state the hosted MCP runtime scope and registry breaking-change detection
  documentation/guides/enterprise/enterprise.md
  documentation/learn/api-management/api-governance.md
  documentation/learn/api-management/api-management-vs-api-gateway.md
  documentation/learn/api-management/index.md
  documentation/learn/mcp/host-mcp-server.md
  documentation/library/best-api-management-platforms-2026.md
Due: prettier

docs(agent): align MCP billing with the pricing page
  documentation/guides/agent/mcp.md
Due: prettier

docs(scalar-com): add MCP build/host guides and API management content (#10539)
  documentation/guides/agent/mcp.md
  documentation/guides/enterprise/enterprise.md
  documentation/learn/api-management/api-governance.md
  documentation/learn/api-management/api-management-vs-api-gateway.md
  documentation/learn/api-management/index.md
  documentation/learn/index.md
  documentation/learn/mcp/build-mcp-server.md
  documentation/learn/mcp/host-mcp-server.md
  documentation/learn/mcp/index.md
  documentation/learn/mcp/mcp-oauth.md
  documentation/learn/mcp/remote-mcp-servers.md
  documentation/learn/openapi/api-catalog.md
  documentation/learn/openapi/index.md
  documentation/library/best-api-management-platforms-2026.md
  documentation/library/best-mcp-server-generators-2026.md
  documentation/library/index.md
  scalar.config.json
Due: prettier, biome

style(api-reference): bring Marc's sticker to centre stage and scatter the pile behind him
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
Due: prettier, biome

style(api-reference): tuck the product stickers underneath Marc
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
Due: prettier, biome

style(api-reference): shuffle the product stickers under Marc at full size
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
Due: prettier, biome

style(api-reference): drop the visible title from the booking step
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
Due: prettier, biome

feat(api-reference): relabel the Explore Scalar trigger and keep it still on theme switches
  packages/api-reference/src/components/ApiReference.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarButton.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

feat(api-reference): add a direct line to Marc on X inside the demo pill
  .changeset/tooltip-stays-on-target-children.md
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.test.ts
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/api-reference/src/features/explore-scalar/constants.ts
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/components/src/components/ScalarTooltip/useTooltip.test.ts
  packages/components/src/components/ScalarTooltip/useTooltip.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

fix(components): draw the tooltip border with the theme hairline
  .changeset/tooltip-stays-on-target-children.md
  packages/api-reference/src/features/explore-scalar/components/ExploreScalarModal.vue
  packages/components/src/components/ScalarTooltip/ScalarTooltip.vue
Due: prettier, biome

test(api-reference): update e2e for the Explore Scalar footer on localhost
  packages/api-reference/test/configuration/mcp-button.e2e.ts
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-reference.png
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-search-results.png
  packages/api-reference/test/snapshots/search.e2e.ts.snapshots/search.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/alternate-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/alternate-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/deepSpace-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/deepSpace-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/default-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/default-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/elysiajs-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/elysiajs-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/fastify-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/fastify-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/laserwave-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/laserwave-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/moon-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/moon-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/none-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/none-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/purple-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/purple-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/saturn-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/saturn-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/solarized-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/solarized-modern-light.png
Due: prettier, biome

chore(tooling): update Biome to 2.5.15 (#10505)
  .changeset/friendly-biome-upgrade.md
  biome.json
  integrations/docusaurus/src/index.ts
  package.json
  packages/blocks/src/styles/schema-tree.css
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/core/test/few-dependencies.test.ts
  packages/helpers/src/types/assertions.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/object-utils/src/nested/nested.ts
  packages/openapi-to-markdown/playground/src/style.css
  packages/themes/src/fonts/inter.css
  packages/themes/src/fonts/mono.css
  packages/workspace-store/src/helpers/get-resolved-ref-deep.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore(tooling): update ESLint to v10 (#10509)
  .changeset/fresh-eslint-stack.md
  eslint.config.mjs
  examples/react/eslint.config.js
  examples/react/package.json
  package.json
  packages/api-reference/src/blocks/scalar-sdk-installation-instructions/components/SdkInstallationInstructions.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

feat(api-reference): expose tag actions slot (#10511)
  .changeset/tiny-tag-actions.md
  packages/api-reference/src/components/Content/Tags/Tag.test.ts
  packages/api-reference/src/components/Content/Tags/Tag.vue
  packages/api-reference/src/components/Content/Tags/components/ClassicLayout.vue
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.vue
  packages/api-reference/src/components/Content/Tags/components/TagSection.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, biome

feat(dotnet): configure featured HTTP clients (#10517)
  .changeset/dotnet-featured-clients.md
  documentation/integrations/aspnetcore/integration.md
  integrations/dotnet/shared/src/Scalar.Shared/Contract/ScalarConfiguration.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Mapper/ScalarOptionsMapper.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/ScalarOptions.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/FeaturedClientsTests.cs
Due: prettier

feat(dotnet): configure OAuth device authorization (#10521)
  .changeset/dotnet-device-authorization.md
  .changeset/fix-monaco-test-startup.md
  documentation/integrations/aspnetcore/integration.md
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/Authentication/DeviceAuthorizationFlowExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/Authentication/ScalarFlowsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Extensions/ScalarOptionsExtensions.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/Authentication/Flows/DeviceAuthorizationFlow.cs
  integrations/dotnet/shared/src/Scalar.Shared/Options/Authentication/Flows/ScalarFlows.cs
  integrations/dotnet/shared/tests/Scalar.Shared.Tests/Extensions/Authentication/DeviceAuthorizationFlowTests.cs
  projects/scalar-app/test/collection-editor.monaco.e2e.ts
Due: prettier, biome

test(scalar-app): isolate document watcher polling timers
  .changeset/calm-watcher-timers.md
  projects/scalar-app/src/features/app/hooks/use-document-watcher.test.ts
Due: prettier, biome

docs(cli): generate the command reference from scalar context (#10538)
  .github/workflows/update-scalar-cli-documentation.yml
  documentation/assets/cli/scalar-cli.webp
  documentation/guides/cli/authentication.md
  documentation/guides/cli/ci-and-scripting.md
  documentation/guides/cli/commands.md
  documentation/guides/cli/commands/access-group.md
  documentation/guides/cli/commands/auth.md
  documentation/guides/cli/commands/document.md
  documentation/guides/cli/commands/general.md
  documentation/guides/cli/commands/project.md
  documentation/guides/cli/commands/registry.md
  documentation/guides/cli/commands/schema.md
  documentation/guides/cli/commands/sdk.md
  documentation/guides/cli/commands/team.md
  documentation/guides/cli/getting-started.md
  scalar.config.json
  tooling/scripts/README.md
  tooling/scripts/src/cli.ts
  tooling/scripts/src/commands/generate-cli-docs.test.ts
  tooling/scripts/src/commands/generate-cli-docs.ts
Due: prettier, biome

docs(scalar.com): add auth.md signup instructions (#10514)
  documentation/assets/auth.md
Due: prettier

test(scalar-app): use native HTTP server for watcher coverage
  projects/scalar-app/src/features/app/hooks/use-document-watcher.test.ts
Due: prettier, biome

fix(components): reset border and padding on code block pre (#10537)
  .changeset/code-block-pre-host-styles.md
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, biome

feat(api-reference): display AsyncAPI server metadata
  .changeset/friendly-asyncapi-servers.md
  documentation/asyncapi.md
  packages/api-reference/src/blocks/scalar-asyncapi-server-selector-block/components/AsyncApiServerSelector.test.ts
  packages/api-reference/src/blocks/scalar-asyncapi-server-selector-block/components/AsyncApiServerSelector.vue
  packages/api-reference/src/blocks/scalar-asyncapi-server-selector-block/components/Selector.test.ts
  packages/api-reference/src/blocks/scalar-asyncapi-server-selector-block/components/Selector.vue
Due: prettier, biome
