Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

fix(api-reference): avoid duplicate selector for nested discriminator-mapping property
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix(api-reference): only infer discriminator selector for plain object schemas
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/Schema.vue
Due: prettier, biome

fix(api-reference): render discriminator dropdown for object schemas with only a mapping
  .changeset/discriminator-mapping-object-dropdown.md
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
Due: prettier, biome

fix(fastify-api-reference): inline standalone via Vite ?raw, not generated code
  integrations/fastify/vite.config.ts
Due: prettier, biome

fix(fastify-api-reference): keep tsx dev working, drop virtual module
  integrations/fastify/src/utils/getJavaScriptFile.ts
  integrations/fastify/src/virtual-modules.d.ts
  integrations/fastify/vite.config.ts
Due: prettier, biome

fix(fastify-api-reference): bundle plugin and inline standalone script
  .changeset/fastify-bundle-standalone.md
  integrations/fastify/package.json
  integrations/fastify/src/utils/getJavaScriptFile.ts
  integrations/fastify/src/virtual-modules.d.ts
  integrations/fastify/tsconfig.build.json
  integrations/fastify/vite.config.ts
Due: prettier, biome

fix(fastify-api-reference): clearer error when standalone build is missing
  integrations/fastify/vite.config.ts
Due: prettier, biome

fix(fastify-api-reference): keep tsconfig.build.json for declaration emit
  integrations/fastify/package.json
  integrations/fastify/tsconfig.build.json
  integrations/fastify/vite.config.ts
Due: prettier, biome

feat(galaxy): paginate planets with a $dynamicRef template
  .changeset/galaxy-dynamic-ref-pagination.md
  packages/galaxy/src/documents/3.1.yaml
Due: prettier

fix(workspace-store): keep $ref siblings when deeply resolving references
  .changeset/dynamic-ref-deep-resolve-siblings.md
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
  packages/workspace-store/src/helpers/get-resolved-ref-deep.test.ts
  packages/workspace-store/src/helpers/get-resolved-ref-deep.ts
Due: prettier, biome

feat: update sdk documentation
  documentation/guides/sdks/configuration/cpp.md
  documentation/guides/sdks/configuration/dart.md
  documentation/guides/sdks/configuration/kotlin.md
  documentation/guides/sdks/configuration/rust.md
  documentation/guides/sdks/custom-code.md
  documentation/guides/sdks/getting-started.md
  documentation/guides/sdks/managing.md
  documentation/guides/sdks/publishing/dart.md
  documentation/guides/sdks/publishing/rust.md
  scalar.config.json
Due: prettier, biome

feat(void): Add logging config to allow external loggers
  .changeset/void-server-logger-options.md
  packages/void-server/README.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
  packages/void-server/src/index.ts
Due: prettier, biome

feat(void): Add logging config to allow external loggers (#9608)
  .changeset/void-server-logger-options.md
  packages/void-server/README.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
  packages/void-server/src/index.ts
Due: prettier, biome

feat(java): add modelsSectionLabel, expandAllSchemaProperties, defaultOpenFirstTag and mcp config options
  .changeset/java-config-options.md
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/ScalarProperties.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/config/ScalarMcpOptions.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/internal/ScalarConfiguration.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/internal/ScalarConfigurationMapper.java
  integrations/java/scalar-core/src/test/java/com/scalar/maven/core/ScalarConfigurationTest.java
Due: prettier

adjusted ui of filters
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/AsyncApiSidebarFilters.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/SidebarFilter.vue
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

feat(api-reference): filter AsyncAPI sidebar by protocol and server
  .changeset/asyncapi-protocol-filter.md
  documentation/asyncapi.md
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/SidebarFilter.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.test.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/workspace-store/src/channel-example/get-async-api-protocols.test.ts
  packages/workspace-store/src/channel-example/get-async-api-protocols.ts
  packages/workspace-store/src/channel-example/index.ts
Due: prettier, biome

fix(api-reference): polish AsyncAPI sidebar filters
  packages/api-reference/playground/esm/index.html
  packages/api-reference/public/examples/asyncapi-filters.yaml
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/AsyncApiSidebarFilters.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/SidebarFilter.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/utils/sources.ts
Due: prettier, biome

refactor(api-reference,workspace-store): address review feedback on AsyncAPI sidebar filters
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/AsyncApiSidebarFilters.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/workspace-store/src/channel-example/build-connection-url.ts
  packages/workspace-store/src/channel-example/get-async-api-protocols.test.ts
  packages/workspace-store/src/channel-example/get-async-api-protocols.ts
  packages/workspace-store/src/channel-example/index.ts
  packages/workspace-store/src/channel-example/servers.ts
Due: prettier, biome

fix(api-reference,workspace-store): drop unused exports flagged by knip
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/index.ts
  packages/workspace-store/src/channel-example/servers.ts
Due: prettier, biome

feat(api-reference): filter AsyncAPI sidebar by protocol and server (#9568)
  .changeset/asyncapi-protocol-filter.md
  documentation/asyncapi.md
  packages/api-reference/playground/esm/index.html
  packages/api-reference/public/examples/asyncapi-filters.yaml
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/AsyncApiSidebarFilters.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/components/SidebarFilter.vue
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.test.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/helpers/filter-async-api-navigation.ts
  packages/api-reference/src/blocks/scalar-asyncapi-sidebar-filters-block/index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/utils/sources.ts
  packages/workspace-store/src/channel-example/build-connection-url.ts
  packages/workspace-store/src/channel-example/get-async-api-protocols.test.ts
  packages/workspace-store/src/channel-example/get-async-api-protocols.ts
  packages/workspace-store/src/channel-example/index.ts
  packages/workspace-store/src/channel-example/servers.ts
Due: prettier, biome

fix(api-reference): only show required parameters in code examples
  .changeset/code-example-required-params.md
  packages/blocks/src/code-example/components/CodeExample.test.ts
  packages/blocks/src/code-example/components/CodeExample.vue
Due: prettier, biome

feat: add npm cli publishing
  documentation/guides/sdks/cli.md
  documentation/guides/sdks/publishing/cli.md
  documentation/guides/sdks/publishing/registries.md
Due: prettier

test(validation): add failing regression for coerce union DoS
  packages/validation/src/coerce-dos.test.ts
Due: prettier, biome

docs(blocks): add documentation section for @scalar/blocks
  documentation/guides/blocks/code-example.md
  documentation/guides/blocks/getting-started.md
  scalar.config.json
Due: prettier, biome

feat(api-client): injectable OAuth2 redirect capture for interactive flows
  .changeset/oauth-desktop-loopback.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
  packages/api-client/src/v2/types/options.ts
Due: prettier, biome

feat(scalar-app): desktop OAuth2 via loopback redirect capture
  projects/scalar-app/entrypoints/electron/main/actions/authorize-oauth2.test.ts
  projects/scalar-app/entrypoints/electron/main/actions/authorize-oauth2.ts
  projects/scalar-app/entrypoints/electron/main/index.ts
  projects/scalar-app/entrypoints/electron/preload/index.ts
  projects/scalar-app/entrypoints/electron/renderer/src/app-state.ts
  projects/scalar-app/entrypoints/electron/shims.d.ts
  projects/scalar-app/src/features/app/helpers/create-api-client-app.ts
  projects/scalar-app/src/features/collection/components/Authentication.test.ts
  projects/scalar-app/src/features/collection/components/Authentication.vue
Due: prettier, biome

fix(scalar-app): route URL imports through the desktop IPC fetch
  .changeset/desktop-url-import-csp.md
  projects/scalar-app/src/App.vue
  projects/scalar-app/src/features/command-palette/TheCommandPalette.vue
  projects/scalar-app/src/features/command-palette/components/CommandPaletteImport.test.ts
  projects/scalar-app/src/features/command-palette/components/CommandPaletteImport.vue
  projects/scalar-app/src/features/import-listener/ImportListener.vue
  projects/scalar-app/src/features/import-listener/components/ImportModal.vue
Due: prettier, biome

fix(api-client): do not persist the redirect URI for the desktop loopback path
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  projects/scalar-app/entrypoints/electron/main/actions/authorize-oauth2.ts
Due: prettier, biome

fix(workspace-store): upgrade AsyncAPI documents on ingestion
  .changeset/asyncapi-upgrade-on-ingestion.md
  packages/workspace-store/package.json
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

docs(asyncapi): document automatic 1.x/2.x to 3.x upgrade
  documentation/asyncapi.md
  packages/asyncapi-upgrader/src/upgrade.ts
Due: prettier, biome

fix(workspace-store): upgrade AsyncAPI documents on ingestion (#9616)
  .changeset/asyncapi-upgrade-on-ingestion.md
  documentation/asyncapi.md
  packages/asyncapi-upgrader/src/upgrade.ts
  packages/workspace-store/package.json
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(scalar-app): route URL imports through the desktop IPC fetch (#9614)
  .changeset/desktop-url-import-csp.md
  projects/scalar-app/src/App.vue
  projects/scalar-app/src/features/command-palette/TheCommandPalette.vue
  projects/scalar-app/src/features/command-palette/components/CommandPaletteImport.test.ts
  projects/scalar-app/src/features/command-palette/components/CommandPaletteImport.vue
  projects/scalar-app/src/features/import-listener/ImportListener.vue
  projects/scalar-app/src/features/import-listener/components/ImportModal.vue
Due: prettier, biome

feat(java): add modelsSectionLabel, expandAllSchemaProperties, defaultOpenFirstTag and mcp config options (#9606)
  .changeset/java-config-options.md
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/ScalarProperties.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/config/ScalarMcpOptions.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/internal/ScalarConfiguration.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/internal/ScalarConfigurationMapper.java
  integrations/java/scalar-core/src/test/java/com/scalar/maven/core/ScalarConfigurationTest.java
Due: prettier

fix(java): support Jackson 2.x and 3.x
  .changeset/java-jackson-3-support.md
  integrations/java/scalar-core/pom.xml
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/ScalarHtmlRenderer.java
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/internal/JacksonJsonSerializer.java
  integrations/java/scalar-core/src/test/java/com/scalar/maven/core/internal/JacksonJsonSerializerTest.java
Due: prettier

fix(docusaurus): preserve function config options like `onBeforeRequest` (#9588)
  .changeset/fix-docusaurus-onbeforerequest.md
  integrations/docusaurus/package.json
  integrations/docusaurus/src/ScalarDocusaurus.tsx
  integrations/docusaurus/src/index.test.ts
  integrations/docusaurus/src/index.ts
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.test.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/src/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-reference): prevent stack overflow on allOf self-references (#9587)
  .changeset/witty-pugs-grin.md
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
Due: prettier, biome

fix(api-reference): render discriminator dropdown for object schemas with only a mapping (#9575)
  .changeset/discriminator-mapping-object-dropdown.md
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

docs(blocks): add documentation section for @scalar/blocks (#9612)
  documentation/guides/blocks/code-example.md
  documentation/guides/blocks/getting-started.md
  scalar.config.json
Due: prettier, biome

feat(scalar-app): support OAuth2 on desktop via loopback redirect (#9613)
  .changeset/oauth-desktop-loopback.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
  packages/api-client/src/v2/types/options.ts
  projects/scalar-app/entrypoints/electron/main/actions/authorize-oauth2.test.ts
  projects/scalar-app/entrypoints/electron/main/actions/authorize-oauth2.ts
  projects/scalar-app/entrypoints/electron/main/index.ts
  projects/scalar-app/entrypoints/electron/preload/index.ts
  projects/scalar-app/entrypoints/electron/renderer/src/app-state.ts
  projects/scalar-app/entrypoints/electron/shims.d.ts
  projects/scalar-app/src/features/app/helpers/create-api-client-app.ts
  projects/scalar-app/src/features/collection/components/Authentication.test.ts
  projects/scalar-app/src/features/collection/components/Authentication.vue
Due: prettier, biome

fix(api-reference): only show required parameters in code examples (#9610)
  .changeset/code-example-required-params.md
  packages/blocks/src/code-example/components/CodeExample.test.ts
  packages/blocks/src/code-example/components/CodeExample.vue
Due: prettier, biome
