Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

fix: theme changing (#590)
  examples/web/src/pages/ApiReferencePage.vue
Due: prettier, eslint

RELEASING: Releasing 4 package(s) (#577)
  .changeset/fluffy-elephants-care.md
  .changeset/green-apples-cry.md
  .changeset/polite-apples-destroy.md
  .changeset/ten-points-fix.md
  .changeset/wicked-papayas-float.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
Due: prettier

wip: basic darkmode toggle
  packages/api-reference/src/components/ApiReferenceClassic.vue
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/DarkModeToggle.vue
  packages/api-reference/src/hooks/useDarkModeState.ts
Due: prettier, eslint

fix: manage css vars so they don't leak out of the component
  examples/web/src/pages/ClassicApiReferencePage.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/ApiReferenceClassic.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

Extract basic classic layout
  examples/web/src/main.ts
  examples/web/src/pages/ClassicApiReferencePage.vue
  examples/web/src/pages/StartPage.vue
  packages/api-reference/src/components/ApiReferenceClassic.vue
  packages/api-reference/src/index.ts
Due: prettier, eslint

refactor: reformat search bar
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/SearchButton.vue
Due: prettier, eslint

feat: add dark mode icon toggle
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/DarkModeIconToggle.vue
  packages/api-reference/src/components/Icon/icons/DarkMode.svg
  packages/api-reference/src/components/Icon/icons/LightMode.svg
  packages/api-reference/src/components/Icon/icons/index.ts
  packages/api-reference/src/hooks/useDarkModeState.ts
Due: prettier, eslint

feat: set size of content header
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Section/Section.vue
Due: prettier, eslint

refactor: move layouts to config property
  examples/web/src/pages/ClassicApiReferencePage.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceClassic.vue
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
  packages/api-reference/src/components/Layouts/index.ts
  packages/api-reference/src/index.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

feat: remove more old flow elements for components
  packages/api-reference/src/components/FlowLoader.vue
  packages/swagger-editor/src/components/FlowButton.vue
  packages/swagger-editor/src/components/FlowLoader.vue
  packages/swagger-editor/src/components/FlowTextField.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorAIWriter.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorGettingStarted.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorHeader.vue
Due: prettier, eslint

feat: only type issues remain
  packages/api-reference/src/components/SidebarElement.vue
  packages/swagger-editor/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update PR template
  .github/pull_request_template.md
Due: prettier

chore: clean up
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

refactor: get javascript file just once, move to utils
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/src/utils/getJavaScriptFile.ts
  packages/fastify-api-reference/src/utils/index.ts
Due: prettier, eslint

refactor: actually bundle the JS
  packages/fastify-api-reference/src/utils/getJavaScriptFile.ts
  packages/fastify-api-reference/vite.config.ts
Due: prettier, eslint

docs(changeset): fix: JS is missing
  .changeset/little-suns-pump.md
Due: prettier

fix: js file can not be found if the source code is bundled
  packages/fastify-api-reference/src/utils/getJavaScriptFile.ts
Due: prettier, eslint

fix: fastify plugin doesn’t serve the JS (#591)
  .changeset/little-suns-pump.md
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/src/utils/getJavaScriptFile.ts
  packages/fastify-api-reference/src/utils/index.ts
  packages/fastify-api-reference/vite.config.ts
Due: prettier, eslint

RELEASING: Releasing 1 package(s) (#592)
  .changeset/little-suns-pump.md
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
Due: prettier

fix: URL doesn’t match the active sidebar item (DOC-1361, #296) (#573)
  .changeset/lovely-donuts-give.md
  .changeset/shy-birds-sip.md
  packages/api-client/src/stores/apiClientStore.ts
  packages/api-client/src/stores/requestStore.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/EndpointsOverview.vue
  packages/api-reference/src/components/Content/Models.vue
  packages/api-reference/src/components/Content/ShowMoreButton.vue
  packages/api-reference/src/components/IntersectionObserver.vue
  packages/api-reference/src/components/Sidebar.vue
  packages/api-reference/src/helpers/hasModels.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/showItemInClient.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/useNavigation.ts
  packages/api-reference/src/stores/template.ts
Due: prettier, eslint

Fix honoApiReference script tag
  packages/hono-api-reference/src/honoApiReference.ts
Due: prettier, eslint

Fix incoming data parsing
  packages/api-reference/src/standalone.ts
Due: prettier, eslint

Update types
  packages/api-reference/src/standalone.ts
Due: prettier, eslint

chore: use ReferenceConfiguration type for the standalone getConfiguration helper
  packages/api-reference/src/standalone.ts
Due: prettier, eslint

fix: configuration.spec.url is ignored
  packages/api-reference/src/standalone.ts
  packages/hono-api-reference/src/honoApiReference.ts
Due: prettier, eslint

fix: hono output breaks the integration
  packages/hono-api-reference/src/honoApiReference.ts
Due: prettier, eslint

chore: make the cdn version less error prone
  packages/api-reference/src/standalone.ts
Due: prettier, eslint

chore: add `content` to the hono example
  examples/hono-api-reference/src/index.ts
Due: prettier, eslint

docs(changeset): fix: hono middleware fails to read configuration.spec.content
  .changeset/ninety-onions-carry.md
Due: prettier

fix: tests
  packages/hono-api-reference/src/honoApiReference.test.ts
Due: prettier, eslint

fix: @scalar/hono-api-reference doesn’t use content & preparsedContent (#586)
  .changeset/ninety-onions-carry.md
  examples/hono-api-reference/src/index.ts
  packages/api-reference/src/standalone.ts
  packages/hono-api-reference/src/honoApiReference.test.ts
  packages/hono-api-reference/src/honoApiReference.ts
Due: prettier, eslint

chore: add a placeholder for contributors in the README
  README.md
Due: prettier

ci: update workflow titles
  .github/workflows/auto-approve.yml
  .github/workflows/lint-pr.yml
Due: prettier

ci: automatically add contributors to the README
  .github/workflows/update-contributors.yml
Due: prettier

ci: use username for contributors
  .github/workflows/update-contributors.yml
Due: prettier

chore: add contributors badge to the README
  README.md
Due: prettier

chore: merge contributing and contributors sections
  README.md
Due: prettier

chore: add license badge
  README.md
Due: prettier

docs(changeset): feat: swagger UI style layout
  .changeset/two-spiders-mix.md
Due: prettier

fix: building working
  packages/api-reference/vite.standalone.config.ts
  packages/swagger-editor/vite.config.ts
Due: prettier, eslint
