Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: Update Playground demo with BookStore and Authentication
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Extensions/ServiceCollectionExtensions.cs
Due: none

chore: Update playground
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/AuthConstants.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/BookEndpoints.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Extensions/ServiceCollectionExtensions.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/docker-compose.yml
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/playground-realm.json
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
Due: prettier

chore: Update playground
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
Due: none

chore: Update playground
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/Book.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
Due: none

chore: Update playground
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/BookEndpoints.cs
Due: none

chore(Scalar.AspNetCore): improved Playground example (#3639)
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/AuthConstants.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/Book.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/BookEndpoints.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/BookStore.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Extensions/ServiceCollectionExtensions.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
Due: none

fix(api-client): overflow is added (#3637)
  .changeset/rude-books-smile.md
  packages/api-client/src/components/DataTable/DataTableInput.vue
Due: prettier, eslint

fix(api-client): prevent spec import overflowing
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

docs(changeset): fix(api-client): prevent spec import overflowing
  .changeset/shiny-chairs-marry.md
Due: prettier

fix: add mapping of header to headers
  packages/oas-utils/src/entities/spec/request-examples.ts
Due: prettier, eslint

docs(changeset): fix: add mapping of header to headers for api client ingress
  .changeset/lovely-peas-jog.md
Due: prettier

fix: add mapping of header to headers (#3641)
  .changeset/lovely-peas-jog.md
  packages/oas-utils/src/entities/spec/request-examples.ts
Due: prettier, eslint

(style)api-client: fix border color variable
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

docs(changeset): (style)api-client: fix client border bottom colors
  .changeset/purple-emus-do.md
Due: prettier

(style)api-client: pop up modal button
  packages/api-client/src/components/OpenApiClientButton.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
Due: prettier, eslint

style(api-reference): fix some minor font sizes
  packages/api-reference/src/components/Content/Schema/SchemaPropertyDetail.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs(changeset): style(api-reference): fix font sizes of read only and property detail values
  .changeset/rude-spoons-poke.md
Due: prettier

style(api-reference): change color of write only
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs: Apply feedback
  documentation/integrations/dotnet.md
  packages/scalar.aspnetcore/README.md
Due: prettier

style(api-client): updates request section ui
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

fix(api-client): removes unused scalar icon import from response section
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

docs(changeset): style: updates request section ui
  .changeset/fast-swans-teach.md
Due: prettier

style(api-client): fix border color variable (#3642)
  .changeset/purple-emus-do.md
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

chore: specify jsdom for test environment explicitly
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

test: combine test because execution order matters
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

style(api-client): request section ui (#3644)
  .changeset/fast-swans-teach.md
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

style(api-reference): fix some minor font sizes (#3643)
  .changeset/rude-spoons-poke.md
  packages/api-reference/src/components/Content/Schema/SchemaPropertyDetail.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs(Scalar.AspNetCore): add .NET integration documentation (#3638)
  documentation/integrations/dotnet.md
  packages/scalar.aspnetcore/README.md
Due: prettier

fix(api-client): prevent spec import overflowing (#3640)
  .changeset/shiny-chairs-marry.md
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

fix: pnpm lock file
  packages/galaxy/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: allow Node 18 in playwright package
  playwright/package.json
Due: prettier

refector: use new waitFor helper instead of sleep for 50ms
  packages/api-reference/src/helpers/waitFor.ts
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

refactor: split up the standalone test again
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

chore: run the tests after eachother
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

test(api-reference): make the standalone test stable (#3622)
  packages/api-reference/src/helpers/waitFor.ts
  packages/api-reference/src/standalone.spec.ts
  packages/galaxy/package.json
  playwright/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): sets default environment variable to value
  packages/api-client/src/store/environment.ts
Due: prettier, eslint

docs(changeset): fix: sets default environment variable value
  .changeset/nice-lies-agree.md
Due: prettier

fix(api-client): sets active environment on mounted method
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

fix(api-reference): improve endpoint and tag accessibility
  packages/api-reference/src/components/Anchor/Anchor.vue
  packages/api-reference/src/components/Card/CardTab.vue
  packages/api-reference/src/components/Content/Operation/ParameterItem.vue
  packages/api-reference/src/components/Content/Operation/TestRequestButton.vue
  packages/api-reference/src/components/Content/Tag/Endpoints.vue
  packages/api-reference/src/components/Content/Tag/Tag.vue
  packages/api-reference/src/features/ExampleRequest/ExamplePicker.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/features/ExampleRequest/TextSelect.vue
  packages/api-reference/src/features/ExampleResponses/ExampleResponse.vue
  packages/api-reference/src/features/ExampleResponses/ExampleResponses.vue
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/themes/src/reset.css
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
