Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: make dependabot ignore some dependencies (#4178)
  .github/dependabot.yml
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

test: enums in SchemaProperty
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
Due: prettier, eslint

chore: code style
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

feat(api-reference): enum value visible item number increase (#4176)
  .changeset/khaki-hairs-help.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

fix(api-reference): correct anchor id encoding to ensure correct page scrolling (#4173)
  .changeset/spicy-islands-enjoy.md
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

fix(api-client): server variables (#4160)
  .changeset/lovely-bikes-lick.md
  .changeset/strong-shoes-retire.md
  packages/api-client/src/components/AddressBar/AddressBarServerItem.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/send-request/send-request.ts
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
Due: prettier, eslint

clean code
  packages/openapi-parser/src/utils/resolveReferences.ts
Due: prettier, eslint

Update gold-cups-compare.md
  .changeset/gold-cups-compare.md
Due: prettier

test: validate file with external reference
  packages/cli/src/commands/validate/fixtures/file-reference.yaml
  packages/cli/src/commands/validate/fixtures/invalid.json
  packages/cli/src/commands/validate/fixtures/valid.json
  packages/cli/src/commands/validate/fixtures/valid.yaml
  packages/cli/src/commands/validate/valid.yaml
  packages/cli/src/commands/validate/validate.test.ts
Due: prettier, eslint

Update packages/openapi-parser/src/utils/resolveReferences.ts
  packages/openapi-parser/src/utils/resolveReferences.ts
Due: prettier, eslint

test: deference with external references
  packages/openapi-parser/src/utils/dereference.test.ts
Due: prettier, eslint

docs(changeset): fix: doesn’t validate files with external references
  .changeset/old-berries-chew.md
Due: prettier

fix: file references are not validated
  packages/cli/src/commands/validate/ValidateCommand.ts
  packages/cli/src/commands/validate/validate.test.ts
Due: prettier, eslint

fix: tests
  packages/openapi-parser/src/utils/dereference.test.ts
Due: prettier, eslint

feat(api-reference): Adds support for hash prefixing using manual control of useNavState in a consuming app
  packages/api-reference/src/components/Anchor/Anchor.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/components/Section/CompactSection.vue
  packages/api-reference/src/components/Section/Section.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

docs(changeset): Adds support for hash prefixing. Requires manual control of useNavState.
  .changeset/shaggy-mayflies-sell.md
Due: prettier

fix(openapi-parser): rewrite parser (#4182)
  .changeset/gold-cups-compare.md
  packages/openapi-parser/src/utils/resolveReferences.ts
Due: prettier, eslint

refactor: deconstruct snippetz methods
  packages/api-reference/src/helpers/getExampleCode.ts
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/snippetz/playground/src/App.vue
  packages/snippetz/playground/src/components/CodeExample.vue
  packages/snippetz/src/snippetz.test.ts
Due: prettier, eslint

fix: tests
  packages/api-reference/src/helpers/getExampleCode.ts
  packages/snippetz/package.json
  packages/snippetz/src/snippetz.test.ts
Due: prettier, eslint

docs(changeset): chore: remove httpsnippet-lite
  .changeset/tasty-mice-wonder.md
Due: prettier

chore: code style
  packages/api-reference/src/helpers/getExampleCode.ts
Due: prettier, eslint

chore: import from package types
  packages/snippetz/src/utils/convertWithHttpSnippetLite.ts
Due: prettier, eslint

chore: disable one eslint rule to make httpsnippet-lite code pass
  packages/snippetz/.eslintrc.cjs
Due: none

feat: drop har format type, try to work with the native fetch request type (wip)
  packages/snippetz/src/snippetz.ts
  packages/snippetz/src/types/index.ts
  packages/snippetz/src/utils/convertWithHttpSnippetLite.ts
Due: prettier, eslint

fix: tests
  packages/snippetz/src/httpsnippet-lite/esm/targets/clojure/clj_http/client.mjs
  packages/snippetz/src/utils/convertWithHttpSnippetLite.ts
Due: prettier, eslint

feat: cleaner code examples
  packages/snippetz/src/plugins/c/libcurl/libcurl.test.ts
  packages/snippetz/src/plugins/clojure/clj_http/clj_http.test.ts
  packages/snippetz/src/plugins/go/native/native.test.ts
  packages/snippetz/src/plugins/ruby/native/native.test.ts
  packages/snippetz/src/plugins/shell/httpie/httpie.test.ts
  packages/snippetz/src/plugins/shell/wget/wget.test.ts
  packages/snippetz/src/plugins/swift/nsurlsession/nsurlsession.test.ts
  packages/snippetz/src/utils/convertWithHttpSnippetLite.ts
Due: prettier, eslint

refactor: get rid of httpsnippet-lite (wip)
  packages/api-reference/src/helpers/convertRequestToHarRequest.ts
  packages/api-reference/src/helpers/getExampleCode.ts
Due: prettier, eslint

fix: remove query params
  packages/snippetz/src/httpsnippet-lite/esm/targets/clojure/clj_http/client.ts
Due: prettier, eslint

fix: can’t pass undefined
  packages/api-reference/src/helpers/getExampleCode.ts
Due: prettier, eslint

fix: tests
  packages/api-reference/src/stores/useHttpClientStore.test.ts
Due: prettier, eslint

fix: import and js alias
  packages/api-reference/src/helpers/getExampleCode.ts
  packages/snippetz/package.json
  packages/snippetz/src/httpsnippet-lite/index.ts
Due: prettier, eslint

feat: add Target type
  packages/snippetz/src/types/index.ts
Due: prettier, eslint

fix: tests
  packages/snippetz/src/plugins/clojure/clj_http/clj_http.test.ts
  packages/snippetz/src/plugins/go/native/native.test.ts
  packages/snippetz/src/plugins/ruby/native/native.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/httpie/httpie.test.ts
  packages/snippetz/src/plugins/shell/wget/wget.test.ts
  packages/snippetz/src/plugins/swift/nsurlsession/nsurlsession.test.ts
Due: prettier, eslint

feat: remove httpsnippet-lite
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/helpers/getExampleCode.ts
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/api-reference/src/types.ts
  packages/api-reference/tsconfig.json
  packages/snippetz/package.json
  packages/types/package.json
  packages/types/src/external/httpsnippet-lite.ts
  packages/types/src/external/index.ts
  packages/types/src/external/snippetz.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: try to move everything to the har-format HarRequest type
  packages/snippetz/src/plugins/c/libcurl/libcurl.test.ts
  packages/snippetz/src/plugins/clojure/clj_http/clj_http.test.ts
  packages/snippetz/src/plugins/go/native/native.test.ts
  packages/snippetz/src/plugins/ruby/native/native.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/httpie/httpie.test.ts
  packages/snippetz/src/plugins/shell/wget/wget.test.ts
  packages/snippetz/src/plugins/swift/nsurlsession/nsurlsession.test.ts
  packages/snippetz/src/snippetz.ts
  packages/snippetz/src/types/index.ts
  packages/snippetz/src/utils/convertWithHttpSnippetLite.ts
Due: prettier, eslint

chore: reset TS config
  packages/snippetz/tsconfig.json
Due: prettier

fix: types
  packages/api-reference/src/helpers/getExampleCode.test.ts
  packages/api-reference/src/helpers/getExampleCode.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
