Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

refactor(build): fail on unmapped package exports
  .changeset/spicy-masks-drop.md
  packages/api-reference/package.json
  tooling/scripts/vite-lib-config.test.ts
  tooling/scripts/vite-lib-config.ts
Due: prettier, biome

feat: add a tiny playground for use-toasts to test it
  packages/use-toasts/index.html
  packages/use-toasts/package.json
  packages/use-toasts/playground/App.vue
  packages/use-toasts/playground/main.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-reference, workspace-store): check for null origin on base url
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
Due: prettier, biome

refactor: code style
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
Due: prettier, biome

docs(changeset): fix: Allows sending requests when scalar is framed in srcdoc
  .changeset/plain-monkeys-talk.md
Due: prettier

fix(server-side-rendering): resolve standalone bundle from package root
  .changeset/spicy-masks-drop.md
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

fix(snippetz): fix go multipart file redeclaration
  .changeset/green-taxis-jump.md
  packages/snippetz/src/plugins/go/native/native.test.ts
  packages/snippetz/src/plugins/go/native/native.ts
Due: prettier, biome

refactor(server-side-rendering): read standalone path from browser field
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

fix(workspace-store): check for `'null'` origin on base url (#8852)
  .changeset/plain-monkeys-talk.md
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
Due: prettier, biome

fix: knip warnings
  knip.jsonc
Due: biome

feat(snippetz): add aiohttp python snippets
  documentation/configuration.md
  integrations/dotnet/shared/src/Scalar.Shared/Enums/ScalarClient.Generated.cs
  integrations/dotnet/shared/src/Scalar.Shared/Mapper/ScalarOptionsMapper.Generated.cs
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/enums/ScalarClient.java
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/generate-client-options.test.ts
  packages/snippetz/package.json
  packages/snippetz/scripts/generate-dotnet-enums.ts
  packages/snippetz/scripts/generate-java-enums.ts
  packages/snippetz/src/clients/index.ts
  packages/snippetz/src/plugins/python/requestsLike.ts
  packages/snippetz/src/snippetz.test.ts
  packages/types/src/snippetz/snippetz.ts
  packages/workspace-store/src/schemas/reference-config/reference-config.json
Due: prettier, biome

feat(snippetz): add python aiohttp client and corresponding tests
  .changeset/bright-lamps-drum.md
  packages/snippetz/src/plugins/python/aiohttp/aiohttp.test.ts
  packages/snippetz/src/plugins/python/aiohttp/aiohttp.ts
  packages/snippetz/src/plugins/python/aiohttp/index.ts
Due: prettier, biome

fix: correct indentation and formatting in generated files
  integrations/dotnet/shared/src/Scalar.Shared/Enums/ScalarClient.Generated.cs
  integrations/dotnet/shared/src/Scalar.Shared/Mapper/ScalarOptionsMapper.Generated.cs
Due: none

fix: change convertToPythonSyntax function to private scope
  packages/snippetz/src/plugins/python/requestsLike.ts
Due: prettier, biome

feat(tests): update GetHiddenClients test to include AioHttp client
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: none

resolve threads
  packages/components/src/components/ScalarVirtualText/ScalarVirtualText.vue
  packages/components/src/components/ScalarVirtualText/ScalarVirtualTextSearch.vue
Due: prettier, biome

feat: added deep equality check
  packages/api-client-react/package.json
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
  packages/helpers/src/object/is-object-equal.test.ts
  packages/helpers/src/object/is-object-equal.ts
  packages/helpers/src/object/is-object.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix: knip warnings (#8861)
  knip.jsonc
Due: biome

refactor(snippetz): add ruby plugin, remove httpsnippet-lite ruby plugin (#8858)
  .changeset/soft-coins-check.md
  packages/snippetz/src/httpsnippet-lite/targets/ruby/native/client.ts
  packages/snippetz/src/plugins/ruby/native/native.test.ts
  packages/snippetz/src/plugins/ruby/native/native.ts
Due: prettier, biome

refactor(snippetz): add go native plugin, remove httpsnippet-lite go plugin (#8832)
  .changeset/few-nights-work.md
  .changeset/green-taxis-jump.md
  packages/snippetz/src/httpsnippet-lite/targets/go/native/client.ts
  packages/snippetz/src/plugins/go/native/native.test.ts
  packages/snippetz/src/plugins/go/native/native.ts
Due: prettier, biome

fix(api-client-react): config is not reactive (#8840)
  .changeset/fast-moose-visit.md
  packages/api-client-react/README.md
  packages/api-client-react/package.json
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/lazy-load.ts
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
  packages/api-client/src/v2/features/modal/Modal.test.ts
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.test.ts
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
  packages/api-client/src/v2/features/modal/helpers/types.ts
  packages/api-client/src/v2/features/modal/index.ts
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/helpers/src/object/is-object-equal.test.ts
  packages/helpers/src/object/is-object-equal.ts
  packages/helpers/src/object/is-object.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: first moves
  packages/api-reference/src/features/Operation/helpers/operation-stability.test.ts
  packages/api-reference/src/features/Operation/helpers/operation-stability.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/helpers/has-response-content.test.ts
  packages/api-reference/src/features/example-responses/helpers/has-response-content.ts
  packages/api-reference/src/features/example-responses/helpers/normalize-mime-type-object.test.ts
  packages/api-reference/src/features/example-responses/helpers/normalize-mime-type-object.ts
  packages/api-reference/src/features/example-responses/helpers/normalize-mime-type.test.ts
  packages/api-reference/src/features/example-responses/helpers/normalize-mime-type.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/should-ignore-entity.test.ts
  packages/oas-utils/src/helpers/should-ignore-entity.ts
Due: prettier, biome

feat: new exports and docs
  packages/api-client-react/README.md
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/playground/app/index.html
  packages/api-client/playground/app/main.ts
  packages/api-client/playground/modal/index.html
  packages/api-client/playground/modal/main.ts
  packages/api-client/playground/test/index.ts
  packages/api-client/playground/web/index.html
  packages/api-client/playground/web/main.ts
Due: prettier, biome

chore: update imports
  packages/agent-chat/src/Chat.vue
  packages/agent-chat/src/views/Settings/Auth.vue
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/src/index.ts
  packages/api-client-react/src/lazy-load.test.ts
  packages/api-client-react/src/lazy-load.ts
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
  packages/api-reference/src/blocks/scalar-client-selector-block/components/ClientDropdown.vue
  packages/api-reference/src/blocks/scalar-client-selector-block/components/ClientSelector.test.ts
  packages/api-reference/src/blocks/scalar-client-selector-block/components/ClientSelector.vue
  packages/api-reference/src/blocks/scalar-client-selector-block/helpers/featured-clients.test.ts
  packages/api-reference/src/blocks/scalar-client-selector-block/helpers/featured-clients.ts
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Auth/Auth.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Operations/TraversedEntry.vue
  packages/api-reference/src/components/Content/Schema/SchemaObjectExampleCodeBlock.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/example-responses/ExampleResponse.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/ExampleSchema.vue
  packages/api-reference/src/helpers/load-from-perssistance.ts
  packages/api-reference/src/helpers/map-config-to-workspace-store.ts
Due: prettier, biome

docs(changeset): feat: remove old api-client exports and make v2 the main export
  .changeset/old-dryers-wink.md
Due: prettier

docs(changeset): chore: updated imports to new api client version
  .changeset/full-badgers-watch.md
Due: prettier

fix: tests
  .changeset/full-badgers-watch.md
  packages/api-reference/src/components/OperationsList/OperationsListItem.test.ts
Due: prettier, biome

fix: exports and knip
  knip.jsonc
  packages/api-client/package.json
  packages/api-reference/src/components/OperationsList/OperationsListItem.test.ts
Due: prettier, biome

formatting
  integrations/fastify/src/fastifyApiReference.test.ts
Due: prettier, biome

chore: cheeky
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-snippet.ts
Due: prettier, biome

fix ci
  .github/workflows/ci.yml
Due: prettier

fix: export
  packages/api-client/package.json
Due: prettier, biome

chore: update minor
  .changeset/full-badgers-watch.md
Due: prettier

skip empty shards
  .github/workflows/ci.yml
Due: prettier

feat(api-reference): show auth icon in operation headers
  .changeset/real-owls-collect.md
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, biome
