Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

docs(changeset): refactor: move helpers to the helpers package to share primitive helpers
  .changeset/empty-streets-add.md
Due: prettier

docs(changeset): fix: correctly handle circular documents during the migration to indexdb
  .changeset/spicy-kids-help.md
Due: prettier

docs(changeset): fix: properly parse json pointers
  .changeset/hungry-maps-travel.md
Due: prettier

removeo unused helper
  packages/json-magic/src/helpers/json-path-utils.test.ts
  packages/json-magic/src/helpers/json-path-utils.ts
Due: prettier, biome

chore: fix tests
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
Due: prettier, biome

remove
  packages/workspace-store/src/navigation/helpers/traverse-examples.ts
Due: prettier, biome

fix(workspace-store, oas-utils): fix document ingress and migration script (#8310)
  .changeset/empty-streets-add.md
  .changeset/hungry-maps-travel.md
  .changeset/spicy-kids-help.md
  packages/api-client/src/v2/helpers/drag-handle-factory.test.ts
  packages/api-client/src/v2/helpers/drag-handle-factory.ts
  packages/api-client/src/v2/helpers/remove-circular.test.ts
  packages/api-client/src/v2/helpers/remove-circular.ts
  packages/helpers/esbuild.ts
  packages/helpers/package.json
  packages/helpers/src/json/escape-json-pointer.test.ts
  packages/helpers/src/json/escape-json-pointer.ts
  packages/helpers/src/json/parse-json-pointer-segments.test.ts
  packages/helpers/src/json/parse-json-pointer-segments.ts
  packages/helpers/src/json/unescape-json-pointer.test.ts
  packages/helpers/src/json/unescape-json-pointer.ts
  packages/helpers/src/object/circular-to-refs.test.ts
  packages/helpers/src/object/circular-to-refs.ts
  packages/helpers/src/object/get-value-at-path.test.ts
  packages/helpers/src/object/get-value-at-path.ts
  packages/helpers/src/object/to-json-compatible.test.ts
  packages/helpers/src/object/to-json-compatible.ts
  packages/helpers/src/queue/queue.test.ts
  packages/helpers/src/queue/queue.ts
  packages/json-magic/src/helpers/json-path-utils.test.ts
  packages/json-magic/src/helpers/json-path-utils.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/json-path-utils.test.ts
  packages/workspace-store/src/helpers/json-path-utils.ts
  packages/workspace-store/src/plugins/bundler/helpers.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

feat(docs): add agent tab
  documentation/assets/styles.css
  scalar.config.json
Due: prettier, biome

feat(docs): add agent tab (#8312)
  documentation/assets/styles.css
  scalar.config.json
Due: prettier, biome

docs: `project publish --github` (#8309)
  documentation/guides/docs/deployment/cli.md
Due: prettier

refactor(docs): update deployment configuration guidance and remove deprecated settings from scalar.config.json (#8308)
  documentation/guides/docs/deployment/automatic-deployment.md
  documentation/guides/docs/deployment/preview-deployments.md
  documentation/migration/api-hub.md
  documentation/migration/stoplight.md
  documentation/migration/zuplo.md
  scalar.config.json
Due: prettier, biome

docs(changeset): fix: assets not published (#8305)
  .changeset/strict-zoos-mix.md
Due: prettier

docs(django-ninja, fastapi): server configuration documentation to reflect OpenAPI Server Object (#8304)
  .changeset/all-eels-arrive.md
  documentation/integrations/django-ninja.md
  documentation/integrations/fastapi.md
  integrations/django-ninja/scalar_ninja/scalar_ninja.py
  integrations/django-ninja/tests/test_scalar_django_ninja.py
  integrations/fastapi/scalar_fastapi/scalar_fastapi.py
  integrations/fastapi/tests/test_scalar_fastapi.py
Due: prettier

fix: correctly cache schema examples and resolve schema on the fly
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-example-from-schema.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/ExampleSchema.vue
Due: prettier, biome

docs(changeset): fix: correctly cache schema examples
  .changeset/kind-socks-cry.md
Due: prettier

docs(changeset): chore: resolve schemas on demand
  .changeset/dark-trees-melt.md
Due: prettier

resolve threads
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/ExampleSchema.vue
Due: prettier, biome

docs(changeset): feat(theme): standardize tailwind line height behavior
  .changeset/nine-apples-scream.md
Due: prettier

docs(changeset): feat(theme): standardize tailwind line height behavior (#8315)
  .changeset/nine-apples-scream.md
Due: prettier

chore: resolve threads
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/helpers/create-api-client-app.ts
  packages/api-client/src/v2/features/collection/components/Editor/Editor.vue
  packages/api-client/src/v2/features/collection/components/Editor/helpers/json-pointer-links.ts
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-editor.ts
  packages/api-client/src/v2/features/collection/components/Tabs.vue
Due: prettier, biome

Revert "feat(theme): standardize tailwind line height behavior (#8277)"
  packages/api-client/src/components/DataTable/DataTableCell.vue
  packages/api-client/src/components/Server/ServerSelector.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/ViewLayout/ViewLayout.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyStreaming.vue
  packages/api-client/src/v2/components/data-table/DataTableCell.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/DownloadAppButton.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyStreaming.vue
  packages/api-reference/src/blocks/scalar-server-selector-block/components/Selector.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callback.vue
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarForm/ScalarFormInput.vue
  packages/components/src/components/ScalarForm/snapshots/with-fields.png
  packages/components/src/components/ScalarHeader/ScalarHeaderButton.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarButton.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarGroup.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarItem.vue
  packages/components/src/components/ScalarSidebar/snapshots/base-1-collapsed.png
  packages/components/src/components/ScalarSidebar/snapshots/base-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-2-hover.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-3-selected.png
  packages/components/src/components/ScalarToggle/snapshots/grouped-1-untoggled.png
  packages/components/src/components/ScalarToggle/snapshots/grouped-2-toggled.png
  packages/components/src/components/ScalarToggle/snapshots/grouped-3-retoggled.png
  packages/components/src/components/ScalarToggle/snapshots/input-1-untoggled.png
  packages/components/src/components/ScalarToggle/snapshots/input-2-toggled.png
  packages/components/src/components/ScalarTooltip/ScalarTooltip.vue
  packages/themes/src/tailwind/theme.css
Due: prettier, biome

docs(changeset): fix: display the referenced name
  .changeset/six-guests-slide.md
Due: prettier

fix(docs): make our h1 more clear
  documentation/guides/introduction.md
Due: prettier

fix(docs): make our h1 more clear (#8318)
  documentation/guides/introduction.md
Due: prettier

fix(components): fix adjust sidebar section line height
  packages/components/src/components/ScalarForm/ScalarFormField.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarSection.vue
Due: prettier, biome

revert(components): revert snapshots
  packages/components/src/components/ScalarSidebar/snapshots/base-1-collapsed.png
  packages/components/src/components/ScalarSidebar/snapshots/base-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-2-hover.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-3-selected.png
Due: none

docs(changeset): fix(components): fix adjust sidebar section line height
  .changeset/chilly-keys-sleep.md
Due: prettier

resolve threads + fix tests
  packages/api-client/src/v2/features/collection/components/Editor/helpers/json-pointer-links.ts
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-editor.ts
  packages/api-client/vite.config.ts
Due: prettier, biome

fix(components): fix sidebar section line height (#8319)
  .changeset/chilly-keys-sleep.md
  packages/components/src/components/ScalarForm/ScalarFormField.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarSection.vue
  packages/components/src/components/ScalarSidebar/snapshots/base-1-collapsed.png
  packages/components/src/components/ScalarSidebar/snapshots/base-2-expanded.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-2-hover.png
  packages/components/src/components/ScalarSidebar/snapshots/themed-3-selected.png
Due: prettier, biome

feat: use scalar config schema from registry
  documentation/guides/docs/configuration/domains.md
  documentation/guides/docs/configuration/migration.md
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/redirects.md
  documentation/guides/docs/configuration/site-config.md
  documentation/guides/docs/configuration/themes.md
  documentation/guides/docs/content/assets.md
  documentation/guides/docs/content/html-css-js.md
  documentation/guides/docs/content/mdx.mdx
  documentation/migration/api-hub.md
  documentation/migration/stoplight.md
  documentation/migration/zuplo.md
  scalar.config.json
Due: prettier, biome

docs(changeset): chore: limit concurrent operations while migrating workspaces
  .changeset/icy-fans-spend.md
Due: prettier

chore: limit concurent operations while migrating workspaces
  packages/helpers/src/general/create-limiter.test.ts
  packages/helpers/src/general/create-limiter.ts
  packages/json-magic/src/bundle/create-limiter.test.ts
  packages/json-magic/src/bundle/plugins/fetch-urls/index.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

feat: upgrade to node 24
  .github/workflows/blacksmith-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/renovate-config-validation.yml
  .github/workflows/scalar-registry-preview-delete.yml
  .github/workflows/update-scalar-cli-documentation.yml
  .github/workflows/validate-scalar-configuration.yaml
  .nvmrc
  documentation/guides/cli/getting-started.md
  documentation/guides/docs/deployment/github-actions.md
  documentation/guides/registry/github-actions.md
  documentation/guides/registry/rules.md
  documentation/guides/registry/schemas.md
  documentation/guides/sdks/publishing.md
  documentation/integrations/aspnetcore/build-time-generation.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier

chore: changeset
  .changeset/strict-planes-double.md
Due: prettier

chore: clean up
  documentation/guides/cli/getting-started.md
Due: prettier

Revert "feat(docs): add agent tab (#8312)"
  documentation/assets/styles.css
  scalar.config.json
Due: prettier, biome

refactor: add agent scalar to the header
  scalar.config.json
Due: prettier, biome

feat: add demo link to agent scalar docs
  documentation/guides/agent/getting-started.md
Due: prettier

docs: add agent scalar to gh root README
  README.md
Due: prettier

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
