Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore(galaxy): use Node script instead of bash script (#2118)
  .changeset/clean-readers-unite.md
  packages/galaxy/package.json
  packages/galaxy/scripts/format.sh
  packages/galaxy/scripts/format.ts
Due: prettier, eslint

fix(themes): kepler theme dark mode (#2119)
  .changeset/silent-ears-play.md
  packages/themes/src/presets/kepler.css
Due: prettier

fix(client-app): data table cell checkbox width
  packages/client-app/src/components/DataTable/DataTableCell.vue
Due: prettier, eslint

fix: docusaurus border radius
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, eslint

docs(changeset): fix: docusaurus scalar codeblock border radius
  .changeset/young-students-add.md
Due: prettier

fix: docusaurus border radius (#2133)
  .changeset/young-students-add.md
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, eslint

fix(api-reference): disable new api client modal
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

docs(changeset): fix: disable new api client modal
  .changeset/gentle-horses-push.md
Due: prettier

fix(api-reference): api client modal style overlap (#2136)
  .changeset/gentle-horses-push.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

fix(api-reference): import api client modal old
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

docs(changeset): fix: import api client modal old
  .changeset/hungry-onions-collect.md
Due: prettier

chore: simplify cdn server
  examples/cdn-api-reference/src/index.ts
  examples/cdn-api-reference/src/public/api-reference-local.html
  examples/cdn-api-reference/src/public/play-button-local.html
  playwright/tests/jsdelivr.spec.ts
  playwright/tests/local.spec.ts
Due: prettier, eslint

docs(changeset): fix: api reference allof items merge objects
  .changeset/long-radios-punch.md
Due: prettier

fix(api-reference): allof items merge objects
  packages/api-reference/src/components/Content/Operation/PathResponses/ExampleResponse.vue
Due: prettier, eslint

chore: disable cache for all static files
  examples/cdn-api-reference/src/index.ts
Due: prettier, eslint

ci: send a slack message for all test jsdelivr workflow runs
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

Revert "ci: use github bot to create PRs (#2117)"
  .github/workflows/release.yml
Due: prettier

ci: switch slack webhook type
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

feat(client-app): environment name editable
  packages/client-app/src/views/Environment/Environment.vue
Due: prettier, eslint

docs: add a detailed react integration guide
  documentation/react.md
Due: prettier

docs: add syntax highlighting to adonis js code examples
  documentation/adonisjs.md
Due: prettier

docs: remove unused React import from code example
  README.md
Due: prettier

docs: add a link to the React integration guide
  README.md
Due: prettier

fix(client-app): display hide icon in reference only
  packages/client-app/src/views/Request/Request.vue
Due: prettier, eslint

docs: wording
  documentation/react.md
Due: prettier

feat(client-app): sidebar toggle hotkey
  packages/client-app/src/views/Request/Request.vue
Due: prettier, eslint

feat(components): scalar icon loading placeholder (#2088)
  .github/workflows/deploy-preview-examples.yml
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIcon/icons/index.ts
Due: prettier, eslint

Revert "ci: use github bot to create PRs (#2117)" (#2148)
  .github/workflows/release.yml
Due: prettier

fix(client-app): display hide icon in reference only (#2143)
  packages/client-app/src/views/Request/Request.vue
Due: prettier, eslint

chore(cdn-api-reference): simplify cdn server (#2147)
  examples/cdn-api-reference/src/index.ts
  examples/cdn-api-reference/src/public/api-reference-local.html
  examples/cdn-api-reference/src/public/play-button-local.html
  playwright/tests/jsdelivr.spec.ts
  playwright/tests/local.spec.ts
Due: prettier, eslint

feat(client-app): environment name editable (#2150)
  packages/client-app/src/views/Environment/Environment.vue
Due: prettier, eslint

fix: pack packages script for testin (#2132)
  scripts/pack-packages.sh
Due: none

docs: detailed integration guide for React (#2151)
  README.md
  documentation/adonisjs.md
  documentation/react.md
Due: prettier

fix: support commonjs docusaurus builds
  packages/docusaurus/src/ScalarDocusaurusCommonJS.tsx
  packages/docusaurus/src/index.ts
Due: prettier, eslint

docs(changeset): fix: support commonjs docusaurus builds
  .changeset/sour-feet-applaud.md
Due: prettier

fix: support commonjs docusaurus builds (#2153)
  .changeset/sour-feet-applaud.md
  packages/docusaurus/src/ScalarDocusaurusCommonJS.tsx
  packages/docusaurus/src/index.ts
Due: prettier, eslint

fix: dont parse json from fetch just as text
  packages/docusaurus/src/index.ts
Due: prettier, eslint

docs(changeset): fix: dont parse json from fetch just as text
  .changeset/flat-grapes-bake.md
Due: prettier

RELEASING: Releasing 1 package(s) (#2154)
  .changeset/sour-feet-applaud.md
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
Due: prettier
