Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: Add “map” command for schema modification
  examples/fastify-api-reference/src/index.ts
  packages/openapi-parser/src/types/index.ts
  packages/openapi-parser/src/utils/load/load.ts
  packages/openapi-parser/src/utils/map.ts
  packages/openapi-parser/src/utils/openapi/commands/loadCommand.ts
  packages/openapi-parser/src/utils/openapi/commands/mapCommand.ts
  packages/openapi-parser/src/utils/openapi/utils/workThroughQueue.ts
Due: prettier, eslint

feat: Spec. modification in fastify-api-reference
  examples/fastify-api-reference/src/index.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/src/types.ts
Due: prettier, eslint

test: Add tests for new functionality
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/openapi/utils/workThroughQueue.test.ts
Due: prettier, eslint

docs(changeset): Add a hook to `fastify-api-reference` to conditionally modify schema
  .changeset/proud-flowers-march.md
Due: prettier

docs: Update documentation
  packages/fastify-api-reference/README.md
  packages/openapi-parser/README.md
Due: prettier

feat: Improved package and multiple documents
  packages/scalar.aspnetcore/.dockerignore
  packages/scalar.aspnetcore/.editorconfig
  packages/scalar.aspnetcore/README.md
  packages/scalar.aspnetcore/docker-compose.yml
  packages/scalar.aspnetcore/package.json
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Dockerfile
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Properties/launchSettings.json
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/DefaultHttpClient.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/StaticAssets/scalar.aspnetcore.js
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/Scalar.AspNetCore.Tests.csproj
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointRouteBuilderExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/Usings.cs
  packages/scalar.aspnetcore/tests/apis/Scalar.AspNetCore.Tests.Api/Program.cs
Due: prettier, eslint

chore: delete old proxy package
  packages/api-client-proxy/CHANGELOG.md
  packages/api-client-proxy/README.md
  packages/api-client-proxy/package.json
  packages/api-client-proxy/src/createApiClientProxy.test.ts
  packages/api-client-proxy/src/createApiClientProxy.ts
  packages/api-client-proxy/src/index.ts
  packages/api-client-proxy/tsconfig.build.json
  packages/api-client-proxy/tsconfig.json
  packages/api-client-proxy/vite.config.ts
  projects/client-scalar-com/index.html
  projects/client-scalar-com/package.json
  projects/client-scalar-com/src/main.ts
  projects/client-scalar-com/tsconfig.json
  projects/client-scalar-com/vite.config.ts
  vitest.workspace.ts
Due: prettier, eslint

feat: Cleanup snippetz playground and remove external dep
  packages/snippetz/index.html
  packages/snippetz/package.json
  packages/snippetz/playground/App.vue
  packages/snippetz/playground/CodeExample.vue
  packages/snippetz/playground/main.ts
  packages/snippetz/playground/package.json
  packages/snippetz/playground/src/components/CodeExample.vue
  packages/snippetz/playground/style.css
  packages/snippetz/playground/tsconfig.build.json
  packages/snippetz/playground/vite.config.ts
  packages/snippetz/rollup.config.ts
  packages/snippetz/src/index.ts
  packages/snippetz/src/snippetz.ts
  packages/snippetz/vite.config.ts
Due: prettier, eslint

chore: added agent scalar exports
  packages/api-client/package.json
  packages/api-client/src/views/Request/RequestSection/index.ts
  packages/api-client/src/views/Request/ResponseSection/index.ts
Due: prettier, eslint

feat: added overrides to active entities
  packages/api-client/src/hooks/useLayout.ts
  packages/api-client/src/libs/importers/index.ts
  packages/api-client/src/store/active-entities.ts
Due: prettier, eslint

chore: revert change in express package
  packages/express-api-reference/playground/package.json
Due: prettier

chore: move fastify example
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/playground/index.ts
  packages/fastify-api-reference/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: package_format, prettier, eslint

chore: change set
  .changeset/tender-impalas-build.md
Due: prettier

chore: move and build example with rollup
  cloudbuild.yaml
  examples/fastify-api-reference/.dockerignore
  examples/fastify-api-reference/Dockerfile
  examples/fastify-api-reference/tsconfig.json
  examples/fastify-api-reference/vite.config.ts
  packages/fastify-api-reference/Dockerfile
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/playground/index.ts
  packages/fastify-api-reference/playground/package.json
  packages/fastify-api-reference/playground/rollup.config.ts
  packages/fastify-api-reference/playground/src/index.ts
  packages/fastify-api-reference/playground/tsconfig.build.json
  packages/fastify-api-reference/playground/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add dockerfile
  packages/fastify-api-reference/Dockerfile
Due: none

chore: update fastify mocked api
  packages/fastify-api-reference/playground/src/index.ts
Due: prettier, eslint

test: move exports test, remove cjs test
  packages/fastify-api-reference/exports.test.ts
  packages/fastify-api-reference/tests/exports.test.ts
Due: prettier, eslint

fix: playground doesn’t reload
  packages/express-api-reference/playground/package.json
  packages/fastify-api-reference/playground/package.json
Due: prettier

fix: express playground doesn’t watch for file changes
  packages/express-api-reference/playground/package.json
Due: prettier

chore: add docker build and run scripts
  packages/express-api-reference/package.json
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/playground/package.json
Due: prettier

chore: non-verbose output for nodemon
  packages/fastify-api-reference/playground/package.json
Due: prettier

Update .changeset/tender-impalas-build.md
  .changeset/tender-impalas-build.md
Due: prettier

Fix keys being overwritten
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
Due: prettier, eslint

docs(changeset): Fix multipart form body keys not being updated correctly
  .changeset/small-camels-share.md
Due: prettier

docs: add django integration to the root README
  README.md
Due: prettier

fix: broken code blocks for big snippets
  packages/snippetz/playground/App.vue
  packages/snippetz/playground/CodeExample.vue
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

docs: remove lean usage example
  packages/snippetz/README.md
Due: prettier

docs(changeset): fix: remove circular dependency
  .changeset/good-squids-warn.md
Due: prettier

chore: remove snippetz playground from pnpm config
  pnpm-workspace.yaml
Due: prettier

chore: update the build process
  packages/use-tooltip/package.json
  packages/use-tooltip/rollup.config.ts
  packages/use-tooltip/tsconfig.build.json
  packages/use-tooltip/vite.config.ts
Due: prettier, eslint

test: useTooltip
  packages/use-tooltip/src/useTooltip.test.ts
Due: prettier, eslint

chore: add comments
  packages/use-tooltip/src/isMacOS.ts
  packages/use-tooltip/src/useTooltip.ts
Due: prettier, eslint

docs(changeset): chore: replace Vite with rollup
  .changeset/green-olives-cough.md
Due: prettier

chore: merge vitest config and vite config
  packages/themes/vite.config.ts
  packages/themes/vitest.config.ts
Due: prettier, eslint

chore: clean up types, remove dependency
  packages/themes/env.d.ts
  packages/themes/package.json
  packages/themes/src/index.ts
  packages/themes/tsconfig.json
Due: prettier, eslint

chore: add a comment to the types package
  packages/types/src/legacy/reference-config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): chore: remove dependencies, clean up types
  .changeset/fresh-kings-shave.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
