Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

generate schema logic factor out
  packages/workspace-store/src/client.ts
Due: prettier, biome

fix(workspace-store): group imports in openapi type script
  packages/workspace-store/scripts/generate-openapi-types.ts
Due: prettier, biome

resolve cursor comment
  packages/workspace-store/scripts/generate-openapi-types.ts
Due: prettier, biome

generate schema once
  packages/workspace-store/src/client.ts
Due: prettier, biome

feat: display tag groups for classic layout
  packages/api-reference/src/components/Content/Operations/TraversedEntry.vue
Due: prettier, biome

docs(changeset): feat: display tag groups for classic layout
  .changeset/smart-rings-follow.md
Due: prettier

add snapshot tests
  packages/api-reference/test/snapshots/tag-groups-classic.e2e.ts
  packages/api-reference/test/snapshots/tag-groups-classic.e2e.ts.snapshots/classic-layout-tag-group-galaxy-expanded.png
  packages/api-reference/test/utils/sources.ts
Due: prettier, biome

feat(api-client): improve editor background color handling
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

feat(api-client): round corners on monaco editor
  packages/api-client/src/v2/features/collection/components/Editor/Editor.vue
Due: prettier, biome

docs(changeset): fix(api-client): improve editor background color handling
  .changeset/sour-pillows-ask.md
Due: prettier

feat(api-client): handle selector lists
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

test(api-client): add theme preset parsing coverage
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
Due: prettier, biome

fix(api-client): make css variable parsing robust in tests
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

fix(api-reference): infer mapping variants for display
  .changeset/fair-seas-smile.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/helpers/active-document.ts
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
Due: prettier, biome

test(api-client): hardcode expected theme parsing outputs
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
Due: prettier, biome

fix: correctly highlight active sections on the sidebar
  packages/api-reference/src/hooks/use-intersection.ts
Due: prettier, biome

remove old behavior
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/hooks/use-intersection.ts
Due: prettier, biome

docs(changeset): fix: intersection observer for scroll-spy and tall sections
  .changeset/hungry-dots-fetch.md
Due: prettier

test(api-client): add preset parsing tests
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

feat(api-client): add conversion logic
  packages/api-client/src/v2/features/editor/helpers/theme/apply-scalar-theme.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

fix(api-reference): intersection observer for scroll-spy and tall sections (#8612)
  .changeset/hungry-dots-fetch.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/hooks/use-intersection.ts
Due: prettier, biome

fix(api-client): improve editor background color handling (#8610)
  .changeset/sour-pillows-ask.md
  packages/api-client/src/v2/features/collection/components/Editor/Editor.vue
  packages/api-client/src/v2/features/editor/helpers/theme/apply-scalar-theme.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.test.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
Due: prettier, biome

docs(scalar-config): add colorScheme and search configuration documentation (#8602)
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/scalar.config.json.md
  documentation/guides/docs/configuration/site-config.md
Due: prettier

docs(blog): draft for mcp oauth (#8589)
  documentation/blog/2026-03-25-scalar-mcp-oauth.md
  documentation/blog/index.md
  scalar.config.json
  tooling/scripts/src/commands/generate-blog.ts
Due: prettier, biome

chore: update lock file
  pnpm-lock.yaml
  projects/galaxy-scalar-com/package.json
Due: packages-format, prettier, biome

feat: better ssr (wip)
  examples/vue-ssr/index.html
  examples/vue-ssr/server.ts
  examples/vue-ssr/src/entry-client.ts
  examples/vue-ssr/src/entry-server.ts
  integrations/hono/package.json
  integrations/hono/playground/index.ts
  integrations/hono/src/index.ts
  integrations/hono/src/scalar.test.ts
  integrations/hono/src/scalar.ts
  packages/api-reference/src/ssr.test.ts
  packages/api-reference/src/ssr.ts
  packages/api-reference/src/standalone/lib/html-api.ts
  packages/api-reference/vite.config.ts
Due: prettier, biome

chore: format
  projects/galaxy-scalar-com/package.json
Due: prettier, biome

docs(changeset): feat: SSR helper
  .changeset/cuddly-roses-exist.md
Due: prettier

feat: shared config for server/client (ssr)
  examples/vue-ssr/src/config.ts
  examples/vue-ssr/src/entry-client.ts
  examples/vue-ssr/src/entry-server.ts
Due: prettier, biome

feat: render html just once (in production)
  examples/vue-ssr/server.ts
Due: prettier, biome

refactor: move ssr helpers to new package (wip)
  examples/vue-ssr/index.html
  examples/vue-ssr/package.json
  examples/vue-ssr/server.ts
  examples/vue-ssr/src/App.vue
  examples/vue-ssr/src/AppWithJsApi.vue
  examples/vue-ssr/src/config.ts
  examples/vue-ssr/src/entry-client.ts
  examples/vue-ssr/src/entry-server.ts
  examples/vue-ssr/src/main.ts
  examples/vue-ssr/src/vite-env.d.ts
  examples/vue-ssr/vite.config.ts
  packages/html-rendering/README.md
  packages/html-rendering/package.json
  packages/html-rendering/src/client/html-rendering.test.ts
  packages/html-rendering/src/client/html-rendering.ts
  packages/html-rendering/src/client/index.ts
  packages/html-rendering/src/server/index.ts
  packages/html-rendering/src/server/ssr.test.ts
  packages/html-rendering/src/server/ssr.ts
  packages/html-rendering/tsconfig.build.json
  packages/html-rendering/tsconfig.json
  packages/html-rendering/vite.config.ts
  packages/workspace-store/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

refactor: streamline api for client-side and server-side rendering
  examples/vue-ssr/server.ts
  packages/html-rendering/src/client/html-rendering.test.ts
  packages/html-rendering/src/client/html-rendering.ts
  packages/html-rendering/src/client/index.ts
  packages/html-rendering/src/server/ssr.test.ts
  packages/html-rendering/src/server/ssr.ts
Due: prettier, biome

docs(pricing): clarify seat minimum and fees
  documentation/guides/agent/pricing.md
  documentation/guides/pricing.md
Due: prettier

docs(pricing): correct pro per-seat amount
  documentation/guides/agent/pricing.md
  documentation/guides/pricing.md
Due: prettier

refactor: use @scalar/client-side-rendering in @scalar/core
  examples/vue-ssr/package.json
  examples/vue-ssr/server.ts
  packages/client-side-rendering/README.md
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.test.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/src/index.ts
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/client-side-rendering/tsconfig.build.json
  packages/client-side-rendering/tsconfig.json
  packages/core/src/libs/html-rendering/html-rendering.ts
  packages/html-rendering/README.md
  packages/server-side-rendering/README.md
  packages/server-side-rendering/package.json
  packages/server-side-rendering/src/index.ts
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
  packages/server-side-rendering/tsconfig.build.json
  packages/server-side-rendering/tsconfig.json
  packages/server-side-rendering/vite.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat: serialize js functions
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

chore: reset hono integration
  integrations/hono/package.json
  integrations/hono/playground/index.ts
  integrations/hono/src/index.ts
  integrations/hono/src/scalar.test.ts
  integrations/hono/src/scalar.ts
Due: prettier, biome

refactor: make the vue-ssr example a playground
  examples/vue-ssr/package.json
  packages/client-side-rendering/README.md
  packages/server-side-rendering/README.md
  packages/server-side-rendering/package.json
  packages/server-side-rendering/playground/server.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

Potential fix for code scanning alert no. 324: Bad HTML filtering regexp
  packages/server-side-rendering/src/ssr.test.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
