Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: make config package public
  packages/config/package.json
Due: prettier

chore: add variables to the openapi examples
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

docs(changeset): feat: add variables to the second server
  .changeset/afraid-guests-vanish.md
Due: prettier

feat: client target and url select input
  packages/snippetz/package.json
  packages/snippetz/playground/src/App.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

adding test
  packages/openapi-parser/src/utils/resolveReferences.test.ts
Due: prettier, eslint

feat: select and display valid snippet options
  packages/snippetz/playground/src/App.vue
Due: prettier, eslint

chore: code style
  packages/snippetz/playground/src/App.vue
Due: prettier, eslint

chore: dockerfile and build config
  packages/snippetz/Dockerfile
  packages/snippetz/rollup.config.ts
Due: prettier, eslint

chore: playground build wip
  packages/snippetz/Dockerfile
  packages/snippetz/package.json
  packages/snippetz/rollup.config.ts
Due: prettier, eslint

fix: OpenAPI 3.1 schema doesn’t allow variables in URLs
  packages/openapi-parser/schemas/v3.1/schema.json
Due: prettier

chore: allow any string for server URLs
  packages/openapi-parser/schemas/v3.1/schema.json
Due: prettier

chore: allow https only
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

feat: add OpenAPI version to the validate error output
  packages/cli/src/commands/validate/ValidateCommand.ts
Due: prettier, eslint

docs(changeset): fix: server URLs with variables are considered not valid
  .changeset/lazy-dancers-push.md
Due: prettier

docs(changeset): feat: self reference the document
  .changeset/khaki-cheetahs-doubt.md
Due: prettier

refactor: code style
  packages/openapi-parser/src/utils/resolveReferences.ts
Due: prettier, eslint

docs: update text
  README.md
Due: prettier

feat(openapi-parser): self reference the document (#3321)
  .changeset/khaki-cheetahs-doubt.md
  packages/openapi-parser/src/utils/resolveReferences.test.ts
  packages/openapi-parser/src/utils/resolveReferences.ts
Due: prettier, eslint

refactor: fetch urls from a remote URL
  packages/api-reference/playground/examples/src/App.vue
  packages/api-reference/playground/examples/src/examples.ts
Due: prettier, eslint

chore: disable test for a feature that isn’t done
  packages/openapi-parser/tests/openapi3-examples/3.1/fail/server_enum_unknown.test.ts
Due: prettier, eslint

chore: make config package public (#3322)
  packages/config/package.json
Due: prettier

fix: test
  packages/openapi-parser/tests/openapi3-examples/3.1/fail/server_enum_empty.test.ts
Due: prettier, eslint

docs(changeset): feat: add import modal
  .changeset/shaggy-lizards-appear.md
Due: prettier

feat: add import modal
  packages/api-client/src/components/ImportFlow/ImportFlow.vue
  packages/api-client/src/components/ImportFlow/index.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
Due: prettier, eslint

feat: redirect to new collection
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

return collection from importSpecFromUrl, too
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/store/import-spec.ts
Due: prettier, eslint

feat: add drop and paste events, make it all more solid
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/index.ts
  packages/api-client/src/components/ImportFlow/index.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
Due: prettier, eslint

feat: preview dropped/pasted openapi documents
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

feat: add openapi document preview
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: import always uses default workspace
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

feat: use yaml/json syntax highlighting for the document preview
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

feat: show overlay only for relevant files
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
Due: prettier, eslint

feat: add a drag’n’drop overlay
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
Due: prettier, eslint

feat: prefetch urls
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

feat: add proxy support
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

style: slightly improve the layout
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/ImportNowButton.vue
  packages/api-client/src/components/ImportCollection/LoadingScreen.vue
  packages/api-client/src/components/ImportCollection/OpenAppButton.vue
Due: prettier, eslint

chore: clean up
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

refactor: move remaining event listeners to separate components
  packages/api-client/src/components/ImportCollection/DropEventListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/PasteEventListener.vue
  packages/api-client/src/components/ImportCollection/UrlQueryParameterChecker.vue
Due: prettier, eslint

refactor: move modal code to separate components
  packages/api-client/src/components/ImportCollection/DownloadLink.vue
  packages/api-client/src/components/ImportCollection/DropEventListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/ImportNowButton.vue
  packages/api-client/src/components/ImportCollection/LoadingScreen.vue
  packages/api-client/src/components/ImportCollection/OpenApiDocumentPreview.vue
  packages/api-client/src/components/ImportCollection/OpenAppButton.vue
  packages/api-client/src/components/ImportCollection/hooks/useUrlPrefetcher.ts
  packages/api-client/src/components/ImportCollection/utils/getOpenApiDocumentVersion.ts
  packages/api-client/src/components/ImportCollection/utils/isDocument.ts
  packages/api-client/src/components/ImportCollection/utils/isUrl.ts
Due: prettier, eslint

chore: improve prefetching
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
