Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

feat(workspace-store): validate documents with the OpenAPI 3.2 schemas
  .changeset/store-uses-openapi-3-2-schemas.md
  packages/workspace-store/src/client.ts
Due: prettier, biome

fix(workspace-store): preserve supported fields in OpenAPI 3.2 schemas
  .changeset/openapi-request-body-view.md
  .changeset/store-uses-openapi-3-2-schemas.md
  packages/api-reference/src/features/Operation/components/OperationParameters.test.ts
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/workspace-store/src/schemas/v3.2/openapi/index.ts
  packages/workspace-store/src/schemas/v3.2/strict/openapi-document.test.ts
  packages/workspace-store/src/schemas/v3.2/strict/openapi-document.ts
Due: prettier, biome

fix(workspace-store): complete the 3.2 superset for security schemes and querystring params
  .changeset/serialize-querystring-code-snippets.md
  .changeset/store-uses-openapi-3-2-schemas.md
  packages/blocks/src/code-example/helpers/operation-to-har/process-parameters.test.ts
  packages/blocks/src/code-example/helpers/operation-to-har/process-parameters.ts
  packages/workspace-store/src/request-example/builder/header/build-request-parameters.test.ts
  packages/workspace-store/src/request-example/builder/header/build-request-parameters.ts
  packages/workspace-store/src/schemas/v3.2/strict/security-scheme.test.ts
  packages/workspace-store/src/schemas/v3.2/strict/security-scheme.ts
Due: prettier, biome

chore(workspace-store): point knip superset-mirror ignores at the v3.1 tree
  knip.jsonc
Due: biome

fix(openapi-parser): handle component keys safely (#10113)
  .changeset/merge-component-keys.md
  packages/openapi-parser/src/utils/join/join.test.ts
  packages/openapi-parser/src/utils/join/join.ts
Due: prettier, biome

fix(api-reference): resolve AsyncAPI message traits
  .changeset/tidy-messages-inherit.md
  .github/assets/asyncapi-message-traits.png
  packages/api-reference/src/components/Content/AsyncApi/Message.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-async-api-nodes.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-message-traits.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-message-traits.ts
Due: prettier, biome

fix(pre-post-request-scripts): expose response duration
  .changeset/friendly-scripts-response-time.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-adapter.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-adapter.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-protocol.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.ts
Due: prettier, biome

test(scalar-app): update response time example snapshot
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: none

fix(workspace-store): bind $dynamicRef when the binding schema is referenced by name (#9885)
  .changeset/dynamic-ref-named-binding-scope.md
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
Due: prettier, biome

fix(api-client): keep focus while editing body field names (#10149)
  .changeset/tidy-keys-stay-focused.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyStructured.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyStructured.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTable.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
Due: prettier, biome

docs(sso): require the Entra ID signing option Scalar accepts (#10152)
  documentation/guides/sso/providers/microsoft-entra-id.md
Due: prettier

feat(nextjs): support request configuration and response headers (#10100)
  .changeset/nextjs-request-configuration.md
  documentation/integrations/nextjs.md
  integrations/nextjs/index.ts
  integrations/nextjs/src/ApiReference.ts
  integrations/nextjs/src/index.ts
  integrations/nextjs/src/types.ts
  integrations/nextjs/test/ApiReference.test.ts
Due: prettier, biome

fix(workspace-store): only normalize reference objects, not schemas
  .changeset/normalize-refs-schema-position.md
  packages/helpers/package.json
  packages/helpers/src/openapi/is-schema-path.test.ts
  packages/helpers/src/openapi/is-schema-path.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

fix(helpers): do not mistake user-defined names for schema keywords in isSchemaPath
  packages/helpers/src/openapi/is-schema-path.test.ts
  packages/helpers/src/openapi/is-schema-path.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
Due: prettier, biome

fix(json-magic): preserve $ref siblings on bundled external schema documents
  .changeset/normalize-refs-schema-position.md
  packages/helpers/src/openapi/is-schema-path.test.ts
  packages/helpers/src/openapi/is-schema-path.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

chore: preserve main dependency resolutions after rebase
  pnpm-lock.yaml
Due: packages-format, prettier

fix(openapi-upgrader): move @scalar/helpers to dependencies
  .changeset/normalize-refs-schema-position.md
  packages/openapi-upgrader/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(workspace-store): keep chunk paths portable (#10114)
  .changeset/portable-chunk-paths.md
  packages/workspace-store/README.md
  packages/workspace-store/src/helpers/create-chunk-writer.test.ts
  packages/workspace-store/src/helpers/create-chunk-writer.ts
  packages/workspace-store/src/helpers/encode-chunk-name.test.ts
  packages/workspace-store/src/helpers/encode-chunk-name.ts
  packages/workspace-store/src/server-chunks.test.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

fix(json-magic): preserve schema context across external references
  packages/json-magic/src/bundle/bundle.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
Due: prettier, biome

fix(workspace-store): only normalize reference objects, not schemas (#9666)
  .changeset/normalize-refs-schema-position.md
  packages/helpers/package.json
  packages/helpers/src/openapi/is-schema-path.test.ts
  packages/helpers/src/openapi/is-schema-path.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/openapi-upgrader/package.json
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
  packages/workspace-store/src/plugins/bundler/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

test(openapi-to-markdown): expand evaluation coverage
  .changeset/tidy-markdown-evaluation.md
  packages/openapi-to-markdown/evaluation/README.md
  packages/openapi-to-markdown/evaluation/documents/external.json
  packages/openapi-to-markdown/evaluation/documents/schemas.json
  packages/openapi-to-markdown/evaluation/evaluate.test.ts
  packages/openapi-to-markdown/evaluation/extended-fixtures.ts
  packages/openapi-to-markdown/evaluation/fixtures.ts
  packages/openapi-to-markdown/evaluation/harness.test.ts
  packages/openapi-to-markdown/evaluation/harness.ts
Due: prettier, biome

feat(localization): shared translation engine across packages (#9675)
  .changeset/cross-package-localization-engine.md
  .changeset/localization-schema-namespace.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Schema/SchemaComposition.vue
  packages/api-reference/src/components/Content/Schema/SchemaEnums.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyPattern.vue
  packages/api-reference/src/features/Operation/components/RequestBody.vue
  packages/api-reference/src/features/Search/components/SearchResult.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/api-reference/src/features/localization/use-localization.ts
  packages/localization/package.json
  packages/localization/src/create-localization.test.ts
  packages/localization/src/create-localization.ts
  packages/localization/src/index.ts
  packages/localization/tsconfig.build.json
  packages/localization/tsconfig.json
  packages/localization/vitest.config.ts
  packages/types/src/api-reference/types.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(api-reference): render OpenAPI 3.2 display fields
  .changeset/render-openapi-3-2-display-fields.md
  packages/api-client/src/v2/components/server/ServerDropdown.vue
  packages/api-reference/src/blocks/scalar-server-selector-block/components/Selector.vue
  packages/api-reference/src/features/Operation/components/SecurityRequirementBadgeScheme.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
Due: prettier, biome

Delete .github/assets/asyncapi-message-traits.png
  .github/assets/asyncapi-message-traits.png
Due: none

test(openapi-to-markdown): keep selector contracts out of evaluation
  .changeset/tidy-markdown-evaluation.md
  packages/openapi-to-markdown/evaluation/README.md
  packages/openapi-to-markdown/evaluation/extended-fixtures.ts
  packages/openapi-to-markdown/evaluation/harness.ts
Due: prettier, biome

fix(api-client): match composed form checkboxes to sent fields
  .changeset/quiet-forms-match-requests.md
  packages/api-client/src/v2/blocks/request-block/helpers/get-form-body-rows.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/get-form-body-rows.ts
Due: prettier, biome

docs: add issue 10144 PR screenshots
  after.png
  before.png
Due: none

feat(api-reference): show AsyncAPI message examples
  .changeset/asyncapi-example-panel.md
  .github/assets/asyncapi-message-examples-mobile.png
  .github/assets/asyncapi-message-examples.png
  packages/api-reference/src/components/Content/AsyncApi/Message.test.ts
  packages/api-reference/src/components/Content/AsyncApi/Message.vue
  packages/api-reference/src/components/Content/AsyncApi/MessageExamples.test.ts
  packages/api-reference/src/components/Content/AsyncApi/MessageExamples.vue
  packages/api-reference/src/components/Content/AsyncApi/helpers/get-message-example-content.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/get-message-example-content.ts
Due: prettier, biome

fix(workspace-store): preserve boolean schema semantics
  .changeset/tame-boolean-schema-coercion.md
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/normalize-boolean-schemas.test.ts
  packages/workspace-store/src/helpers/normalize-boolean-schemas.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

fix(openapi-to-markdown): preserve examples and schema details
  .changeset/clear-markdown-details.md
  packages/openapi-to-markdown/src/components/Encoding.vue
  packages/openapi-to-markdown/src/components/Examples.test.ts
  packages/openapi-to-markdown/src/components/Examples.vue
  packages/openapi-to-markdown/src/components/Headers.vue
  packages/openapi-to-markdown/src/components/MarkdownReference.vue
  packages/openapi-to-markdown/src/components/ResponseLinks.vue
  packages/openapi-to-markdown/src/components/Schema.test.ts
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/openapi-to-markdown/src/components/XmlOrJson.vue
  packages/openapi-to-markdown/src/create-markdown-from-openapi.test.ts
  packages/openapi-to-markdown/src/helpers/get-markdown-examples.test.ts
  packages/openapi-to-markdown/src/helpers/get-markdown-examples.ts
Due: prettier, biome

docs(changeset): align OpenAPI 3.2 release note with rebased scope
  .changeset/render-openapi-3-2-display-fields.md
Due: prettier

docs(api-reference): document OpenAPI 3.2 nested tags
  documentation/openapi.md
Due: prettier

test(localization): update snapshots for translated client labels
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-reference.png
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: none

test(localization): refresh Arabic search background snapshot
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-search-results.png
Due: none

fix(proxy-scalar-com): allow QUERY requests through CORS
  .changeset/proxy-query-method.md
  projects/proxy-scalar-com/main.go
  projects/proxy-scalar-com/main_test.go
Due: prettier

docs(pricing): price additional SDKs by endpoint count
  documentation/guides/pricing.md
Due: prettier

fix(void-server): allow QUERY requests through CORS
  .changeset/void-query-method.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
