Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

docs(changeset): feat: added customFetch config to the client
  .changeset/cuddly-hairs-show.md
Due: prettier

chore: update fetch type
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
Due: prettier, biome

chore: re-use type
  packages/api-client/src/v2/features/app/helpers/create-api-client-app.ts
Due: prettier, biome

resolve threads
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/components/data-table/DataTableInput.vue
  packages/api-client/src/v2/features/collection/components/Form.vue
  packages/api-client/src/v2/features/collection/components/Servers.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesDropdown.vue
  packages/api-client/src/v2/features/global-cookies/components/CookiesTable.vue
Due: prettier, biome

fix problems
  knip.jsonc
  packages/api-reference/src/standalone/lib/html-api.test.ts
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/schemas/src/api-reference/api-reference-plugin.ts
  packages/schemas/src/api-reference/source-configuration.ts
  packages/types/src/api-reference/api-client-configuration.ts
  packages/types/src/api-reference/api-reference-configuration.ts
Due: prettier, biome

wip
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
Due: prettier, biome

update: raise shouldHaveLink threshold, shift link button position
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

add: changeset
  .changeset/tricky-parrots-move.md
Due: prettier

feat(api-client): allow passing in a custom fetch function (#8943)
  .changeset/cuddly-hairs-show.md
  packages/api-client-react/src/lazy-load.ts
  packages/api-client-react/src/use-api-client.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/features/app/App.test.ts
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/helpers/create-api-client-app.ts
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/collection/components/Runner/components/Runner.vue
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-execution.ts
  packages/api-client/src/v2/features/modal/Modal.test.ts
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.test.ts
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
  packages/api-client/src/v2/features/modal/helpers/types.ts
  packages/api-client/src/v2/features/modal/index.ts
  packages/api-client/src/v2/types/options.ts
  packages/api-client/src/vite-env.d.ts
Due: prettier, biome

Apply suggestion from @hanspagel
  .changeset/eleven-memes-win.md
Due: prettier

add: tests
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
Due: prettier, biome

feat(api-client): support refreshing the token (#8891)
  .changeset/real-tools-deny.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
Due: prettier, biome

fix(api-reference): restore position: fixed on .section-flare (#8884)
  .changeset/fix-section-flare-position.md
  packages/api-reference/src/components/SectionFlare/SectionFlare.vue
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-dark.png
Due: prettier, biome

feat(api-reference): add anchors and copy link buttons to allOf body parameters (#8944)
  .changeset/tricky-parrots-move.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix(api-client): prefill oauth2 redirect URI after document switch (#8877)
  .changeset/calm-gates-drive.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/workspace-store/src/request-example/context/security/extract-security-scheme-secrets.test.ts
  packages/workspace-store/src/request-example/context/security/extract-security-scheme-secrets.ts
  packages/workspace-store/src/request-example/context/security/merge-security.test.ts
Due: prettier, biome

fix(void-server): return valid zip with request json
  .changeset/fair-carrots-drum.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
  packages/void-server/src/utils/create-zip-file-response.test.ts
  packages/void-server/src/utils/create-zip-file-response.ts
  packages/void-server/test/utils/create-mock-context.ts
Due: prettier, biome

fix(void-server): initialize crc table before use
  packages/void-server/src/utils/create-zip-file-response.ts
Due: prettier, biome

feat(void-server): add openapi and docs routes
  .changeset/polite-spoons-share.md
  packages/void-server/README.md
  packages/void-server/package.json
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

style(void-server): format openapi route definitions
  packages/void-server/src/create-void-server.ts
Due: prettier, biome

fix(void-server): satisfy crc table strict typing
  packages/void-server/src/utils/create-zip-file-response.ts
Due: prettier, biome

feat(void-server): serve api reference on root
  .changeset/polite-spoons-share.md
  packages/void-server/README.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
Due: prettier, biome

test(void-server): target mirror routes after root docs
  packages/void-server/src/create-void-server.test.ts
Due: prettier, biome

fix(api-client): only enable fake data suggestion for parameteres and request body (#8932)
  .changeset/shy-planets-type.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/components/data-table/DataTableInput.vue
  packages/api-client/src/v2/features/collection/components/Form.vue
  packages/api-client/src/v2/features/collection/components/Servers.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesDropdown.vue
  packages/api-client/src/v2/features/global-cookies/components/CookiesTable.vue
Due: prettier, biome

feat(postman-to-openapi): filter system headers (#8904)
  .changeset/cold-fans-judge.md
  packages/postman-to-openapi/src/__snapshots__/convert.test.ts.snap
  packages/postman-to-openapi/src/convert.ts
  packages/postman-to-openapi/src/helpers/header-utils.test.ts
  packages/postman-to-openapi/src/helpers/header-utils.ts
  packages/postman-to-openapi/src/helpers/parameters.test.ts
  packages/postman-to-openapi/src/helpers/parameters.ts
  packages/postman-to-openapi/src/helpers/path-items.test.ts
  packages/postman-to-openapi/src/helpers/path-items.ts
  packages/postman-to-openapi/src/helpers/request-body.test.ts
  packages/postman-to-openapi/src/helpers/request-body.ts
  packages/postman-to-openapi/src/helpers/responses.test.ts
  packages/postman-to-openapi/src/helpers/responses.ts
Due: prettier, biome

docs: promote new, stricter types
  packages/openapi-types/README.md
Due: prettier

chore(void-server): sync lockfile with workspace deps
  pnpm-lock.yaml
Due: packages-format, prettier

fix(void-server): avoid duplicate OpenAPI templated path docs
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/create-void-server.ts
Due: prettier, biome

docs(cli): update commands
  documentation/guides/cli/commands.md
Due: prettier

docs(changeset): feat: support default values for coersion
  .changeset/six-bikes-check.md
Due: prettier

docs(changeset): chore: remove zod
  .changeset/social-sails-juggle.md
Due: prettier

docs(changeset): feat: write pure types without using the zod schemas
  .changeset/tall-buses-pump.md
Due: prettier

docs(changeset): feat: write custom schemas for api-reference configuration
  .changeset/lucky-lines-win.md
Due: prettier

docs(changeset): chore: use the new schemas from the new package
  .changeset/itchy-flowers-tan.md
Due: prettier

docs(changeset): chore: remove zod and use the custom validation library
  .changeset/ninety-tires-obey.md
Due: prettier

docs(changeset): chore: use the new schemas
  .changeset/cuddly-paws-remain.md
Due: prettier

fix(openapi-types): tighten 3.0 parameter in/style typing
  .changeset/sweet-numbers-hear.md
  packages/openapi-types/3.0/parameter.d.ts
Due: prettier, biome

fix(openapi-types): tighten 3.0 parameter in/style typing (#8949)
  .changeset/sweet-numbers-hear.md
  packages/openapi-types/3.0/parameter.d.ts
Due: prettier, biome

correctly handle custom file imports
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImport.test.ts
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImport.vue
Due: prettier, biome

docs(changeset): fix: correctly handle custom file imports
  .changeset/ripe-sails-reply.md
Due: prettier
