Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

test(scalar-app): refresh long-request-url baseline for in-app nav
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: none

fix(api-client): runner drops typed auth token for non-slug-safe document names
  .changeset/fix-runner-auth-token-sources.md
  packages/api-client/src/v2/features/modal/Modal.test.ts
  packages/api-client/src/v2/features/modal/Modal.vue
Due: prettier, biome

fix(api-client): avoid duplicate row when renaming expanded query param onto an existing property
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.ts
Due: prettier, biome

refactor(api-reference): rename onRequestReady to onRequestBuilt
  .changeset/spicy-falcons-shake.md
  documentation/configuration.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-reference/src/helpers/map-config-plugins.test.ts
  packages/api-reference/src/helpers/map-config-plugins.ts
  packages/oas-utils/src/helpers/client-plugins.test.ts
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

refactor(api-reference): extract shared AsyncAPI render helpers
  packages/api-reference/src/components/Content/AsyncApi/Channel.vue
  packages/api-reference/src/components/Content/AsyncApi/Message.vue
  packages/api-reference/src/components/Content/AsyncApi/Operation.vue
  packages/api-reference/src/components/Content/AsyncApi/helpers/async-api-render-options.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/async-api-render-options.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/filter-children-by-type.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/filter-children-by-type.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/pick-heading.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/pick-heading.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-async-api-nodes.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-async-api-nodes.ts
Due: prettier, biome

feat(api-reference): add `requestBuilt` hook and `onRequestBuilt` callback with the exact outgoing `Request` (#9515)
  .changeset/spicy-falcons-shake.md
  documentation/configuration.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-reference/src/helpers/map-config-plugins.test.ts
  packages/api-reference/src/helpers/map-config-plugins.ts
  packages/oas-utils/src/helpers/client-plugins.test.ts
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

feat(api-reference): render AsyncAPI operations and messages inside channels (#9520)
  .changeset/asyncapi-channel-operations.md
  documentation/asyncapi.md
  packages/api-reference/src/components/Content/AsyncApi/AsyncApiTraversedEntry.vue
  packages/api-reference/src/components/Content/AsyncApi/Channel.test.ts
  packages/api-reference/src/components/Content/AsyncApi/Channel.vue
  packages/api-reference/src/components/Content/AsyncApi/Message.test.ts
  packages/api-reference/src/components/Content/AsyncApi/Message.vue
  packages/api-reference/src/components/Content/AsyncApi/Operation.test.ts
  packages/api-reference/src/components/Content/AsyncApi/Operation.vue
  packages/api-reference/src/components/Content/AsyncApi/helpers/async-api-render-options.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/async-api-render-options.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/filter-children-by-type.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/filter-children-by-type.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/pick-heading.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/pick-heading.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-async-api-nodes.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/resolve-async-api-nodes.ts
  packages/api-reference/src/helpers/get-async-api-message-payload-schema.test.ts
  packages/api-reference/src/helpers/get-async-api-message-payload-schema.ts
  packages/api-reference/src/helpers/get-async-api-model-schema.ts
Due: prettier, biome

docs: fix CLI preview port typo (7971 -> 7970)
  .agents/skills/scalar-docs/SKILL.md
  documentation/guides/docs/starter-kit.md
Due: prettier

fix(components): portal scalar menu dropdown content
  .changeset/tidy-pans-dance.md
  packages/components/src/components/ScalarMenu/ScalarMenu.test.ts
  packages/components/src/components/ScalarMenu/ScalarMenu.vue
Due: prettier, biome

test(components): query teleported scalar menu content
  packages/components/src/components/ScalarMenu/ScalarMenu.test.ts
Due: prettier, biome

Add @hwkr as a code owner
  CODEOWNERS
Due: none

docs: fix CLI preview port typo (7971 -> 7970) (#9562)
  .agents/skills/scalar-docs/SKILL.md
  documentation/guides/docs/starter-kit.md
Due: prettier

Add @hwkr as a code owner (#9563)
  CODEOWNERS
Due: none

docs: add company page
  documentation/assets/company.js
  documentation/assets/partech-branding.png
  documentation/guides/company.md
  scalar.config.json
Due: prettier, biome

fix(docs): simplify company investor stickers
  documentation/guides/company.md
Due: prettier

fix(docs): restore company logo sticker peels
  documentation/guides/company.md
Due: prettier

fix(docs): reduce company logo sticker peel
  documentation/guides/company.md
Due: prettier

fix(docs): left align company team stickers
  documentation/guides/company.md
Due: prettier

fix(docs): center company investor stickers
  documentation/guides/company.md
Due: prettier

fix(components,themes): match textarea placeholder styling to inputs
  .changeset/wild-pets-shave.md
  packages/components/src/components/ScalarForm/snapshots/with-fields.png
  packages/components/src/components/ScalarTextArea/ScalarTextArea.vue
  packages/components/src/components/ScalarTextArea/snapshots/base-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/base-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/base-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/base-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-5-scrolled.png
  packages/themes/src/base/reset.css
Due: prettier, biome

fix(docs): use two-column investor layout
  documentation/guides/company.md
Due: prettier

careers section WIP
  documentation/guides/company.md
Due: prettier

careers section polish + page polish + Join us sticker
  documentation/guides/company.md
  documentation/guides/introduction.md
Due: prettier

some page polish
  documentation/guides/company.md
Due: prettier

linkedin links
  documentation/guides/company.md
Due: prettier

hiring on homepage banner
  documentation/guides/introduction.md
Due: prettier

feat: add some investors and some names
  documentation/guides/company.md
  scalar.config.json
Due: prettier, biome

full size hover
  documentation/guides/company.md
Due: prettier

feat: update copy
  documentation/guides/company.md
Due: prettier

fix: mobile sticker bug
  documentation/assets/company.js
  documentation/guides/company.md
  documentation/guides/introduction.md
Due: prettier, biome

fix: z-index issue
  documentation/assets/styles.css
Due: prettier

feat: add job postings
  documentation/guides/company.md
Due: prettier

docs: add company page (#9564)
  documentation/assets/company.js
  documentation/assets/partech-branding.png
  documentation/assets/styles.css
  documentation/guides/company.md
  documentation/guides/introduction.md
  scalar.config.json
Due: prettier, biome

fix(components,themes): match textarea placeholder styling to inputs (#9565)
  .changeset/wild-pets-shave.md
  packages/components/src/components/ScalarForm/snapshots/with-fields.png
  packages/components/src/components/ScalarTextArea/ScalarTextArea.vue
  packages/components/src/components/ScalarTextArea/snapshots/base-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/base-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/base-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/base-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-5-scrolled.png
  packages/themes/src/base/reset.css
Due: prettier, biome

fix(api-client): runner drops typed auth token for non-slug-safe document names (#9558)
  .changeset/fix-runner-auth-token-sources.md
  packages/api-client/src/v2/features/modal/Modal.test.ts
  packages/api-client/src/v2/features/modal/Modal.vue
Due: prettier, biome

fix(api-reference): preserve oneOf/anyOf nested inside allOf (#9557)
  .changeset/merge-allof-oneof-preserve.md
  packages/api-reference/src/components/Content/Schema/SchemaComposition.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
Due: prettier, biome

perf(server-side-rendering): serialize hydration config compactly (#9555)
  .changeset/perf-ssr-compact-hydration-config.md
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

perf(server-side-rendering): skip path-building in nested-function check (#9556)
  .changeset/perf-ssr-skip-fn-validation.md
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

fix(api-client): apply renamed keys on expanded query parameter rows (#9497)
  .changeset/rename-expanded-param-rows.md
  packages/api-client/src/v2/blocks/request-block/RequestBlock.test.ts
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestParams.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTable.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.ts
Due: prettier, biome
