Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: add identifier to express
  packages/express-api-reference/src/expressApiReference.ts
Due: prettier, eslint

chore: add an identifier to the CDN version
  packages/api-reference/src/standalone.ts
Due: prettier, eslint

feat: add identifier to fastify
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

feat: add identifier to dotnet package
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
Due: none

feat: add identifier to docusaurus
  packages/docusaurus/src/index.ts
Due: prettier, eslint

feat: add identifier to nestjs
  packages/nestjs-api-reference/src/nestJSApiReference.ts
Due: prettier, eslint

feat: add identifier to nextjs
  packages/nextjs-api-reference/src/ApiReference.ts
Due: prettier, eslint

feat: add nuxtjs identifier
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
Due: prettier, eslint

fix: wrong nuxt identifier
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
Due: prettier, eslint

feat: add react identifier
  packages/api-reference-react/src/ApiReferenceReact.tsx
Due: prettier, eslint

feat: provide _integration symbol
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/helpers/provideSymbols.ts
Due: prettier, eslint

feat: allow to overwrite integration with `null`
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

feat: add identifier to fastapi integration
  packages/scalar_fastapi/scalar_fastapi/scalar_fastapi.py
Due: none

chore: add a checklist to the _integration attribute
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

docs(changeset): feat: add framework identifier for debugging purposes
  .changeset/itchy-bobcats-look.md
Due: prettier

chore: update todo list
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

chore: remove identifier from dotnet
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#3505)
  README.md
Due: prettier

chore: remove .only modifier
  packages/import/src/resolve.test.ts
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: add test case (wip)
  examples/tsx/index.ts
  examples/tsx/package.json
  examples/tsx/tsconfig.json
Due: prettier, eslint

chore: remove tsx example
  examples/tsx/index.ts
  examples/tsx/package.json
  examples/tsx/tsconfig.json
Due: prettier, eslint

chore: use standard build tooling
  packages/openapi-parser/package.json
  packages/openapi-parser/rollup.config.ts
  packages/openapi-parser/src/configuration/index.ts
  packages/openapi-parser/src/schemas/README.md
  packages/openapi-parser/src/schemas/v2.0/schema.json
  packages/openapi-parser/src/schemas/v3.0/schema.json
  packages/openapi-parser/src/schemas/v3.1/schema.json
  packages/openapi-parser/tests/diff.test.ts
  packages/openapi-parser/tsconfig.build.json
  packages/openapi-parser/tsconfig.json
Due: prettier, eslint

chore: clean up
  examples/tsx/package.json
Due: prettier

chore: add reproduction
  examples/tsx/package.json
Due: prettier

chore: don’t emit file on pnpm test
  examples/tsx/package.json
Due: prettier

chore: update changeset
  .changeset/gorgeous-plants-wash.md
Due: prettier

chore: add build tooling package exports
  .changeset/gorgeous-plants-wash.md
  examples/tsx/package.json
  packages/openapi-parser/package.json
  packages/openapi-parser/rollup.config.ts
  packages/openapi-parser/src/plugins/fetch-urls/fetchUrls.test.ts
  packages/openapi-parser/src/plugins/fetch-urls/fetchUrls.ts
  packages/openapi-parser/src/plugins/fetch-urls/index.ts
  packages/openapi-parser/src/plugins/read-files/index.ts
  packages/openapi-parser/src/plugins/read-files/readFiles.test.ts
  packages/openapi-parser/src/plugins/read-files/readFiles.ts
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/openapi/openapi.test.ts
  packages/openapi-parser/src/utils/resolveReferences.test.ts
  packages/openapi-parser/tests/migration-layer.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.0/pass/externalPathItemRef.test.ts
Due: prettier, eslint

chore: remove unused dependencies (#3503)
  .changeset/loud-deers-double.md
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/api-reference/playground/examples/src/App.vue
  packages/hono-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs: add Scalar for Laravel to the READMEs (#3500)
  README.md
  documentation/integrations/laravel-scribe.md
Due: prettier

chore: reset TS config
  packages/openapi-parser/tsconfig.build.json
Due: prettier

chore: remove unused build dependencies
  packages/openapi-parser/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore(openapi-parser): switch to `@scalar/build-tooling` (#3458)
  .changeset/gorgeous-plants-wash.md
  packages/openapi-parser/package.json
  packages/openapi-parser/rollup.config.ts
  packages/openapi-parser/src/configuration/index.ts
  packages/openapi-parser/src/plugins/fetch-urls/fetchUrls.test.ts
  packages/openapi-parser/src/plugins/fetch-urls/fetchUrls.ts
  packages/openapi-parser/src/plugins/fetch-urls/index.ts
  packages/openapi-parser/src/plugins/read-files/index.ts
  packages/openapi-parser/src/plugins/read-files/readFiles.test.ts
  packages/openapi-parser/src/plugins/read-files/readFiles.ts
  packages/openapi-parser/src/schemas/README.md
  packages/openapi-parser/src/schemas/v2.0/schema.json
  packages/openapi-parser/src/schemas/v3.0/schema.json
  packages/openapi-parser/src/schemas/v3.1/schema.json
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/openapi/openapi.test.ts
  packages/openapi-parser/src/utils/resolveReferences.test.ts
  packages/openapi-parser/tests/diff.test.ts
  packages/openapi-parser/tests/migration-layer.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.0/pass/externalPathItemRef.test.ts
  packages/openapi-parser/tsconfig.build.json
  packages/openapi-parser/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): use command palette workspace form
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
Due: prettier, eslint

docs(changeset): fix(api-client): use command palette workspace form
  .changeset/clean-bottles-shout.md
Due: prettier

chore: organize and document top level dev scripts
  CONTRIBUTING.md
  README.md
  package.json
  packages/api-client/playground/web/main.ts
Due: prettier, eslint

chore: restore contributing link
  README.md
Due: prettier

chore: rename contributing file
  CONTRIBUTING
Due: none

chore: add the .md extension again
  CONTRIBUTING.md
  README.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
