Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: add intro flare (#721)
  .changeset/sharp-dolphins-warn.md
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

RELEASING: Releasing 5 package(s) (#722)
  .changeset/sharp-dolphins-warn.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
Due: prettier

fix: markdown second level margin issue
  packages/api-reference/src/components/Content/MarkdownRenderer.vue
Due: prettier, eslint

docs(changeset): fix: markdown second level margin issue
  .changeset/new-ghosts-melt.md
Due: prettier

fix: markdown second level margin issue (#723)
  .changeset/new-ghosts-melt.md
  packages/api-reference/src/components/Content/MarkdownRenderer.vue
Due: prettier, eslint

RELEASING: Releasing 5 package(s) (#724)
  .changeset/new-ghosts-melt.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
Due: prettier

declare theme font for buttons and fix regressed font weight
  packages/api-reference/src/components/Content/Schema.vue
  packages/api-reference/src/components/DarkModeToggle.vue
  packages/api-reference/src/components/SearchButton.vue
  packages/swagger-editor/src/components/SwaggerEditor/HeaderTabButton.vue
Due: prettier, eslint

docs(changeset): fix: declare theme font for buttons and fix regressed font weight
  .changeset/chilly-tables-clean.md
Due: prettier

fix: declare theme font for buttons and fix regressed font weight (#725)
  .changeset/chilly-tables-clean.md
  packages/api-reference/src/components/Content/Schema.vue
  packages/api-reference/src/components/DarkModeToggle.vue
  packages/api-reference/src/components/SearchButton.vue
  packages/swagger-editor/src/components/SwaggerEditor/HeaderTabButton.vue
Due: prettier, eslint

RELEASING: Releasing 6 package(s) (#726)
  .changeset/chilly-tables-clean.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
Due: prettier

feat: expose dark mode light mode property in config
  README.md
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/hooks/useDarkModeState.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

docs(changeset): feat: expose dark mode light mode property in config
  .changeset/clean-years-smash.md
Due: prettier

fix: remove console log
  packages/api-reference/src/components/ApiReferenceBase.vue
Due: prettier, eslint

feat: Add dynamic content type selection for request body
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
  packages/api-reference/src/petstorev3.json
Due: prettier, eslint

fix: build fail occurred due to using undefined as index
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
Due: prettier, eslint

feat: add consistent select styling
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
Due: prettier, eslint

fix: add single item state without select for content type
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
Due: prettier, eslint

feat: Add dynamic content type selection for request body (#734)
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
  packages/api-reference/src/petstorev3.json
Due: prettier, eslint

docs(changeset): feat: Add dynamic content type selection for request body
  .changeset/eight-camels-help.md
Due: prettier

docs(changeset): feat: Add dynamic content type selection for request body (#739)
  .changeset/eight-camels-help.md
Due: prettier

RELEASING: Releasing 5 package(s) (#741)
  .changeset/eight-camels-help.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
Due: prettier

chore: add `darkMode` setting to dev toolbar
  examples/web/src/components/DevToolbar.vue
Due: prettier, eslint

feat: add darkmode as config property (#729)
  .changeset/clean-years-smash.md
  README.md
  examples/web/src/components/DevToolbar.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/hooks/useDarkModeState.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

ci: schedule update contributors workflow
  .github/workflows/update-contributors.yml
Due: prettier

fix: request body does not reset
  packages/api-client/src/components/ApiClient/Request/RequestBody.vue
  packages/use-codemirror/src/components/CodeMirror/CodeMirror.vue
  packages/use-codemirror/src/hooks/useCodeMirror.ts
Due: prettier, eslint

docs(changeset): fix: request body doesn’t reset on navigating to a request without a body
  .changeset/ninety-pugs-tickle.md
Due: prettier

fix: request body does not reset, fix #730 (#749)
  .changeset/ninety-pugs-tickle.md
  packages/api-client/src/components/ApiClient/Request/RequestBody.vue
  packages/use-codemirror/src/components/CodeMirror/CodeMirror.vue
  packages/use-codemirror/src/hooks/useCodeMirror.ts
Due: prettier, eslint

chore: update @scalar/snippetz
  packages/api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat: use new fetch examples
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/helpers/getAvailableTargets.ts
Due: prettier, eslint

feat: add snippetz js fetch
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/helpers/getAvailableTargets.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): feat: add fetch examples
  .changeset/few-tools-sleep.md
Due: prettier

fix: intersection observer scrolling
  packages/api-reference/src/components/SidebarElement.vue
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

chore: add layouts to readme(s)
  README.md
Due: prettier

feat: add fetch examples, fix #737 (#750)
  .changeset/few-tools-sleep.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/helpers/getAvailableTargets.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add image
  README.md
Due: prettier

fix: too many brackets
  README.md
Due: prettier

chore: add layouts to readme (#751)
  README.md
Due: prettier

chore: uncomment drawer code
  packages/api-reference/src/components/Layouts/ModernLayout.vue
Due: prettier, eslint

feat: on scroll to top of references, remove hash
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
