Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: add missing npm scripts (#3118)
  examples/api-client/package.json
  examples/docusaurus/package.json
  examples/express-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  examples/nextjs-api-reference/.eslintrc.cjs
  examples/nextjs-api-reference/package.json
  examples/ssg/package.json
  examples/web/package.json
  package.json
  packages/api-client-app/package.json
  packages/cli/package.json
  packages/express-api-reference/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
  packages/nestjs-api-reference/package.json
  packages/snippetz/package.json
  packages/void-server/package.json
  pnpm-lock.yaml
  scripts/format-package.ts
Due: package_format, prettier, eslint

fix(api-client): request header (#3030)
  .changeset/blue-moons-dream.md
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
Due: prettier, eslint

style(api-client): layout responsiveness
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-client/src/components/ViewLayout/ViewLayout.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutContent.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Cookies/CookieForm.vue
  packages/api-client/src/views/Cookies/CookieRaw.vue
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

feat: add queryString to the response
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getRequestData.ts
Due: prettier, eslint

style(api-client): delete modal
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
Due: prettier, eslint

feat(api-client): add rename sidebar list element component
  packages/api-client/src/components/Sidebar/Actions/RenameSidebarListElement.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

style(api-client): sidebar list element form
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
Due: prettier, eslint

feat: deal with arrays in query parameters
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getRequestData.ts
Due: prettier, eslint

docs(changeset): feat: query parameter arrays
  .changeset/five-ways-argue.md
Due: prettier

feat(api-client): uses rename sidebar list element in request sidebar item
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

docs(changeset): style: new modal layout
  .changeset/forty-yaks-remember.md
Due: prettier

feat(api-client): track active workspace in local storage
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

docs(changeset): feat(api-client): track active workspace in local storage
  .changeset/twelve-penguins-end.md
Due: prettier

feat(oas-utils): add regexHelpers helper
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.ts
Due: prettier, eslint

fix(api-client): request path params variable regex
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

style(api-client): layout responsiveness (#2971)
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-client/src/components/ViewLayout/ViewLayout.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutContent.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Cookies/CookieForm.vue
  packages/api-client/src/views/Cookies/CookieRaw.vue
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

feat(api-client): disable sidebar resizing on small screens
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

docs(changeset): feat(api-client): disable sidebar resizing on small screens
  .changeset/rich-pets-share.md
Due: prettier

feat(api-client): track active workspace in local storage (#2969)
  .changeset/twelve-penguins-end.md
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

feat(api-client): request sidebar item modal style (#2996)
  .changeset/forty-yaks-remember.md
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/RenameSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

chore: use standard base tsconfig for openapi parser
  packages/openapi-parser/tsconfig.json
Due: prettier

feat(api-client): disable sidebar resizing on small screens (#2968)
  .changeset/rich-pets-share.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

feat(oas-utils): server variables from examples
  packages/oas-utils/src/entities/spec/server.ts
Due: prettier, eslint

feat(api-client): server variable examples in request table
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
  packages/oas-utils/src/entities/spec/request-examples.ts
  packages/oas-utils/src/spec-getters/getServerVariableExamples.ts
  packages/oas-utils/src/spec-getters/index.ts
Due: prettier, eslint

docs(changeset): feat: server variables from examples
  .changeset/curvy-trains-grab.md
Due: prettier

fix(api-client): send request duplicated path
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

docs(changeset): fix: send request duplicated path
  .changeset/fair-snakes-hear.md
Due: prettier

feat: extract action form component
  packages/api-client/src/components/CommandPalette/CommandActionForm.vue
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteTag.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

docs(changeset): feat(api-client): fix up and polish command palette
  .changeset/real-scissors-act.md
Due: prettier

feat: don't use global hotkeys to navigate input lists
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

fix: path only urls
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

Create cold-crabs-walk.md
  .changeset/cold-crabs-walk.md
Due: prettier

fix: path only urls (#3136)
  .changeset/cold-crabs-walk.md
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

feat(api-client): fix up and polish command palette (#2989)
  .changeset/real-scissors-act.md
  packages/api-client/src/components/CommandPalette/CommandActionForm.vue
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteTag.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

fix: client modal auth and workspace creation
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/import-spec.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: updating server from references
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/components/ApiClientModal.vue
Due: prettier, eslint

style(api-client): sets context bar back to previous position
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
Due: prettier, eslint

docs(changeset): style: sets context bar back to previous position
  .changeset/wild-timers-design.md
Due: prettier

fix: server selection on client modal
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-reference/src/components/ApiClientModal.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat(void-server): query parameter arrays (#3133)
  .changeset/five-ways-argue.md
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getRequestData.ts
Due: prettier, eslint
