Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

feat: add xml and html responses
  packages/void-server/package.json
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/createVoidServer.ts
  packages/void-server/src/utils/createHtmlResponse.ts
  packages/void-server/src/utils/createJsonResponse.ts
  packages/void-server/src/utils/createXmlResponse.ts
  packages/void-server/src/utils/createZipFileResponse.ts
  packages/void-server/src/utils/getBody.ts
  packages/void-server/src/utils/getRequestData.ts
  packages/void-server/src/utils/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

text: html response
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/createVoidServer.ts
Due: prettier, eslint

docs(changeset): feat: html and xml responses
  .changeset/tame-pumpkins-judge.md
Due: prettier

test: mergeAllObjects
  packages/api-reference/src/helpers/mergeAllObjects.test.ts
Due: prettier, eslint

fix: mobile menu on embed
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

fix(components): tailwind specificity (#2201)
  .changeset/smart-papayas-compare.md
  packages/components/src/tailwind/tailwind.css
Due: prettier

feat(client-app): hide header in read only mode (#2206)
  packages/client-app/src/components/Sidebar/Sidebar.vue
Due: prettier, eslint

feat(cli): new `scalar void` command (#2204)
  .changeset/dirty-bears-lay.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/screenshots/void.png
  packages/cli/scripts/take-screenshots.sh
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/void/VoidCommand.ts
  packages/cli/src/commands/void/void.test.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(express-api-reference): explicitly set content-type to text/html (#2200)
  .changeset/clever-mice-kick.md
  packages/express-api-reference/src/expressApiReference.ts
Due: prettier, eslint

fix(client-app): http methods editable style (#2207)
  packages/client-app/src/components/HttpMethod/HttpMethod.vue
Due: prettier, eslint

docs: trim down root README (#2202)
  .github/workflows/ci.yml
  README.md
  documentation/configuration.md
  documentation/elysiajs.md
  documentation/fastify.md
  documentation/go.md
  documentation/laravel-scribe.md
  documentation/laravel.md
  documentation/markdown.md
  documentation/nitro.md
  documentation/openapi.md
  documentation/platformatic.md
  documentation/rust.md
  documentation/themes.md
  examples/docusaurus/README.md
  examples/proxy-server/README.md
  packages/api-reference-react/README.md
  packages/api-reference/README.md
  packages/docusaurus/README.md
  packages/fastify-api-reference/README.md
  packages/nextjs-api-reference/README.md
  packages/nextjs-api-reference/src/ApiReference.ts
  packages/nuxt/README.md
  packages/play-button/README.md
  packages/scalar_fastapi/README.md
  packages/void-server/README.md
Due: prettier, eslint

chore: remove max-len for comments (#2203)
  .eslintrc.cjs
Due: none

fix(api-reference): allof items merge objects (#2140)
  .changeset/long-radios-punch.md
  packages/api-reference/src/components/Content/Operation/PathResponses/ExampleResponse.vue
  packages/api-reference/src/helpers/mergeAllObjects.test.ts
Due: prettier, eslint

feat(components): scalar tooltip (#2205)
  .changeset/curvy-spoons-serve.md
  packages/client-app/src/components/ScalarHotkey.vue
  packages/client-app/src/components/TopNav/TopNavItem.vue
  packages/components/package.json
  packages/components/src/components/ScalarTooltip/ScalarTooltip.spec.ts
  packages/components/src/components/ScalarTooltip/ScalarTooltip.stories.ts
  packages/components/src/components/ScalarTooltip/ScalarTooltip.vue
  packages/components/src/components/ScalarTooltip/index.ts
  packages/components/src/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: adding securitytyyyyy
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/RequestSection/SecurityScopes.vue
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: adding implicit auth
  packages/client-app/src/store/workspace.ts
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/oas-utils/src/entities/workspace/collection/collection.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/string.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: implicit flow working
  packages/client-app/src/store/workspace.ts
  packages/client-app/src/views/Request/RequestSection/AuthOauth2.vue
Due: prettier, eslint

chore: remove some test code
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: implicit flow works!
  packages/client-app/src/views/Request/RequestSection/AuthOauth2.vue
Due: prettier, eslint

feat: added dropdown for scopes
  packages/client-app/package.json
  packages/client-app/src/components/DataTable/index.ts
  packages/client-app/src/store/workspace.ts
  packages/client-app/src/views/Request/RequestSection/AuthOauth2.vue
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/RequestSection/SecurityScopes.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
Due: prettier, eslint

feat: fix up auth flow
  packages/client-app/package.json
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/components/Oauth2.vue
  packages/client-app/src/views/Request/components/index.ts
  packages/client-app/src/views/Request/libs/index.ts
  packages/client-app/src/views/Request/libs/oauth2.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: renames
  .eslintrc.cjs
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/components/OAuth2.vue
  packages/client-app/src/views/Request/components/index.ts
Due: prettier, eslint

chore: remove max-len rule
  .eslintrc.cjs
Due: none

chore: comments
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
Due: prettier, eslint

docs(changeset): feat: allow custom headers
  .changeset/honest-geese-chew.md
Due: prettier

feat: allow custom header & footers (#2198)
  .changeset/honest-geese-chew.md
  examples/web/src/pages/EmbeddedApiReferencePage.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/MobileHeader.vue
  packages/api-reference/src/components/Sidebar/Sidebar.vue
  packages/client-app/src/App.vue
  packages/docusaurus/src/theme.css
Due: prettier, eslint

fix: add custom header to readme
  README.md
Due: prettier

fix: add custom header to readme (#2211)
  README.md
Due: prettier

chore: remove testing code
  packages/client-app/src/store/workspace.ts
Due: prettier, eslint

feat(client-app): add implicit flow to the client app (#2199)
  .eslintrc.cjs
  packages/client-app/package.json
  packages/client-app/src/components/DataTable/index.ts
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/components/OAuth2.vue
  packages/client-app/src/views/Request/components/index.ts
  packages/client-app/src/views/Request/libs/index.ts
  packages/client-app/src/views/Request/libs/oauth2.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/oas-utils/src/entities/workspace/collection/collection.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/string.ts
  packages/oas-utils/src/transforms/import-spec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: update readme to be more compact
  README.md
Due: prettier

feat(client-app): add scalar-client class to teleported dropdowns
  packages/client-app/src/components/AddressBar/AddressBar.vue
  packages/client-app/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

docs(changeset): feat(client-app): add scalar-client class to teleported dropdowns
  .changeset/six-planets-buy.md
Due: prettier

feat(components): teleport to #scalar-client instead of body
  .changeset/six-planets-buy.md
  packages/client-app/index.html
  packages/client-app/src/App.vue
  packages/client-app/src/components/AddressBar/AddressBar.vue
  packages/client-app/src/main.ts
  packages/client-app/src/views/Request/RequestSidebarItemMenu.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/types.ts
Due: prettier, eslint

feat(client-app): add scalar-client class to teleported dropdowns (#2209)
  .changeset/six-planets-buy.md
  packages/client-app/index.html
  packages/client-app/src/App.vue
  packages/client-app/src/components/AddressBar/AddressBar.vue
  packages/client-app/src/main.ts
  packages/client-app/src/views/Request/RequestSidebarItemMenu.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/types.ts
Due: prettier, eslint

feat: moved the auth scopes to own comp
  packages/client-app/package.json
  packages/client-app/src/store/workspace.ts
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/components/OAuth2.vue
  packages/client-app/src/views/Request/components/ScopesDropdown.vue
  packages/client-app/src/views/Request/libs/oauth2.ts
  packages/components/.storybook/preview.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
Due: prettier, eslint

feat: added authentication code flow
  packages/client-app/src/store/workspace.ts
  packages/client-app/src/views/Request/RequestSection/RequestAuth.vue
  packages/client-app/src/views/Request/components/OAuth2.vue
  packages/client-app/src/views/Request/libs/oauth2.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
Due: prettier, eslint

fix: add some failsafes
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: search params
  packages/client-app/src/App.vue
  packages/client-app/src/views/Request/libs/oauth2.ts
Due: prettier, eslint
