Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix(api-reference): collapse nested tags in modern layout without sibling tags
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.test.ts
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.vue
Due: prettier, biome

fix(api-reference): key search index and breadcrumbs off legacy tag group flag
  packages/api-client/src/v2/features/search/helpers/create-search-index.test.ts
  packages/api-client/src/v2/features/search/helpers/create-search-index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/Search/helpers/create-search-index.ts
Due: prettier, biome

test(api-reference): cover tag group vs parent tag labels in search index
  packages/api-reference/src/features/Search/helpers/create-search-index.test.ts
Due: prettier, biome

perf(api-reference): coalesce context bar overflow measurements per frame
  packages/api-reference/src/components/Content/ContextBar/ContextBar.vue
Due: prettier, biome

fix(api-reference): keep tag group crumbs in classic layout and use EllipsisCrumb export
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/ContextBar/ContextBar.vue
Due: prettier, biome

fix(api-reference): render discriminator-only array-item variants without recursion
  .changeset/fix-discriminator-allof-recursion.md
  packages/api-reference/src/components/Content/Schema/Schema.discriminator-inheritance.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
Due: prettier, biome

fix(api-reference): address follow-up review notes on copy-as-markdown-llm button
  .changeset/copy-as-markdown-llm-button.md
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/components/CopyAsMarkdownButton.vue
  packages/api-reference/src/features/Operation/helpers/operation-to-markdown.test.ts
  packages/api-reference/src/features/Operation/helpers/operation-to-markdown.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

feat(workspace-store): add x-subTagPath for unlimited sidebar nesting depth
  .changeset/nested-sidebar-sub-tags.md
  packages/workspace-store/src/navigation/helpers/traverse-paths.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-paths.ts
  packages/workspace-store/src/navigation/helpers/traverse-tags.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-tags.ts
  packages/workspace-store/src/schemas/navigation.ts
  packages/workspace-store/src/schemas/v3.1/strict/operation.ts
Due: prettier, biome

fix(documentation): show API references and Scalar subdomain as free
  documentation/guides/pricing.md
Due: prettier

fix(documentation): show API references and Scalar subdomain as free (#9834)
  documentation/guides/pricing.md
Due: prettier

fix(json-magic): scope-key the proxy cache so recursive $dynamicRef terminates
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(workspace-store): resolve nested $dynamicAnchor declarations
  .changeset/dynamic-anchor-nested.md
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  packages/workspace-store/src/schemas/v3.1/openapi/dynamic-ref.test.ts
Due: prettier, biome

fix(json-magic): thread childScope into $dynamicRef-value and make it get-only
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): collect $dynamicAnchor under unevaluated/additional/content applicators
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

refactor(json-magic): resolve $dynamicRef inside the magic proxy
  .changeset/dynamic-anchor-nested.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  packages/workspace-store/src/schemas/v3.1/openapi/dynamic-ref.test.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

perf(json-magic): probe for $dynamicRef lazily instead of on every proxy
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): enforce $dynamicRef bookending against the innermost resource
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
Due: prettier, biome

test(api-reference): update galaxy classic snapshots for $dynamicRef rendering
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
Due: none

refactor(json-magic): export the $dynamicRef-value key as one source of truth
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

docs(json-magic): clarify collectDynamicAnchors sibling-$ref dereferencing
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

fix(api-reference): bind $dynamicRef object properties before resolve strips the proxy
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
Due: prettier, biome

test(api-reference): align galaxy classic request-body baseline with CI renderer
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
Due: none

chore(api-reference): note dynamic-ref property fix in changeset
  .changeset/dynamic-anchor-nested.md
Due: prettier

test(api-reference): align galaxy classic responses-closed baseline with CI renderer
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
Due: none

test(api-reference): align galaxy classic responses-open baseline with CI renderer
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
Due: none

test(api-reference): align galaxy classic request-callbacks baseline with CI renderer
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
Due: none

test(api-reference): align galaxy classic request-example baseline with CI renderer
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-example.png
Due: none

fix(fastify-api-reference): resolve declaration files under moduleResolution nodenext
  .changeset/fastify-dts-nodenext-resolution.md
  integrations/fastify/package.json
  integrations/fastify/src/dts-resolution.test.ts
  integrations/fastify/tsconfig.build.json
  integrations/fastify/vite.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(api-client): add value presets for global cookies
  .changeset/cookie-value-presets.md
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestParams.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTable.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/blocks/request-block/helpers/group-global-cookies.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/group-global-cookies.ts
Due: prettier, biome

fix(api-reference): keep selected server across configuration updates
  .changeset/fix-5071-selected-server-update-config.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/configuration/html/update-config-servers.html
  packages/api-reference/test/configuration/update-config-server-selection.e2e.ts
Due: prettier, biome

chore(fastify): drop unrelated agent-docs changes
  documentation/guides/agent/key.md
  scalar.config.json
Due: prettier, biome

chore(api-client): keep cookie-group helper types internal
  packages/api-client/src/v2/blocks/request-block/helpers/group-global-cookies.ts
Due: prettier, biome

fix(openapi-parser): clearer error for a response missing description
  .changeset/openapi-parser-response-description-error.md
  packages/openapi-parser/src/utils/betterAjvErrors/helpers.ts
  packages/openapi-parser/src/utils/validate.test.ts
Due: prettier, biome

fix(api-reference): harden rendering of untrusted OpenAPI documents
  .changeset/security-api-reference-untrusted-urls.md
  packages/api-reference/src/blocks/scalar-info-block/components/DownloadLink.vue
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/GettingStarted.vue
  packages/api-reference/src/features/developer-tools/components/ApiReferenceToolbarShareRegister.vue
  packages/api-reference/src/features/external-docs/ExternalDocs.vue
  packages/api-reference/src/features/info-object/Contact.vue
  packages/api-reference/src/features/info-object/InfoLink.vue
  packages/api-reference/src/features/info-object/License.vue
  packages/api-reference/src/features/info-object/TermsOfService.vue
  packages/api-reference/src/features/info-object/dangerous-urls.test.ts
  packages/api-reference/src/helpers/openapi.test.ts
  packages/api-reference/src/helpers/openapi.ts
  packages/helpers/src/url/is-safe-url.test.ts
  packages/helpers/src/url/is-safe-url.ts
Due: prettier, biome

fix(api-reference): stabilize nested tag context bar
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/ContextBar/ContextBar.test.ts
  packages/api-reference/src/components/Content/ContextBar/ContextBar.vue
  packages/api-reference/src/components/Content/ContextBar/helpers.test.ts
  packages/api-reference/src/components/Content/ContextBar/helpers.ts
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.test.ts
  packages/api-reference/src/components/Content/Tags/components/ModernLayout.vue
Due: prettier, biome

docs: add user management guide
  documentation/guides/team/user-management.md
  scalar.config.json
Due: prettier, biome

refactor(api-reference): use arrow functions and keep the version log
  .changeset/security-api-reference-untrusted-urls.md
  packages/api-reference/src/components/ApiReference.vue
  packages/helpers/src/url/is-safe-url.ts
Due: prettier, biome

docs(documentation): add user management guide
  documentation/guides/team/user-management.md
  scalar.config.json
Due: prettier, biome

fix(components): refine input backgrounds
  .changeset/light-input-backgrounds.md
  packages/components/src/components/ScalarTextArea/ScalarTextArea.vue
  packages/components/src/components/ScalarTextInput/ScalarTextInput.e2e.ts
  packages/components/src/components/ScalarTextInput/ScalarTextInput.vue
  packages/components/src/components/ScalarTextInput/ScalarTextInputCopy.vue
  packages/components/src/components/ScalarTextInput/snapshots/with-copy-hovered.png
Due: prettier, biome

fix(components): show tooltips inside modal dialogs
  .changeset/fix-tooltip-modal-dialog-top-layer.md
  packages/components/src/components/ScalarTooltip/MockDialog.vue
  packages/components/src/components/ScalarTooltip/ScalarTooltip.e2e.ts
  packages/components/src/components/ScalarTooltip/ScalarTooltip.stories.ts
  packages/components/src/components/ScalarTooltip/ScalarTooltip.vue
  packages/components/src/components/ScalarTooltip/snapshots/in-dialog.png
  packages/components/src/components/ScalarTooltip/useTooltip.test.ts
  packages/components/src/components/ScalarTooltip/useTooltip.ts
  packages/components/tsconfig.build.json
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
