Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: theme id from types package satifies theme id from themes package
  packages/api-client/src/store/store.ts
Due: prettier, eslint

chore: transform footer to boolean value
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

chore: theme id from reference config satisfies theme id from themes package
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

docs(changeset): chore: theme id from reference config satisfies theme id from themes package
  .changeset/giant-seas-roll.md
Due: prettier

fix: broken imports
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/api-reference/src/types.ts
  packages/types/src/external/snippetz.ts
Due: prettier, eslint

style(api-client): fixes dark auth pill ui
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
Due: prettier, eslint

docs(changeset): style: fixes dark auth pill ui
  .changeset/lucky-steaks-do.md
Due: prettier

fix: styling of code-highlight playground broken
  packages/code-highlight/index.html
Due: prettier

fix(api-client): allows request sidebar search toggle
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

docs(changeset): fix: allows request sidebar search toggle
  .changeset/angry-boxes-argue.md
Due: prettier

ci: async todesktop build
  .github/workflows/ci.yml
  packages/scalar-app/package.json
Due: prettier

chore: increase timeout
  .github/workflows/ci.yml
Due: prettier

ci: reset todesktop build timeout
  .github/workflows/ci.yml
Due: prettier

chore(fastify-api-reference): move example to package playground (#4314)
  .changeset/tender-impalas-build.md
  cloudbuild.yaml
  examples/fastify-api-reference/.dockerignore
  examples/fastify-api-reference/src/index.ts
  examples/fastify-api-reference/tsconfig.json
  examples/fastify-api-reference/vite.config.ts
  packages/express-api-reference/package.json
  packages/express-api-reference/playground/package.json
  packages/fastify-api-reference/Dockerfile
  packages/fastify-api-reference/exports.test.ts
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/playground/package.json
  packages/fastify-api-reference/playground/rollup.config.ts
  packages/fastify-api-reference/playground/src/index.ts
  packages/fastify-api-reference/playground/tsconfig.build.json
  packages/fastify-api-reference/playground/tsconfig.json
  packages/fastify-api-reference/tests/exports.test.ts
  packages/fastify-api-reference/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: package_format, prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

ci: async todesktop build (#4315)
  .github/workflows/ci.yml
  packages/scalar-app/package.json
Due: prettier

fix: TS error
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

style(api-client): fixes sidebar item consistency in different views
  packages/api-client/src/components/Sidebar/SidebarList.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

docs(changeset): style: fixes sidebar item consistency in different views
  .changeset/tall-islands-lay.md
Due: prettier

style(api-client): auth redesign
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/DeleteRequestAuthModal.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuthScopesInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/index.ts
  packages/api-reference/src/components/Content/ClientLibraries/ClientLibraries.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesForm.vue
Due: prettier, eslint

style(api-client): auth redesign
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
Due: prettier, eslint

fix(api-client): implicit flow border bottom color
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

feat(api-client): adds openIdConnect empty state
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

fix(api-client): increase api client implicit flow tab contrast
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

style(api-client): adds data table and server auth component fixtures
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuthScopesInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientLibraries.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
Due: prettier, eslint

style(api-client): increase contrast in tabs
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

docs(changeset): fix(api-client): redesign auth
  .changeset/angry-coins-push.md
Due: prettier

fix(api-reference): client libraries active state fix + more alignment fix
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
Due: prettier, eslint

fix: layout cleanup
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

docs(changeset): style: adds data table and server auth component fixtures
  .changeset/rotten-lizards-care.md
Due: prettier

style: lines up better?
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
Due: prettier, eslint

empty state fixup
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

feat(api-client): favors null for request auth empty value
  packages/api-client/src/views/Request/RequestSection/RequestAuth/DeleteRequestAuthModal.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
Due: prettier, eslint

fix(api-client): sets missing layout props + fixes type
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
Due: prettier, eslint

fix(api-client): adds selected security scheme watcher for index fallback
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
Due: prettier, eslint

style(api-client): updates overall auth ui
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

style(api-client): adds floating-bg custom tw utility
  packages/api-client/src/tailwind/tailwind.css
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

style(api-client): auth redesign (#4294)
  .changeset/angry-coins-push.md
  .changeset/rotten-lizards-care.md
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/tailwind/tailwind.css
  packages/api-client/src/views/Request/RequestSection/RequestAuth/DeleteRequestAuthModal.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuthScopesInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/index.ts
  packages/api-reference/src/components/Content/ClientLibraries/ClientLibraries.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesForm.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

docs: add django integration to the root README (#4368)
  README.md
Due: prettier

feat: added some extra functionality to curl lib
  packages/api-client/src/libs/importers/curl.test.ts
  packages/api-client/src/libs/importers/curl.ts
Due: prettier, eslint
