Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat(api-client): server variables from example (#2905)
  .changeset/curvy-trains-grab.md
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
  packages/oas-utils/src/entities/spec/request-examples.ts
  packages/oas-utils/src/entities/spec/server.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.ts
  packages/oas-utils/src/spec-getters/getServerVariableExamples.ts
  packages/oas-utils/src/spec-getters/index.ts
Due: prettier, eslint

chore: addicent
  packages/api-reference/src/components/ApiClientModal.vue
Due: prettier, eslint

fix: server selection, client auth, and workspace creation (#3138)
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/import-spec.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-reference/src/components/ApiClientModal.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: olympics complete
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/api-client-bus.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: finish up auth
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
Due: prettier, eslint

docs(changeset): feat: added one way auth sync from references to client
  .changeset/nasty-worms-know.md
Due: prettier

fix: types
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/api-client-bus.ts
Due: prettier, eslint

fix: sync auth from references to client (#3139)
  .changeset/nasty-worms-know.md
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/api-client-bus.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/oas-utils/src/entities/spec/security.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: environment mutators
  packages/api-client/src/store/cookies.ts
  packages/api-client/src/store/environment.ts
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

docs(changeset): fix: environment and cookie mutators
  .changeset/smooth-turtles-taste.md
Due: prettier

fix: environment and cookie mutators (#3140)
  .changeset/smooth-turtles-taste.md
  packages/api-client/src/store/cookies.ts
  packages/api-client/src/store/environment.ts
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

feat(api-client): style context bar revert (#3137)
  .changeset/wild-timers-design.md
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
Due: prettier, eslint

fix(api-client): command palette consitency and style
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

docs(changeset): fix: command palette consistency and styles
  .changeset/ten-balloons-glow.md
Due: prettier

fix(api-client): command palette fixtures (#3144)
  .changeset/ten-balloons-glow.md
  packages/api-client/src/components/CommandPalette/CommandActionInput.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

fix(api-client): decreases address bar content font size
  packages/api-client/src/components/AddressBar/AddressBar.vue
Due: prettier, eslint

fix(api-client): sidebar width long child content
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix(api-client): request sidebar search fade
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

docs(changeset): fix: sidebar width and long request content handling
  .changeset/selfish-coins-ring.md
Due: prettier

fix(api-client): styles very long request
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix(api-client): workspace dropdown style consistency
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

docs(changeset): avoid overwriting parameters in queries to support arrays as query params
  .changeset/breezy-moons-grab.md
Due: prettier

test: query parameters can be sent as an array
  packages/api-client/src/libs/send-request.test.ts
Due: prettier, eslint

fix: eslint does not run
  .eslintrc.cjs
  examples/nestjs-api-reference-express/.eslintrc.js
  examples/nestjs-api-reference-fastify/.eslintrc.js
  packages/api-reference-editor/tsconfig.json
  packages/api-reference/tsconfig.json
  packages/express-api-reference/tsconfig.json
  packages/hono-api-reference/tsconfig.json
  packages/mock-server/tests/onRequest.test.ts
  packages/mock-server/tsconfig.json
  packages/nestjs-api-reference/tsconfig.json
  packages/nextjs-openapi/tsconfig.json
  packages/play-button/tsconfig.json
  packages/ts-to-openapi/tsconfig.json
  packages/types/tsconfig.json
Due: prettier, eslint

fix: TS build
  packages/api-reference/tsconfig.json
Due: prettier

fix: TS build
  packages/api-reference/src/global.d.ts
  packages/api-reference/tsconfig.build.json
  packages/api-reference/tsconfig.json
Due: prettier, eslint

chore: remove unused dependency tsup
  packages/hono-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: ignore TS issues in the playground (wip)
  packages/hono-api-reference/playground/index.ts
Due: prettier, eslint

chore: update eslint typescript parser
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  examples/react/package.json
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: make api-client pass linting
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/views/Request/RequestSection/RequestTableTooltip.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseLoadingOverlay.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseMetaInformation.vue
  packages/api-client/src/views/Request/libs/oauth2.ts
Due: prettier, eslint

chore: make more packages pass linting
  .eslintrc.cjs
  packages/code-highlight/src/code/line-numbers.ts
  packages/openapi-types/src/openapi-types.ts
Due: prettier, eslint

chore: make types package pass linting
  packages/openapi-parser/src/types/index.ts
Due: prettier, eslint

fix(api-client): adds path regex helper
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
  packages/oas-utils/src/helpers/regexHelpers.ts
Due: prettier, eslint

chore: make api client react pass
  packages/api-client-react/src/shims.d.ts
Due: prettier, eslint

docs(changeset): fix: adds path regex helper
  .changeset/early-geese-impress.md
Due: prettier

chore: make api-reference pass
  packages/api-reference/src/features/Search/SearchModal.vue
Due: prettier, eslint

fix(api-client): sets language to environment codeinput
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

fix(api-client): adds variable in environment parser array
  packages/api-client/src/libs/environment-parser.ts
Due: prettier, eslint

include client + update reference images and h1
  README.md
Due: prettier

fix(api-client): sidebar fixtures (#3143)
  .changeset/selfish-coins-ring.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
