Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

docs(changeset): Add theme setting in api reference
  .changeset/twenty-roses-roll.md
Due: prettier

docs(changeset): Add theme setting in api reference
  .changeset/tasty-apricots-help.md
Due: prettier

fix: parameters with .required = true aren’t shown as required
  packages/api-reference/src/components/Content/Schema/Schema.vue
Due: prettier, eslint

feat: only use required attributes
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
Due: prettier, eslint

fix: additionalProperties aren’t added when the object is required
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
  packages/oas-utils/src/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

docs(changeset): feat: omit empty and not required properties from the generated request body
  .changeset/small-zoos-sell.md
Due: prettier

chore: add omitEmptyAndOptionalProperties option
  packages/api-reference/src/components/Content/Models/ModelsAccordion.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
  packages/oas-utils/src/getRequestBodyFromOperation.ts
Due: prettier, eslint

chore: make some required properties to be required
  packages/oas-utils/src/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

fix: tests
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
  packages/oas-utils/src/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

chore: rename preview command to dev
  packages/galaxy/package.json
Due: prettier

chore: add watch flag
  packages/galaxy/package.json
Due: prettier

chore: remove headings from details tag
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

docs(changeset): chore: remove headings from inside the details tag
  .changeset/perfect-bags-swim.md
Due: prettier

chore(cli): add screenshots
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/screenshots/format.png
  packages/cli/screenshots/help.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
  packages/cli/scripts/take-screenshots.sh
Due: prettier

chore: add a comment to the screenshot script
  packages/cli/scripts/take-screenshots.sh
Due: none

chore: update screenshot size
  packages/cli/screenshots/format.png
  packages/cli/screenshots/help.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
  packages/cli/scripts/take-screenshots.sh
Due: none

chore: no shadow
  packages/cli/scripts/take-screenshots.sh
Due: none

chore: update images
  packages/cli/screenshots/format.png
  packages/cli/screenshots/help.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
Due: none

chore: add help screenshot
  packages/cli/README.md
  packages/cli/screenshots/format.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
Due: prettier

chore: add more screenshots
  packages/cli/README.md
  packages/cli/screenshots/format.png
  packages/cli/screenshots/mock.png
  packages/cli/screenshots/serve.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
  packages/cli/scripts/take-screenshots.sh
  packages/cli/src/commands/mock/MockCommand.ts
  packages/cli/src/commands/serve/ServeCommand.ts
Due: prettier, eslint

docs(changeset): feat: add --once to serve and mock to exit right-away
  .changeset/violet-hats-push.md
Due: prettier

feat: Adds new unified package for code highlight and markdown rendering (#1891)
  packages/code-highlight/index.html
  packages/code-highlight/package.json
  packages/code-highlight/src/code.ts
  packages/code-highlight/src/constants.ts
  packages/code-highlight/src/css/code.css
  packages/code-highlight/src/css/markdown.css
  packages/code-highlight/src/index.ts
  packages/code-highlight/src/markdown.ts
  packages/code-highlight/src/rehype-highlight.ts
  packages/code-highlight/test/markdown-test.md
  packages/code-highlight/test/preview.ts
  packages/code-highlight/tsconfig.build.json
  packages/code-highlight/tsconfig.json
  packages/code-highlight/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: package_format, prettier, eslint

chore(galaxy): remove headings from details tag (#1921)
  .changeset/perfect-bags-swim.md
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

chore(galaxy): add a preview script (#1922)
  packages/galaxy/package.json
Due: prettier

chore(cli): add screenshots (#1923)
  .changeset/violet-hats-push.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/screenshots/format.png
  packages/cli/screenshots/help.png
  packages/cli/screenshots/mock.png
  packages/cli/screenshots/serve.png
  packages/cli/screenshots/share.png
  packages/cli/screenshots/validate.png
  packages/cli/scripts/take-screenshots.sh
  packages/cli/src/commands/mock/MockCommand.ts
  packages/cli/src/commands/serve/ServeCommand.ts
Due: prettier, eslint

fix: markdown navigation (#1920)
  .changeset/odd-pugs-rescue.md
  packages/api-reference/package.json
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

Revert "fix: markdown navigation (#1920)"
  .changeset/odd-pugs-rescue.md
  packages/api-reference/package.json
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: revert tsconfig change
  tsconfig.json
Due: prettier

chore: revert tsconfig change (#1925)
  tsconfig.json
Due: prettier

Revert "fix: markdown navigation (#1920)" (#1924)
  .changeset/odd-pugs-rescue.md
  packages/api-reference/package.json
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: use new pipeline syntax
  packages/api-reference/src/helpers/parse.ts
Due: prettier, eslint

chore: update @scalar/openapi-parser
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/api-reference/src/helpers/parse.ts
  packages/cli/package.json
  packages/galaxy/package.json
  packages/mock-server/package.json
  packages/oas-utils/package.json
  packages/play-button/package.json
Due: prettier, eslint

chore: modular import for the parser, measure time
  packages/api-reference/src/helpers/parse.ts
Due: prettier, eslint

chore: update @scalar/openapi-parser
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/cli/package.json
  packages/mock-server/package.json
  packages/oas-utils/package.json
  packages/play-button/package.json
Due: prettier

chore: update openapi-parser
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/cli/package.json
  packages/galaxy/package.json
  packages/mock-server/package.json
  packages/nuxt/src/runtime/plugins/hydrateClient.d.mts
  packages/oas-utils/package.json
  packages/play-button/package.json
Due: prettier

fix: some TS issues
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
  packages/api-client/src/helpers/getRequestFromAuthentication.ts
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Models/ModelsAccordion.vue
  packages/api-reference/src/helpers/parse.ts
  packages/mock-server/src/createMockServer.ts
Due: prettier, eslint

chore: update lock file
  packages/cli/package.json
  packages/galaxy/package.json
  pnpm-lock.yaml
Due: package_format, prettier

RELEASING: Releasing 12 package(s) (#1916)
  .changeset/gentle-pumas-melt.md
  .changeset/perfect-bags-swim.md
  .changeset/violet-hats-push.md
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/galaxy/CHANGELOG.md
  packages/galaxy/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

chore: remove changeset since readme update
  .changeset/tasty-apricots-help.md
  .changeset/twenty-roses-roll.md
Due: prettier

chore: format readme
  packages/api-reference/README.md
Due: prettier
