Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: rewrite lock file
  examples/web/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: TS issues
  examples/web/src/pages/CollaborativeEditingPage.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
Due: prettier, eslint

fix: intersection scroll open section
  packages/api-reference/src/components/SidebarElement.vue
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

chore: changelog
  .changeset/large-cows-return.md
Due: prettier

chore: changeset
  .changeset/large-cows-return.md
Due: prettier

fix: url changes
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

feat: change url structure
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

fix: add ref back
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
Due: prettier, eslint

chore: remove console
  packages/api-reference/src/components/ApiReferenceBase.vue
Due: prettier, eslint

fix: don't override Content-Type header when present in the request (#652)
  packages/api-client/src/helpers/prepareClientRequestConfig.test.ts
  packages/api-client/src/helpers/prepareClientRequestConfig.ts
Due: prettier, eslint

feat: enable/disable parameters to include/exclude them in/from the request
  packages/api-client/src/components/ApiClient/Request/RequestCookies.vue
  packages/api-client/src/components/ApiClient/Request/RequestHeaders.vue
  packages/api-client/src/components/ApiClient/Request/RequestQuery.vue
  packages/api-client/src/components/ApiClient/Request/RequestVariables.vue
  packages/api-client/src/components/Grid/Grid.vue
  packages/api-client/src/helpers/prepareClientRequestConfig.ts
  packages/api-client/src/helpers/sendRequest.ts
  packages/api-client/src/types.ts
  packages/api-reference/src/helpers/generateParameters.ts
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/helpers/getParametersFromOperation.ts
  packages/api-reference/src/helpers/getRequestFromOperation.ts
Due: prettier, eslint

fix: TS issues
  packages/api-client/src/helpers/sendRequest.test.ts
Due: prettier, eslint

docs(changeset): feat: toggle parameters to include/exclude them in/from the request
  .changeset/dull-mugs-knock.md
Due: prettier

chore: don’t pass disabled variables
  packages/api-client/src/helpers/sendRequest.ts
Due: prettier, eslint

chore: ignore snippetz in the alias config
  examples/api-client-proxy/vite.config.ts
  examples/backend/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/react/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/swagger-editor/vite.config.ts
  packages/swagger-parser/vite.config.ts
Due: prettier, eslint

feat: add undici
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Introduction/ClientSelector.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/helpers/filterClients.ts
  packages/api-reference/src/helpers/getAvailableTargets.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/stores/template.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update snippetz
  packages/api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: types
  packages/api-client/src/helpers/prepareClientRequestConfig.test.ts
Due: prettier, eslint

fix: tests
  packages/api-reference/src/helpers/getParametersFromOperation.test.ts
Due: prettier, eslint

chore: update snippetz
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): feat: add undici example requests
  .changeset/brave-bobcats-scream.md
Due: prettier

feat: toggle parameters, fix #653 (#663)
  .changeset/dull-mugs-knock.md
  packages/api-client/src/components/ApiClient/Request/RequestCookies.vue
  packages/api-client/src/components/ApiClient/Request/RequestHeaders.vue
  packages/api-client/src/components/ApiClient/Request/RequestQuery.vue
  packages/api-client/src/components/ApiClient/Request/RequestVariables.vue
  packages/api-client/src/components/Grid/Grid.vue
  packages/api-client/src/helpers/prepareClientRequestConfig.test.ts
  packages/api-client/src/helpers/prepareClientRequestConfig.ts
  packages/api-client/src/helpers/sendRequest.test.ts
  packages/api-client/src/helpers/sendRequest.ts
  packages/api-client/src/types.ts
  packages/api-reference/src/helpers/generateParameters.ts
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/helpers/getParametersFromOperation.test.ts
  packages/api-reference/src/helpers/getParametersFromOperation.ts
  packages/api-reference/src/helpers/getRequestFromOperation.ts
Due: prettier, eslint

feat: add undici example requests (#667)
  .changeset/brave-bobcats-scream.md
  examples/api-client-proxy/vite.config.ts
  examples/backend/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/react/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Introduction/ClientSelector.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/helpers/filterClients.ts
  packages/api-reference/src/helpers/getAvailableTargets.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/stores/template.ts
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/swagger-editor/vite.config.ts
  packages/swagger-parser/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: show schema description in parameter item
  packages/api-reference/src/components/Content/ReferenceEndpoint/ParameterItem.vue
  packages/api-reference/src/types.ts
Due: prettier, eslint

docs(changeset): feat: show schema description in parameter item
  .changeset/hip-baboons-play.md
Due: prettier

fix: sidebar on mobile doesnt close once changing active item
  packages/api-reference/src/components/Layouts/ModernLayout.vue
Due: prettier, eslint

docs(changeset): fix: sidebar on mobile doesnt close once changing active item
  .changeset/plenty-bees-fly.md
Due: prettier

feat: show schema description in parameter item (#666)
  .changeset/hip-baboons-play.md
  packages/api-reference/src/components/Content/ReferenceEndpoint/ParameterItem.vue
  packages/api-reference/src/types.ts
Due: prettier, eslint

fix: flat single level items on sidebar
  packages/api-reference/src/components/Sidebar.vue
Due: prettier, eslint

chore: extend examples for layouts
  examples/web/src/components/DevToolbar.vue
  examples/web/src/main.ts
  examples/web/src/pages/ApiReferencePage.vue
  examples/web/src/pages/EditableApiReferencePage.vue
  examples/web/src/pages/StartPage.vue
Due: prettier, eslint

feat: move cards to bottom for classic layout
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

refactor: extract introduction content
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/ClientList.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

fix: use resize observer for hiding additional icons
  packages/api-reference/src/components/Content/Introduction/ClientSelector.vue
Due: prettier, eslint

fix: adjust padding on accordion container to match normal sections
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, eslint

docs(changeset): feat: classic introduction layout
  .changeset/dry-days-lick.md
Due: prettier

feat: classic introduction layout (#670)
  .changeset/dry-days-lick.md
  examples/web/src/components/DevToolbar.vue
  examples/web/src/main.ts
  examples/web/src/pages/ApiReferencePage.vue
  examples/web/src/pages/EditableApiReferencePage.vue
  examples/web/src/pages/StartPage.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/ClientList.vue
  packages/api-reference/src/components/Content/Introduction/ClientSelector.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, eslint

refactor: remove padding from borderless card content
  packages/api-reference/src/components/Card/CardContent.vue
  packages/api-reference/src/components/Card/CardFooter.vue
  packages/api-reference/src/components/Card/CardHeader.vue
  packages/api-reference/src/components/Card/types.ts
Due: prettier, eslint

feat: remove border from introduction card headings
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/Introduction/ClientList.vue
  packages/api-reference/src/components/Content/Introduction/ServerList.vue
Due: prettier, eslint

docs(changeset): feat: remove border from introduction card headings
  .changeset/shiny-wombats-study.md
Due: prettier

feat: remove border from introduction card headings (#671)
  .changeset/shiny-wombats-study.md
  packages/api-reference/src/components/Card/CardContent.vue
  packages/api-reference/src/components/Card/CardFooter.vue
  packages/api-reference/src/components/Card/CardHeader.vue
  packages/api-reference/src/components/Card/types.ts
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/Introduction/ClientList.vue
  packages/api-reference/src/components/Content/Introduction/ServerList.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
