Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

fix(fastapi): include MIT license in PyPI metadata (#8764)
  .changeset/funny-candles-draw.md
  integrations/fastapi/setup.py
Due: prettier

do not process security if user disabled it
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/build-request.ts
Due: prettier, biome

add documentation
  documentation/configuration.md
Due: prettier

fix tests
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
Due: prettier, biome

docs(changeset): feat: request factory interface improvements
  .changeset/chatty-mice-cough.md
Due: prettier

docs(changeset): fix: support new request factory api
  .changeset/clear-hats-yell.md
Due: prettier

fix tests + types
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/oas-utils/src/helpers/client-plugins.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
Due: prettier, biome

improve creation
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/SidebarItemMenu.vue
  packages/api-client/src/v2/features/app/helpers/create-temp-operation.ts
Due: prettier, biome

resolve threads
  packages/api-client/src/v2/features/app/helpers/create-temp-operation.ts
Due: prettier, biome

fix types
  packages/api-reference/src/helpers/map-config-plugins.test.ts
Due: prettier, biome

feat(components): adjust card rounding logic
  packages/components/src/components/ScalarCard/ScalarCard.vue
  packages/components/src/components/ScalarCard/ScalarCardSection.vue
Due: prettier, biome

feat(themes): add Tailwind v3 transform reset
  packages/themes/src/tailwind.css
  packages/themes/src/tailwind/v3-reset.css
Due: prettier

docs(changeset): feat(themes): add Tailwind v3 transform reset
  .changeset/clean-icons-roll.md
  packages/themes/src/tailwind/v3-reset.css
Due: prettier

resolve threads
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/helpers/src/formatters/format-milliseconds.ts
Due: prettier, biome

fix route thins
  packages/api-client/src/v2/features/app/helpers/routes.ts
Due: prettier, biome

fix tests
  packages/api-client/src/v2/features/collection/components/Tabs.test.ts
Due: prettier, biome

fix: generate the example from the first response content
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
Due: prettier, biome

docs(changeset): fix: generate the response examples by removing the priority order
  .changeset/twenty-hoops-tell.md
Due: prettier

update documentation
  documentation/configuration.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-reference/src/helpers/map-config-plugins.test.ts
  packages/api-reference/src/helpers/map-config-plugins.ts
  packages/oas-utils/src/helpers/client-plugins.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/request-factory.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
Due: prettier, biome

fix types
  documentation/configuration.md
Due: prettier

feat: get lazier
  packages/api-client-react/src/get-or-create-api-client.test.ts
  packages/api-client-react/src/get-or-create-api-client.ts
  packages/api-client-react/src/lazy-load.test.ts
  packages/api-client-react/src/lazy-load.ts
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
Due: prettier, biome

clean up runner function
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-execution.ts
  packages/api-client/src/v2/helpers/safe-run.ts
  packages/workspace-store/src/request-example/context/get-request-example-context.ts
  packages/workspace-store/src/request-example/context/index.ts
  packages/workspace-store/src/request-example/index.ts
Due: prettier, biome

fix tetss
  packages/api-reference/src/helpers/map-config-plugins.test.ts
  packages/types/src/api-reference/api-reference-configuration.test.ts
  packages/types/src/api-reference/api-reference-configuration.ts
Due: prettier, biome

feat(workspace-store): improve the interface of request factory to support more complex scenarios (#8762)
  .changeset/chatty-mice-cough.md
  .changeset/clear-hats-yell.md
  documentation/configuration.md
  packages/agent-chat/src/client-tools/execute-request.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-reference/src/helpers/map-config-plugins.test.ts
  packages/api-reference/src/helpers/map-config-plugins.ts
  packages/oas-utils/src/helpers/client-plugins.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
  packages/types/src/api-reference/api-reference-configuration.test.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/build-request.ts
  packages/workspace-store/src/request-example/builder/request-factory.test.ts
  packages/workspace-store/src/request-example/builder/request-factory.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
  packages/workspace-store/src/request-example/builder/security/build-request-security.test.ts
  packages/workspace-store/src/request-example/builder/security/build-request-security.ts
Due: prettier, biome

feat(api-reference): collapse truncated descriptions
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
Due: prettier, biome

test(api-reference): add varying length response examples
  packages/api-reference/examples/long-strings.yaml
Due: prettier

feat(components): expose summary truncation state
  packages/components/src/components/ScalarMarkdown/ScalarMarkdownSummary.vue
Due: prettier, biome

docs(changeset): feat(api-reference): collapse truncated descriptions
  .changeset/cozy-cycles-dress.md
Due: prettier

revert(api-reference): only change collapse behavior
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
Due: prettier, biome

docs(changeset): feat(components): expose summary truncation state
  .changeset/curvy-dragons-repeat.md
Due: prettier

test(api-reference): update snapshots
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
Due: none

docs(docs): add dedicated tables component page
  documentation/guides/docs/components/markdown-support.md
  documentation/guides/docs/components/tables.md
  scalar.config.json
Due: prettier, biome

feat(docs): remove extra section
  documentation/guides/docs/components/tables.md
Due: prettier

chore(docs): format tables
  documentation/guides/docs/components/tables.md
Due: prettier

feat(docs): update favicon (#8738)
  documentation/assets/favicon.png
  documentation/assets/favicon.svg
  scalar.config.json
Due: prettier, biome

feat(api-client-react): update to client v2 (#8760)
  .changeset/slimy-jars-exist.md
  .changeset/yellow-cloths-relate.md
  examples/nextjs-api-reference/app/another-client/page.tsx
  examples/nextjs-api-reference/app/client/components/Button.tsx
  examples/nextjs-api-reference/app/client/components/ClientWrapper.tsx
  examples/nextjs-api-reference/app/client/page.tsx
  packages/api-client-react/README.md
  packages/api-client-react/package.json
  packages/api-client-react/playground/App.tsx
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client-react/src/client-store.ts
  packages/api-client-react/src/index.ts
  packages/api-client-react/src/lazy-load.test.ts
  packages/api-client-react/src/lazy-load.ts
  packages/api-client-react/src/use-api-client.test.ts
  packages/api-client-react/src/use-api-client.ts
  packages/api-client-react/src/vitest.setup.ts
  packages/api-client-react/tsconfig.build.json
  packages/api-client-react/vitest.config.ts
  packages/api-client/src/v2/features/modal/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

resolve threads
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-execution.ts
Due: prettier, biome

feat: support cookies
  packages/api-client/package.json
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseCookies.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

docs(changeset): feat: suport for set-cookie header
  .changeset/true-views-send.md
Due: prettier

fix formatting
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
Due: prettier, biome
