Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: move playwright test folder
  .github/workflows/test-ui.yml
  .gitignore
  package.json
  packages/playwright/.gitignore
  packages/playwright/package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/cdn.spec.ts
Due: package_format, prettier, eslint

chore: only run playwright e2e tests
  .github/workflows/test-ui.yml
Due: prettier

chore: resolve lockfile
  pnpm-lock.yaml
Due: package_format, prettier

chore: remove alias from components package (#1088)
  .prettierrc
  examples/api-client-proxy/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/nextjs-api-reference/tsconfig.json
  examples/react/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/components/.prettierrc
  packages/components/.storybook/preview.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarButton/variants.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/swagger-editor/vite.config.ts
  packages/swagger-parser/vite.config.ts
Due: prettier, eslint

test: api reference cdn (#1085)
  .github/workflows/test-ui.yml
  .gitignore
  examples/cdn-api-reference/package.json
  examples/cdn-api-reference/src/index.ts
  examples/cdn-api-reference/src/public/api-reference-cdn.html
  examples/cdn-api-reference/tsconfig.json
  examples/cdn-api-reference/vite.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/cdn.spec.ts
Due: package_format, prettier, eslint

feat: Add codemirror syntax highlighting back in and move to a static value for selection color
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorInput.vue
  packages/use-codemirror/package.json
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/themes/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: Add CSS language
  packages/use-codemirror/package.json
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/types.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): Add syntax highlighting back to codemirror
  .changeset/selfish-pets-live.md
Due: prettier

feat: Add codemirror syntax highlighting back in and move to a static color (#1080)
  .changeset/selfish-pets-live.md
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorInput.vue
  packages/use-codemirror/package.json
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/themes/index.ts
  packages/use-codemirror/src/types.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

RELEASING: Releasing 14 package(s) (#1086)
  .changeset/green-rocks-relax.md
  .changeset/lemon-frogs-doubt.md
  .changeset/quiet-plants-ring.md
  .changeset/selfish-pets-live.md
  .changeset/tricky-jokes-cover.md
  packages/api-client-proxy/CHANGELOG.md
  packages/api-client-proxy/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/echo-server/CHANGELOG.md
  packages/echo-server/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
  packages/swagger-parser/CHANGELOG.md
  packages/swagger-parser/package.json
  packages/use-codemirror/CHANGELOG.md
  packages/use-codemirror/package.json
Due: prettier

feat: hide secret credentials, fix #1062 (#1074)
  .changeset/fuzzy-dolphins-try.md
  packages/api-client/src/components/Grid/Grid.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/components/Content/Operation/ExampleRequest.vue
  packages/api-reference/src/helpers/getRequestFromAuthentication.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.stories.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, eslint

fix: visual regressions
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

docs(changeset): fix: visual regressions
  .changeset/cuddly-apricots-destroy.md
Due: prettier

fix: visual regressions (#1094)
  .changeset/cuddly-apricots-destroy.md
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

RELEASING: Releasing 10 package(s) (#1092)
  .changeset/cuddly-apricots-destroy.md
  .changeset/fuzzy-dolphins-try.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
Due: prettier

ci: take screenshots of URLs
  .github/workflows/ci.yml
Due: prettier

ci: use personal token for the update contributors workflow, to fix auto merge
  .github/workflows/auto-merge.yml
  .github/workflows/update-contributors.yml
Due: prettier

ci: simple file name and store as artifact
  .github/workflows/ci.yml
Due: prettier

ci: comment with file
  .github/workflows/ci.yml
Due: prettier

ci: try to comment with a message
  .github/workflows/ci.yml
Due: prettier

ci: comment with artifact
  .github/workflows/ci.yml
Due: prettier

ci: test another comment on PR action
  .github/workflows/ci.yml
Due: prettier

ci: try another comment on PR workflow
  .github/workflows/ci.yml
Due: prettier

ci: wow, try *another* comment on PR action
  .github/workflows/ci.yml
Due: prettier

chore: clean up
  .github/workflows/ci.yml
Due: prettier

ci: fix typo
  .github/workflows/ci.yml
Due: prettier

mobile header button fix
  packages/api-reference/src/components/MobileHeader.vue
Due: prettier, eslint

docs(changeset): fix: mobile header button
  .changeset/twenty-rules-eat.md
Due: prettier

fix: mobile header button fix (#1098)
  .changeset/twenty-rules-eat.md
  packages/api-reference/src/components/MobileHeader.vue
Due: prettier, eslint

RELEASING: Releasing 6 package(s) (#1099)
  .changeset/twenty-rules-eat.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
Due: prettier

fix: revert css injection
  .prettierrc
  examples/api-client-proxy/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/nextjs-api-reference/tsconfig.json
  examples/react/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/components/.prettierrc
  packages/components/.storybook/preview.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarButton/variants.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/vite.config.ts
  packages/swagger-parser/vite.config.ts
Due: prettier, eslint

fix: revert header button fix
  packages/api-reference/src/components/MobileHeader.vue
Due: prettier, eslint

fix: revert visual regressions
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

docs(changeset): fix: revert css changes to components lib
  .changeset/khaki-wolves-learn.md
Due: prettier

fix: revert css injection (#1100)
  .changeset/khaki-wolves-learn.md
  .prettierrc
  examples/api-client-proxy/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/fastify-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  examples/nextjs-api-reference/tsconfig.json
  examples/react/vite.config.ts
  examples/web/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  packages/api-reference/src/components/MobileHeader.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/components/.prettierrc
  packages/components/.storybook/preview.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarButton/variants.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/echo-server/vite.config.ts
  packages/fastify-api-reference/vite.config.ts
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/vite.config.ts
  packages/swagger-parser/vite.config.ts
Due: prettier, eslint

fix: style of references
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
Due: prettier, eslint

docs(changeset): style: fix padding and border for references
  .changeset/proud-ways-give.md
Due: prettier

style: remove client libs at larger breakpoint
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, eslint

fix: remove importants
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
Due: prettier, eslint

fix: add shadows back
  packages/themes/src/base.css
Due: prettier
