Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: remove extra
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyVirtual.vue
Due: prettier, eslint

refactor(api-client): localize event bus in store
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/layouts/Web/ApiClientWeb.vue
  packages/api-client/src/libs/event-bus.test.ts
  packages/api-client/src/libs/event-bus.ts
  packages/api-client/src/libs/event-busses/cancel-request-bus.ts
  packages/api-client/src/libs/event-busses/command-palette-bus.ts
  packages/api-client/src/libs/event-busses/execute-request-bus.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/libs/event-busses/request-status-bus.ts
  packages/api-client/src/libs/hot-keys.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/libs/send-request.ts
  packages/api-client/src/store/events.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseLoadingOverlay.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseMetaInformation.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

docs(changeset): refactor(api-client): localize event bus in workspace store
  .changeset/wise-avocados-raise.md
Due: prettier

refactor(api-client): localize event bus in workspace store (#3425)
  .changeset/wise-avocados-raise.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/layouts/Web/ApiClientWeb.vue
  packages/api-client/src/libs/event-bus.test.ts
  packages/api-client/src/libs/event-bus.ts
  packages/api-client/src/libs/event-busses/cancel-request-bus.ts
  packages/api-client/src/libs/event-busses/command-palette-bus.ts
  packages/api-client/src/libs/event-busses/execute-request-bus.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/libs/event-busses/request-status-bus.ts
  packages/api-client/src/libs/hot-keys.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/libs/send-request.ts
  packages/api-client/src/store/events.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseLoadingOverlay.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseMetaInformation.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix: use tag group order instead of tag order
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, eslint

fix(api-reference): render tags in tag group order if set
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/components/Content/Tag/index.ts
Due: prettier, eslint

docs(changeset): fix(api-reference): render tags in tag group order if set
  .changeset/happy-wolves-glow.md
Due: prettier

fix(api-reference): render tags in tag group order if set (#3409)
  .changeset/happy-wolves-glow.md
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/components/Content/Tag/index.ts
Due: prettier, eslint

chore: delete open page
  packages/api-client-app/open/index.html
  packages/api-client-app/open/src/components/App.vue
  packages/api-client-app/open/src/main.ts
  packages/api-client-app/open/vite.config.ts
  packages/api-client-app/package.json
Due: prettier, eslint

docs: add a the simulate update script to the README
  packages/api-client-app/README.md
Due: prettier

chore: delete open page from cloudbuild
  cloudbuild.yaml
  packages/api-client-app/Dockerfile
Due: prettier

docs(changeset): fix: doesn’t work with ignoreTrailingSlash: true
  .changeset/wise-doors-hide.md
Due: prettier

fix: doesn’t work with ignoreTrailingSlash: true
  examples/fastify-api-reference/src/index.ts
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

fix(api-client): updates command palette back button alignment
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

fix(api-client): updates command palette server collection logic
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
Due: prettier, eslint

docs(changeset): fix: updates command palette server collection logic
  .changeset/new-chairs-allow.md
Due: prettier

Update packages/api-client/src/views/Request/ResponseSection/ResponseBodyVirtual.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyVirtual.vue
Due: prettier, eslint

fix: add focus outline to client selector button
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
Due: prettier, eslint

fix(api-client): command palette server collection (#3448)
  .changeset/new-chairs-allow.md
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

feat(api-client): added virtual text component and implement it for big responses (#3446)
  .changeset/neat-beers-dress.md
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyVirtual.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/components/src/components/ScalarVirtualText/ScalarVirtualText.spec.ts
  packages/components/src/components/ScalarVirtualText/ScalarVirtualText.stories.ts
  packages/components/src/components/ScalarVirtualText/ScalarVirtualText.vue
  packages/components/src/components/ScalarVirtualText/index.ts
  packages/components/src/index.ts
  packages/oas-utils/src/helpers/parse.ts
Due: prettier, eslint

fix(fastify-api-reference): does not work with `ignoreTrailingSlash: true` (#3453)
  .changeset/wise-doors-hide.md
  examples/fastify-api-reference/src/index.ts
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

chore(api-client-app): delete open page (#3452)
  cloudbuild.yaml
  packages/api-client-app/Dockerfile
  packages/api-client-app/README.md
  packages/api-client-app/open/index.html
  packages/api-client-app/open/src/components/App.vue
  packages/api-client-app/open/src/main.ts
  packages/api-client-app/open/vite.config.ts
  packages/api-client-app/package.json
Due: prettier, eslint

docs(changeset): feat: add cors headers to OpenAPI documents
  .changeset/slow-comics-melt.md
Due: prettier

feat: add cors headers to openapi documents
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

RELEASING: Releasing 15 package(s) (#3451)
  .changeset/happy-wolves-glow.md
  .changeset/neat-beers-dress.md
  .changeset/new-chairs-allow.md
  .changeset/wise-avocados-raise.md
  .changeset/wise-doors-hide.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/use-codemirror/CHANGELOG.md
  packages/use-codemirror/package.json
Due: prettier

fix(api-reference): accessibility issues (#3435)
  .changeset/angry-crabs-design.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrl.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesForm.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesTextbox.vue
  packages/api-reference/src/features/DownloadLink/DownloadLink.vue
  packages/api-reference/src/legacy/components/CardFormTextInput.vue
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/api-reference/src/standalone.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/themes/src/reset.css
  packages/themes/src/tailwind.ts
Due: prettier, eslint

RELEASING: Releasing 13 package(s) (#3465)
  .changeset/angry-crabs-design.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/use-codemirror/CHANGELOG.md
  packages/use-codemirror/package.json
Due: prettier

feat(fastify-api-reference): CORS headers for the OpenAPI documents (#3449)
  .changeset/slow-comics-melt.md
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

RELEASING: Releasing 8 package(s) (#3469)
  .changeset/slow-comics-melt.md
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

feat: lower response threshold and change to bytes
  packages/api-client/package.json
  packages/api-client/src/libs/send-request.ts
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/oas-utils/src/entities/spec/requests.ts
Due: prettier, eslint

docs(changeset): feat: lower syntax highlighting response threshold
  .changeset/pink-cats-push.md
Due: prettier

fix: broken lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: use build tooling scripts
  packages/openapi-types/package.json
Due: prettier

docs(changeset): chore: use build tooling scripts
  .changeset/tall-kangaroos-jump.md
Due: prettier

fix: tests
  packages/api-client/src/libs/create-request-operation.test.ts
  packages/api-client/src/libs/decode-buffer.test.ts
  packages/api-client/src/libs/send-request.test.ts
Due: prettier, eslint

chore(openapi-types): use build tooling scripts for types (#3462)
  .changeset/tall-kangaroos-jump.md
  packages/openapi-types/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): chore: updated vue package to 3.5
  .changeset/witty-carpets-flow.md
Due: prettier

fix: type error
  examples/web/src/components/MonacoEditor.vue
Due: prettier, eslint

chore: upgrade vue
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-app/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-reference-editor/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/code-highlight/package.json
  packages/components/package.json
  packages/draggable/package.json
  packages/fastify-api-reference/package.json
  packages/icons/package.json
  packages/play-button/package.json
  packages/snippetz/playground/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  pnpm-lock.yaml
  projects/client-scalar-com/package.json
  scripts/bootstrap-package/package.json
Due: package_format, prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier
