Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: remove comment
  packages/api-client/src/store/import-spec.ts
Due: prettier, eslint

fix: perf issues
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/features/Operation/hooks/useRequestExample.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): feat: moved api-client auth into references
  .changeset/five-lemons-reply.md
Due: prettier

chore: moved tests
  packages/api-client/src/libs/send-request.test.ts
  packages/api-client/src/libs/send-request/create-fetch-auth.test.ts
  packages/api-client/src/libs/send-request/create-request-operation.test.ts
Due: prettier, eslint

fix: merge conflicts
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, eslint

feat: working on the UI for auth
  .vscode/settings.json
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/DataTable/DataTableCell.vue
  packages/api-client/src/components/DataTable/DataTableHeader.vue
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/DataTable/DataTableRow.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTableInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/index.ts
  packages/api-reference/src/components/Content/Content.vue
  packages/components/src/index.ts
Due: prettier, eslint

feat: styling is getting there
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

feat: remove
  packages/api-client/src/components/DataTable/DataTableRow.vue
Due: prettier, eslint

feat: style oauth2
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuthScopesInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

feat: order of api keys
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: add vue class prop
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTableInput.vue
  packages/types/src/external/index.ts
  packages/types/src/external/vue.ts
Due: prettier, eslint

feat: move vue prop
  packages/api-client/package.json
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/types/index.ts
  packages/api-client/src/types/vue.ts
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTableInput.vue
  packages/types/src/external/index.ts
Due: prettier, eslint

feat: add class to oauth
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
Due: prettier, eslint

feat(components): create useBindCx hook
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/hooks/useBindCx.stories.ts
  packages/components/src/hooks/useBindCx.ts
Due: prettier, eslint

feat: move config state to layout
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

docs(changeset): feat: moved hidden client config to apiReferenceLayout
  .changeset/new-suns-run.md
Due: prettier

test(components): add tests for useBindCx
  packages/components/src/hooks/useBindCx.test.ts
  packages/components/src/index.ts
Due: prettier, eslint

fix(postman-to-openapi): fix null server error
  packages/postman-to-openapi/src/helpers/serverHelpers.ts
Due: prettier, eslint

feat(components): update ScalarErrorBoundary
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.spec.ts
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.stories.ts
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.vue
Due: prettier, eslint

docs(changeset): feat(components): update ScalarErrorBoundary
  .changeset/fair-moose-fetch.md
Due: prettier

feat(components): apply useBindCx to appropriate components
  packages/components/src/components/ScalarCombobox/ScalarCombobox.stories.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.stories.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarIcon/ScalarIcon.stories.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.stories.ts
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.stories.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.stories.ts
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
  packages/components/src/components/ScalarMenu/ScalarMenuLink.vue
  packages/components/src/components/ScalarMenu/ScalarMenuProduct.vue
  packages/components/src/components/ScalarMenu/ScalarMenuProducts.vue
  packages/components/src/components/ScalarMenu/ScalarMenuSection.vue
  packages/components/src/components/ScalarMenu/ScalarMenuTeamPicker.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.stories.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.stories.ts
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultItem.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultList.vue
  packages/components/src/components/ScalarToggle/ScalarToggle.spec.ts
  packages/components/src/components/ScalarToggle/ScalarToggle.stories.ts
  packages/components/src/components/ScalarToggle/ScalarToggle.vue
  packages/components/src/hooks/useBindCx.ts
Due: prettier, eslint

docs(changeset): feat(components): create useBindCx hook
  .changeset/twelve-seahorses-know.md
Due: prettier

feat(components): create useBindCx hook (#4024)
  .changeset/twelve-seahorses-know.md
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarCombobox/ScalarCombobox.stories.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.stories.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarIcon/ScalarIcon.stories.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.stories.ts
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.stories.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.stories.ts
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
  packages/components/src/components/ScalarMenu/ScalarMenuLink.vue
  packages/components/src/components/ScalarMenu/ScalarMenuProduct.vue
  packages/components/src/components/ScalarMenu/ScalarMenuProducts.vue
  packages/components/src/components/ScalarMenu/ScalarMenuSection.vue
  packages/components/src/components/ScalarMenu/ScalarMenuTeamPicker.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.stories.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.stories.ts
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultItem.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultList.vue
  packages/components/src/components/ScalarToggle/ScalarToggle.spec.ts
  packages/components/src/components/ScalarToggle/ScalarToggle.stories.ts
  packages/components/src/components/ScalarToggle/ScalarToggle.vue
  packages/components/src/hooks/useBindCx.stories.ts
  packages/components/src/hooks/useBindCx.test.ts
  packages/components/src/hooks/useBindCx.ts
  packages/components/src/index.ts
Due: prettier, eslint

feat(snippetz): dynamically extend types (#3991)
  .changeset/eleven-starfishes-doubt.md
  packages/api-reference/src/helpers/getExampleCode.test.ts
  packages/api-reference/src/helpers/getExampleCode.ts
  packages/snippetz/src/core/types.test-d.ts
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
  packages/snippetz/src/snippetz.ts
Due: prettier, eslint

feat(components): style ScalarErrorBoundary and add tests and stories (#4029)
  .changeset/fair-moose-fetch.md
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.spec.ts
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.stories.ts
  packages/components/src/components/ScalarErrorBoundary/ScalarErrorBoundary.vue
Due: prettier, eslint

fix(api-reference): move client config to ApiReferenceLayout (#4026)
  .changeset/new-suns-run.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

feat(components): clean up reactivity for useBindCx
  packages/components/src/hooks/useBindCx.spec.ts
  packages/components/src/hooks/useBindCx.ts
Due: prettier, eslint

docs(changeset): feat(components): clean up reactivity for useBindCx
  .changeset/swift-ears-change.md
Due: prettier

feat(components): clean up reactivity for useBindCx (#4034)
  .changeset/swift-ears-change.md
  packages/components/src/hooks/useBindCx.spec.ts
  packages/components/src/hooks/useBindCx.ts
Due: prettier, eslint

feat: upgraded tw-merge plus added tests
  packages/api-client/package.json
  packages/api-client/src/components/DataTable/DataTableCheckbox.vue
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/components/package.json
  packages/components/src/cva.test.ts
  packages/components/src/cva.ts
  packages/components/src/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): feat: upgraded cva and added tests
  .changeset/silly-mayflies-shake.md
Due: prettier

feat(api-client): adds response status color (#4016)
  .changeset/curvy-terms-live.md
  packages/api-client/src/views/Request/ResponseSection/ResponseMetaInformation.vue
  packages/oas-utils/src/helpers/httpStatusCodes.ts
Due: prettier, eslint

feat(components): updates chevron down icon
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteTag.vue
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-reference/src/components/Section/CompactSection.vue
  packages/api-reference/src/components/ShowMoreButton.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesSelect.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/code-highlight/src/css/markdown.css
  packages/components/src/components/ScalarIcon/icons/ChevronDown.svg
  packages/components/src/components/ScalarMenu/ScalarMenuTeamPicker.vue
  packages/docusaurus/src/theme.css
Due: prettier, eslint

docs(changeset): feat: updates add icon
  .changeset/dirty-cherries-check.md
Due: prettier

feat(components): updates add icon
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/features/Operation/components/ParameterHeaders.vue
  packages/api-reference/src/features/Operation/components/RequestBodyPropertiesChild.vue
  packages/components/src/components/ScalarIcon/icons/Add.svg
Due: prettier, eslint

feat(components): updates chevron right icon
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/components/src/components/ScalarIcon/icons/ChevronRight.svg
Due: prettier, eslint

docs(changeset): feat: updates chevron down icon
  .changeset/cool-parrots-kiss.md
Due: prettier

feat(components): updates chevron up icon
  packages/components/src/components/ScalarIcon/icons/ChevronUp.svg
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
Due: prettier, eslint

docs(changeset): feat: updates chevron up icon
  .changeset/bright-bugs-shake.md
Due: prettier
