Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): style: increases search input gap
  .changeset/khaki-singers-refuse.md
Due: prettier

style(api-client): fixes spacing and padding inconcistensies
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
Due: prettier, eslint

docs(changeset): style: fixes spacing and padding inconcistensies
  .changeset/tricky-weeks-admire.md
Due: prettier

feat(api-client): updates request params clear action
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
Due: prettier, eslint

docs(changeset): feat: updates request params clear action
  .changeset/famous-worms-wash.md
Due: prettier

fix: path params dissapearing
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

feat: add isDefined helper
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/is-defined.test.ts
  packages/oas-utils/src/helpers/is-defined.ts
Due: prettier, eslint

docs(changeset): feat: add isDefined type safe filter helper
  .changeset/lucky-crabs-do.md
Due: prettier

feat(oas-utils): add isDefined type safe filter helper (#4237)
  .changeset/lucky-crabs-do.md
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/is-defined.test.ts
  packages/oas-utils/src/helpers/is-defined.ts
Due: prettier, eslint

RELEASING: Releasing 12 package(s) (#4233)
  .changeset/neat-onions-destroy.md
  .changeset/new-falcons-enjoy.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

Revert "ci: read from cache for subsequent builds (#4196)"
  .github/actions/build/action.yml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

Revert "ci: read from cache for subsequent builds (#4196)" (#4239)
  .github/actions/build/action.yml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

Create three-toys-breathe.md
  .changeset/three-toys-breathe.md
Due: prettier

fix: path params disapearing (#4236)
  .changeset/three-toys-breathe.md
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

feat(components): adjust ScalarMenuButton layout and icon size
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
Due: prettier, eslint

RELEASING: Releasing 12 package(s) (#4242)
  .changeset/three-toys-breathe.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

fix(components): don't add background color to products in dark mode
  packages/components/src/components/ScalarMenu/ScalarMenuProduct.vue
Due: prettier, eslint

docs(changeset): chore(components): ScalarMenu component cleanup
  .changeset/strong-flowers-melt.md
Due: prettier

chore(components): ScalarMenu component cleanup (#4243)
  .changeset/strong-flowers-melt.md
  packages/components/src/components/ScalarMenu/ScalarMenuButton.vue
  packages/components/src/components/ScalarMenu/ScalarMenuProduct.vue
Due: prettier, eslint

fix(api-reference): workspace store uses deprecated proxy attribute (#4231)
  .changeset/cyan-geese-dream.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

fix(api-client): adds active request safety check for request body
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
Due: prettier, eslint

docs(changeset): fix: adds active request safety check for request body
  .changeset/two-kangaroos-live.md
Due: prettier

fix: trying to datadump in SSG envs
  packages/api-client/src/store/store.ts
Due: prettier, eslint

fix: store is not working in SSG environments
  packages/api-client/src/store/store.ts
Due: prettier, eslint

chore: remove outdated comment
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

chore: remove RenderedReference export
  packages/api-reference/src/index.ts
Due: prettier, eslint

fix: SSG examples uses the old RenderedReference component
  examples/ssg/src/App.vue
Due: prettier, eslint

test: more SSG tests
  packages/use-hooks/src/useBreakpoints/useBreakpoints.test.ts
  packages/use-hooks/src/useClipboard/useClipboard.test.ts
Due: prettier, eslint

chore: remove watcher with console.log
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

chore: remove console.log
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

fix: useColorMode isn’t SSG-compatible
  packages/use-hooks/src/useColorMode/useColorMode.ts
Due: prettier, eslint

fix: document is undefined by moving listeners
  packages/api-reference/src/features/Search/SearchButton.vue
Due: prettier, eslint

test: SSG tests for useColorMode
  packages/use-hooks/src/useColorMode/useColorMode.test.ts
  packages/use-hooks/src/useColorMode/useColorMode.ts
Due: prettier, eslint

feat: import CSS directly
  examples/ssg/src/App.vue
Due: prettier, eslint

docs(changeset): chore: remove RenderedReference export
  .changeset/twelve-ducks-matter.md
Due: prettier

docs(changeset): feat: make it work in SSG environments
  .changeset/shaggy-moons-accept.md
Due: prettier

fix(api-reference): SSG build is broken (#4229)
  .changeset/shaggy-moons-accept.md
  .changeset/twelve-ducks-matter.md
  examples/ssg/src/App.vue
  packages/api-client/src/store/store.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/features/Search/SearchButton.vue
  packages/api-reference/src/index.ts
  packages/use-hooks/src/useBreakpoints/useBreakpoints.test.ts
  packages/use-hooks/src/useClipboard/useClipboard.test.ts
  packages/use-hooks/src/useColorMode/useColorMode.test.ts
  packages/use-hooks/src/useColorMode/useColorMode.ts
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: nextjs example in playground
  examples/nextjs-api-reference/.dockerignore
  examples/nextjs-api-reference/.eslintrc.cjs
  examples/nextjs-api-reference/.gitignore
  packages/nextjs-api-reference/Dockerfile
  packages/nextjs-api-reference/package.json
  packages/nextjs-api-reference/playground/README.md
  packages/nextjs-api-reference/playground/app/another-client/page.tsx
  packages/nextjs-api-reference/playground/app/another-reference/page.tsx
  packages/nextjs-api-reference/playground/app/client/components/Button.tsx
  packages/nextjs-api-reference/playground/app/client/components/ClientWrapper.tsx
  packages/nextjs-api-reference/playground/app/client/components/index.ts
  packages/nextjs-api-reference/playground/app/client/page.tsx
  packages/nextjs-api-reference/playground/app/layout.tsx
  packages/nextjs-api-reference/playground/app/reference/route.ts
  packages/nextjs-api-reference/playground/next-env.d.ts
  packages/nextjs-api-reference/playground/next.config.mjs
  packages/nextjs-api-reference/playground/package.json
  packages/nextjs-api-reference/playground/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: package_format, prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
