Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

docs(changeset): fix(use-toasts): set parent class for scalar toasts
  .changeset/rotten-needles-wash.md
Due: prettier

fix: base url random scroll bar (#2792)
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

RELEASING: Releasing 17 package(s) (#2783)
  .changeset/forty-ravens-teach.md
  .changeset/red-grapes-train.md
  .changeset/weak-fishes-burn.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix(use-toasts): set parent class for scalar toasts (#2795)
  .changeset/rotten-needles-wash.md
  packages/use-toasts/src/components/ScalarToasts.vue
Due: prettier, eslint

fix(api-client): search modal data population
  packages/api-client/src/components/Search/SearchModal.vue
Due: prettier, eslint

docs(changeset): fix: search modal data population
  .changeset/slow-terms-hunt.md
Due: prettier

fix(api-client): sidebar list element actions component missing prop
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

docs(changeset): fix: sidebar list element action prop
  .changeset/friendly-teachers-walk.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#2802)
  README.md
Due: prettier

docs(changeset): feat: group cookie by domain and path
  .changeset/twelve-pugs-doubt.md
Due: prettier

feat(api-client): group cookie by domain and path
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/views/Cookies/CookieForm.vue
  packages/api-client/src/views/Cookies/Cookies.vue
Due: prettier, eslint

fix: Move to ts-deepmerge to better handle circular refs
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/collection/collection.ts
  packages/oas-utils/src/entities/workspace/cookie/cookie.ts
  packages/oas-utils/src/entities/workspace/environment/environment.ts
  packages/oas-utils/src/entities/workspace/folder/folder.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/entities/workspace/server/server.ts
  packages/oas-utils/src/entities/workspace/spec/request-examples.ts
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  packages/oas-utils/src/helpers/deepMerge.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/transforms/import-spec.test.ts
  packages/object-utils/package.json
  packages/object-utils/src/merge/deep-merge.ts
  packages/object-utils/src/merge/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): sidebar list prop (#2801)
  .changeset/friendly-teachers-walk.md
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

fix: Correct typing on deepMerge
  packages/oas-utils/src/entities/workspace/collection/collection.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/entities/workspace/server/server.ts
  packages/oas-utils/src/entities/workspace/spec/request-examples.ts
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  packages/object-utils/src/merge/deep-merge.ts
Due: prettier, eslint

docs(changeset): Support circular refs
  .changeset/weak-turtles-collect.md
Due: prettier

feat: Move to flatted for localstorage for handling of circular refs
  packages/api-client/src/libs/local-storage.ts
  packages/object-utils/package.json
  packages/object-utils/src/mutator-record/handlers.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): Move to flatted for localstorage
  .changeset/two-hotels-fly.md
Due: prettier

fix: Correct default flatted parse
  packages/object-utils/src/mutator-record/handlers.ts
Due: prettier, eslint

fix(api-client): sidenav ui (#2776)
  .changeset/serious-paws-doubt.md
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

feat(api-client-app): drag and drop files and urls (#2647)
  .changeset/thin-ladybugs-eat.md
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/preload/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

fix(api-client): search modal data population (#2799)
  .changeset/slow-terms-hunt.md
  packages/api-client/src/components/Search/SearchModal.vue
Due: prettier, eslint

fix(themes): sets a default for scalar brightness filters (#2794)
  .changeset/flat-books-leave.md
  packages/themes/src/variables.css
Due: prettier

fix(api-reference): markdown headings, fix #2760, fix #2004 (#2781)
  .changeset/stupid-parrots-tan.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.test.ts
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/splitMarkdown.test.ts
  packages/api-reference/src/helpers/splitMarkdownInSections.ts
  packages/api-reference/src/hooks/useSidebar.test.ts
  packages/api-reference/src/hooks/useSidebar.ts
  packages/code-highlight/package.json
  packages/code-highlight/src/markdown/getHeadings.test.ts
  packages/code-highlight/src/markdown/htmlFromMarkdown.test.ts
  packages/code-highlight/src/markdown/index.ts
  packages/code-highlight/src/markdown/markdown.ts
  packages/code-highlight/src/markdown/splitContent.test.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): improve api client responsiveness (#2765)
  .changeset/bright-clocks-happen.md
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

feat(api-client): group cookies (#2800)
  .changeset/twelve-pugs-doubt.md
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/views/Cookies/CookieForm.vue
  packages/api-client/src/views/Cookies/Cookies.vue
Due: prettier, eslint

style(api-references): cleanup operation font sizes and alignment (#2653)
  .changeset/famous-rocks-compare.md
  packages/api-reference/src/components/Content/Operation/Parameters.vue
  packages/api-reference/src/components/Content/Operation/RequestBody.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

feat: working on commands
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/event-busses/command-palette-bus.ts
  packages/api-client/src/libs/event-busses/execute-request-bus.ts
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

feat: simplifiy logic
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

chore: fix comments
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

docs(changeset): feat(api-client): moved command palette to the global key event bus
  .changeset/funny-dodos-collect.md
Due: prettier

chore: remove stray log
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
Due: prettier, eslint

feat(api-client): make the side nav a draggable region (#2559)
  .changeset/cold-trains-guess.md
  packages/api-client/src/components/SideNav/SideNav.vue
Due: prettier, eslint

fix: Move to ts-deepmerge to better handle circular refs (#2805)
  .changeset/weak-turtles-collect.md
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/collection/collection.ts
  packages/oas-utils/src/entities/workspace/cookie/cookie.ts
  packages/oas-utils/src/entities/workspace/environment/environment.ts
  packages/oas-utils/src/entities/workspace/folder/folder.ts
  packages/oas-utils/src/entities/workspace/security/security-schemes.ts
  packages/oas-utils/src/entities/workspace/server/server.ts
  packages/oas-utils/src/entities/workspace/spec/request-examples.ts
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  packages/oas-utils/src/helpers/deepMerge.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/transforms/import-spec.test.ts
  packages/object-utils/package.json
  packages/object-utils/src/merge/deep-merge.ts
  packages/object-utils/src/merge/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

style(components): outline user icon
  packages/components/src/components/ScalarIcon/icons/User.svg
Due: none

docs(changeset): style(components): outline user icon
  .changeset/three-eggs-shout.md
Due: prettier

feat: add safety for data migration
  packages/api-client/src/libs/local-storage.ts
  packages/object-utils/src/mutator-record/handlers.ts
Due: prettier, eslint

fix: version injection
  packages/api-client/src/env.d.ts
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/vite.config.ts
Due: prettier, eslint

feat(api-client): move some features over to the new hotkey structure including comand palette (#2797)
  .changeset/funny-dodos-collect.md
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/event-busses/command-palette-bus.ts
  packages/api-client/src/libs/event-busses/execute-request-bus.ts
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint
