Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

docs(changeset): chore: make examples an array if it’s in a schema
  .changeset/gentle-years-teach.md
Due: prettier

chore: make examples an array if it’s in a schema
  packages/openapi-parser/src/utils/upgradeFromThreeToThreeOne.ts
Due: prettier, eslint

chore: wrap the upgrade 3.0 to 3.1 test in a describe function, add a failing test for examples arrays in schemas
  packages/openapi-parser/src/utils/upgradeFromThreeToThreeOne.test.ts
Due: prettier, eslint

add the current path to the traverse function
  packages/openapi-parser/src/utils/traverse.ts
Due: prettier, eslint

chore: make the path argument optional
  packages/openapi-parser/src/utils/traverse.ts
Due: prettier, eslint

chore: don’t clone the specification that’s upgraded
  packages/openapi-parser/src/utils/upgradeFromThreeToThreeOne.ts
Due: prettier, eslint

docs(changeset): Add default exports
  .changeset/slow-beers-draw.md
Due: prettier

feat: Add defaults to export fields
  packages/api-client/package.json
  packages/build-tooling/package.json
  packages/build-tooling/src/entry.ts
  packages/cli/package.json
  packages/code-highlight/package.json
  packages/config/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
  packages/nextjs-openapi/package.json
  packages/oas-utils/package.json
  packages/object-utils/package.json
  packages/openapi-types/package.json
  packages/snippetz/package.json
  packages/ts-to-openapi/package.json
  packages/types/package.json
  packages/void-server/package.json
Due: prettier, eslint

chore: update exports
  packages/api-client/package.json
Due: prettier

chore: add tailwind to the api-reference
  packages/api-reference/package.json
  packages/api-reference/postcss.config.js
  packages/api-reference/src/assets/tailwind.css
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/tailwind.config.ts
Due: prettier, eslint

docs(changeset): chore: add tailwind
  .changeset/cold-forks-doubt.md
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

fix: update api client styles load order
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

chore: add `default` to package.json exports fields (#3405)
  .changeset/slow-beers-draw.md
  packages/api-client/package.json
  packages/build-tooling/package.json
  packages/build-tooling/src/entry.ts
  packages/cli/package.json
  packages/code-highlight/package.json
  packages/config/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
  packages/nextjs-openapi/package.json
  packages/oas-utils/package.json
  packages/object-utils/package.json
  packages/openapi-types/package.json
  packages/snippetz/package.json
  packages/ts-to-openapi/package.json
  packages/types/package.json
  packages/void-server/package.json
Due: prettier, eslint

chore(openapi-parser): make `examples` in schemas an array on upgrade, fix #3373 (#3411)
  .changeset/gentle-years-teach.md
  packages/openapi-parser/src/utils/traverse.ts
  packages/openapi-parser/src/utils/upgradeFromThreeToThreeOne.test.ts
  packages/openapi-parser/src/utils/upgradeFromThreeToThreeOne.ts
Due: prettier, eslint

docs(changeset): feat(api-reference): improve enum support
  .changeset/funny-rivers-watch.md
Due: prettier

fix(api-reference): improve enum support
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

style(api-client): enhances responsiveness (#3412)
  .changeset/kind-monkeys-clap.md
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/ViewLayout/ViewLayout.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutContent.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
Due: prettier, eslint

chore(api-reference): add Tailwind (#3313)
  .changeset/cold-forks-doubt.md
  packages/api-reference/package.json
  packages/api-reference/postcss.config.js
  packages/api-reference/src/assets/tailwind.css
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/tailwind.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: remove unused vue dev dependency from fastify package
  packages/fastify-api-reference/package.json
Due: prettier

chore: updateing vue
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-app/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-editor/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/code-highlight/package.json
  packages/components/package.json
  packages/draggable/package.json
  packages/fastify-api-reference/package.json
  packages/play-button/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  projects/client-scalar-com/package.json
  scripts/bootstrap-package/package.json
Due: prettier

docs(changeset): chore: upgrade to Vue 3.5
  .changeset/tricky-shirts-retire.md
Due: prettier

fix: web example build breaks
  examples/web/src/components/MonacoEditor.vue
Due: prettier, eslint

chore: update lock file
  packages/icons/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: update docusaurus
  examples/docusaurus/package.json
  packages/docusaurus/package.json
Due: prettier

chore: updated tw merge
  packages/components/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: update lock file
  packages/snippetz/playground/package.json
Due: prettier

chore: move app to projects folder
  projects/app/.gitignore
  projects/app/.prettierignore
  projects/app/CHANGELOG.md
  projects/app/Dockerfile
  projects/app/README.md
  projects/app/RELEASE.md
  projects/app/build/entitlements.mac.plist
  projects/app/build/icon.png
  projects/app/electron.vite.config.ts
  projects/app/open/index.html
  projects/app/open/src/components/App.vue
  projects/app/open/src/main.ts
  projects/app/open/vite.config.ts
  projects/app/package.json
  projects/app/scripts/notarize.cjs
  projects/app/src/main/index.ts
  projects/app/src/main/utils/find-openapi-document-url.test.ts
  projects/app/src/main/utils/find-openapi-document-url.ts
  projects/app/src/main/utils/index.ts
  projects/app/src/preload/index.d.ts
  projects/app/src/preload/index.ts
  projects/app/src/renderer/index.html
  projects/app/src/renderer/src/main.ts
  projects/app/todesktop.json
  projects/app/tsconfig.json
  projects/app/tsconfig.node.json
  projects/app/tsconfig.web.json
Due: prettier, eslint

chore: modify app paths
  .eslintrc.cjs
  .github/workflows/ci.yml
  .prettierignore
  CODEOWNERS
  cloudbuild.yaml
  pnpm-lock.yaml
Due: package_format, prettier

chore: rename scalar-api-client to scalar-app
  .github/workflows/ci.yml
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/play-button/index.html
  packages/themes/src/presets/alternate.css
  projects/app/CHANGELOG.md
  projects/app/Dockerfile
  projects/app/package.json
  scripts/format-package.ts
Due: prettier, eslint

chore: rename folder app > scalar-app
  .eslintrc.cjs
  .github/workflows/ci.yml
  .prettierignore
  CODEOWNERS
  cloudbuild.yaml
  pnpm-lock.yaml
  projects/scalar-app/.gitignore
  projects/scalar-app/.prettierignore
  projects/scalar-app/CHANGELOG.md
  projects/scalar-app/Dockerfile
  projects/scalar-app/README.md
  projects/scalar-app/RELEASE.md
  projects/scalar-app/build/entitlements.mac.plist
  projects/scalar-app/build/icon.png
  projects/scalar-app/electron.vite.config.ts
  projects/scalar-app/open/index.html
  projects/scalar-app/open/src/components/App.vue
  projects/scalar-app/open/src/main.ts
  projects/scalar-app/open/vite.config.ts
  projects/scalar-app/package.json
  projects/scalar-app/scripts/notarize.cjs
  projects/scalar-app/src/main/index.ts
  projects/scalar-app/src/main/utils/find-openapi-document-url.test.ts
  projects/scalar-app/src/main/utils/find-openapi-document-url.ts
  projects/scalar-app/src/main/utils/index.ts
  projects/scalar-app/src/preload/index.d.ts
  projects/scalar-app/src/preload/index.ts
  projects/scalar-app/src/renderer/index.html
  projects/scalar-app/src/renderer/src/main.ts
  projects/scalar-app/todesktop.json
  projects/scalar-app/tsconfig.json
  projects/scalar-app/tsconfig.node.json
  projects/scalar-app/tsconfig.web.json
Due: package_format, prettier, eslint

chore: remove user without write permission
  CODEOWNERS
Due: none

chore: set node requirement for all packages to Node 18 or above
  playwright/package.json
  pnpm-lock.yaml
  projects/scalar-app/package.json
  scripts/format-package.ts
Due: package_format, prettier, eslint

feat: Add support for local resources
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
Due: none

feat: Add support for local resources
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
Due: none
