Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore: update some catalog dependencies
  integrations/docusaurus/package.json
  integrations/docusaurus/tsconfig.build.json
  packages/api-client/tsconfig.json
  packages/api-client/vite.config.ts
  packages/sidebar/vite.config.ts
  packages/themes/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

feat(api-client): add copy url button on the addressbar (#7585)
  .changeset/honest-steaks-sing.md
  packages/api-client/src/v2/blocks/operation-block/components/Header.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/get-environment-variables.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/get-server-url.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/get-server-url.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

fix(api-client): remove use-color-mode hook from the modal (#7723)
  .changeset/mighty-oranges-tickle.md
  packages/api-client/src/v2/features/modal/Modal.vue
Due: prettier, biome

chore: update more dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

chore: update turbo
  package.json
  packages/build-tooling/vite.config.ts
  packages/build-tooling/vitest.config.ts
  packages/components/vite.config.ts
  packages/icons/vite.config.ts
  packages/icons/vitest.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: restore & update pnpm lock file
  pnpm-lock.yaml
Due: packages-format, prettier

fix: knip issues
  knip.jsonc
Due: biome

fix: correct text-decoration-color variable usage in DownloadLink and ScalarMarkdown components
  packages/api-reference/src/blocks/scalar-info-block/components/DownloadLink.vue
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
Due: prettier, biome

docs: bump migration
  documentation/migration/api-hub.md
  documentation/migration/bump.md
  documentation/migration/stoplight.md
  scalar.config.json
Due: prettier, biome

chore: link to markdown file
  documentation/migration/bump.md
Due: prettier

feat: update subdomain to avoid safety warning
  scalar.config.json
Due: prettier, biome

chore: update the location of globe icon
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
Due: prettier, biome

fix: upgrade form to multipart/form
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

docs(changeset): fix: upgrade form to multipart/form
  .changeset/major-tigers-retire.md
Due: prettier

fix: file
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

chore: full support for global cookies
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request-cookie-header.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/get-resolved-url.ts
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/workspace-store/src/events/definitions/operation.ts
  packages/workspace-store/src/mutators/index.ts
  packages/workspace-store/src/mutators/operation.ts
Due: prettier, biome

fix: filter out readonly props from requestBody
  packages/api-client/src/v2/blocks/request-block/helpers/get-request-body-example.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/get-request-body-example.ts
Due: prettier, biome

docs(changeset): fix: filter out readonly properties from requestBody
  .changeset/solid-regions-shop.md
Due: prettier

fix(openapi-upgrader): output the correct content type for formData (#7739)
  .changeset/major-tigers-retire.md
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.test.ts
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
Due: prettier, biome

fix: proxy issues
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/detect-changes-proxy.ts
Due: prettier, biome

fix: complex auth
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthDataTable.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthDataTable.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.vue
Due: prettier, biome

docs(changeset): fix: complex auth
  .changeset/open-lies-tie.md
Due: prettier

fix: pass hideCLientButton into the client
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
  packages/api-client/src/v2/features/operation/Operation.vue
Due: prettier, biome

docs(changeset): fix: pass hideClientButton config into client modal
  .changeset/good-swans-obey.md
Due: prettier

chore: add test
  packages/api-client/src/v2/features/modal/Modal.test.ts
Due: prettier, biome

fix: added support for nested arrays and factored out into helper
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/has-complex-array-items.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/has-complex-array-items.ts
Due: prettier, biome

feat: big cleanup
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-enum-values.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-enum-values.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-property-description.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-property-description.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-description.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-description.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-heading.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-heading.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-render-array-item-composition.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-render-array-item-composition.ts
  packages/workspace-store/src/schemas/v3.1/strict/type-guards.test.ts
  packages/workspace-store/src/schemas/v3.1/strict/type-guards.ts
Due: prettier, biome

docs(changeset): fix: add nested array support to references
  .changeset/afraid-dolls-clean.md
Due: prettier

fix: discriminator
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix: cursor fix
  packages/api-reference/src/components/Content/Schema/helpers/get-enum-values.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-enum-values.ts
Due: prettier, biome

fix: optional
  packages/api-client/src/v2/features/operation/Operation.vue
Due: prettier, biome

fix: boolean yolo
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix: type
  packages/workspace-store/src/schemas/v3.1/strict/type-guards.test.ts
Due: prettier, biome

fix: handle trailing slash in paths
  packages/api-reference/src/helpers/id-routing.test.ts
  packages/api-reference/src/helpers/id-routing.ts
Due: prettier, biome

docs(changeset): fix: allow trailing slashes in path
  .changeset/fair-parents-peel.md
Due: prettier

docs: bump migration (#7736)
  documentation/migration/api-hub.md
  documentation/migration/bump.md
  documentation/migration/stoplight.md
  scalar.config.json
Due: prettier, biome

feat: add foundation scalar rules docs
  documentation/assets/scalar-rules-1.png
  documentation/assets/scalar-rules-edit.png
  documentation/assets/scalar-rules.png
  documentation/guides/registry/rules.md
  scalar.config.json
Due: prettier, biome

fix: link to images
  documentation/guides/registry/rules.md
Due: prettier

feat: add foundation scalar rules docs (#7747)
  documentation/assets/scalar-rules-1.png
  documentation/assets/scalar-rules-edit.png
  documentation/assets/scalar-rules.png
  documentation/guides/registry/rules.md
  scalar.config.json
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
