Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

fix: always return html vs error rendering (#1832)
  .changeset/gentle-ducks-itch.md
  packages/api-client/src/components/ApiClient/Response/ResponseBody.vue
Due: prettier, eslint

fix: don't try to access contentType value which doesn't exist (#1833)
  packages/api-client/src/components/ApiClient/Response/ResponseBody.vue
Due: prettier, eslint

RELEASING: Releasing 13 package(s) (#1834)
  .changeset/gentle-ducks-itch.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

chore: update text
  playwright/tests/cdn.spec.ts
Due: prettier, eslint

feat: Basic ESM build
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/index.ts
  packages/api-reference/src/integration.ts
  scripts/bootstrap-package/bootstrap-package.ts
Due: prettier, eslint

feat: Add ESM example with dynamic prop updates
  examples/esm-api-reference/index.html
  examples/esm-api-reference/package.json
  examples/esm-api-reference/src/main.ts
  examples/esm-api-reference/tsconfig.build.json
  examples/esm-api-reference/tsconfig.json
  examples/esm-api-reference/vite.config.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/esm.ts
  packages/api-reference/src/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update text (#1840)
  playwright/tests/cdn.spec.ts
Due: prettier, eslint

feat: create esm javascript build docs (#1841)
  examples/esm-api-reference/index.html
  examples/esm-api-reference/package.json
  examples/esm-api-reference/src/main.ts
  examples/esm-api-reference/tsconfig.build.json
  examples/esm-api-reference/tsconfig.json
  examples/esm-api-reference/vite.config.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/esm.ts
  packages/api-reference/src/index.ts
  pnpm-lock.yaml
  scripts/bootstrap-package/bootstrap-package.ts
Due: package_format, prettier, eslint

feat: add support for x-additionalPropertiesName
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

feat: add support for x-additionalPropertiesName (#1844)
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

feat: added css import to docu
  packages/api-client-react/src/style.css
  packages/api-reference-react/package.json
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/docusaurus/src/ScalarDocusaurus.tsx
Due: prettier, eslint

feat: added css import to react example
  examples/react/src/App.tsx
Due: prettier, eslint

feat: externalize components
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
Due: prettier, eslint

feat: almost there
  examples/cdn-api-reference/vite.config.ts
  examples/echo-server/vite.config.ts
  examples/express-api-reference/vite.config.ts
  examples/hono-api-reference/vite.config.ts
  packages/api-client-proxy/vite.config.ts
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/echo-server/vite.config.ts
  packages/galaxy/vite.config.ts
  packages/nuxt/src/module.ts
  packages/play-button/vite.standalone.config.ts
  packages/themes/package.json
Due: prettier, eslint

feat: seeing the issues now
  examples/fastify-api-reference/vite.config.ts
  examples/web/src/App.vue
  examples/web/vite.config.ts
  packages/api-client/package.json
  packages/api-client/vite.config.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  packages/fastify-api-reference/vite.config.ts
Due: prettier, eslint

chore: removed auto injected css
  packages/api-client-react/package.json
  packages/api-client-react/vite.config.ts
  packages/api-client/package.json
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/vite.config.ts
  packages/components/package.json
  packages/components/vite.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/play-button/package.json
  packages/themes/package.json
  packages/themes/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: working on the new stuff
  examples/react/src/App.tsx
  packages/api-client-react/src/style.css
  packages/api-client/package.json
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/src/style.css
  packages/api-reference-react/vite.config.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/vite.config.ts
  packages/nuxt/src/runtime/components/nuxt-theme.css
  packages/nuxt/src/runtime/plugins/hydrateClient.d.mts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: added injection code
  packages/api-client/vite.config.ts
Due: prettier, eslint

feat: got it working
  examples/react/src/App.tsx
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/src/style.css
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/vite.config.ts
Due: prettier, eslint

chore: things
  examples/react/package.json
  packages/nuxt/.gitignore
  packages/nuxt/src/runtime/plugins/hydrateClient.d.mts
  pnpm-lock.yaml
Due: package_format, prettier

feat: testing 1-2
  examples/react/package.json
  examples/react/src/App.tsx
  packages/api-client/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: one more down
  packages/nuxt/package.json
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/nuxt/src/runtime/components/nuxt-theme.css
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: enough?
  packages/api-client/package.json
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-client/vite.config.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

test
  examples/react/src/App.tsx
  examples/web/src/App.vue
  packages/api-reference-react/src/ApiReferenceReact.tsx
Due: prettier, eslint

fix: update password icon
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormTextInput.vue
  packages/components/src/components/ScalarIcon/icons/Hide.svg
  packages/components/src/components/ScalarIcon/icons/Show.svg
Due: prettier, eslint

docs(changeset): fix: update password show hide icon
  .changeset/poor-impalas-report.md
Due: prettier

feat: Move react integration to reactive interface
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/vite-env.d.ts
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference/src/esm.ts
  packages/galaxy/package.json
  packages/galaxy/src/index.ts
  packages/galaxy/tsconfig.json
  packages/galaxy/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): Add scalar galaxy yaml export and improve React reference reactivity
  .changeset/clean-hotels-fold.md
Due: prettier

fix: update password icon (#1854)
  .changeset/poor-impalas-report.md
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormTextInput.vue
  packages/components/src/components/ScalarIcon/icons/Hide.svg
  packages/components/src/components/ScalarIcon/icons/Show.svg
Due: prettier, eslint

RELEASING: Releasing 14 package(s) (#1856)
  .changeset/poor-impalas-report.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

feat: make esm example private
  examples/esm-api-reference/package.json
Due: prettier

feat: make esm example private (#1857)
  examples/esm-api-reference/package.json
Due: prettier

feat: support abbr html tag
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

docs(changeset): feat: support abbr html tag
  .changeset/lazy-poems-study.md
Due: prettier

fix: CSS warning
  packages/api-client/src/components/SimpleTable/SimpleCell.vue
Due: prettier, eslint

feat: copy url with replaced variables
  packages/api-reference/src/components/Content/BaseUrl/ServerItem.vue
Due: prettier, eslint

docs(changeset): feat: copy server URL with replaced variables
  .changeset/neat-singers-cry.md
Due: prettier

feat: support for const in schemas
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs(changeset): feat: support for constants in schemas
  .changeset/beige-timers-report.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
