Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat(nextjs-openapi): new next.js openapi integration (#2964)
  .changeset/hungry-mirrors-impress.md
  .gitignore
  examples/nextjs-api-reference/package.json
  examples/web/src/pages/StartPage.vue
  package.json
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/README.md
  packages/nextjs-openapi/package.json
  packages/nextjs-openapi/playground/app/api/characters/[id]/route.ts
  packages/nextjs-openapi/playground/app/api/openapi/[[...slug]]/route.ts
  packages/nextjs-openapi/playground/app/favicon.ico
  packages/nextjs-openapi/playground/next-env.d.ts
  packages/nextjs-openapi/playground/next.config.ts
  packages/nextjs-openapi/playground/public/next.svg
  packages/nextjs-openapi/playground/public/vercel.svg
  packages/nextjs-openapi/playground/tsconfig.json
  packages/nextjs-openapi/rollup.config.ts
  packages/nextjs-openapi/src/index.ts
  packages/nextjs-openapi/src/openapi.ts
  packages/nextjs-openapi/src/path.ts
  packages/nextjs-openapi/tsconfig.build.json
  packages/nextjs-openapi/tsconfig.json
  packages/ts-to-openapi/src/responses.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(api-reference): lazy loading collapsible webhooks (#2949)
  .changeset/fast-pigs-know.md
  .changeset/funny-colts-invent.md
  packages/api-reference/src/components/Content/Models/CollapsedModel.vue
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Content/Webhooks/Webhook.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
  packages/api-reference/src/components/Section/CompactSection.vue
  packages/api-reference/src/components/Section/index.ts
  packages/code-highlight/src/css/markdown.css
Due: prettier, eslint

feat: add environment selector to addressbar
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

fix: style env selector dropdown
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

chore: fix build error
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
Due: prettier, eslint

docs(changeset): feat: add environment selector to addressbar
  .changeset/thick-wasps-care.md
Due: prettier

feat(api-client): sets activeParsedEnvironments on activeEnvironment
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

faet(oas-utils): set default active environment id
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

feat(api-client): environment order + action icon and wording update
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
Due: prettier, eslint

chore: update @scalar/snippetz (#2962)
  packages/api-reference/package.json
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: migrate @scalar/snippetz to scalar/scalar
  .changeset/chilled-snails-remember.md
  packages/api-reference/package.json
  packages/snippetz/CHANGELOG.md
  packages/snippetz/package.json
  packages/snippetz/rollup.config.ts
  packages/snippetz/src/core/index.ts
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/core/utils/arrayToObject.ts
  packages/snippetz/src/core/utils/isKeyNeedsQuotes.ts
  packages/snippetz/src/core/utils/objectToString.ts
  packages/snippetz/src/index.ts
  packages/snippetz/src/plugins/js/fetch/fetch.test.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/js/fetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.test.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/fetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/undici/index.ts
  packages/snippetz/src/plugins/node/undici/undici.test.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
  packages/snippetz/tsconfig.build.json
  packages/snippetz/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: format package.json
  packages/snippetz/package.json
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: migrate `@scalar/snippetz` to `scalar/scalar` (#2963)
  .changeset/chilled-snails-remember.md
  packages/api-reference/package.json
  packages/snippetz/CHANGELOG.md
  packages/snippetz/package.json
  packages/snippetz/rollup.config.ts
  packages/snippetz/src/core/index.ts
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/core/utils/arrayToObject.ts
  packages/snippetz/src/core/utils/isKeyNeedsQuotes.ts
  packages/snippetz/src/core/utils/objectToString.ts
  packages/snippetz/src/index.ts
  packages/snippetz/src/plugins/js/fetch/fetch.test.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/js/fetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.test.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/fetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/undici/index.ts
  packages/snippetz/src/plugins/node/undici/undici.test.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
  packages/snippetz/tsconfig.build.json
  packages/snippetz/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update @scalar/openapi-types package with recent changes
  packages/openapi-types/README.md
  packages/openapi-types/index.d.ts
  packages/openapi-types/package.json
  packages/openapi-types/src/openapi-types.ts
  packages/openapi-types/src/openapi.test-d.ts
Due: prettier, eslint

chore: update scripts
  packages/openapi-parser/package.json
Due: prettier

chore: restore new openapi-types file structure
  packages/openapi-types/index.d.ts
  packages/openapi-types/index.test-d.ts
  packages/openapi-types/package.json
  packages/openapi-types/src/index.ts
Due: prettier, eslint

chore: migrate changesets
  .changeset/beige-spiders-grin.md
  .changeset/flat-spoons-learn.md
  .changeset/loud-coats-sort.md
  .changeset/rude-rivers-smell.md
  .changeset/twenty-bears-applaud.md
Due: prettier

chore: update lock file
  packages/openapi-types/package.json
Due: prettier

chore: remove webpack-stats
  packages/openapi-parser/package.json
  packages/openapi-parser/rollup.config.ts
Due: prettier, eslint

chore: add playground
  packages/openapi-parser/package.json
  packages/openapi-parser/playground/.gitignore
  packages/openapi-parser/playground/README.md
  packages/openapi-parser/playground/index.html
  packages/openapi-parser/playground/package.json
  packages/openapi-parser/playground/public/vite.svg
  packages/openapi-parser/playground/src/App.vue
  packages/openapi-parser/playground/src/main.ts
  packages/openapi-parser/playground/src/style.css
  packages/openapi-parser/playground/src/vite-env.d.ts
  packages/openapi-parser/playground/tsconfig.json
  packages/openapi-parser/playground/vite.config.ts
  packages/openapi-types/package.json
Due: prettier, eslint

fix: format, lint and build
  packages/openapi-parser/createProfile.ts
  packages/openapi-parser/playground/src/vite-env.d.ts
  packages/openapi-parser/src/configuration/index.ts
  packages/openapi-parser/src/polyfills/path.ts
  packages/openapi-parser/src/utils/betterAjvErrors/helpers.ts
  packages/openapi-parser/src/utils/betterAjvErrors/validation-errors/base.js
  packages/openapi-parser/src/utils/isFilesystem.ts
  packages/openapi-parser/src/utils/load/load.ts
  packages/openapi-parser/src/utils/openapi.test.ts
  packages/openapi-parser/src/utils/resolveReferences.test.ts
  packages/openapi-parser/src/utils/resolveReferences.ts
  packages/openapi-parser/src/utils/upgrade.ts
  packages/openapi-parser/tests/code-frame.test.ts
  packages/openapi-parser/tests/migration-layer.test.ts
  packages/openapi-parser/tsconfig.json
  packages/openapi-types/tsconfig.build.json
  packages/openapi-types/tsconfig.json
Due: prettier, eslint

chore: restore new openapi-types file structure
  packages/openapi-types/index.d.ts
  packages/openapi-types/package.json
  packages/openapi-types/src/index.ts
  packages/openapi-types/src/openapi-types.test-d.ts
  packages/openapi-types/src/openapi-types.ts
Due: prettier, eslint

chore: update package README
  packages/openapi-parser/README.md
Due: prettier

fix: tests
  packages/openapi-parser/package.json
  packages/openapi-parser/tests/code-frame.test.ts
Due: prettier, eslint

fix: polyfill
  packages/openapi-parser/src/polyfills/path.ts
Due: prettier, eslint

chore: fetch test files from gcp
  packages/openapi-parser/package.json
  packages/openapi-parser/tests/diff.test.ts
  packages/openapi-parser/tests/utils/downloadFileGcp.ts
  packages/openapi-types/package.json
Due: prettier, eslint

fix: diff test has no name
  packages/openapi-parser/tests/diff.test.ts
Due: prettier, eslint

fix: broken link in the README
  packages/openapi-types/README.md
Due: prettier

chore: remove playground
  packages/openapi-parser/package.json
  packages/openapi-parser/playground/.gitignore
  packages/openapi-parser/playground/README.md
  packages/openapi-parser/playground/index.html
  packages/openapi-parser/playground/package.json
  packages/openapi-parser/playground/public/vite.svg
  packages/openapi-parser/playground/src/App.vue
  packages/openapi-parser/playground/src/main.ts
  packages/openapi-parser/playground/src/style.css
  packages/openapi-parser/playground/tsconfig.json
  packages/openapi-parser/playground/vite.config.ts
  packages/openapi-parser/tsconfig.json
Due: prettier, eslint

chore: migrate to new parser version
  packages/api-client/package.json
  packages/api-client/src/store/workspace.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Schema/Schema.stories.ts
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
  packages/api-reference/src/features/BaseUrl/types.ts
  packages/api-reference/src/features/Search/useSearchIndex.ts
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/helpers/provideSymbols.ts
  packages/api-reference/src/hooks/useSidebar.ts
  packages/api-reference/src/legacy/stores/useOpenApiStore.ts
  packages/mock-server/package.json
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrl.ts
  packages/mock-server/src/utils/getOperations.ts
  packages/mock-server/src/utils/isAuthenticationRequired.ts
  packages/mock-server/src/utils/isBasicAuthenticationRequired.ts
  packages/mock-server/src/utils/isOpenAuthPasswordGrantRequired.ts
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/spec/components.ts
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  packages/ts-to-openapi/src/node.ts
Due: prettier, eslint

chore: migrate more imports
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Content/Models/ModelsAccordion.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaHeading.vue
  packages/api-reference/src/helpers/createEmptySpecification.ts
  packages/api-reference/src/helpers/getModels.ts
  packages/api-reference/src/helpers/parse.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/api-reference/src/legacy/helpers/getRequestFromAuthentication.ts
  packages/cli/src/commands/mock/MockCommand.ts
  packages/cli/src/utils/getHtmlDocument.ts
  packages/cli/src/utils/getOperationByMethodAndPath.test.ts
  packages/cli/src/utils/getOperationByMethodAndPath.ts
  packages/cli/src/utils/loadOpenApiFile.ts
  packages/cli/src/utils/printSpecificationBanner.ts
Due: prettier, eslint

chore: add missing dependency
  packages/cli/package.json
  packages/cli/src/utils/loadOpenApiFile.ts
Due: prettier, eslint

chore: update lock file
  packages/api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs: snippetz README
  packages/snippetz/README.md
Due: prettier

docs: snippetz README (#2973)
  packages/snippetz/README.md
Due: prettier

chore: update links
  README.md
  packages/openapi-parser/README.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
