Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

docs(docs): document personalization and user-info hooks
  documentation/guides/docs/configuration/personalization.md
  documentation/guides/docs/configuration/site-config.md
  scalar.config.json
Due: prettier, biome

test(api-reference): stabilize pattern hover snapshots
  .changeset/quiet-pattern-hover.md
  packages/api-reference/test/snapshots/pattern.e2e.ts
Due: prettier, biome

fix(scalar-app): import Hono reference page URLs (#10411)
  .changeset/quiet-hono-reference.md
  packages/import/package.json
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
  pnpm-lock.yaml
  projects/scalar-app/package.json
  projects/scalar-app/src/features/command-palette/components/CommandPaletteImport.vue
  projects/scalar-app/src/features/command-palette/helpers/load-document-from-source.ts
  projects/scalar-app/src/features/import-listener/ImportListener.vue
  projects/scalar-app/src/features/import-listener/components/ImportModal.vue
  projects/scalar-app/src/features/import-listener/helpers/load-document-from-source.ts
  projects/scalar-app/src/helpers/load-document-from-url.test.ts
  projects/scalar-app/src/helpers/load-document-from-url.ts
Due: packages-format, prettier, biome

docs(docs): address personalization guide feedback
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/personalization.md
  scalar.config.json
Due: prettier, biome

test(api-reference): remove test-only changeset
  .changeset/quiet-pattern-hover.md
Due: prettier

docs(docs): document personalization and user-info hooks (#10410)
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/personalization.md
  documentation/guides/docs/configuration/site-config.md
  scalar.config.json
Due: prettier, biome

test(api-reference): clarify pattern hover snapshot setup (#10408)
  packages/api-reference/test/snapshots/pattern.e2e.ts
Due: prettier, biome

test(api-reference): capture navigation capability states
  packages/api-client/src/v2/workspace-events.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.stories.ts
  packages/api-reference/src/features/Operation/components/NavigationCapabilities.stories.ts
  packages/api-reference/test/features/navigation-capabilities.e2e.ts
Due: prettier, biome

fix(api-reference): show disabled client navigation state
  packages/api-reference/src/features/test-request-button/TestRequestButton.vue
  packages/api-reference/test/features/navigation-capabilities.e2e.ts
Due: prettier, biome

feat(api-reference): show compact extensions on operations and fields
  .changeset/quiet-scopes-display.md
  documentation/configuration.md
  packages/api-reference/playground/specification-extensions/index.html
  packages/api-reference/src/components/Content/Models/Model.vue
  packages/api-reference/src/components/Content/Models/components/ClassicLayout.vue
  packages/api-reference/src/components/Content/Models/components/ModernLayout.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/types.ts
  packages/api-reference/src/features/Operation/components/Header.test.ts
  packages/api-reference/src/features/Operation/components/Header.vue
  packages/api-reference/src/features/Operation/components/Headers.vue
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/features/Operation/components/ParameterList.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.test.ts
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callback.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callbacks.vue
  packages/api-reference/src/features/specification-extension/SpecificationExtension.test.ts
  packages/api-reference/test/configuration/show-extensions.e2e.ts
  packages/blocks/playground/App.vue
  packages/blocks/playground/main.ts
  packages/blocks/playground/pages/SpecificationExtensionBlocks.vue
  packages/blocks/src/specification-extensions/ExtensionValue.vue
  packages/blocks/src/specification-extensions/SpecificationExtensions.test.ts
  packages/blocks/src/specification-extensions/SpecificationExtensions.vue
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

fix(api-reference): hide unsupported test request button
  packages/api-reference/src/features/test-request-button/TestRequestButton.test.ts
  packages/api-reference/src/features/test-request-button/TestRequestButton.vue
  packages/api-reference/test/features/navigation-capabilities.e2e.ts
Due: prettier, biome

fix(api-reference): cover content headers and accessible array labels
  packages/api-reference/src/features/Operation/components/Header.test.ts
  packages/api-reference/src/features/Operation/components/Header.vue
  packages/api-reference/src/features/specification-extension/SpecificationExtension.test.ts
  packages/blocks/src/specification-extensions/ExtensionValue.vue
  packages/blocks/src/specification-extensions/SpecificationExtensions.test.ts
Due: prettier, biome

feat(workspace-store): load AsyncAPI references in chunks
  .changeset/quiet-events-chunks.md
  packages/workspace-store/docs/asyncapi-chunks-benchmark.md
  packages/workspace-store/package.json
  packages/workspace-store/scripts/benchmark-asyncapi-chunks.mjs
  packages/workspace-store/src/asyncapi-chunks.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/asyncapi-chunk-groups.test.ts
  packages/workspace-store/src/helpers/asyncapi-chunk-groups.ts
  packages/workspace-store/src/helpers/asyncapi-model-chunk-reference.ts
  packages/workspace-store/src/server.test.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

fix(workspace-store): decode AsyncAPI chunk URL segments
  packages/workspace-store/src/asyncapi-chunks.test.ts
  packages/workspace-store/src/helpers/asyncapi-chunk-groups.test.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

chore(workspace-store): remove benchmark artifacts
  packages/workspace-store/docs/asyncapi-chunks-benchmark.md
  packages/workspace-store/package.json
  packages/workspace-store/scripts/benchmark-asyncapi-chunks.mjs
Due: prettier, biome

perf(validation): reduce repeated union scoring work
  .changeset/quiet-otters-score.md
  packages/validation/src/coerce.test.ts
  packages/validation/src/coerce.ts
Due: prettier, biome

fix(api-reference): preserve standalone schema integrations
  .changeset/shared-schema-block.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Schema/schema.test.ts
  packages/api-reference/src/components/Content/Schema/schema.ts
  packages/api-reference/src/components/Content/index.ts
  packages/api-reference/src/styles/tailwind.config.css
  packages/blocks/src/schema/helpers/schema-expansion.test.ts
  packages/blocks/src/schema/helpers/schema-expansion.ts
  packages/blocks/src/schema/index.ts
Due: prettier, biome

fix(blocks): include shared schema tree styles
  packages/api-reference/src/styles/tailwind.config.css
  packages/blocks/src/styles/tailwind.config.css
Due: prettier

docs(validation): clarify terminal union scoring maintenance
  packages/validation/src/coerce.ts
Due: prettier, biome

fix(workspace-store): guard navigation writes against inherited entries
  packages/workspace-store/src/chunk-index.test.ts
  packages/workspace-store/src/client.ts
Due: prettier, biome

perf(validation): reduce terminal union scoring overhead (#10417)
  .changeset/quiet-otters-score.md
  packages/validation/src/coerce.test.ts
  packages/validation/src/coerce.ts
Due: prettier, biome

feat(workspace-store): load AsyncAPI references in chunks (#10432)
  .changeset/quiet-events-chunks.md
  packages/workspace-store/src/asyncapi-chunks.test.ts
  packages/workspace-store/src/chunk-index.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/asyncapi-chunk-groups.test.ts
  packages/workspace-store/src/helpers/asyncapi-chunk-groups.ts
  packages/workspace-store/src/helpers/asyncapi-model-chunk-reference.ts
  packages/workspace-store/src/server.test.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

feat(api-reference): expose operation actions slot
  .changeset/tidy-pages-act.md
  packages/api-reference/README.md
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, biome

docs(api-client): clarify client secret behavior with PKCE
  documentation/configuration.md
Due: prettier

fix(api-reference): stop nesting a oneOf variant composed with allOf
  .changeset/composed-variant-nesting.md
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/optimize-value-for-display.ts
Due: prettier, biome

fix(components): improve keyboard and screen reader access to code blocks and comboboxes
  .changeset/code-block-keyboard-a11y.md
  documentation/localization.md
  knip.jsonc
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/AuthSelector.test.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.test.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/blocks/src/code-example/components/CodeExample.test.ts
  packages/blocks/src/code-example/components/CodeExample.vue
  packages/blocks/src/code-example/mount.test.ts
  packages/blocks/src/code-example/mount.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlockCopy.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlockCopy.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/types/src/api-reference/types.ts
Due: prettier, biome

fix(components): keep code blocks as a permanent tab stop
  .changeset/code-block-keyboard-a11y.md
  documentation/localization.md
  integrations/dotnet/shared/src/Scalar.Shared/Enums/ScalarClient.Generated.cs
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/enums/ScalarClient.java
  knip.jsonc
  packages/blocks/src/code-example/components/CodeExample.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, biome

chore: revert unrelated generated client enums
  integrations/dotnet/shared/src/Scalar.Shared/Enums/ScalarClient.Generated.cs
  integrations/java/scalar-core/src/main/java/com/scalar/maven/core/enums/ScalarClient.java
Due: none

fix(workspace-store): require navigation destinations
  .changeset/tidy-model-navigation.md
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestParams.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/modal-events.test.ts
  packages/api-client/src/v2/features/modal/modal-events.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.test.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.ts
  packages/api-client/src/v2/hooks/use-global-hot-keys.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/AsyncApi/ChannelsList.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/OperationsList/OperationsListItem.vue
  packages/api-reference/src/features/Operation/components/NavigationCapabilities.stories.ts
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
  packages/api-reference/src/features/Operation/components/navigation-contract.test.ts
  packages/api-reference/src/features/Search/components/SearchModal.vue
  packages/api-reference/src/features/test-request-button/TestRequestButton.test.ts
  packages/api-reference/src/features/test-request-button/TestRequestButton.vue
  packages/api-reference/test/features/navigation-capabilities.e2e.ts
  packages/workspace-store/README.md
  packages/workspace-store/src/events/definitions/navigation.ts
  packages/workspace-store/src/events/index.ts
  packages/workspace-store/src/events/navigation.test.ts
  packages/workspace-store/src/events/navigation.ts
  projects/scalar-app/src/features/app/app-events.ts
  projects/scalar-app/src/features/app/app-state.ts
  projects/scalar-app/src/features/app/components/DesktopTabs.vue
Due: prettier, biome

fix(api-reference): prefill OAuth2 redirect without scopes
  .changeset/ready-oauth-redirect.md
  packages/api-reference/src/components/ApiReference.test.ts
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, biome

chore(scalar-app): update electron to 44.5.1
  .changeset/fresh-electron-runtime.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/scalar-app/package.json
Due: packages-format, prettier, biome

fix(api-reference): render composed variant descriptions once
  .changeset/composed-variant-nesting.md
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/Schema.vue
Due: prettier, biome

fix(components): suppress repeated Space in multiselect searches
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
Due: prettier, biome

docs(api-reference): remove operation slot README addition
  packages/api-reference/README.md
Due: prettier

fix(components): announce and focus code blocks correctly, toggle combobox options with Space (#10372)
  .changeset/code-block-keyboard-a11y.md
  documentation/localization.md
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/AuthSelector.test.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.test.ts
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/localization/locales/ar.ts
  packages/api-reference/src/features/localization/locales/de.ts
  packages/api-reference/src/features/localization/locales/en.ts
  packages/api-reference/src/features/localization/locales/es.ts
  packages/api-reference/src/features/localization/locales/fr.ts
  packages/api-reference/src/features/localization/locales/pt.ts
  packages/api-reference/src/features/localization/locales/ru.ts
  packages/api-reference/src/features/localization/locales/zh-cn.ts
  packages/blocks/src/code-example/components/CodeExample.test.ts
  packages/blocks/src/code-example/components/CodeExample.vue
  packages/blocks/src/code-example/mount.test.ts
  packages/blocks/src/code-example/mount.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlockCopy.test.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlockCopy.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/types/src/api-reference/types.ts
Due: prettier, biome
