Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): feat: move references css config to css layer
  .changeset/fuzzy-bats-eat.md
Due: prettier

fix: add optimizations back in to nuxt
  pack-packages.sh
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
  packages/nuxt/src/module.ts
Due: prettier, eslint

fix: set theme variables to Docusaurus theme at root (#1872)
  .changeset/big-cherries-grin.md
  .changeset/fuzzy-bats-eat.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/docusaurus/src/theme.css
Due: prettier, eslint

feat: add basic auth support to the mock server
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/tests/authentication.test.ts
Due: prettier, eslint

chore: only apply middleware if it’s the correct type
  packages/api-client/src/helpers/getRequestFromAuthentication.ts
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/utils/authenticationRequired.ts
  packages/mock-server/src/utils/index.ts
  packages/mock-server/tests/authentication.test.ts
Due: prettier, eslint

chore: replace btoa with buffer
  packages/mock-server/tests/authentication.test.ts
Due: prettier, eslint

docs(changeset): feat: http basic auth middleware
  .changeset/spicy-dodos-remain.md
Due: prettier

refactor: allow any basic authentication credentials
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/utils/anyBasicAuthentication.ts
  packages/mock-server/src/utils/index.ts
  packages/mock-server/src/utils/isAuthenticationRequired.ts
  packages/mock-server/src/utils/isBasicAuthenticationRequired.ts
Due: prettier, eslint

chore: add type to button
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
Due: prettier, eslint

chore: add new card form rows component
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormRows.vue
Due: prettier, eslint

chore: add username and password to oauth2 state
  packages/api-client/src/stores/useAuthenticationStore.ts
  packages/oas-utils/src/types.ts
Due: prettier, eslint

feat: add oauth2 password grant
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/RequestAuthentication.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
  packages/api-client/src/helpers/concatenateUrlAndPath.test.ts
  packages/api-client/src/helpers/concatenateUrlAndPath.ts
  packages/api-client/src/helpers/getUrlFromServerState.test.ts
  packages/api-client/src/helpers/getUrlFromServerState.ts
  packages/api-client/src/helpers/index.ts
  packages/api-client/src/helpers/redirectToProxy.test.ts
  packages/api-client/src/helpers/redirectToProxy.ts
  packages/api-client/src/helpers/sendRequest.ts
  packages/api-client/src/stores/index.ts
  packages/api-client/src/stores/useServerStore.ts
  packages/api-client/src/types.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/BaseUrl/BaseUrl.vue
  packages/api-reference/src/components/Content/BaseUrl/ServerItem.vue
  packages/api-reference/src/components/Content/BaseUrl/ServerVariables.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Operation/ExampleRequest.vue
  packages/api-reference/src/helpers/getApiClientRequest.test.ts
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/helpers/replaceVariables.test.ts
  packages/api-reference/src/helpers/replaceVariables.ts
  packages/api-reference/src/stores/index.ts
  packages/api-reference/src/types.ts
  packages/api-reference/tsconfig.json
  packages/api-reference/vite.standalone.config.ts
Due: prettier, eslint

chore: improve wording for security scheme selector
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecuritySchemeSelector.vue
Due: prettier, eslint

refactor: merge replaceVariables helpers
  packages/api-client/src/helpers/replaceVariables.test.ts
  packages/api-client/src/helpers/replaceVariables.ts
  packages/api-reference/src/components/Content/BaseUrl/ServerItem.vue
  packages/api-reference/src/helpers/replaceVariables.test.ts
  packages/api-reference/src/helpers/replaceVariables.ts
  packages/api-reference/vite.standalone.config.ts
Due: prettier, eslint

chore: clean up
  packages/api-reference/src/helpers/index.ts
Due: prettier, eslint

fix: replaceVariables throws an error if no variable is defined
  packages/api-client/src/helpers/replaceVariables.ts
Due: prettier, eslint

fix: card rows don’t use full width
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormRows.vue
Due: prettier, eslint

chore: better error handling
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
Due: prettier, eslint

fix: replaceVariables gets wrong format
  packages/api-client/src/helpers/getUrlFromServerState.ts
Due: prettier, eslint

fix: build
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormRows.vue
  packages/api-reference/vite.standalone.config.ts
Due: prettier, eslint

fix: tsconfig broken
  packages/api-reference/tsconfig.json
Due: prettier

fix: broken imports
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

docs(changeset): feat: OpenAuth 2.0 password grant
  .changeset/stupid-cycles-grab.md
Due: prettier

fix: broken type imports
  packages/api-reference/src/components/Content/BaseUrl/ServerVariables.vue
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, eslint

fix: broken import
  packages/api-client/src/helpers/getUrlFromServerState.test.ts
Due: prettier, eslint

fix: TS issue
  packages/api-client/src/helpers/getRequestFromAuthentication.test.ts
Due: prettier, eslint

fix: border between rows is missing
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormRows.vue
Due: prettier, eslint

fix: proxy redirect wrong
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
Due: prettier, eslint

feat: show an error toast when token request fails
  examples/esm-api-reference/package.json
  packages/api-client/package.json
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: small images destroy the layout
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

docs(changeset): fix: small images destroy the layout
  .changeset/serious-stingrays-flash.md
Due: prettier

feat: add description to the toasts
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecurityScheme.vue
  packages/use-toasts/src/components/ScalarToasts.vue
  packages/use-toasts/src/hooks/useToasts.ts
Due: prettier, eslint

docs(changeset): feat: support for descriptions
  .changeset/few-dogs-sparkle.md
Due: prettier

fix: build
  packages/use-toasts/src/hooks/useToasts.ts
Due: prettier, eslint

fix: build (really)
  packages/use-toasts/src/components/ScalarToasts.vue
  packages/use-toasts/src/hooks/useToasts.ts
Due: prettier, eslint

feat: Bootstrap editor package
  packages/api-reference-editor/package.json
  packages/api-reference-editor/src/index.ts
  packages/api-reference-editor/test/App.vue
  packages/api-reference-editor/test/index.html
  packages/api-reference-editor/test/main.ts
  packages/api-reference-editor/tsconfig.build.json
  packages/api-reference-editor/tsconfig.json
  packages/api-reference-editor/vite.config.ts
Due: prettier, eslint

feat: Add intermediate Layout component and expose all slots
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Layouts/BaseLayout.vue
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/Layouts/Layouts.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
  packages/api-reference/src/components/Layouts/index.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

fix: Correct reactive spec and export hooks
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/index.ts
Due: prettier, eslint

feat: Add in API References Editor package
  packages/api-reference-editor/README.md
  packages/api-reference-editor/package.json
  packages/api-reference-editor/src/api-reference-editor.ts
  packages/api-reference-editor/src/components/ApiReferenceEditor.vue
  packages/api-reference-editor/src/components/EditorInput.vue
  packages/api-reference-editor/src/constants.ts
  packages/api-reference-editor/src/index.ts
  packages/api-reference-editor/test/App.vue
  packages/api-reference-editor/test/index.html
  packages/api-reference-editor/test/main.ts
  packages/api-reference-editor/vite.config.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/use-codemirror/src/components/CodeMirror/CodeMirror.vue
Due: prettier, eslint

chore: bump version
  packages/api-reference-editor/package.json
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
