Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

fix(client-app): back to requests link
  packages/api-client/src/components/SubpageHeader.vue
Due: prettier, eslint

docs(changeset): fix: back to requests link
  .changeset/empty-eagles-join.md
Due: prettier

fix(client-app): back to requests redirection link (#2715)
  .changeset/empty-eagles-join.md
  packages/api-client/src/components/SubpageHeader.vue
Due: prettier, eslint

feat(client-app): command palette empty state (#2713)
  .changeset/serious-masks-press.md
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

fix(client-app): dropdown add variable redirection (#2714)
  .changeset/curly-files-hope.md
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
Due: prettier, eslint

fix: modal size and layout
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

docs(changeset): fix: modal layout and size
  .changeset/six-buttons-give.md
Due: prettier

fix: night mode layer in modal
  packages/api-client/src/components/SubpageHeader.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

feat(#2701): allow deleting and renaming folders and collections (#2710)
  .changeset/lovely-ways-report.md
Due: prettier

fix: some copy issues
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

fix: remove unused varaiable
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
Due: prettier, eslint

feat: use pathstring when req summary isn't available
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat(client-app): cookie removal
  packages/api-client/src/views/Cookies/Cookies.vue
Due: prettier, eslint

docs(changeset): feat: cookie removal
  .changeset/wicked-ads-dance.md
Due: prettier

fix: word break in sidebar items and ellipsis positioning
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

docs(changeset): fix: word break in sidebar and word wrapping from ellipsis
  .changeset/weak-mugs-thank.md
Due: prettier

fix: edit and modal state hover fixes + better word breaking
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

feat: import spec req body from params
  packages/api-client/src/store/workspace.ts
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): Fallback request summary to path on spec import
  .changeset/smooth-nails-sing.md
Due: prettier

fix: word break in sidebar items and ellipsis positioning (#2720)
  .changeset/weak-mugs-thank.md
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

feat: use pathstring when req summary isn't available (#2719)
  .changeset/smooth-nails-sing.md
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): support OpenAPI 2.0 body params when importing spec
  .changeset/many-pans-nail.md
Due: prettier

feat(client-app): cookie removal (#2718)
  .changeset/wicked-ads-dance.md
  packages/api-client/src/views/Cookies/Cookies.vue
Due: prettier, eslint

fix: modal size and layout (#2711)
  .changeset/lovely-ways-report.md
  .changeset/six-buttons-give.md
  packages/api-client/src/components/Sidebar/Actions/DeleteSidebarListElement.vue
  packages/api-client/src/components/Sidebar/Actions/SidebarListElementForm.vue
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

feat: working on drag n drop
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/libs/index.ts
  packages/api-client/src/views/Request/libs/request-item-drop.ts
  packages/draggable/src/Draggable.vue
Due: prettier, eslint

feat: drag and drop almost complete
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/libs/index.ts
  packages/api-client/src/views/Request/libs/request-item-drop.ts
  packages/draggable/src/Draggable.vue
Due: prettier, eslint

feat: getting closer
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

feat: working on some dnd for collections
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/draggable/src/Draggable.vue
Due: prettier, eslint

feat: dnd complete
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/draggable/src/Draggable.vue
Due: prettier, eslint

docs(changeset): feat(api-client): added drag and drop to the api client
  .changeset/sweet-cobras-remain.md
Due: prettier

feat: prevent dnd on read only mode
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix: opening of folder on drag
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

fix: prevent dragging over drafts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

Support customizing DataUrl via ScalarOptions
  packages/scalar.aspnetcore/Scalar.AspNetCore.cs
  packages/scalar.aspnetcore/Scalar.AspNetCore.csproj
  packages/scalar.aspnetcore/ScalarOptions.cs
Due: none

Support customizing DataUrl via ScalarOptions (#2722)
  packages/scalar.aspnetcore/Scalar.AspNetCore.cs
  packages/scalar.aspnetcore/Scalar.AspNetCore.csproj
  packages/scalar.aspnetcore/ScalarOptions.cs
Due: none

fix: p i x e l p e r f e c t wordbreak and ellipsis position
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

feat: add media type configuration
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyRaw.vue
  packages/api-client/src/views/Request/consts/index.ts
  packages/api-client/src/views/Request/consts/mediaTypes.ts
  packages/use-codemirror/package.json
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/types.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

wip: interpret responses as blobs
  packages/api-client/src/libs/sendRequest.ts
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyRaw.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

feat: add image previews
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyPreviewImage.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyToggle.vue
  packages/api-client/src/views/Request/consts/mediaTypes.ts
  packages/components/src/components/ScalarIcon/icons/Download.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
  packages/themes/src/pixelPreset.ts
Due: prettier, eslint
