Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

style(components): sets z context to tooltip content
  packages/components/src/components/ScalarTooltip/ScalarTooltip.vue
Due: prettier, eslint

docs(changeset): style: sets z context to tooltip content
  .changeset/smart-feet-roll.md
Due: prettier

style(api-client): maintains view layout caret alignment on mobile
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
Due: prettier, eslint

style(api-client): sets view layout section flex on mobile
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
Due: prettier, eslint

style(api-client): fixes alignment of request section input responsiveness
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
Due: prettier, eslint

docs(changeset): style: enhances responsive alignment layout
  .changeset/big-rats-own.md
Due: prettier

fix(api-client): displays empty state new request button in desktop only
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

docs(changeset): fix: displays empty state new request button in desktop only
  .changeset/stale-drinks-shave.md
Due: prettier

fix(api-client): empty state new request button (#3952)
  .changeset/stale-drinks-shave.md
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

chore: clean up
  packages/openapi-parser/src/utils/makeFilesystem.test.ts
Due: prettier, eslint

test: normalize
  packages/openapi-parser/src/utils/normalize.test.ts
Due: prettier, eslint

feat: catch YAML parse errors and output to console
  packages/openapi-parser/src/utils/normalize.ts
Due: prettier, eslint

docs(changeset): feat: catch YAML parse errors
  .changeset/violet-keys-juggle.md
Due: prettier

feat: catch errors in client factory methods
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/openapi-parser/src/utils/normalize.test.ts
  packages/openapi-parser/src/utils/normalize.ts
Due: prettier, eslint

chore: clean up
  .changeset/violet-keys-juggle.md
Due: prettier

docs(changeset): feat: catch OpenAPI parsing errors in client factories
  .changeset/few-ghosts-lick.md
Due: prettier

chore: force output
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: find the playwright test report path
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: use actions version commit sha
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: fix permissions for pr comment
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

feat: add gha workflow to update visual test snapshots
  .github/workflows/update-snapshots.yml
Due: prettier

chore: upload playwright test report in ci
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: test-results path
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: find the playwright diff files
  .github/workflows/test-cdn-jsdelivr.yml
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-chromium-darwin.png
Due: prettier

chore: dont test mobile safari
  playwright/playwright.config.ts
Due: prettier, eslint

chore: update snapshot names
  .github/workflows/test-cdn-jsdelivr.yml
  .github/workflows/update-snapshots.yml
  playwright/playwright.config.ts
  playwright/tests/jsdelivr.spec.ts-snapshots/cdn-snapshot-chromium-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Chrome-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Safari-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-darwin.png
Due: prettier, eslint

chore: add linux snapshots with diff
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Chrome-linux.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Safari-linux.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-linux.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-firefox-linux.png
Due: none

chore: intentional snapshot diff
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Chrome-darwin.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Chrome-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Safari-darwin.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Safari-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-chromium-darwin.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-chromium-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-firefox-darwin.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-firefox-linux.png
  playwright/tests/jsdelivr.spec.ts
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Chrome-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Safari-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-firefox-darwin.png
Due: prettier, eslint

chore: only upload diffs on failing test
  .github/workflows/test-cdn-jsdelivr.yml
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-darwin.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-linux.png
Due: prettier

chore: add pr trigger
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: run on safari mobile
  playwright/playwright.config.ts
Due: prettier, eslint

chore: do not post comment when not PR
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: get event name
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: update snapshot
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-linux.png
Due: none

chore: update trigger
  .github/workflows/test-cdn-jsdelivr.yml
Due: prettier

chore: only comment on pull request
  .github/workflows/test-cdn-jsdelivr.yml
  playwright/playwright.config.ts
Due: prettier, eslint

chore: update snapshot failure message
  .github/workflows/test-cdn-jsdelivr.yml
  .github/workflows/update-snapshots.yml
Due: prettier

style(api-client): updates response headers ui
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
Due: prettier, eslint

fix(api-client): updates copy button position and style
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyRaw.vue
Due: prettier, eslint
