Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: add an explanation to the component
  packages/themes/src/components/DefaultFonts.vue
Due: prettier, eslint

docs: fix typo
  README.md
Due: prettier

fix: default fonts are always loaded in production
  packages/themes/src/components/DefaultFonts.vue
Due: prettier, eslint

feat: configure whether to fetch the default fonts, fix #1471 (#1477)
  .changeset/olive-wombats-join.md
  README.md
  packages/api-client/src/components/ApiClient/ApiClient.vue
  packages/api-reference/.storybook/preview.ts
  packages/api-reference/README.md
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/types.ts
  packages/components/.storybook/preview.ts
  packages/components/README.md
  packages/themes/package.json
  packages/themes/src/base.css
  packages/themes/src/components/DefaultFonts.vue
  packages/themes/src/components/ThemeStyles.vue
  packages/themes/src/fonts.css
  packages/themes/vite.config.ts
Due: prettier, eslint

fix: update ClientSelector styles fix #1536
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
Due: prettier, eslint

feat: add image support to tag, operation and webhook descriptions
  .changeset/large-cameras-remember.md
  packages/api-reference/src/components/Content/Operation/EndpointDetails.vue
  packages/api-reference/src/components/Content/Operation/OperationAccordion.vue
  packages/api-reference/src/components/Content/Tag/TagAccordion.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
Due: prettier, eslint

feat: add image support to tag, operation and webhook descriptions (#1544)
  .changeset/large-cameras-remember.md
  packages/api-reference/src/components/Content/Operation/EndpointDetails.vue
  packages/api-reference/src/components/Content/Operation/OperationAccordion.vue
  packages/api-reference/src/components/Content/Tag/TagAccordion.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
Due: prettier, eslint

fix: update ClientSelector styles fix #1536 (#1537)
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
Due: prettier, eslint

chore: update hono
  examples/hono-api-reference/package.json
  packages/cli/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
Due: prettier

chore: update more hono dependencies
  examples/hono-api-reference/package.json
  packages/cli/package.json
  packages/mock-server/package.json
Due: prettier

chore: update vite and rollup to fix TS issues
  examples/api-client-proxy/package.json
  examples/cdn-api-reference/package.json
  examples/echo-server/package.json
  examples/fastify-api-reference/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-proxy/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/build-tooling/package.json
  packages/cli/package.json
  packages/components/package.json
  packages/echo-server/package.json
  packages/express-api-reference/package.json
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/package.json
  packages/oas-utils/package.json
  packages/themes/package.json
  packages/use-codemirror/package.json
  packages/use-modal/package.json
  packages/use-tooltip/package.json
  pnpm-lock.yaml
Due: package_format, prettier

RELEASING: Releasing 14 package(s) (#1541)
  .changeset/large-cameras-remember.md
  .changeset/olive-wombats-join.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: prettier

feat: give the spa full control over routing (#1538)
  examples/web/public/_redirects
Due: none

chore: update hono (#1515)
  examples/api-client-proxy/package.json
  examples/cdn-api-reference/package.json
  examples/echo-server/package.json
  examples/fastify-api-reference/package.json
  examples/hono-api-reference/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-proxy/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/build-tooling/package.json
  packages/cli/package.json
  packages/components/package.json
  packages/echo-server/package.json
  packages/express-api-reference/package.json
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/package.json
  packages/mock-server/package.json
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/package.json
  packages/oas-utils/package.json
  packages/themes/package.json
  packages/use-codemirror/package.json
  packages/use-modal/package.json
  packages/use-tooltip/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): feat: add chevron for markdown summary
  .changeset/nine-mayflies-explode.md
Due: prettier

feat: add chevron for markdown summary
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

feat: restyle to use chevron icon
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

fix: request body description
  packages/api-reference/src/components/Content/Operation/RequestBody.vue
Due: prettier, eslint

feat: add icon previewer
  packages/components/src/components/ScalarIcon/IconList.vue
  packages/components/src/components/ScalarIcon/ScalarIcon.stories.ts
  packages/components/src/tailwind/tailwind.theme.ts
Due: prettier, eslint

refactor: clean up icons
  packages/components/src/components/ScalarIcon/icons/Brackets.svg
  packages/components/src/components/ScalarIcon/icons/Branch.svg
  packages/components/src/components/ScalarIcon/icons/Checkmark.svg
  packages/components/src/components/ScalarIcon/icons/Cookie.svg
  packages/components/src/components/ScalarIcon/icons/arrow-chevron-down.svg
  packages/components/src/components/ScalarIcon/icons/arrow-chevron-left.svg
  packages/components/src/components/ScalarIcon/icons/arrow-chevron-right.svg
  packages/components/src/components/ScalarIcon/icons/arrow-chevron-up.svg
  packages/components/src/components/ScalarIcon/icons/arrow-down.svg
  packages/components/src/components/ScalarIcon/icons/arrow-left.svg
  packages/components/src/components/ScalarIcon/icons/arrow-right.svg
  packages/components/src/components/ScalarIcon/icons/arrow-up.svg
  packages/components/src/components/ScalarIcon/icons/brand-software-development-github.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
  packages/components/src/components/ScalarIcon/icons/interface-add.svg
  packages/components/src/components/ScalarIcon/icons/interface-close.svg
Due: prettier, eslint

fix: additional properties duplicate description
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

docs(changeset): fix: addtional properties duplicate description
  .changeset/tasty-comics-matter.md
Due: prettier

chore: clean up icon stroke sizes
  packages/components/src/components/ScalarIcon/IconList.vue
  packages/components/src/components/ScalarIcon/README.md
  packages/components/src/components/ScalarIcon/icons/Add.svg
  packages/components/src/components/ScalarIcon/icons/Brackets.svg
  packages/components/src/components/ScalarIcon/icons/Branch.svg
  packages/components/src/components/ScalarIcon/icons/CheckMark.svg
  packages/components/src/components/ScalarIcon/icons/Checkmark.svg
  packages/components/src/components/ScalarIcon/icons/ChevronDown.svg
  packages/components/src/components/ScalarIcon/icons/ChevronLeft.svg
  packages/components/src/components/ScalarIcon/icons/ChevronRight.svg
  packages/components/src/components/ScalarIcon/icons/ChevronUp.svg
  packages/components/src/components/ScalarIcon/icons/Close.svg
  packages/components/src/components/ScalarIcon/icons/CodeFolder.svg
  packages/components/src/components/ScalarIcon/icons/Cookie.svg
  packages/components/src/components/ScalarIcon/icons/DocsPage.svg
  packages/components/src/components/ScalarIcon/icons/ExternalLink.svg
  packages/components/src/components/ScalarIcon/icons/JsonObject.svg
  packages/components/src/components/ScalarIcon/icons/Menu.svg
Due: prettier, eslint

feat: adjust stroke size for different icon sizes
  packages/components/src/components/ScalarIcon/ScalarIcon.stories.ts
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
Due: prettier, eslint

fix: delete extra file
  packages/components/src/components/ScalarIcon/icons/CheckMark.svg
Due: none

fix: don't minify theme css
  packages/themes/vite.config.ts
Due: prettier, eslint

docs(changeset): fix: don't minify theme css
  .changeset/wild-peas-fly.md
Due: prettier

fix: don't minify theme css (#1547)
  .changeset/wild-peas-fly.md
  packages/themes/vite.config.ts
Due: prettier, eslint

feat: add chevron for markdown summary (#1532)
  .changeset/nine-mayflies-explode.md
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
Due: prettier, eslint

RELEASING: Releasing 13 package(s) (#1548)
  .changeset/nine-mayflies-explode.md
  .changeset/wild-peas-fly.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: prettier

fix: mock server README example doesn’t work
  packages/mock-server/README.md
Due: prettier

chore: serve fonts as css
  packages/themes/src/base.css
Due: prettier

chore: update cdn url
  packages/themes/src/base.css
Due: prettier

chore: host woff2 fonts on scalar cdn
  packages/themes/src/base.css
  packages/themes/src/fonts.css
  packages/themes/src/inter.css
  packages/themes/src/mono.css
Due: prettier

chore: self host api-reference fonts on scalar CDN
  packages/themes/src/base.css
Due: prettier

refactor: move font css files to a dedicated folder
  packages/themes/src/fonts.css
  packages/themes/src/fonts/inter.css
  packages/themes/src/fonts/mono.css
Due: prettier

fix: mock server README example doesn’t work (#1549)
  packages/mock-server/README.md
Due: prettier

docs: add litestar, fix some grammar and spacing
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
