Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

fix: TS issues
  packages/oas-utils/src/normalizeMimeTypeObject.ts
Due: prettier, eslint

ci: add pnpm to cli workflow
  .github/workflows/validate-openapi-file.yml
Due: prettier

fix: search results empty state shows empty string
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultList.vue
Due: prettier, eslint

ci: use pnpm in CLI workflow (finally)
  .github/workflows/validate-openapi-file.yml
Due: prettier

ci: install pnpm dependencies
  .github/workflows/validate-openapi-file.yml
Due: prettier

ci: build dependencies
  .github/workflows/validate-openapi-file.yml
Due: prettier

docs: write Nuxt integration guide (wip)
  documentation/nuxt.md
  packages/nuxt/README.md
Due: prettier

docs: update nuxt guide
  documentation/nuxt.md
Due: prettier

chore: add @clack/prompts dependency over prompts package
  packages/cli/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): feat: update cli initCommand prompts
  .changeset/healthy-doors-occur.md
Due: prettier

feat: update cli initCommand prompts
  packages/cli/src/commands/init/InitCommand.ts
  packages/cli/src/commands/init/init.test.ts
Due: prettier, eslint

feat: add next steps command log in initCommand
  packages/cli/src/commands/init/InitCommand.ts
Due: prettier, eslint

feat: scalar cli prompts (#1826)
  .changeset/healthy-doors-occur.md
  packages/cli/package.json
  packages/cli/src/commands/init/InitCommand.ts
  packages/cli/src/commands/init/init.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): feat: scalar cli default display
  .changeset/swift-pigs-cross.md
Due: prettier

feat: scalar cli default display
  packages/cli/src/index.ts
Due: prettier, eslint

feat: scalar cli error display
  packages/cli/src/index.ts
Due: prettier, eslint

docs(changeset): feat: set type prop in scalar button component
  .changeset/yellow-turkeys-wash.md
Due: prettier

feat: set type prop in scalar button component
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
Due: prettier, eslint

docs: improve css examples
  README.md
Due: prettier

fix: make text transform on folder an option and remove text transform from all top level sidebar items
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

docs(changeset): fix: text transform folder as option + remove transforms from top level items
  .changeset/plenty-poems-scream.md
Due: prettier

fix: text transform on all top level sidebar items (#1828)
  .changeset/plenty-poems-scream.md
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

feat: scalar cli default display (#1824)
  .changeset/swift-pigs-cross.md
  packages/cli/src/index.ts
Due: prettier, eslint

docs: improve css examples (#1823)
  README.md
Due: prettier

ci: use local cli, instead of the one published on npm (#1820)
  .github/workflows/validate-openapi-file.yml
  packages/cli/README.md
Due: prettier

fix: search results empty state shows empty string (#1822)
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultList.vue
Due: prettier, eslint

fix: response body does not show a preview when the content-type is undefined, fix #1818 (#1819)
  .changeset/gold-peas-report.md
  packages/oas-utils/src/normalizeMimeType.ts
  packages/oas-utils/src/normalizeMimeTypeObject.ts
Due: prettier, eslint

fix: Docusaurus preferred colour scheme refresh bug (#1815)
  .changeset/tough-mirrors-begin.md
  packages/docusaurus/src/theme.css
Due: prettier

fix: add support for union types in getExampleFromSchema (#1816)
  .changeset/smooth-jeans-protect.md
  packages/oas-utils/src/getExampleFromSchema.test.ts
  packages/oas-utils/src/getExampleFromSchema.ts
Due: prettier, eslint

feat: scalar button component type prop (#1821)
  .changeset/yellow-turkeys-wash.md
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarButton/ScalarButton.vue
Due: prettier, eslint

fix: webhook operation parsing (#1812)
  .changeset/poor-tips-develop.md
  packages/api-reference/src/helpers/parse.ts
Due: prettier, eslint

RELEASING: Releasing 16 package(s) (#1827)
  .changeset/gold-peas-report.md
  .changeset/healthy-doors-occur.md
  .changeset/plenty-poems-scream.md
  .changeset/poor-tips-develop.md
  .changeset/smooth-jeans-protect.md
  .changeset/swift-pigs-cross.md
  .changeset/tough-mirrors-begin.md
  .changeset/yellow-turkeys-wash.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix: indentation bug on groups
  packages/api-reference/src/components/Sidebar/Sidebar.vue
Due: prettier, eslint

docs(changeset): fix: indentation bug on groups
  .changeset/breezy-apples-rhyme.md
Due: prettier

fix: indentation bug on groups (#1829)
  .changeset/breezy-apples-rhyme.md
  packages/api-reference/src/components/Sidebar/Sidebar.vue
Due: prettier, eslint

RELEASING: Releasing 11 package(s) (#1830)
  .changeset/breezy-apples-rhyme.md
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix: always return html vs error rendering
  packages/api-client/src/components/ApiClient/Response/ResponseBody.vue
Due: prettier, eslint

docs(changeset): fix: always return html vs error rendering
  .changeset/gentle-ducks-itch.md
Due: prettier

chore: remove console log
  packages/api-client/src/components/ApiClient/Response/ResponseBody.vue
Due: prettier, eslint

fix: don't try to access contentType value which doesn't exist
  packages/api-client/src/components/ApiClient/Response/ResponseBody.vue
Due: prettier, eslint
