Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test(api-reference): refresh the classic client snapshot
  packages/api-reference/test/snapshots/client.e2e.ts.snapshots/scalar-galaxy-classic.png
Due: none

perf(docs): stop the head scripts from blocking first paint (#10091)
  scalar.config.json
Due: prettier, biome

fix(proxy): handle NAT64 address ranges correctly (#10116)
  projects/proxy-scalar-com/addresses_test.go
  projects/proxy-scalar-com/main.go
Due: none

fix(proxy): limit redirects to the same origin (#10115)
  projects/proxy-scalar-com/README.md
  projects/proxy-scalar-com/main.go
  projects/proxy-scalar-com/main_test.go
  projects/proxy-scalar-com/redirect_test.go
Due: prettier

docs(galaxy): add OpenAPI link examples (#10109)
  .changeset/galaxy-link-objects.md
  packages/galaxy/src/documents/3.1.yaml
  packages/galaxy/src/documents/3.2.yaml
Due: prettier

docs(nextjs): add API description generation recipes (#10107)
  documentation/integrations/nextjs-recipes/hono.md
  documentation/integrations/nextjs-recipes/orpc.md
  documentation/integrations/nextjs-recipes/route-handlers.md
  documentation/integrations/nextjs.md
  scalar.config.json
Due: prettier, biome

test(nextjs): verify Next.js 15 and 16 compatibility (#10105)
  .changeset/nextjs-compatibility-checks.md
  .github/workflows/nextjs-compatibility.yml
  documentation/integrations/nextjs.md
  examples/nextjs-api-reference/eslint.config.js
  examples/nextjs-api-reference/package.json
  integrations/nextjs/playwright.config.ts
  integrations/nextjs/playwright/fixture/app/openapi.json/route.ts
  integrations/nextjs/playwright/fixture/app/scalar/route.ts
  integrations/nextjs/playwright/fixture/next-env.d.ts
  integrations/nextjs/playwright/fixture/next.config.mjs
  integrations/nextjs/playwright/fixture/tsconfig.json
  integrations/nextjs/playwright/test/reference.spec.ts
  integrations/nextjs/tsconfig.json
  integrations/nextjs/vitest.config.ts
  knip.jsonc
Due: prettier, biome

feat(nextjs): add a working API reference example (#10104)
  examples/nextjs-api-reference/README.md
  examples/nextjs-api-reference/app/another-reference/page.tsx
  examples/nextjs-api-reference/app/api/planets/route.ts
  examples/nextjs-api-reference/app/embedded/page.tsx
  examples/nextjs-api-reference/app/embedded/reference.tsx
  examples/nextjs-api-reference/app/embedded/style.css
  examples/nextjs-api-reference/app/layout.tsx
  examples/nextjs-api-reference/app/openapi.json/route.ts
  examples/nextjs-api-reference/app/reference/route.ts
  examples/nextjs-api-reference/app/scalar/route.ts
  examples/nextjs-api-reference/next.config.mjs
  examples/nextjs-api-reference/screenshots/embedded-dark.png
  examples/nextjs-api-reference/screenshots/embedded-light.png
Due: prettier, biome

fix(docs): serve company page stickers from cdn.scalar.com (#10098)
  documentation/guides/company.md
Due: prettier

docs(nextjs): explain pinned CDN builds (#10101)
  documentation/integrations/nextjs.md
Due: prettier

fix(workspace-store): generate uuid example for version-specific uuid formats (#10068)
  .changeset/fix-uuid-version-format-example.md
  packages/workspace-store/src/request-example/builder/helpers/get-example-from-schema.test.ts
  packages/workspace-store/src/request-example/builder/helpers/get-example-from-schema.ts
Due: prettier, biome

docs(starlight): add integration to docs sidebar (#10097)
  scalar.config.json
Due: prettier, biome

fix(api-client): keep the request body example on first Test Request open (#10080)
  .changeset/fix-test-request-first-open-example.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
Due: prettier, biome

feat(api-client): show mutual TLS auth (#10081)
  .changeset/mutual-tls-scheme.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.vue
  packages/oas-utils/src/migrations/v-2.5.0/types.generated.ts
  packages/types/src/entities/index.ts
  packages/types/src/entities/security-scheme.test.ts
  packages/types/src/entities/security-scheme.ts
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/request-example/builder/security/secret-types.ts
  packages/workspace-store/src/schemas/v3.1/openapi/index.ts
  packages/workspace-store/src/schemas/v3.1/strict/security-scheme.ts
  packages/workspace-store/src/schemas/v3.2/strict/security-scheme.ts
Due: prettier, biome

fix(api-client): enable edited query parameters (#10086)
  .changeset/enable-edited-query-parameters.md
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-rows.ts
Due: prettier, biome

ci(api-reference): regenerate e2e baselines in the runner, temporarily
  .github/workflows/pr.yml
Due: prettier

test(api-reference): regenerate the e2e baselines for the schema tree
  .github/workflows/pr.yml
  packages/api-reference/src/components/Content/Schema/schema-perf-harness.test.ts
  packages/api-reference/test/features/schema-rendering.e2e.ts.snapshots/allof-description-override.png
  packages/api-reference/test/features/schema-rendering.e2e.ts.snapshots/vehicle-model-nested-expanded.png
  packages/api-reference/test/features/schema-rendering.e2e.ts.snapshots/vehicle-model-properties.png
  packages/api-reference/test/features/schema-rendering.e2e.ts.snapshots/vehicle-model-refs.png
  packages/api-reference/test/snapshots/client.e2e.ts.snapshots/scalar-galaxy-classic.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-enum.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-nested.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-simple.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-enum.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-nested.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-simple.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/long-strings-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/long-strings-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/long-strings-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/long-strings-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
  packages/api-reference/test/snapshots/pattern.e2e.ts.snapshots/pattern-button-visible.png
  packages/api-reference/test/snapshots/pattern.e2e.ts.snapshots/pattern-popup-hover.png
  packages/api-reference/test/snapshots/pattern.e2e.ts.snapshots/pattern-popup-long-regex.png
  packages/api-reference/test/snapshots/pattern.e2e.ts.snapshots/pattern-request-body.png
Due: prettier, biome

chore(api-reference): drop the perf harness from the tree
  packages/api-reference/src/components/Content/Schema/schema-perf-harness.test.ts
Due: prettier, biome

fix(api-reference): preserve standalone configuration sources
  .changeset/clean-wombats-listen.md
  packages/api-reference/src/standalone/lib/html-api.test.ts
  packages/api-reference/src/standalone/lib/html-api.ts
Due: prettier, biome

fix(api-reference): only show one-of hint above multiple oauth scopes
  .changeset/fix-10095-oauth-single-scope-one-of.md
  packages/api-reference/src/features/Operation/components/OperationScopes.test.ts
  packages/api-reference/src/features/Operation/components/OperationScopes.vue
Due: prettier, biome

refactor(api-reference): make getEffectiveScopes module-private
  packages/api-reference/src/features/Operation/helpers/get-required-security.test.ts
  packages/api-reference/src/features/Operation/helpers/get-required-security.ts
Due: prettier, biome

fix(api-reference): only show the one-of hint across multiple scope groups
  .changeset/fix-10095-oauth-single-scope-one-of.md
  packages/api-reference/src/features/Operation/components/OperationScopes.test.ts
  packages/api-reference/src/features/Operation/components/OperationScopes.vue
Due: prettier, biome

docs(nextjs): add application integration recipes
  documentation/integrations/nextjs-application-recipes.md
  documentation/integrations/nextjs.md
Due: prettier

docs(nextjs): register application recipe page
  scalar.config.json
Due: prettier, biome

docs(nextjs): simplify production guidance
  documentation/integrations/nextjs-application-recipes.md
  documentation/integrations/nextjs.md
  scalar.config.json
Due: prettier, biome

test(api-client): cover error routing when the response body decoder rejects
  .changeset/custom-fetch-response-url.md
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
Due: prettier, biome

fix(api-client): support a custom fetch that returns a response without a URL
  .changeset/custom-fetch-response-url.md
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
Due: prettier, biome

fix(snippetz): disable curl globbing for curly-brace query sets
  .changeset/fix-curl-globbing.md
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
Due: prettier, biome

docs(nextjs): add production guidance to the main guide (#10106)
  documentation/integrations/nextjs.md
Due: prettier

fix(api-reference): harden standalone multi-source parsing
  packages/api-reference/src/standalone/lib/html-api.test.ts
  packages/api-reference/src/standalone/lib/html-api.ts
Due: prettier, biome

fix(api-client): support a custom fetch that returns a response without a URL (#10123)
  .changeset/custom-fetch-response-url.md
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
Due: prettier, biome

docs(nextjs): clarify standalone and embedded setup
  documentation/integrations/nextjs.md
  integrations/nextjs/README.md
  integrations/nextjs/package.json
Due: prettier, biome

docs(nextjs): describe the renderer accurately in page metadata
  scalar.config.json
Due: prettier, biome

test(snippetz): cover braces already present in the curl URL query
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
Due: prettier, biome

test(api-reference): refresh model snapshots for CI rendering
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-enum.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-nested.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-simple.png
Due: none

docs(nextjs): clarify standalone and embedded setup (#10099)
  documentation/integrations/nextjs.md
  integrations/nextjs/README.md
  integrations/nextjs/package.json
  scalar.config.json
Due: prettier, biome

fix(snippetz): disable curl globbing for URLs with square brackets (#10120)
  .changeset/fix-curl-globbing.md
  packages/snippetz/src/plugins/shell/curl/curl.test.ts
  packages/snippetz/src/plugins/shell/curl/curl.ts
Due: prettier, biome

chore: update pnpm to v12
  .github/workflows/deploy-previews.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  AGENTS.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
