Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: make author an object (required for toDesktop linux builds)
  scripts/format-package.ts
Due: prettier, eslint

chore: move productName to toDesktop config
  packages/api-client-app/package.json
  packages/api-client-app/toDesktop.json
Due: prettier

chore: update the scripts to fit other packages
  packages/api-client-app/package.json
Due: prettier

chore: revert changes to format-packages script
  scripts/format-package.ts
Due: prettier, eslint

chore: move api client to optional dependencies, overwrite optional dependencies for toDesktop
  packages/api-client-app/package.json
  packages/api-client-app/toDesktop.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: integrate app in changeset workflow
  .changeset/config.json
Due: prettier

chore: use peerDependencies instead of optionalDependencies
  packages/api-client-app/package.json
  packages/api-client-app/toDesktop.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: start page empty in Electron app
  packages/api-client-app/src/renderer/src/main.ts
  packages/api-client/src/index.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

chore: move api-client to dependencies
  packages/api-client-app/package.json
  packages/api-client-app/toDesktop.json
Due: prettier

chore: remove undici as a dependency
  packages/void-server/package.json
  packages/void-server/src/utils/getBody.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): chore: remove undici dependency
  .changeset/heavy-flowers-tan.md
Due: prettier

chore: update comment
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

fix: multiline command broken
  .github/workflows/ci.yml
Due: prettier

docs: add toDesktop to the README
  packages/api-client-app/README.md
Due: prettier

feat: customize the auto update process
  packages/api-client-app/package.json
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

chore: switch back to release branch only
  .github/workflows/ci.yml
Due: prettier

chore(void-server): remove unidici from void server (#2612)
  .changeset/heavy-flowers-tan.md
  packages/void-server/package.json
  packages/void-server/src/utils/getBody.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-reference): allow scrolling to collapsed sections via hash (#2604)
  .changeset/smooth-chairs-kneel.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier, eslint

fix(components): set component font size to 13px (#2601)
  .changeset/tricky-eyes-lick.md
  packages/components/.storybook/preview.css
  packages/components/src/components/ScalarDropdown/ScalarDropdownItem.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultItem.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
Due: prettier, eslint

feat: toDesktop builds (#2597)
  .changeset/config.json
  packages/api-client-app/.env.example
  packages/api-client-app/README.md
  packages/api-client-app/dev-app-update.yml
  packages/api-client-app/electron-builder.yml
  packages/api-client-app/package.json
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/renderer/index.html
  packages/api-client-app/src/renderer/src/main.ts
  packages/api-client-app/toDesktop.json
  packages/api-client/src/index.ts
  packages/api-client/src/router.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

ci: merge stackblitz and ci workflow (#2609)
  .github/workflows/ci.yml
  .github/workflows/publish-on-stackblitz.yml
Due: prettier

feat: created workspace factory
  examples/api-client/index.html
  packages/api-client-app/src/renderer/index.html
  packages/api-client-react/package.json
  packages/api-client/playground/app/index.html
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/App/createApiClientApp.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/store/topNav.ts
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/object-utils/src/mutator-record/handlers.ts
Due: prettier, eslint

fix: client app props
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/create-client.ts
Due: prettier, eslint

fix: types
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
Due: prettier, eslint

feat: getting there on all fronts
  packages/api-client-app/src/renderer/src/main.ts
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client/playground/app/main.ts
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/App/index.ts
  packages/api-client/src/libs/create-client.ts
Due: prettier, eslint

feat: update codeVariableWidget
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
Due: prettier, eslint

fix: api-client-react
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client/src/index.ts
Due: prettier, eslint

chore: rename to configuration
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Modal/api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
Due: prettier, eslint

chore: merge conflicts
  packages/api-client-app/src/renderer/src/main.ts
  packages/api-client/src/index.ts
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

feat: most of the way
  packages/api-client-react/playground/main.tsx
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client/src/layouts/Modal/api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

fix: minor
  packages/api-reference/src/components/api-client-bus.ts
Due: prettier, eslint

feat: getting there
  packages/api-client/playground/app/main.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
Due: prettier, eslint

fix: next.js
  packages/api-client-react/src/ApiClientModalProvider.tsx
  packages/api-client/src/layouts/Modal/api-client-modal.ts
Due: prettier, eslint

fix: activeRouterPArams
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/router.ts
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
Due: prettier, eslint

feat: topnav fixed
  packages/api-client/package.json
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/store/index.ts
  packages/api-client/src/store/topNav.ts
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

docs(changeset): feat: allow multiple api-clients on single page
  .changeset/tiny-cherries-sleep.md
Due: prettier

fix: env dropdown
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/CodeInput/codeDropdownWidget.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
