Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: add element attribute linting
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/DarkMode.svg
  packages/components/src/components/ScalarIcon/icons/LightDarkModeToggle.svg
  packages/components/src/components/ScalarIcon/icons/LightMode.svg
  packages/components/src/components/ScalarIcon/icons/SideBarClosed.svg
  packages/components/src/components/ScalarIcon/icons/SideBarOpen.svg
  packages/components/src/components/ScalarIcon/icons/programming-script-code.svg
Due: prettier, eslint

chore: require fill on svg root
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/Add.svg
  packages/components/src/components/ScalarIcon/icons/ArrowLeft.svg
  packages/components/src/components/ScalarIcon/icons/ArrowRight.svg
  packages/components/src/components/ScalarIcon/icons/Background.svg
  packages/components/src/components/ScalarIcon/icons/Brackets.svg
  packages/components/src/components/ScalarIcon/icons/CallToAction.svg
  packages/components/src/components/ScalarIcon/icons/Checkmark.svg
  packages/components/src/components/ScalarIcon/icons/DarkMode.svg
  packages/components/src/components/ScalarIcon/icons/DocsPage.svg
  packages/components/src/components/ScalarIcon/icons/Duplicate.svg
  packages/components/src/components/ScalarIcon/icons/Error.svg
  packages/components/src/components/ScalarIcon/icons/Folder.svg
  packages/components/src/components/ScalarIcon/icons/LightDarkModeToggle.svg
  packages/components/src/components/ScalarIcon/icons/LightMode.svg
  packages/components/src/components/ScalarIcon/icons/Logo.svg
  packages/components/src/components/ScalarIcon/icons/LogoAPI.svg
  packages/components/src/components/ScalarIcon/icons/LogoClient.svg
  packages/components/src/components/ScalarIcon/icons/Page.svg
  packages/components/src/components/ScalarIcon/icons/Refresh.svg
  packages/components/src/components/ScalarIcon/icons/Unlock.svg
  packages/components/src/components/ScalarIcon/icons/Upload.svg
  packages/components/src/components/ScalarIcon/icons/User.svg
  packages/components/src/components/ScalarIcon/icons/programming-framework-vuedotjs.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-clojure.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-http.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-java.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-json.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-node.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-powershell.svg
  packages/components/src/components/ScalarIcon/icons/programming-script-code.svg
  packages/components/src/components/ScalarIcon/icons/programming-tool-git.svg
Due: prettier, eslint

chore: mandate stroke property options
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/Close.svg
  packages/components/src/components/ScalarIcon/icons/User.svg
Due: prettier, eslint

docs(changeset): feat: normalize schemas with unnecessary nesting or single-value enums
  .changeset/grumpy-foxes-wait.md
Due: prettier

feat: normalize schemas
  packages/api-reference/src/components/Content/Operation/RequestBody.vue
  packages/oas-utils/src/index.ts
  packages/oas-utils/src/normalizeSchema.test.ts
  packages/oas-utils/src/normalizeSchema.ts
Due: prettier, eslint

chore: require viewbox to start at 0 0
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/programming-language-http.svg
Due: prettier, eslint

chore: require that viewboxes are 1:1
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/ArrowLeft.svg
  packages/components/src/components/ScalarIcon/icons/ArrowRight.svg
  packages/components/src/components/ScalarIcon/icons/FilterList.svg
  packages/components/src/components/ScalarIcon/icons/Play.svg
  packages/components/src/components/ScalarIcon/icons/Response.svg
  packages/components/src/components/ScalarIcon/icons/Sort.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-powershell.svg
  packages/components/src/components/ScalarIcon/icons/programming-language-shell.svg
Due: prettier, eslint

chore: restrict allowed elements
  packages/components/src/components/ScalarIcon/.svglintrc.js
  packages/components/src/components/ScalarIcon/icons/Terminal.svg
Due: prettier, eslint

docs(changeset): chore: lint icon svgs
  .changeset/cool-cherries-hope.md
Due: prettier

fix: update storybook script
  package.json
  packages/components/package.json
Due: prettier

docs(changeset): fix: update storybook script
  .changeset/late-coins-talk.md
Due: prettier

chore: remove openapi-types
  packages/cli/package.json
  packages/cli/src/commands/bundle/BundleCommand.ts
  packages/cli/src/commands/mock/MockCommand.ts
  packages/cli/src/utils/getHtmlDocument.ts
  packages/cli/src/utils/getOperationByMethodAndPath.test.ts
  packages/cli/src/utils/getOperationByMethodAndPath.ts
Due: prettier, eslint

chore: remove unused import
  packages/cli/src/commands/validate/ValidateCommand.ts
Due: prettier, eslint

fix: link:cli script doesn’t overwrite an existing link
  packages/cli/package.json
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: fix all linter errors
  .eslintrc.cjs
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecuritySchemeScopes.vue
  packages/api-client/src/components/ApiClient/Response/Response.vue
  packages/api-client/src/components/CollapsibleSection/CollapsibleSection.vue
  packages/api-client/src/components/Grid/GridHeader.vue
  packages/api-client/src/components/Grid/GridRowEditable.vue
  packages/api-client/src/components/ScalarAsciiArt.vue
  packages/api-client/src/helpers/sendRequest.test.ts
  packages/api-reference/src/helpers/parse.ts
  packages/play-button/src/index.ts
Due: prettier, eslint

chore: add svelte api reference package readme
  packages/svelte-api-reference/README.md
Due: prettier

chore: add svelte api reference dependencies
  packages/svelte-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat: add svelte api reference package
  packages/svelte-api-reference/CHANGELOG.md
  packages/svelte-api-reference/src/ApiReference.svelte
  packages/svelte-api-reference/src/index.ts
  packages/svelte-api-reference/src/theme.ts
  packages/svelte-api-reference/tsconfig.json
  packages/svelte-api-reference/vitest.config.ts
Due: prettier, eslint

fix: HMR doesn’t work in examples/web
  examples/web/vite.config.ts
  packages/api-client/vite.config.ts
  packages/api-reference/vite.config.ts
Due: prettier, eslint

chore(cli): remove openapi-types (#1907)
  packages/cli/package.json
  packages/cli/src/commands/bundle/BundleCommand.ts
  packages/cli/src/commands/mock/MockCommand.ts
  packages/cli/src/commands/validate/ValidateCommand.ts
  packages/cli/src/utils/getHtmlDocument.ts
  packages/cli/src/utils/getOperationByMethodAndPath.test.ts
  packages/cli/src/utils/getOperationByMethodAndPath.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: storybook script update (#1904)
  .changeset/late-coins-talk.md
  package.json
  packages/components/package.json
Due: prettier

chore: fix all linter errors (#1908)
  .eslintrc.cjs
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/SecuritySchemeScopes.vue
  packages/api-client/src/components/ApiClient/Response/Response.vue
  packages/api-client/src/components/CollapsibleSection/CollapsibleSection.vue
  packages/api-client/src/components/Grid/GridHeader.vue
  packages/api-client/src/components/Grid/GridRowEditable.vue
  packages/api-client/src/components/ScalarAsciiArt.vue
  packages/api-client/src/helpers/sendRequest.test.ts
  packages/api-reference/src/helpers/parse.ts
  packages/play-button/src/index.ts
Due: prettier, eslint

Add theme setting
  packages/api-reference/README.md
Due: prettier

feat: add listbox component (#1883)
  .changeset/mean-suits-fetch.md
  packages/components/src/components/ScalarListbox/ScalarListbox.spec.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.stories.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarListbox/index.ts
  packages/components/src/components/ScalarListbox/types.ts
  packages/components/src/index.ts
Due: prettier, eslint

fix: sidebar webhooks state
  packages/api-reference/src/components/Section/Section.vue
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

docs(changeset): fix: sidebar webhooks state
  .changeset/big-carrots-occur.md
Due: prettier

fix: sidebar webhooks (#1914)
  .changeset/big-carrots-occur.md
  packages/api-reference/src/components/Section/Section.vue
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

RELEASING: Releasing 14 package(s) (#1901)
  .changeset/big-carrots-occur.md
  .changeset/cool-cherries-hope.md
  .changeset/late-coins-talk.md
  .changeset/mean-suits-fetch.md
  .changeset/tough-lizards-think.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix: remove console log in use nav state
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

docs(changeset): fix: remove console log in use nav state
  .changeset/gentle-pumas-melt.md
Due: prettier

fix: remove console log in use nav state (#1915)
  .changeset/gentle-pumas-melt.md
  packages/api-reference/src/hooks/useNavState.ts
Due: prettier, eslint

fix: actually export listbox component
  packages/components/src/index.ts
Due: prettier, eslint

fix: actually export listbox component (#1917)
  packages/components/src/index.ts
Due: prettier, eslint

chore: update snapshots and playwright image version
  playwright/Dockerfile
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Chrome-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Safari-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-chromium-linux.png
Due: none

chore: update snapshots and playwright image version (#1918)
  playwright/Dockerfile
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Chrome-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-Mobile-Safari-linux.png
  playwright/tests/cdn.spec.ts-snapshots/cdn-snapshot-chromium-linux.png
Due: none

striped soace
  packages/api-reference/README.md
Due: prettier

fix: add slug id to markdown renderer headings
  packages/api-reference/package.json
  packages/api-reference/src/components/MarkdownRenderer/MarkdownRenderer.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): fix: markdown navigation
  .changeset/odd-pugs-rescue.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
