Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

resolve thread
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
Due: prettier, biome

docs: add barrel file issue analysis and report
  BARREL_FILE_ISSUE_REPORT.md
  analyze-barrel-files.js
  barrel-file-analysis.json
Due: prettier, biome

docs: refine barrel file analysis to 4 actual problematic files
  BARREL_FILE_ISSUE_REPORT.md
  analyze-barrel-files.js
  barrel-file-analysis.json
Due: prettier, biome

docs: add detailed code examples of barrel file issues
  BARREL_FILE_EXAMPLES.md
Due: prettier

fix: resolve CI lint and knip errors
  analyze-barrel-files.js
  knip.jsonc
Due: prettier, biome

style: format files with Biome
  analyze-barrel-files.js
  barrel-file-analysis.json
Due: prettier, biome

chore: remove debounce
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

feat: switch path update from debounce to onBlur
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/workspace-store/src/events/definitions/ui.ts
Due: prettier, biome

feat: got the item
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/workspace-store/src/events/definitions/operation.ts
Due: prettier, biome

fix: its working
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-events.ts
Due: prettier, biome

resolve cursor comment
  packages/validation/src/schema.ts
  packages/validation/src/types.ts
Due: prettier, biome

feat: got a legit blur target now
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/workspace-store/src/events/definitions/operation.ts
Due: prettier, biome

fix foramtting
  packages/api-client/src/v2/components/code-input/CodeInput.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesDropdown.vue
Due: prettier, biome

docs(changeset): feat: support generation of random data
  .changeset/metal-cameras-jog.md
Due: prettier

add test cases
  packages/helpers/src/regex/replace-variables.test.ts
Due: prettier, biome

lint
  packages/helpers/src/regex/replace-variables.test.ts
Due: prettier, biome

resolve threads
  packages/workspace-store/src/request-example/functions.ts
Due: prettier, biome

chore: lmasot there
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/workspace-store/src/events/definitions/ui.ts
Due: prettier, biome

wip
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/oas-utils/src/helpers/index.ts
  packages/pre-post-request-scripts/package.json
  packages/pre-post-request-scripts/src/components/ScriptEditor.vue
  packages/pre-post-request-scripts/src/index.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/build-sandbox-context.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-pre-request-script.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/index.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-sandbox-adapter.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/variables-store.ts
  packages/pre-post-request-scripts/src/plugins/index.ts
  packages/pre-post-request-scripts/src/plugins/post-response-scripts/index.ts
  packages/pre-post-request-scripts/src/plugins/post-response-scripts/post-response-scripts-plugin.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/DocumentScriptsSection.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/PostResponseScripts/ExampleScripts.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/PostResponseScripts/PostResponseScripts.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/PostResponseScripts/index.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/ScriptsSection/ScriptsSection.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/ScriptsSection/index.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/TestResultIndicator.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/TestResultItem.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/TestResults.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/TestResults.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/TestSummary.vue
  packages/pre-post-request-scripts/src/plugins/request-scripts/components/TestResults/index.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.ts
  packages/pre-post-request-scripts/src/postman-sandbox.d.ts
  packages/workspace-store/src/schemas/extensions/general/x-post-response.ts
  packages/workspace-store/src/schemas/extensions/general/x-pre-request.ts
  packages/workspace-store/src/schemas/extensions/operation/x-post-response.test.ts
  packages/workspace-store/src/schemas/v3.1/openapi/index.ts
  packages/workspace-store/src/schemas/v3.1/strict/openapi-document.ts
  packages/workspace-store/src/schemas/v3.1/strict/operation.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

docs: add ticket and issue linking instructions to AGENTS.md
  AGENTS.md
Due: prettier

add the docuemnt scripts stuff
  packages/api-client/playground/v2/web/main.ts
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/collection/components/DocumentScriptsEditors.vue
  packages/api-client/src/v2/features/collection/components/Scripts.vue
  packages/api-client/src/v2/features/collection/components/Tabs.vue
  packages/api-client/src/v2/workspace-events.ts
  packages/workspace-store/src/events/definitions/document.ts
  packages/workspace-store/src/mutators/document.ts
Due: prettier, biome

fix: tests
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInput.test.ts
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome

docs: add ticket and issue linking instructions to AGENTS.md (#8648)
  AGENTS.md
Due: prettier

docs(AGENTS): refine ticket linking placement rules
  AGENTS.md
Due: prettier

ensure we have an introduction section on the sidebar
  packages/api-reference/src/components/ApiReference.vue
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/mutators/operation/operation.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-description.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-description.ts
  packages/workspace-store/src/navigation/helpers/traverse-document.test.ts
  packages/workspace-store/src/server.test.ts
Due: prettier, biome

docs(changeset): fix: ensure we have a introduction entry on the sidear by default
  .changeset/lucky-dingos-swim.md
Due: prettier

chore: tighten it up
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome

docs(AGENTS): refine ticket linking placement rules (#8649)
  AGENTS.md
Due: prettier

feat(api-client): add saving prompt to client
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/components/package.json
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarSavePrompt/ScalarSavePrompt.vue
  packages/components/src/utilities.css
  packages/workspace-store/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

docs(changeset): feat: implement improved saving UI
  .changeset/legal-plants-refuse.md
Due: prettier

revert: formatting
  packages/workspace-store/package.json
Due: prettier, biome

feat(components): add prompt animations
  packages/components/src/components/ScalarSavePrompt/ScalarSavePrompt.stories.ts
  packages/components/src/components/ScalarSavePrompt/ScalarSavePrompt.vue
  packages/components/src/style.css
Due: prettier, biome

docs(changeset): feat: add saving ui component
  .changeset/tricky-pillows-film.md
Due: prettier

feat(components): add basic save prompt component
  packages/components/src/components/ScalarButton/constants.ts
  packages/components/src/components/ScalarSavePrompt/ScalarSavePrompt.stories.ts
  packages/components/src/components/ScalarSavePrompt/ScalarSavePrompt.vue
  packages/components/src/components/ScalarSavePrompt/index.ts
  packages/components/src/index.ts
  packages/themes/src/tailwind/theme.css
Due: prettier, biome

test(components): update snapshots
  packages/components/src/components/ScalarButton/snapshots/base-ghost-md-dark.png
  packages/components/src/components/ScalarButton/snapshots/base-ghost-md.png
  packages/components/src/components/ScalarButton/snapshots/base-ghost-sm.png
  packages/components/src/components/ScalarButton/snapshots/base-ghost-xs.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-danger-sm.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-ghost-md.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-ghost-sm.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-ghost-xs.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-gradient-sm.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-outlined-sm.png
  packages/components/src/components/ScalarButton/snapshots/with-icon-solid-sm.png
Due: none

add test cases
  packages/api-reference/src/features/Search/helpers/create-search-index.test.ts
Due: prettier, biome

fix formatting
  packages/workspace-store/src/server.test.ts
Due: prettier, biome

fix: handle ctrl enter
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome
