Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

test(mock-server): stub the WebSocket handler in the docker server test
  packages/mock-server/docker/src/server.test.ts
Due: prettier, biome

fix(openapi-to-markdown): cast dropped targets outside schema positions
  .changeset/markdown-dense-reference-load.md
  packages/openapi-to-markdown/src/load-document.test.ts
  packages/openapi-to-markdown/src/load-document.ts
  packages/openapi-to-markdown/src/object-kinds.ts
Due: prettier, biome

fix(openapi-to-markdown): coerce opaque reference targets safely
  .changeset/markdown-dense-reference-load.md
  packages/mock-server/docker/src/server.test.ts
  packages/openapi-to-markdown/src/load-document.test.ts
  packages/openapi-to-markdown/src/load-document.ts
  packages/openapi-to-markdown/src/object-kinds.ts
  packages/openapi-to-markdown/src/restore-boolean-schemas.ts
Due: prettier, biome

refactor(helpers): share inline script escaping
  .changeset/shared-inline-script-escaping.md
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/helpers/src/json/escape-json-for-inline-script.test.ts
  packages/helpers/src/json/escape-json-for-inline-script.ts
  packages/helpers/src/json/serialize-property-key.test.ts
  packages/helpers/src/json/serialize-property-key.ts
  packages/server-side-rendering/package.json
  packages/server-side-rendering/src/ssr.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

perf(openapi-to-markdown): link references after coercion (#10356)
  .changeset/markdown-dense-reference-load.md
  packages/mock-server/docker/src/server.test.ts
  packages/openapi-to-markdown/src/load-document.test.ts
  packages/openapi-to-markdown/src/load-document.ts
  packages/openapi-to-markdown/src/object-kinds.ts
  packages/openapi-to-markdown/src/restore-boolean-schemas.ts
Due: prettier, biome

fix(client-side-rendering): escape inline configuration data (#10344)
  .changeset/shared-inline-script-escaping.md
  .changeset/tidy-dragons-protect.md
  packages/client-side-rendering/package.json
  packages/client-side-rendering/src/html-rendering.test.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/test/few-dependencies.test.ts
  packages/helpers/src/json/escape-json-for-inline-script.test.ts
  packages/helpers/src/json/escape-json-for-inline-script.ts
  packages/helpers/src/json/serialize-property-key.test.ts
  packages/helpers/src/json/serialize-property-key.ts
  packages/server-side-rendering/package.json
  packages/server-side-rendering/src/ssr.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-client): preserve OAuth redirects and hide unavailable refresh controls
  .changeset/tidy-oauth-redirect-refresh.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/workspace-store/src/entities/auth/schema.test.ts
  packages/workspace-store/src/entities/auth/schema.ts
  packages/workspace-store/src/mutators/auth.test.ts
Due: prettier, biome

fix(aspire): use patched OpenApi dependency in BookService
  .changeset/tidy-books-shine.md
  integrations/dotnet/aspire/playground/Scalar.Aspire.BookService/Scalar.Aspire.BookService.csproj
Due: prettier

test(workspace-store): group OAuth redirect regression coverage
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/workspace-store/src/entities/auth/schema.test.ts
  packages/workspace-store/src/mutators/auth.test.ts
Due: prettier, biome

fix(api-client): preserve available OAuth2 scope selections
  .changeset/tidy-oauth-scope-options.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

chore(aspire): remove playground-only changeset
  .changeset/tidy-books-shine.md
Due: prettier

fix(workspace-store): resolve nested $dynamicAnchor declarations
  .changeset/dynamic-anchor-nested.md
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
Due: prettier, biome

feat(api-reference): add opt-in Mermaid Markdown plugin
  .changeset/mermaid-markdown-plugin.md
  knip.jsonc
  packages/api-reference/playground/mermaid/index.html
  packages/api-reference/playground/mermaid/main.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/plugins/plugin-manager.test.ts
  packages/api-reference/src/plugins/plugin-manager.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
  packages/components/src/components/ScalarMarkdown/index.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.ts
  packages/components/src/index.ts
  packages/helpers/src/markdown/markdown-render-hook.ts
  packages/mermaid-plugin/CHANGELOG.md
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/package.json
  packages/mermaid-plugin/screenshots/modal.png
  packages/mermaid-plugin/screenshots/reference.png
  packages/mermaid-plugin/src/create-diagram.test.ts
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/index.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  packages/mermaid-plugin/src/render-mermaid.ts
  packages/mermaid-plugin/tsconfig.build.json
  packages/mermaid-plugin/tsconfig.json
  packages/schemas/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

fix(api-reference): start Mermaid playground for CI tests
  packages/api-reference/playwright.config.ts
Due: prettier, biome

test(mermaid-plugin): guard opt-in loading and strict security
  packages/api-reference/playground/mermaid/main.ts
  packages/api-reference/playwright/test/mermaid.e2e.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  packages/mermaid-plugin/src/render-mermaid.ts
Due: prettier, biome

fix(mermaid-plugin): expose themeable viewer styles
  .changeset/mermaid-markdown-plugin.md
  documentation/plugins.md
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/create-diagram.test.ts
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/diagram-styles.ts
Due: prettier, biome

fix(mermaid-plugin): preserve collapsed Markdown summaries
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/playground/mermaid/summary.html
  packages/api-reference/playground/mermaid/summary.ts
  packages/api-reference/playwright.mermaid.config.ts
  packages/api-reference/playwright/test/mermaid.e2e.ts
  packages/api-reference/src/components/RenderPlugins/RenderPlugins.test.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdownSummary.vue
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

chore(mermaid-plugin): remove PR screenshots
  packages/mermaid-plugin/screenshots/modal.png
  packages/mermaid-plugin/screenshots/reference.png
Due: none

fix(mermaid-plugin): harden Markdown hook lifecycle and CI coverage
  .changeset/mermaid-markdown-plugin.md
  packages/api-reference/playwright.config.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.ts
  packages/helpers/src/markdown/markdown-render-hook.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/src/render-mermaid.test.ts
Due: prettier, biome

fix(api-reference): retry preparation after configuration recovery
  packages/api-reference/playwright/test/ssr-hydration.e2e.ts
  packages/api-reference/src/standalone/lib/html-api.ts
Due: prettier, biome

fix(api-reference): prepare documents before SSR hydration
  .changeset/prepared-reference-hydration.md
  packages/api-reference/README.md
  packages/api-reference/package.json
  packages/api-reference/playwright.ssr.config.ts
  packages/api-reference/playwright/test/ssr-hydration.e2e.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Lazy/Lazy.vue
  packages/api-reference/src/features/developer-tools/DeveloperTools.vue
  packages/api-reference/src/helpers/create-reference-document-loader.ts
  packages/api-reference/src/helpers/hydrating-reference.ts
  packages/api-reference/src/helpers/prepare-api-reference.test.ts
  packages/api-reference/src/helpers/prepare-api-reference.ts
  packages/api-reference/src/index.ts
  packages/api-reference/src/standalone/lib/html-api.ts
  packages/api-reference/tsconfig.build.json
  packages/api-reference/tsconfig.json
Due: prettier, biome

refactor(api-reference): share localized configuration defaults
  packages/api-reference/README.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/prepare-api-reference.ts
  packages/api-reference/src/helpers/with-localized-configuration-defaults.test.ts
  packages/api-reference/src/helpers/with-localized-configuration-defaults.ts
Due: prettier, biome

fix(mermaid-plugin): defer publishing and start local playground tests
  packages/api-reference/playwright.config.ts
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/package.json
  pnpm-workspace.yaml
Due: prettier, biome

test(api-reference): narrow prepared document assertions
  packages/api-reference/src/helpers/prepare-api-reference.test.ts
Due: prettier, biome

test(api-reference): assert bundled schema reference precisely
  packages/api-reference/src/helpers/prepare-api-reference.test.ts
Due: prettier, biome

feat(api-client): add date and time picker for date/date-time/time fields
  .changeset/date-time-picker.md
  packages/api-client/package.json
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/blocks/request-block/helpers/validate-parameter.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/validate-parameter.ts
  packages/api-client/src/v2/components/date-picker/DatePicker.vue
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
  packages/api-client/src/v2/components/date-picker/date-parts.ts
  packages/api-client/src/v2/components/date-picker/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

fix(api-reference): synchronize prepared hydration defaults
  packages/api-reference/playwright/test/ssr-hydration.e2e.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/create-reference-document-loader.ts
  packages/api-reference/src/helpers/prepare-api-reference.test.ts
  packages/api-reference/src/helpers/prepare-api-reference.ts
Due: prettier, biome

fix(api-client): preserve immutable calendar value types
  packages/api-client/src/v2/components/date-picker/DatePicker.vue
  packages/api-client/src/v2/components/date-picker/snapshots/date-picker.png
Due: prettier, biome

fix(api-client): polish date picker and preserve time offsets
  packages/api-client/src/v2/components/date-picker/DatePicker.test.ts
  packages/api-client/src/v2/components/date-picker/DatePicker.vue
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
  packages/api-client/src/v2/components/date-picker/date-parts.ts
  packages/api-client/src/v2/components/date-picker/snapshots/date-picker.png
Due: prettier, biome

refactor(json-magic): resolve $dynamicRef inside the magic proxy
  .changeset/dynamic-anchor-nested.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

test(api-client): assert complete date picker values
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
Due: prettier, biome

fix(json-magic): scope-key the proxy cache so recursive $dynamicRef terminates
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

refactor(json-magic): export the $dynamicRef-value key as one source of truth
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): collect $dynamicAnchor under unevaluated/additional/content applicators
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

fix(json-magic): thread childScope into $dynamicRef-value and make it get-only
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

perf(json-magic): probe for $dynamicRef lazily instead of on every proxy
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

docs(json-magic): clarify collectDynamicAnchors sibling-$ref dereferencing
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

feat(api-client): select multiple files for array form fields
  .changeset/multi-file-upload.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.vue
Due: prettier, biome

fix(json-magic): enforce $dynamicRef bookending against the innermost resource
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
Due: prettier, biome

chore(api-reference): note dynamic-ref property fix in changeset
  .changeset/dynamic-anchor-nested.md
Due: prettier
