Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

fix(api-client): set active serverback in active example
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

fix(api-client): authentication select
  packages/api-client/src/views/Request/RequestSection/RequestAuth.vue
Due: prettier, eslint

docs(changeset): fix: authentication select
  .changeset/sweet-clocks-speak.md
Due: prettier

feat: drag and drop files and urls
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/preload/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

docs(changeset): feat: drag’n’drop files and URLs
  .changeset/thin-ladybugs-eat.md
Due: prettier

feat: add file open menu item
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/preload/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

refactor: don’t expose additional ipcRenderer
  packages/api-client-app/src/preload/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

feat: add dedicated error messages for invalid/empty urls
  packages/api-client/src/errors.ts
  packages/api-client/src/libs/sendRequest.ts
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

refactor: split ci and release workflow again
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier

fix: commit message isn’t available
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier

chore: disable release step for now
  .github/workflows/release.yml
Due: prettier

docs(changeset): feat: set path variables from url
  .changeset/weak-laws-yawn.md
Due: prettier

feat(api-client): set path variables from url
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

chore: use personal access token to trigger the release workflow
  .github/workflows/ci.yml
Due: prettier

docs(changeset): Added option to remove spec link from navigation bar
  .changeset/ninety-beds-bathe.md
Due: prettier

fix(api-client): adds delete sidebar list element modal close event
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
Due: prettier, eslint

docs(changeset): fix: adds delete sidebar list element close event
  .changeset/perfect-panthers-look.md
Due: prettier

fix(api-client): delete sidebar list element (#2780)
  .changeset/perfect-panthers-look.md
  packages/api-client/src/components/Sidebar/SidebarListElementActions.vue
Due: prettier, eslint

chore: move to patch change
  .changeset/ninety-beds-bathe.md
Due: prettier

feat(docusaurus): add showNavLink config option (#2763)
  .changeset/ninety-beds-bathe.md
  packages/docusaurus/src/index.ts
Due: prettier, eslint

fix(api-reference): webhooks section anchor, fix #2774 (#2775)
  .changeset/twenty-candles-jump.md
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
Due: prettier, eslint

fix(api-client): authentication select (#2777)
  .changeset/sweet-clocks-speak.md
  packages/api-client/src/views/Request/RequestSection/RequestAuth.vue
Due: prettier, eslint

feat(api-client): set path variables from url (#2779)
  .changeset/weak-laws-yawn.md
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

feat(api-client): improve client request loading and feedback (#2764)
  .changeset/witty-rings-peel.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/errors.ts
  packages/api-client/src/libs/eventBusses/index.ts
  packages/api-client/src/libs/eventBusses/requestStatusBus.ts
  packages/api-client/src/libs/sendRequest.ts
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

fix: improve styles of address bar post UI polish
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-reference/src/components/Content/Operation/EndpointPath.vue
Due: prettier, eslint

docs(changeset): fix: improve address bar styles
  .changeset/red-grapes-train.md
Due: prettier

fix: force bg-b-3 on grey cm-pill
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

fix: improve styles of address bar post UI polish (#2782)
  .changeset/red-grapes-train.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-reference/src/components/Content/Operation/EndpointPath.vue
Due: prettier, eslint

docs(changeset): Documentation for new showNavLink option
  .changeset/cool-kiwis-run.md
Due: prettier

docs: Add showNavLink to Docusaurus README
  packages/docusaurus/README.md
Due: prettier

chore: change default routePrefix to /reference
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

docs(changeset): change default routePrefix to /reference
  .changeset/forty-ravens-teach.md
Due: prettier

Update forty-ravens-teach.md
  .changeset/forty-ravens-teach.md
Due: prettier

refactor: use ast to get headings from Markdown
  packages/api-reference/package.json
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.test.ts
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.ts
  packages/code-highlight/src/markdown/getNodesOfType.test.ts
  packages/code-highlight/src/markdown/index.ts
  packages/code-highlight/src/markdown/markdown.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

refactor: use markdown ast to add ids to headings, disable intersection observer (wip)
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/helpers/splitMarkdown.test.ts
  packages/api-reference/src/helpers/splitMarkdownInSections.test.ts
  packages/api-reference/src/helpers/splitMarkdownInSections.ts
  packages/code-highlight/src/markdown/htmlFromMarkdown.test.ts
  packages/code-highlight/src/markdown/markdown.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
Due: prettier, eslint

refactor: split markdown in sections again (wip)
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/code-highlight/package.json
  packages/code-highlight/src/markdown/markdown.ts
  packages/code-highlight/src/markdown/splitContent.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

refactor: properly split content into sections
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/code-highlight/src/markdown/markdown.ts
  packages/code-highlight/src/markdown/splitContent.test.ts
Due: prettier, eslint

docs(changeset): feat: new Markdown helper methods getMarkdownAst, splitContent, createDocument and getNodesOfType
  .changeset/stupid-parrots-tan.md
Due: prettier

chore: clean up
  .changeset/stupid-parrots-tan.md
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/helpers/getHeadingsFromMarkdown.ts
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/splitMarkdownInSections.test.ts
  packages/api-reference/src/helpers/splitMarkdownInSections.ts
  packages/code-highlight/package.json
  packages/code-highlight/src/markdown/getHeadings.test.ts
  packages/code-highlight/src/markdown/htmlFromMarkdown.test.ts
  packages/code-highlight/src/markdown/markdown.ts
  packages/code-highlight/src/markdown/splitContent.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint
