Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test(workspace-store): cover discriminator defaultMapping in v3.2 schema
  packages/workspace-store/src/schemas/v3.2/strict/discriminator.test.ts
Due: prettier, biome

chore: register v3.2 workspace-store schemas with knip
  knip.jsonc
Due: biome

docs: split home and documentation navigation
  documentation/assets/starter-kit-animated.svg
  documentation/assets/styles.css
  documentation/guides/introduction.md
  documentation/guides/scalar-overview.md
  scalar.config.json
Due: prettier, biome

docs: retitle starter kit box and enlarge the Marc sticker
  documentation/assets/starter-kit-animated.svg
Due: none

fix(api-reference): render model names as plain text when models are hidden
  .changeset/fix-9854-hide-models-plain-text.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/Content/Schema/types.ts
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

docs(sdks): document CLI destinations and fix publishing docs (#9848)
  documentation/guides/sdks/cli.md
  documentation/guides/sdks/configuration/go.md
  documentation/guides/sdks/configuration/php.md
  documentation/guides/sdks/configuration/swift.md
  documentation/guides/sdks/publishing/overview.md
Due: prettier

refactor(api-reference): add isModelLinkable helper
  packages/api-reference/src/components/Content/Schema/helpers/is-model-linkable.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/is-model-linkable.ts
Due: prettier, biome

fix(api-reference): render hidden model names as plain text next to types
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, biome

fix(api-reference): render hidden model names as plain text on request body heading
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

docs(api-reference): mention per-model hiding in changeset
  .changeset/fix-9854-hide-models-plain-text.md
Due: prettier

fix(api-reference): make x-tagged model-name links reachable
  .changeset/fix-xtags-model-links.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/build-models-index.test.ts
  packages/api-reference/src/helpers/build-models-index.ts
Due: prettier, biome

fix(api-reference): render hidden model names as plain text in header schemas
  packages/api-reference/src/features/Operation/components/Header.vue
  packages/api-reference/src/features/Operation/components/Headers.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
Due: prettier, biome

test(api-reference): build typed documents instead of casting to any
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/is-model-linkable.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
Due: prettier, biome

fix(api-reference): empty popup when hovering Generate MCP without an MCP config
  .changeset/mcp-button-empty-popup.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/test/configuration/mcp-button.e2e.ts
Due: prettier, biome

fix(api-reference): render model names as plain text when models are hidden (#9856)
  .changeset/fix-9854-hide-models-plain-text.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/Content/Schema/helpers/is-model-linkable.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/is-model-linkable.ts
  packages/api-reference/src/components/Content/Schema/types.ts
  packages/api-reference/src/features/Operation/components/Header.vue
  packages/api-reference/src/features/Operation/components/Headers.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/src/features/Operation/components/RequestBody.test.ts
  packages/api-reference/src/features/Operation/components/RequestBody.vue
Due: prettier, biome

fix(api-reference): only link model names for components.schemas refs
  .changeset/fix-nonschema-model-links.md
  packages/api-reference/src/components/Content/Schema/helpers/get-ref-name.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/get-ref-name.ts
  packages/api-reference/src/components/Content/Schema/helpers/schema-name.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/schema-name.ts
Due: prettier, biome

refactor(api-reference): derive MCP fan-out height from row count
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
Due: prettier, biome

feat(api-reference): use webhook icon in search results
  .changeset/webhook-search-icon.md
  packages/api-reference/src/features/Search/components/SearchResult.vue
Due: prettier, biome

fix(api-reference): stop rendering discriminator base property twice
  .changeset/fix-9861-discriminator-property-duplicate.md
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix(api-reference): empty popup when hovering Generate MCP without an MCP config (#9859)
  .changeset/mcp-button-empty-popup.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/test/configuration/mcp-button.e2e.ts
Due: prettier, biome

feat(aspnetcore): add .NET 11 (ASP.NET Core 11) target framework support
  .changeset/dotnet-net11-support.md
  .github/workflows/integration-builds.yml
  .github/workflows/publish-integrations.yml
  integrations/dotnet/Directory.Packages.props
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Microsoft/Scalar.AspNetCore.Microsoft.csproj
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Swashbuckle/Scalar.AspNetCore.Swashbuckle.csproj
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Microsoft.Tests/Scalar.AspNetCore.Microsoft.Tests.csproj
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Swashbuckle.Tests/Scalar.AspNetCore.Swashbuckle.Tests.csproj
  integrations/dotnet/aspnetcore/tests/Scalar.AspNetCore.Tests/Scalar.AspNetCore.Tests.csproj
  integrations/dotnet/aspnetcore/tests/apis/Scalar.AspNetCore.Tests.Api/Scalar.AspNetCore.Tests.Api.csproj
  integrations/dotnet/global.json
Due: prettier, biome

feat(api-reference): ship source maps with the standalone browser build
  .changeset/tricky-cups-argue.md
  packages/api-reference/package.json
  packages/api-reference/vite.standalone.config.ts
  packages/api-reference/vite.standalone.esm.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-reference): connect discriminator variant selector to its content
  .changeset/fix-9861-discriminator-property-duplicate.md
  packages/api-reference/src/components/Content/Schema/SchemaComposition.vue
Due: prettier, biome

fix(api-client): render reused header/param rows that were left empty
  .changeset/quick-headers-9797.md
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

refactor(api-reference): reuse isHidden helper for ignored parameters
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/helpers/should-ignore-entity.ts
Due: prettier, biome

feat(workspace-store): preserve x-order and x-scalar-ignore on oauth2 flows and schemes
  packages/types/src/entities/security-scheme.ts
  packages/workspace-store/src/schemas/v3.1/strict/oauth-flow.ts
  packages/workspace-store/src/schemas/v3.1/strict/security-scheme.ts
Due: prettier, biome

feat(api-client): order and hide oauth2 flow tabs
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth-flows.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth-flows.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

docs(openapi): document x-order and x-scalar-ignore for oauth2 flows
  .changeset/oauth2-flow-order-visibility.md
  documentation/openapi.md
Due: prettier

fix(api-client): also paint whitespace-only values on reused rows
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

fix(api-client): keep oauth2 flow selection and scheme hiding consistent
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

refactor(api-reference): address review of discriminator schema fixes
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaComposition.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix(api-client): render NDJSON responses instead of Binary file
  .changeset/ndjson-response-preview.md
  packages/agent-chat/src/components/ResponseBody/helpers/media-types.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyPreview.test.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyPreview.vue
  packages/api-client/src/v2/blocks/response-block/helpers/media-types.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/media-types.ts
  packages/api-client/src/v2/blocks/response-block/helpers/prettify-ndjson.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/prettify-ndjson.ts
Due: prettier, biome

chore(agent-chat): remove stray console.log from ResponseBody
  .changeset/agent-chat-remove-console-log.md
  packages/agent-chat/src/components/ResponseBody/ResponseBody.vue
Due: prettier, biome

docs(api-client): clarify prettifyNdjson lenient formatting and add test coverage
  packages/api-client/src/v2/blocks/response-block/helpers/prettify-ndjson.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/prettify-ndjson.ts
Due: prettier, biome

refactor(api-reference): dedupe discriminator inference and harden variant flush rule
  packages/api-reference/src/components/Content/Schema/SchemaComposition.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
Due: prettier, biome

docs: fix broken CI badge in README
  README.md
Due: prettier

docs: add Java to the README integrations list
  README.md
Due: prettier

docs: fix broken anchor links in documentation
  documentation/guides/agent/pricing.md
  documentation/integrations/aspnetcore/integration.md
  documentation/integrations/django-ninja.md
Due: prettier

feat(api-reference): add short ESM CDN entrypoint at /esm.js
  .changeset/short-esm-cdn-url.md
  biome.json
  packages/api-reference/esm.js
  packages/api-reference/package.json
Due: prettier, biome

docs(api-reference): note the CDN esm.js URL in the ESM playground
  packages/api-reference/playground/esm/index.html
Due: prettier

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
