Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: vite-cleanup, package_format, biome-format, prettier, lint

vite-cleanup:
  run: find . -name 'vite.config.ts.timestamp-*' -delete

package_format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

biome-format:
  run: pnpm biome format --write && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

lint:
  run: pnpm biome lint --diagnostic-level=error --fix

delete old docker integration
  packages/api-reference/docker/CHANGELOG.md
  packages/api-reference/docker/README.md
  packages/api-reference/docker/docker-compose.yml
  packages/api-reference/docker/package.json
  packages/api-reference/docker/src/Caddyfile
  packages/api-reference/docker/src/Dockerfile
  packages/api-reference/docker/src/index.html
Due: vite-cleanup, biome-format, prettier, lint

update caddyfile
  integrations/docker/Caddyfile
Due: vite-cleanup, biome-format, lint

fix format
  integrations/docker/assets/index.html
Due: vite-cleanup, biome-format, prettier, lint

feat: add docker integration
  integrations/docker/.gitignore
  integrations/docker/Caddyfile
  integrations/docker/Dockerfile
  integrations/docker/assets/index.html
  integrations/docker/package.json
  pnpm-lock.yaml
Due: vite-cleanup, package_format, biome-format, prettier, lint

gitignore
  integrations/docker/.gitignore
Due: vite-cleanup, biome-format, lint

version
  integrations/docker/package.json
Due: vite-cleanup, biome-format, prettier, lint

ignore assets for docker
  .prettierignore
Due: vite-cleanup, biome-format, lint

workflow
  .github/workflows/ci.yml
Due: vite-cleanup, biome-format, prettier, lint

docs
  integrations/docker/Dockerfile
Due: vite-cleanup, biome-format, lint

feat: add analytics to guides.scalar.com
  scalar.config.json
Due: vite-cleanup, biome-format, prettier, lint

feat: add analytics to guides.scalar.com (#5967)
  scalar.config.json
Due: vite-cleanup, biome-format, prettier, lint

fix(api-reference): updates playwright api reference test
  playwright/tests/testApiReference.ts
Due: vite-cleanup, biome-format, prettier, lint

fix(api-reference): updates playwright api reference test (#5968)
  playwright/tests/testApiReference.ts
Due: vite-cleanup, biome-format, prettier, lint

fix: ensure value generator yeilds alphanumeric values
  packages/openapi-parser/src/utils/bundle/value-generator.test.ts
  packages/openapi-parser/src/utils/bundle/value-generator.ts
Due: vite-cleanup, biome-format, prettier, lint

test: add test cases for the new feature
  packages/workspace-store/src/server.test.ts
Due: vite-cleanup, biome-format, prettier, lint

test: update tests
  packages/workspace-store/src/server.test.ts
Due: vite-cleanup, biome-format, prettier, lint

ci: review dependencies for known security issues
  .github/workflows/dependency-review.yml
Due: vite-cleanup, biome-format, prettier, lint

chore: update lock file
  pnpm-lock.yaml
Due: vite-cleanup, package_format, biome-format, prettier, lint

customize cdn url
  integrations/docker/Dockerfile
  integrations/docker/README.md
  integrations/docker/assets/index.html
Due: vite-cleanup, biome-format, prettier, lint

add readme
  integrations/docker/README.md
Due: vite-cleanup, biome-format, prettier, lint

simplify
  integrations/docker/Dockerfile
Due: vite-cleanup, biome-format, lint

precompress
  integrations/docker/Caddyfile
  integrations/docker/package.json
Due: vite-cleanup, biome-format, prettier, lint

update workflow
  .github/workflows/ci.yml
Due: vite-cleanup, biome-format, prettier, lint

docs(changeset): feat(docker): initial API Reference for docker
  .changeset/moody-bees-change.md
Due: vite-cleanup, biome-format, prettier, lint

feat(docker): improve docker integration (#5892)
  .changeset/moody-bees-change.md
  .github/workflows/ci.yml
  .prettierignore
  integrations/docker/.gitignore
  integrations/docker/Caddyfile
  integrations/docker/Dockerfile
  integrations/docker/README.md
  integrations/docker/assets/index.html
  integrations/docker/package.json
  packages/api-reference/docker/CHANGELOG.md
  packages/api-reference/docker/README.md
  packages/api-reference/docker/docker-compose.yml
  packages/api-reference/docker/package.json
  packages/api-reference/docker/src/Caddyfile
  packages/api-reference/docker/src/Dockerfile
  packages/api-reference/docker/src/index.html
  pnpm-lock.yaml
Due: vite-cleanup, package_format, biome-format, prettier, lint

feat: add access groups documentation
  documentation/guides/access.md
  documentation/guides/login-portals.md
  documentation/guides/rules.md
  documentation/guides/schemas.md
  scalar.config.json
Due: vite-cleanup, biome-format, prettier, lint

feat: add access groups documentation (#5973)
  documentation/guides/access.md
  documentation/guides/login-portals.md
  documentation/guides/rules.md
  documentation/guides/schemas.md
  scalar.config.json
Due: vite-cleanup, biome-format, prettier, lint

fix(docker): improve build script
  integrations/docker/package.json
Due: vite-cleanup, biome-format, prettier, lint

fix(docker): improve build script (#5974)
  integrations/docker/package.json
Due: vite-cleanup, biome-format, prettier, lint

fix: hidden models
  packages/api-reference/src/libs/openapi.ts
Due: vite-cleanup, biome-format, prettier, lint

docs(changeset): fix: ensure x-scalar-ignore applies to the schema models
  .changeset/big-cougars-matter.md
Due: vite-cleanup, biome-format, prettier, lint

Path conditions:
  vite-cleanup: any of: *
  package_format: any of: pnpm-lock.yaml
  biome-format: any of: *
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  lint: any of: *
