Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

feat(api-client): request sidebar search hotkey navigation
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

fix(api-client): request params deletion
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
Due: prettier, eslint

docs(changeset): fix: request params deletion
  .changeset/purple-ties-call.md
Due: prettier

fix(api-client): request table tooltip
  packages/api-client/src/views/Request/RequestSection/RequestTableTooltip.vue
Due: prettier, eslint

docs(changeset): fix: request table tooltip
  .changeset/purple-peas-add.md
Due: prettier

docs: .net 8 integration
  packages/scalar.aspnetcore/README.md
Due: prettier

feat(api-client): topnav context menu
  packages/api-client/src/components/ScalarHotkey.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/components/src/components/ScalarContextMenu/ScalarContextMenu.vue
  packages/components/src/components/ScalarIcon/icons/AddTab.svg
  packages/components/src/components/ScalarIcon/icons/CloseTab.svg
  packages/components/src/components/ScalarIcon/icons/CloseTabs.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
Due: prettier, eslint

docs(changeset): feat: topnav context menu
  .changeset/tame-flowers-serve.md
Due: prettier

feat: Update x-scalar-folder definition
  packages/oas-utils/src/spec-extentions/x-scalar-folder.yaml
Due: prettier

feat(api-client): top nav context menu (#2888)
  .changeset/tame-flowers-serve.md
  packages/api-client/src/components/ScalarHotkey.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/components/src/components/ScalarContextMenu/ScalarContextMenu.vue
  packages/components/src/components/ScalarIcon/icons/AddTab.svg
  packages/components/src/components/ScalarIcon/icons/CloseTab.svg
  packages/components/src/components/ScalarIcon/icons/CloseTabs.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
Due: prettier, eslint

fix: Add build step for type path resolution
  packages/types/package.json
  packages/types/rollup.config.ts
  packages/types/src/index.ts
  packages/types/tsconfig.build.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: add type exports
  packages/openapi-types/package.json
Due: prettier

docs(changeset): Add build step for path resolution
  .changeset/twelve-horses-clean.md
Due: prettier

RELEASING: Releasing 15 package(s) (#2883)
  .changeset/polite-windows-burn.md
  .changeset/tame-flowers-serve.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix(components): refactor loading to match icon sizes (#2882)
  .changeset/popular-crews-peel.md
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.stories.ts
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
Due: prettier, eslint

feat: add build step to openapi types
  packages/openapi-types/package.json
  packages/openapi-types/rollup.config.ts
  packages/openapi-types/tsconfig.build.json
  packages/types/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(types): add build system to types packages (#2891)
  .changeset/twelve-horses-clean.md
  packages/openapi-types/package.json
  packages/openapi-types/rollup.config.ts
  packages/openapi-types/tsconfig.build.json
  packages/types/package.json
  packages/types/rollup.config.ts
  packages/types/src/index.ts
  packages/types/tsconfig.build.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: wrap httpsnippet-lite types and functions in snippetz
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/helpers/getHarRequest.ts
  packages/api-reference/src/legacy/helpers/getRequestFromAuthentication.ts
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/api-reference/src/types.ts
  packages/snippetz/src/core/index.ts
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/snippetz.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

test: remove unused test
  packages/snippetz/src/snippetz.test.ts
Due: prettier, eslint

RELEASING: Releasing 19 package(s) (#2893)
  .changeset/popular-crews-peel.md
  .changeset/twelve-horses-clean.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: prettier

chore: fix types
  packages/snippetz/package.json
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/snippetz.ts
Due: prettier, eslint

fix(api-client): force code mirror to scroll on overflow
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

docs(changeset): fix(api-client): force code mirror to scroll on overflow
  .changeset/tough-sheep-chew.md
Due: prettier

fix(api-client): add background to codemirror gutter
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

fix(api-client): force code mirror to scroll on overflow (#2894)
  .changeset/tough-sheep-chew.md
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

fix(api-client): request table tooltip (#2885)
  .changeset/purple-peas-add.md
  packages/api-client/src/views/Request/RequestSection/RequestTableTooltip.vue
Due: prettier, eslint

fix(api-client): request params deletion (#2884)
  .changeset/purple-ties-call.md
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
Due: prettier, eslint

feat(api-client): request search (#2870)
  .changeset/fair-bulldogs-stare.md
  .changeset/two-starfishes-smile.md
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/views/Request/Request.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultItem.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

fix: add scrollbars to app not body
  packages/themes/src/hooks/useObtrusiveScrollbars.ts
  packages/themes/src/scrollbars.css
Due: prettier, eslint

fix(themes): always show obtrusive scrollbars
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/themes/src/hooks/useObtrusiveScrollbars.ts
  packages/themes/src/index.ts
  packages/themes/src/scrollbars.css
Due: prettier, eslint

docs(changeset): fix(themes): always show obtrusive scrollbars
  .changeset/happy-trees-rest.md
Due: prettier

fix: switch from hook to utility function to avoid vue dependency
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/themes/src/hooks/useObtrusiveScrollbars.ts
  packages/themes/src/index.ts
  packages/themes/src/utilities/hasObtrusiveScrollbars.ts
Due: prettier, eslint

RELEASING: Releasing 17 package(s) (#2896)
  .changeset/fair-bulldogs-stare.md
  .changeset/purple-peas-add.md
  .changeset/purple-ties-call.md
  .changeset/tough-sheep-chew.md
  .changeset/two-starfishes-smile.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix(themes): always show obtrusive scrollbars (#2862)
  .changeset/happy-trees-rest.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/themes/src/index.ts
  packages/themes/src/scrollbars.css
  packages/themes/src/utilities/hasObtrusiveScrollbars.ts
Due: prettier, eslint

fix(components): show icon for ScalarTextField errors
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.stories.ts
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
Due: prettier, eslint

docs(changeset): fix(components): show icon for ScalarTextField errors
  .changeset/afraid-glasses-work.md
Due: prettier

fix: set error color references to red
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
Due: prettier, eslint

fix(components): display ScalarTextField errors properly (#2897)
  .changeset/afraid-glasses-work.md
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.stories.ts
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
Due: prettier, eslint

chore: pnpm format
  packages/scalar.aspnetcore/README.md
Due: prettier

docs: .net 8 integration (#2886)
  packages/scalar.aspnetcore/README.md
Due: prettier
