Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: remove old cloudbuild yaml file
  cloudbuild.yaml
Due: prettier

chore: use gcp compute e2_highcpu_32
  cloudbuild.json
  tooling/cloudbuild/generateCloudbuild.ts
Due: prettier, eslint

docs(changeset): fix: sets integration theme id fallback
  .changeset/three-games-shave.md
Due: prettier

fix(api-client): sets integration theme id fallback
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

fix(scalar-client): import collection workspace modal (#4440)
  .changeset/blue-parents-hunt.md
  .changeset/twenty-cows-sleep.md
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/api-client/src/views/Environment/EnvironmentModal.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

fix(api-client): sets integration theme id fallback (#4439)
  .changeset/three-games-shave.md
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
Due: prettier, eslint

feat(components): create dark light toggle components (#4435)
  .changeset/little-keys-explain.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeIconToggle.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/DarkModeToggle/index.ts
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
  packages/api-reference/src/index.ts
  packages/components/.storybook/preview.css
  packages/components/src/components/ScalarColorModeToggle/ScalarColorModeToggle.stories.ts
  packages/components/src/components/ScalarColorModeToggle/ScalarColorModeToggle.test.ts
  packages/components/src/components/ScalarColorModeToggle/ScalarColorModeToggle.vue
  packages/components/src/components/ScalarColorModeToggle/ScalarColorModeToggleButton.vue
  packages/components/src/components/ScalarColorModeToggle/ScalarColorModeToggleIcon.vue
  packages/components/src/components/ScalarColorModeToggle/index.ts
  packages/components/src/components/ScalarSidebar/ScalarSidebar.stories.ts
  packages/components/src/components/ScalarSidebar/ScalarSidebar.test.ts
  packages/components/src/components/ScalarSidebar/ScalarSidebar.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarFooter.vue
  packages/components/src/components/ScalarSidebar/index.ts
  packages/components/src/index.ts
  packages/themes/src/tailwind.ts
  packages/use-hooks/src/useColorMode/useColorMode.test.ts
  packages/use-hooks/src/useColorMode/useColorMode.ts
Due: prettier, eslint

feat(openapi-types): add HTTP methods (#4454)
  .changeset/pink-mugs-repair.md
  packages/openapi-types/src/openapi-types.test-d.ts
  packages/openapi-types/src/openapi-types.ts
Due: prettier, eslint

chore: remove embeds (#4453)
  packages/api-reference/package.json
  packages/api-reference/playground/embed/index.html
  packages/api-reference/playground/embed/src/App.vue
  packages/api-reference/playground/embed/src/main.ts
  packages/api-reference/src/embeds/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/embeds/ExampleRequest/index.ts
  packages/api-reference/src/embeds/ExampleResponses/ExampleResponses.vue
  packages/api-reference/src/embeds/ExampleResponses/index.ts
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/embeds/OpenApiDocument/index.ts
  packages/api-reference/src/embeds/OpenApiDocument/types.ts
  packages/api-reference/src/embeds/index.ts
Due: prettier, eslint

chore: add pkg-pr-new as a dependency (#4451)
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat(api-reference): flatten discriminators containing `'null'` (#4425)
  .changeset/five-lizards-change.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/api-reference/src/components/Content/Schema/helpers/optimizeValueForDisplay.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/optimizeValueForDisplay.ts
Due: prettier, eslint

chore: use gcp compute e2_highcpu_32 (#4457)
  cloudbuild.json
  tooling/cloudbuild/generateCloudbuild.ts
Due: prettier, eslint

fix(oas-utils): generate previous migration types (#4446)
  .changeset/mighty-toys-scream.md
  packages/oas-utils/src/migrations/README.md
  packages/oas-utils/src/migrations/v-2.2.0/types.generated.ts
  packages/oas-utils/src/migrations/v-2.3.0/types.generated.ts
  packages/oas-utils/src/migrations/v-2.4.0/migration.test.ts
Due: prettier, eslint

chore: remove old cloudbuild yaml file (#4456)
  cloudbuild.yaml
Due: prettier

feat(api-client): adds servers page back (#4450)
  .changeset/long-beans-punch.md
  .changeset/loud-boats-poke.md
  packages/api-client/src/components/CommandPalette/CommandPaletteServer.vue
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/DataTable/DataTableCell.vue
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarList.vue
  packages/api-client/src/components/Sidebar/SidebarListElement.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/constants.ts
  packages/api-client/src/routes.ts
  packages/api-client/src/views/Cookies/CookieForm.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Servers/ServerForm.vue
  packages/api-client/src/views/Servers/Servers.vue
  packages/api-client/tailwind.config.ts
Due: prettier, eslint

refactor(Scalar.AspNetCore): improved API and endpoints (#4215)
  .changeset/hot-olives-fly.md
  documentation/integrations/dotnet.md
  packages/scalar.aspnetcore/.dockerignore
  packages/scalar.aspnetcore/.editorconfig
  packages/scalar.aspnetcore/README.md
  packages/scalar.aspnetcore/docker-compose.yml
  packages/scalar.aspnetcore/docker/Caddyfile
  packages/scalar.aspnetcore/package.json
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Books/BookEndpoints.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Dockerfile
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Extensions/ServiceCollectionExtensions.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Properties/launchSettings.json
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Enums/OperationSorter.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/Authentication/HttpBasicOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/DefaultHttpClient.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Scalar.AspNetCore.csproj
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/StaticAssets/scalar.aspnetcore.js
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/Scalar.AspNetCore.Tests.csproj
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointRouteBuilderExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/Usings.cs
  packages/scalar.aspnetcore/tests/apis/Scalar.AspNetCore.Tests.Api/Program.cs
Due: prettier, eslint

fix(api-client): favors configuration integration in open client modal button
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
Due: prettier, eslint

docs(changeset): fix: favors configuration integration in open client modal button
  .changeset/brave-carrots-jam.md
Due: prettier

feat: version prefix
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

docs(changeset): feat: version prefix
  .changeset/seven-eels-compete.md
Due: prettier

Update ServiceCollectionExtensions.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Extensions/ServiceCollectionExtensions.cs
Due: none

test: Introduction
  packages/api-reference/src/components/Content/Introduction/Introduction.test.ts
Due: prettier, eslint

fix: component breaks without the download symbols
  packages/api-reference/src/features/DownloadLink/DownloadLink.vue
Due: prettier, eslint

refactor: reanme stuff, remove unused css, replace CSS with tailwind, add comments
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

feat: hide operations and tags in the client
  documentation/openapi.md
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-reference/src/helpers/parse.ts
  packages/oas-utils/src/entities/spec/requests.ts
  packages/oas-utils/src/entities/spec/spec-objects.ts
Due: prettier, eslint

docs: hide tags with x-internal: true
  documentation/openapi.md
Due: prettier

feat: hide tags from search, sidebar and content
  packages/api-reference/src/helpers/parse.ts
Due: prettier, eslint

refactor: merge helpers
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-reference/src/helpers/parse.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/shouldIgnoreEntity.ts
  packages/oas-utils/src/helpers/shouldShowEntity.ts
Due: prettier, eslint

feat: hide operations in client search
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-reference/src/helpers/parse.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/shouldShowEntity.ts
Due: prettier, eslint

feat: hide operations and tags in client search
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

chore: clean up
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-reference/src/helpers/parse.ts
Due: prettier, eslint

feat: hide models and webhooks too
  packages/api-reference/src/helpers/parse.ts
  packages/oas-utils/src/helpers/shouldIgnoreEntity.ts
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

feat: add some helpers to render data from the store
  packages/api-reference/src/blocks/constants.ts
  packages/api-reference/src/blocks/helpers/getLocation.ts
  packages/api-reference/src/blocks/hooks/useBlockProps.ts
Due: prettier, eslint

chore: remove unused import
  packages/api-reference/src/components/Content/Tag/TagList.vue
Due: prettier, eslint

feat: get the request entity in the operation component
  packages/api-reference/src/features/Operation/Operation.vue
Due: prettier, eslint

chore: mark TransformedOperation as deprecated
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

feat: render some basic information for the operation from the store
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, eslint

docs(changeset): feat: render some basic information for the operation from the new store
  .changeset/clever-badgers-rhyme.md
Due: prettier

refactor: use proper type, add tests
  packages/api-reference/src/blocks/helpers/getLocation.test.ts
  packages/api-reference/src/blocks/helpers/getLocation.ts
Due: prettier, eslint

chore: clean up
  packages/api-reference/src/blocks/helpers/getLocation.ts
  packages/api-reference/src/blocks/hooks/useBlockProps.ts
  packages/api-reference/src/components/HttpMethod/HttpMethod.vue
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
