Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

docs(changeset): fix: avoid inlining $ref path parameters during path parameter sync
  .changeset/clear-hats-think.md
Due: prettier

fix(workspace-store): resolve path param refs in dedup
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

chore
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
Due: prettier, biome

store refresh token as well for oauth flows
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/secret-types.ts
  packages/workspace-store/src/entities/auth/schema.ts
  packages/workspace-store/src/schemas/extensions/security/index.ts
  packages/workspace-store/src/schemas/extensions/security/x-scalar-security-secrets.test.ts
  packages/workspace-store/src/schemas/extensions/security/x-scalar-security-secrets.ts
Due: prettier, biome

docs(changeset): feat: store oauth flow refresh tokens on the auth store
  .changeset/little-horses-raise.md
Due: prettier

feat(docs): Reexport type
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/index.ts
Due: prettier, biome

feat(api-client): store oauth flow refresh tokens on the auth store (#8365)
  .changeset/little-horses-raise.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/secret-types.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/index.ts
  packages/workspace-store/src/entities/auth/schema.ts
  packages/workspace-store/src/schemas/extensions/security/index.ts
  packages/workspace-store/src/schemas/extensions/security/x-scalar-security-secrets.test.ts
  packages/workspace-store/src/schemas/extensions/security/x-scalar-security-secrets.ts
Due: prettier, biome

chore(json-magic): improve performance and memory usage of bundler (#8357)
  .changeset/shaky-stamps-camp.md
  packages/json-magic/src/bundle/bundle.test.ts
  packages/json-magic/src/bundle/bundle.ts
Due: prettier, biome

chore(docs): pro plan pricing update (#8360)
  documentation/guides/agent/pricing.md
  documentation/guides/pricing.md
  documentation/migration/api-hub.md
  documentation/migration/bump.md
  documentation/migration/stoplight.md
  documentation/migration/zuplo.md
  packages/agent-chat/src/components/PaymentSection.vue
Due: prettier, biome

Change version of '@scalar/api-reference' to patch
  .changeset/six-guests-slide.md
Due: prettier

fix(workspace-store): resolve path param refs in dedup (#8374)
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

feat(api-reference): export lazybus add to queue helper
  packages/api-reference/src/helpers/index.ts
Due: prettier, biome

docs(changeset): feat(api-reference): export lazy bus queue helper
  .changeset/olive-hands-run.md
Due: prettier

feat(api-reference): export lazybus add to queue helper (#8375)
  .changeset/olive-hands-run.md
  packages/api-reference/src/helpers/index.ts
Due: prettier, biome

docs: trusted domains
  .vscode/settings.json
  documentation/guides/docs/configuration/scalar.config.json.md
Due: prettier, biome

docs: header link active style (#8355)
  documentation/assets/styles.css
Due: prettier

docs(configuration): clarify behavior of "Test Request" button and authentication panel
  documentation/configuration.md
Due: prettier

fix(api-reference): hide auth panel when test requests are disabled (#8370)
  .changeset/rich-rabbits-wave.md
  documentation/configuration.md
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, biome

docs(cli): update commands
  documentation/guides/cli/commands.md
Due: prettier

feat: render <a> HTML tag for documentDownloadType: direct
  packages/api-reference/src/blocks/scalar-info-block/components/DownloadLink.test.ts
  packages/api-reference/src/blocks/scalar-info-block/components/DownloadLink.vue
  packages/api-reference/src/blocks/scalar-info-block/components/InfoBlock.vue
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, biome

monaco stuff
  packages/api-client/package.json
  packages/api-client/src/v2/features/collection/components/Editor/index.ts
  packages/api-client/vite.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

resolve threads
  packages/workspace-store/src/mutators/operation/helpers/sync-path-parameters.ts
  packages/workspace-store/src/mutators/operation/operation.ts
Due: prettier, biome

chore: resolve threads
  packages/workspace-store/src/mutators/operation/helpers/sync-path-parameters.ts
Due: prettier, biome

chore: update rebase interface to accept the whole resolved docuement
  packages/api-client/src/v2/features/app/hooks/use-document-watcher.ts
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-diff-editor.ts
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/schemas/extensions/document/x-scalar-registry-meta.ts
  packages/workspace-store/src/schemas/v3.1/strict/openapi-document.ts
Due: prettier, biome

prompt the user to save document
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/workspace-store/src/events/definitions/hooks.ts
Due: prettier, biome

refactor: better organization of monaco editor utilities
  packages/api-client/package.json
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/collection/components/Editor/Editor.vue
  packages/api-client/src/v2/features/collection/components/Editor/helpers/yaml.worker.ts
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-editor-state.ts
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-editor.ts
  packages/api-client/src/v2/features/collection/components/Editor/index.ts
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
  packages/api-client/src/v2/features/editor/config.ts
  packages/api-client/src/v2/features/editor/helpers/configure-language-support.ts
  packages/api-client/src/v2/features/editor/helpers/ensure-monaco-environment.ts
  packages/api-client/src/v2/features/editor/helpers/json/create-json-model.ts
  packages/api-client/src/v2/features/editor/helpers/json/get-json-ast-node-from-path.ts
  packages/api-client/src/v2/features/editor/helpers/json/json-ast.ts
  packages/api-client/src/v2/features/editor/helpers/json/json-pointer-links.ts
  packages/api-client/src/v2/features/editor/helpers/json/json-pointer-path.ts
  packages/api-client/src/v2/features/editor/helpers/model.ts
  packages/api-client/src/v2/features/editor/helpers/theme/apply-scalar-theme.ts
  packages/api-client/src/v2/features/editor/helpers/theme/load-css-variables.ts
  packages/api-client/src/v2/features/editor/helpers/yaml/create-yaml-model.ts
  packages/api-client/src/v2/features/editor/helpers/yaml/get-yaml-node-range-from-path.test.ts
  packages/api-client/src/v2/features/editor/helpers/yaml/get-yaml-node-range-from-path.ts
  packages/api-client/src/v2/features/editor/hooks/use-editor-markers.ts
  packages/api-client/src/v2/features/editor/hooks/use-editor.ts
  packages/api-client/src/v2/features/editor/hooks/use-json-pointer-link-support.ts
  packages/api-client/src/v2/features/editor/index.ts
  packages/api-client/src/v2/features/editor/schemas/openapi-3.1-schema.json
  packages/workspace-store/src/events/definitions/hooks.ts
Due: prettier, biome

chore: refactoring
  packages/api-client/src/v2/components/resize/index.ts
  packages/api-client/src/v2/components/resize/useSplitResize.ts
  packages/api-client/src/v2/features/collection/components/Editor/Editor.vue
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
  packages/api-client/src/v2/features/editor/helpers/range-to-whole-line.ts
  packages/api-client/src/v2/features/editor/index.ts
Due: prettier, biome

move the three way editor logic into an hook
  packages/api-client/src/v2/components/resize/index.ts
  packages/api-client/src/v2/components/resize/use-split-resize.ts
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
  packages/api-client/src/v2/features/collection/components/test.html
  packages/api-client/src/v2/features/editor/hooks/use-three-way-merge-editor.ts
Due: prettier, biome

feat: add mcp in sidebar for localhost (#8367)
  documentation/configuration.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/AgentScalar/index.ts
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/configuration/hide-client-button.e2e.ts
  packages/api-reference/test/configuration/mcp-button.e2e.ts
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header-mobile.png
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/custom-width.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-closed.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/scalar-galaxy-sidebar.png
  packages/types/src/api-reference/api-reference-configuration.ts
Due: prettier, biome

fix: add generate mcp link
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

docs(changeset): feat: add mcp config support
  .changeset/big-regions-enjoy.md
Due: prettier

chore: register json pointer support for the 3 way merge editor
  packages/api-client/src/v2/features/editor/hooks/use-three-way-merge-editor.ts
Due: prettier, biome

fix: update test
  packages/api-reference/test/configuration/mcp-button.e2e.ts
Due: prettier, biome

fix: add generate mcp link (#8381)
  .changeset/big-regions-enjoy.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/test/configuration/mcp-button.e2e.ts
Due: prettier, biome

improve ui of sync button
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
Due: prettier, biome

update comments
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/editor/config.ts
  packages/api-client/src/v2/features/editor/helpers/json/create-json-model.ts
  packages/api-client/src/v2/features/editor/helpers/range-to-whole-line.ts
  packages/api-client/src/v2/features/editor/helpers/yaml/create-yaml-model.ts
  packages/api-client/src/v2/features/editor/hooks/use-editor.ts
Due: prettier, biome

fix(openapi-parser): replace $dynamicRef with $ref in v3.2 schema for AJV compatibility (#8359)
  .changeset/openapi-parser-ajv-fix.md
  packages/openapi-parser/src/schemas/README.md
  packages/openapi-parser/src/schemas/v3.2/schema.json
  packages/openapi-parser/src/schemas/v3.2/schema.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/no_containers.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/no_containers.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_empty.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_empty.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_unknown.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_unknown.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/unknown_container.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/unknown_container.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/comp_pathitems.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/comp_pathitems.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/info_summary.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/info_summary.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/license_identifier.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/license_identifier.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/mega.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/mega.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_comp.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_comp.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_hooks.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_hooks.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_paths.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_paths.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_no_response.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_no_response.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_var_empty_pathitem.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_var_empty_pathitem.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/schema.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/schema.yaml
Due: prettier, biome

fix: always shows json badge for urls
  packages/api-reference/src/blocks/scalar-info-block/components/DownloadLink.vue
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
