Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): chore: removed yjs and hocus pocus from swagger editor
  .changeset/two-glasses-raise.md
Due: prettier

chore: changed changeset to minor
  .changeset/two-glasses-raise.md
Due: prettier

feat: remove yjs + hocus pocus from OSS (#689)
  .changeset/two-glasses-raise.md
  examples/backend/package.json
  examples/backend/src/index.ts
  examples/backend/tsconfig.json
  examples/backend/vite.config.ts
  examples/web/src/components/DevToolbar.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/types.ts
  packages/swagger-editor/package.json
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorInput.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorStatusBar.vue
  packages/swagger-editor/src/types.ts
  pnpm-lock.yaml
  scripts/dev.sh
Due: package_format, prettier, eslint

RELEASING: Releasing 5 package(s) (#680)
  .changeset/empty-flies-share.md
  .changeset/pink-horses-promise.md
  .changeset/thirty-rules-flash.md
  .changeset/two-glasses-raise.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
Due: prettier

fix: add intersection observer to headings
  packages/api-reference/src/components/Content/Introduction/Description.vue
Due: prettier, eslint

Update README.md
  packages/hono-api-reference/README.md
Due: prettier

fix: remove caching of configuration when updating spec as prop
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

docs(changeset): fix: remove caching of configuration when updating spec as prop
  .changeset/gorgeous-lies-flash.md
Due: prettier

Update README.md (#690)
  packages/hono-api-reference/README.md
Due: prettier

chore: export helpers
  packages/api-reference/src/index.ts
Due: prettier, eslint

docs(changeset): chore: export stores and helpers
  .changeset/long-spoons-pretend.md
Due: prettier

chore: export helpers (#693)
  .changeset/long-spoons-pretend.md
  packages/api-reference/src/index.ts
Due: prettier, eslint

refactor: use `Schema` component for parameters, fix #598 (#681)
  .changeset/sharp-years-kick.md
  packages/api-reference/src/components/Content/MarkdownRenderer.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointDetails.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointDetailsCard.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ParameterItem.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/Parameters.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBody.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/RequestBodyProperties.vue
  packages/api-reference/src/components/Content/Schema.vue
  packages/api-reference/src/components/Content/SchemaProperty.vue
Due: prettier, eslint

fix: remove caching of configuration (#691)
  .changeset/gorgeous-lies-flash.md
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

RELEASING: Releasing 4 package(s) (#697)
  .changeset/gorgeous-lies-flash.md
  .changeset/long-spoons-pretend.md
  .changeset/sharp-years-kick.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
Due: prettier

fix: merge reset into twmerge
  packages/components/src/cva.ts
Due: prettier, eslint

fix: update incorrect prop name
  packages/api-reference/src/components/GettingStarted.vue
  packages/components/README.md
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarModal/ScalarModal.stories.ts
Due: prettier, eslint

feat: scope all scalar components using a class prefix
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/cva.ts
  packages/components/src/tailwind/tailwind.css
  pnpm-lock.yaml
Due: package_format, prettier, eslint

test: fix loading icon tests
  packages/components/src/components/ScalarLoading/ScalarLoading.spec.ts
Due: prettier, eslint

feat: classic layout polish
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointDetailsCard.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointPath.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ReferenceEndpointAccordion.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/TryRequestButton.vue
  packages/api-reference/src/components/Section/SectionAccordion.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
Due: prettier, eslint

docs(changeset): feat: classic layout polish
  .changeset/dirty-pans-decide.md
Due: prettier

refactor: add transparent props and remove pseudo background
  packages/api-reference/src/components/Content/ReferenceEndpoint/ReferenceEndpointAccordion.vue
  packages/api-reference/src/components/Section/SectionAccordion.vue
Due: prettier, eslint

fix: make chevron smaller on mobile
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
Due: prettier, eslint

design: tighten padding on endpoint card
  packages/api-reference/src/components/Content/ReferenceEndpoint/ReferenceEndpointAccordion.vue
  packages/api-reference/src/components/Section/SectionAccordion.vue
Due: prettier, eslint

feat: scope all scalar components using a class prefix (#699)
  packages/api-reference/src/components/GettingStarted.vue
  packages/components/README.md
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarLoading/ScalarLoading.spec.ts
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.stories.ts
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/cva.ts
  packages/components/src/tailwind/tailwind.css
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: classic layout polish (#685)
  .changeset/dirty-pans-decide.md
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointDetailsCard.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/EndpointPath.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ReferenceEndpointAccordion.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/TryRequestButton.vue
  packages/api-reference/src/components/Section/SectionAccordion.vue
  packages/api-reference/src/components/Section/SectionContainerAccordion.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
Due: prettier, eslint

refactor: extract card form components
  packages/api-reference/src/components/Card/CardContent.vue
  packages/api-reference/src/components/Card/CardHeader.vue
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/Authentication/CardForm.vue
  packages/api-reference/src/components/Content/Authentication/CardFormTextInput.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
Due: prettier, eslint

chore: clean up mixed security scheme types
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/types.ts
Due: prettier, eslint

chore: add an interface to start an OpenAuth2 flow
  packages/api-reference/src/components/Content/Authentication/Authentication.stories.ts
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/stores/globalStore.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

feat: add buttons and card layout components
  packages/api-reference/src/components/Content/Authentication/Authentication.stories.ts
  packages/api-reference/src/components/Content/Authentication/CardForm.vue
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/CardFormGroup.vue
  packages/api-reference/src/components/Content/Authentication/CardFormTextInput.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
Due: prettier, eslint

fix: remove broken import statement
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
Due: prettier, eslint

wip: add scopes dropdown
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
Due: prettier, eslint

feat: add badge and dropdown indicator
  packages/api-reference/src/components/Badge/Badge.vue
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
Due: prettier, eslint

chore: type securityscheme props
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/types.ts
Due: prettier, eslint

refactor: wire up scopes selection logic
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/api-reference/src/stores/globalStore.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

feat: add basic floating listbox
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Authentication/CardForm.vue
  packages/api-reference/src/components/Content/Authentication/CardFormButton.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/swagger-editor/src/components/ResetStyles.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: style checkboxes
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
Due: prettier, eslint

fix: TS issues
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
Due: prettier, eslint

feat: add nestjs integration
  examples/nestjs-api-reference/.eslintrc.js
  examples/nestjs-api-reference/.gitignore
  examples/nestjs-api-reference/.prettierrc
  examples/nestjs-api-reference/README.md
  examples/nestjs-api-reference/nest-cli.json
  examples/nestjs-api-reference/package-lock.json
  examples/nestjs-api-reference/package.json
  examples/nestjs-api-reference/src/app.controller.spec.ts
  examples/nestjs-api-reference/src/app.controller.ts
  examples/nestjs-api-reference/src/app.module.ts
  examples/nestjs-api-reference/src/app.service.ts
  examples/nestjs-api-reference/src/main.ts
  examples/nestjs-api-reference/test/app.e2e-spec.ts
  examples/nestjs-api-reference/test/jest-e2e.json
  examples/nestjs-api-reference/tsconfig.build.json
  examples/nestjs-api-reference/tsconfig.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/README.md
  packages/nestjs-api-reference/package.json
  packages/nestjs-api-reference/src/index.ts
  packages/nestjs-api-reference/src/nestJSApiReference.ts
  packages/nestjs-api-reference/test/index.test.ts
  packages/nestjs-api-reference/tsconfig.json
  packages/nestjs-api-reference/vitest.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add logging to the nestjs example
  examples/nestjs-api-reference/src/main.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
