Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: bump nextjs peerDependencies (#4264)
  .changeset/many-panthers-listen.md
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

RELEASING: Releasing 2 package(s) (#4265)
  .changeset/many-panthers-listen.md
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/CHANGELOG.md
  packages/nextjs-openapi/package.json
Due: prettier

style(api-client): update styles of api client for new nav / embeds
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarToggle.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseCookies.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-client/tailwind.config.ts
Due: prettier, eslint

style(api-client): update styles of api client for new nav / embeds
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
Due: prettier, eslint

fix(api-client): anthonys feedback
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

docs(changeset): style(api-client): add enviornment / workspace to sidebar
  .changeset/bright-games-melt.md
Due: prettier

fix(api-client): search toggle button
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

ci: do not cache playwright binaries (#4261)
  .github/workflows/test-cdn-jsdelivr.yml
  .github/workflows/test-cdn-local.yml
  .github/workflows/test-electron-app.yml
  .github/workflows/test-nuxt-integration.yml
Due: prettier

fix: again
  packages/nextjs-api-reference/package.json
Due: prettier

docs(changeset): chore: bump next.js peerDependencies fr fr
  .changeset/weak-schools-train.md
Due: prettier

chore: pnpm lock
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: remove peer deps
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: remove peerDeps
  packages/nextjs-api-reference/vite.config.ts
Due: prettier, eslint

chore: bump next.js peerDependencies again (#4267)
  .changeset/weak-schools-train.md
  packages/nextjs-api-reference/package.json
  packages/nextjs-api-reference/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

RELEASING: Releasing 2 package(s) (#4268)
  .changeset/weak-schools-train.md
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/CHANGELOG.md
  packages/nextjs-openapi/package.json
Due: prettier

chore: remove react peer dependencies
  packages/api-reference-react/package.json
Due: prettier

chore update pnpm
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): chore: remove api-reference-react peerDependencies
  .changeset/grumpy-trees-listen.md
Due: prettier

chore: remove peerDeps
  packages/api-reference-react/vite.config.ts
Due: prettier, eslint

chore: remove from client as well
  packages/api-client-react/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: added react as dev dep
  packages/api-reference-react/package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat: add another react devDep
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: remove semver upgrade for peerDeps
  package.json
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  packages/nextjs-api-reference/package.json
  packages/nextjs-api-reference/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: correct all peer deps
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: remove script pchange
  package.json
Due: prettier

chore: remove react peer dependencies (#4270)
  .changeset/grumpy-trees-listen.md
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/nextjs-api-reference/package.json
  packages/nextjs-api-reference/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

style(api-client): update styles of api client for new nav / embeds (#4247)
  .changeset/bright-games-melt.md
  packages/api-client/src/components/DataTable/DataTable.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/Sidebar/SidebarToggle.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseCookies.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-client/tailwind.config.ts
Due: prettier, eslint

RELEASING: Releasing 12 package(s) (#4271)
  .changeset/bright-games-melt.md
  .changeset/grumpy-trees-listen.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: upgrade to react 19
  examples/docusaurus/package.json
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/docusaurus/package.json
  packages/draggable/package.json
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: update to 19 only
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): chore: upgrade to react 19
  .changeset/fair-snakes-shout.md
Due: prettier

chore update react
  packages/nextjs-openapi/playground/next-env.d.ts
Due: prettier, eslint

chore: upgrade to react 19 (#4272)
  .changeset/fair-snakes-shout.md
  examples/docusaurus/package.json
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  packages/api-client-react/package.json
  packages/api-reference-react/package.json
  packages/docusaurus/package.json
  packages/draggable/package.json
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/package.json
  packages/nextjs-openapi/playground/next-env.d.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: Move to rollup for the build
  packages/use-codemirror/index.html
  packages/use-codemirror/package.json
  packages/use-codemirror/playground/App.vue
  packages/use-codemirror/playground/components/CodeMirror.vue
  packages/use-codemirror/playground/main.ts
  packages/use-codemirror/playground/style.css
  packages/use-codemirror/rollup.config.ts
  packages/use-codemirror/tsconfig.build.json
  packages/use-codemirror/tsconfig.json
  packages/use-codemirror/vite.config.ts
  packages/use-codemirror/vite.playground.config.ts
Due: prettier, eslint

docs(changeset): chore: react 19 upgrade minor bump
  .changeset/brave-hornets-look.md
Due: prettier

chore: update readmes
  packages/api-client-react/README.md
  packages/api-reference-react/README.md
  packages/nextjs-api-reference/README.md
Due: prettier

docs(changeset): react 19 upgrade minor bump (#4288)
  .changeset/brave-hornets-look.md
  packages/api-client-react/README.md
  packages/api-reference-react/README.md
  packages/nextjs-api-reference/README.md
Due: prettier

RELEASING: Releasing 15 package(s) (#4273)
  .changeset/brave-hornets-look.md
  .changeset/fair-snakes-shout.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/draggable/CHANGELOG.md
  packages/draggable/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/CHANGELOG.md
  packages/nextjs-openapi/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

fix: type issue
  packages/use-codemirror/package.json
Due: prettier

chore: updates CodeMirror dependencies (#4258)
  .changeset/curly-flowers-design.md
  .changeset/green-rings-decide.md
  packages/use-codemirror/README.md
  packages/use-codemirror/index.html
  packages/use-codemirror/package.json
  packages/use-codemirror/playground/App.vue
  packages/use-codemirror/playground/components/CodeMirror.vue
  packages/use-codemirror/playground/main.ts
  packages/use-codemirror/playground/style.css
  packages/use-codemirror/rollup.config.ts
  packages/use-codemirror/src/components/CodeMirror/CodeMirror.vue
  packages/use-codemirror/src/components/CodeMirror/index.ts
  packages/use-codemirror/src/hooks/index.ts
  packages/use-codemirror/src/hooks/useCodeMirror.test.ts
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/index.ts
  packages/use-codemirror/tsconfig.build.json
  packages/use-codemirror/tsconfig.json
  packages/use-codemirror/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint
