Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

style(themes): adds high contrast custom selection
  packages/themes/src/presets/bluePlanet.css
  packages/themes/src/presets/deepSpace.css
  packages/themes/src/presets/kepler.css
  packages/themes/src/presets/mars.css
  packages/themes/src/presets/saturn.css
  packages/themes/src/variables.css
Due: prettier

docs(changeset): feat: adds themes high contrast selection
  .changeset/friendly-peaches-obey.md
Due: prettier

fix(api-reference): check if default value is undefined instead of falsy (#3334)
  .changeset/mean-penguins-call.md
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.spec.ts
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

style(themes): new selection colors (#3283)
  .changeset/friendly-peaches-obey.md
  packages/themes/src/presets/bluePlanet.css
  packages/themes/src/presets/deepSpace.css
  packages/themes/src/presets/kepler.css
  packages/themes/src/presets/mars.css
  packages/themes/src/presets/saturn.css
  packages/themes/src/variables.css
Due: prettier

feat(api-client): import collection modal (#3201)
  .changeset/big-kids-protect.md
  .changeset/shaggy-lizards-appear.md
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/DropEventListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/ImportNowButton.vue
  packages/api-client/src/components/ImportCollection/OpenAppButton.vue
  packages/api-client/src/components/ImportCollection/OperationBadge.vue
  packages/api-client/src/components/ImportCollection/PasteEventListener.vue
  packages/api-client/src/components/ImportCollection/UrlQueryParameterChecker.vue
  packages/api-client/src/components/ImportCollection/hooks/useUrlPrefetcher.ts
  packages/api-client/src/components/ImportCollection/index.ts
  packages/api-client/src/components/ImportCollection/utils/getOpenApiDocumentVersion.ts
  packages/api-client/src/components/ImportCollection/utils/isDocument.ts
  packages/api-client/src/components/ImportCollection/utils/isUrl.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/store/import-spec.ts
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

build: Add ASP.NET Core build and test workflow
  .github/workflows/ci.yml
Due: prettier

build: Add ASP.NET Core build and test workflow for scalar.aspnetcore package
  .github/workflows/ci.yml
Due: prettier

ci: Add pack and publish job
  .github/workflows/ci.yml
  packages/scalar.aspnetcore/package.json
Due: prettier

ci: Add pack and publish job
  .github/workflows/ci.yml
Due: prettier

chore: bump version number
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: trigger release
  .changeset/khaki-sloths-push.md
Due: prettier

fix: typo
  .github/workflows/ci.yml
Due: prettier

docs(Scalar.AspNetCore): update the README (#3337)
  packages/scalar.aspnetcore/README.md
Due: prettier

build(Scalar.AspNetCore): add ASP.NET Core build and test workflow (#3256)
  .changeset/khaki-sloths-push.md
  .github/workflows/ci.yml
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: remove credentials min length error
  packages/code-highlight/src/code/highlight.ts
Due: prettier, eslint

chore: format aspnet package.json
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: allow Node 18
  packages/scalar.aspnetcore/package.json
Due: prettier

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#3342)
  README.md
Due: prettier

chore: add xC0dex (#3338)
  CODEOWNERS
Due: none

tests: Improve coverage
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: none

chore(Scalar.AspNetCore): auto format package.json (#3341)
  packages/scalar.aspnetcore/package.json
Due: prettier

chore(api-client): add more tests (#3328)
  .changeset/moody-kiwis-learn.md
  examples/api-client/vite.config.ts.js
  packages/api-client/src/libs/create-fetch-body.test.ts
  packages/api-client/src/libs/create-fetch-headers.test.ts
  packages/api-client/src/libs/create-fetch-query-params.test.ts
  packages/api-client/src/libs/create-request-operation.test.ts
  packages/api-client/src/libs/decode-buffer.test.ts
  packages/api-client/src/libs/send-request.ts
Due: prettier, eslint

tests: Improve coverage
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: none

docs: Update link in Readme
  packages/scalar.aspnetcore/README.md
Due: prettier

test(Scalar.AspNetCore): added tests for all methods in ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
Due: none

refactor(Scalar.AspNetCore): setup UseStaticFiles() on playground to serve static files properly.
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/wwwroot/favicon.png
Due: none

test(Scalar.AspNetCore): Increase Code Coverage (#3344)
  packages/scalar.aspnetcore/README.md
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: prettier

chore(oas-utils): `getExampleFromSchema` performance improvements (#3270)
  .changeset/sharp-walls-bathe.md
  packages/api-reference/src/features/ExampleResponses/ExampleResponse.vue
  packages/oas-utils/src/spec-getters/getExampleFromSchema.test.ts
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

lint: added rule for function definitions
  .eslintrc.cjs
Due: none

chore: formatting
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

feat(Scalar.AspNetCore): add missing favicon configuration (#3333)
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Program.cs
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/Scalar.AspNetCore.Playground.csproj
  packages/scalar.aspnetcore/playground/Scalar.AspNetCore.Playground/wwwroot/favicon.png
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
Due: none

chore: added lint rule for function definitions (#3345)
  .eslintrc.cjs
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: remove credentials min length error (#3340)
  packages/code-highlight/src/code/highlight.ts
Due: prettier, eslint

chore: revert showing servers if there are none
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
Due: prettier, eslint

docs(changeset): fix: removed showing servers dropdown if empty
  .changeset/silent-ladybugs-matter.md
Due: prettier

fix(api-client): don't error if there aren't any collections
  packages/api-client/src/store/store.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
