Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

docs(changeset): chore: default to proxy for web layout
  .changeset/big-beans-lie.md
Due: prettier

chore: fix tests
  packages/api-client/src/v2/features/collection/components/Authentication.vue
  packages/api-client/src/v2/features/collection/components/Settings.test.ts
  packages/api-client/src/v2/helpers/get-active-proxy-url.test.ts
  packages/api-client/src/v2/helpers/get-default-proxy-url.test.ts
Due: prettier, biome

chore: redirect the user when logingout
  packages/api-client/src/v2/features/app/app-state.ts
Due: prettier, biome

docs(changeset): chore: add guards for team workspaces
  .changeset/dry-buckets-love.md
Due: prettier

chore: default to proxy for web layout (#8219)
  .changeset/big-beans-lie.md
  packages/api-client/src/v2/features/collection/components/Authentication.vue
  packages/api-client/src/v2/features/collection/components/Settings.test.ts
  packages/api-client/src/v2/features/collection/components/Settings.vue
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/api-client/src/v2/helpers/get-active-proxy-url.test.ts
  packages/api-client/src/v2/helpers/get-active-proxy-url.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/mutators/workspace.test.ts
  packages/workspace-store/src/mutators/workspace.ts
  packages/workspace-store/src/schemas/extensions/workspace/x-scalar-active-proxy.ts
Due: prettier, biome

chore: add guards for team workspaces (#8220)
  .changeset/dry-buckets-love.md
  packages/api-client/src/v2/features/app/app-state.ts
Due: prettier, biome

chore: some fixes
  packages/api-client-react/README.md
  packages/api-client-react/package.json
  packages/api-client/src/v2/blocks/operation-block/index.ts
  packages/api-reference/src/components/ApiReference.vue
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: remove extras
  .changeset/config.json
  .github/renovate.json
Due: prettier, biome

docs(changeset): chore: freeze version on client v1
  .changeset/fine-nails-sip.md
Due: prettier

docs(changeset): chore: update exports to v2
  .changeset/red-emus-judge.md
Due: prettier

docs(changeset): feat: remove old v1 code
  .changeset/clever-mugs-spend.md
Due: prettier

chore: knippin
  knip.jsonc
  package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-client/src/hooks/useFileDialog.ts
  packages/api-client/test/helpers.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: update lockfile
  pnpm-lock.yaml
Due: packages-format, prettier

chore: fix
  packages/helpers/src/number/format-milliseconds.ts
Due: prettier, biome

docs(changeset): fix(api-client): render security scheme descriptions as rich text for AND'ed auth schemes
  .changeset/goofy-radios-worry.md
Due: prettier

fix(api-client): CommonMark not applied when hasMultipleSchemes
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthTab.vue
Due: prettier, biome

chore: checkpoint
  packages/api-client-react/README.md
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyVirtual.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthDataTable.vue
  packages/api-client/src/v2/components/layout/CollapsibleSection.vue
  packages/api-reference/src/blocks/scalar-server-selector-block/components/ServerSelector.vue
  packages/api-reference/src/components/Content/Auth/Auth.vue
Due: prettier, biome

chore: almost there
  packages/api-client/src/v2/features/global-cookies/components/CookiesTable.vue
  packages/api-reference/src/blocks/scalar-server-selector-block/components/ServerSelector.vue
Due: prettier, biome

fix: random css import
  packages/api-client/package.json
  packages/api-client/src/index.ts
Due: prettier, biome

chore: knip
  knip.jsonc
Due: biome

fix: recursively extract heading text for correct ID generation
  packages/api-reference/src/blocks/scalar-info-block/components/InfoDescription.vue
  packages/code-highlight/src/index.ts
  packages/code-highlight/src/markdown/markdown.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
Due: prettier, biome

fix: updated styles
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/Search/components/SearchModal.vue
  packages/api-reference/src/features/multiple-documents/DocumentSelector.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarFooter.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarItems.vue
Due: prettier, biome

chore: moved some others
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/OpenApiClientButton.vue
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.test.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseMetaInformation.vue
  packages/api-client/src/v2/blocks/response-block/helpers/get-content-length.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/get-content-length.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBarHistory.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/features/command-palette/helpers/parse-curl.ts
  packages/api-reference/src/components/Content/Operations/TraversedEntry.test.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/has-response-content.ts
  packages/api-reference/src/helpers/download.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/parse.test.ts
  packages/oas-utils/src/helpers/parse.ts
  packages/workspace-store/src/schemas/extensions/security/x-use-pkce.ts
Due: prettier, biome

fix: some things
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/workspace-store/src/schemas/extensions/security/x-use-pkce.ts
Due: prettier, biome

docs(changeset): feat: add "Show Schema" button to request body examples
  .changeset/full-ducks-appear.md
Due: prettier

fix: remove unnecessary property truncation in example generation
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-example-from-schema.ts
  packages/oas-utils/src/spec-getters/get-example-from-schema.ts
Due: prettier, biome

Remove unnecessary property truncation in examples
  .changeset/sharp-emus-sleep.md
Due: prettier

fix(api-reference): handle lazy expansion
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/lazy-bus.ts
Due: prettier, biome

chore: default path to /
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

chore: added slugify document
  integrations/fastify/package.json
  packages/api-reference/package.json
  packages/oas-utils/package.json
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/workspace-store/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

feat: added unique example names
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

feat: added server extraction
  packages/helpers/src/url/extract-server.test.ts
  packages/helpers/src/url/extract-server.ts
Due: prettier, biome

feat: server extraction
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

docs(changeset): fix: local storage migration script
  .changeset/afraid-geckos-wear.md
Due: prettier

feat: more more
  packages/helpers/src/url/extract-server-from-path.test.ts
  packages/helpers/src/url/extract-server-from-path.ts
  packages/helpers/src/url/extract-server.test.ts
  packages/helpers/src/url/extract-server.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

fix: source url
  packages/oas-utils/src/migrations/index.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/schemas/workspace.ts
Due: prettier, biome

chore: watch mode
  packages/oas-utils/src/migrations/migrate-to-indexdb.test.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

feat: nest description headings under introduction
  packages/workspace-store/src/navigation/helpers/traverse-description.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-description.ts
Due: prettier, biome

feat: allow to expand/collapse description headings
  packages/api-reference/src/components/ApiReference.test.ts
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
