Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix(api-reference): widen parameter types for schema property helpers
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.vue
  packages/api-reference/src/components/Content/Schema/helpers/optimize-value-for-display.test.ts
  packages/api-reference/test/utils/sources.ts
Due: prettier, biome

add changeset
  .changeset/fuzzy-papers-yell.md
Due: prettier

delete unused API reference example from sources.ts
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/tag-groups.e2e.ts.snapshots/tag-group-classic.png
  packages/api-reference/test/snapshots/tag-groups.e2e.ts.snapshots/tag-group-sidebar.png
  packages/api-reference/test/utils/sources.ts
Due: prettier, biome

revert: restore e2e snapshot images to original state
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/tag-groups.e2e.ts.snapshots/tag-group-classic.png
  packages/api-reference/test/snapshots/tag-groups.e2e.ts.snapshots/tag-group-sidebar.png
Due: none

chore: update e2e snapshot images for vehicle models and operations
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
Due: none

chore: update e2e snapshot images for various models and themes
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-simple.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-query-params.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-dark.png
Due: none

chore: update e2e snapshot images for various models and themes
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-simple.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-discriminator.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-classic-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-classic-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-dark.png
Due: none

use the group title for the documeents
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
Due: prettier, biome

refactor conflict checking
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.test.ts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/hooks/use-version-conflict-check.test.ts
  packages/api-client/src/v2/features/app/hooks/use-version-conflict-check.ts
Due: prettier, biome

show the document status on the header
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/components/DocumentSyncIndicator.test.ts
  packages/api-client/src/v2/features/app/components/DocumentSyncIndicator.vue
  packages/api-client/src/v2/features/app/helpers/version-status-presentation.ts
  packages/api-client/src/v2/features/app/hooks/use-active-document-version.ts
Due: prettier, biome

fix: language around agent credits
  packages/agent-chat/src/components/PaymentSection.vue
Due: prettier, biome

docs(changeset): fix: language around agent credits
  .changeset/upset-mirrors-flash.md
Due: prettier

fix(agent): sign up messaging (#8989)
  .changeset/upset-mirrors-flash.md
  packages/agent-chat/src/components/PaymentSection.vue
Due: prettier, biome

handle creating a draft version
  packages/api-client/src/v2/features/app/components/CreateVersionModal.test.ts
  packages/api-client/src/v2/features/app/components/CreateVersionModal.vue
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.test.ts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/components/DocumentSyncIndicator.test.ts
  packages/api-client/src/v2/features/app/components/DocumentSyncIndicator.vue
  packages/api-client/src/v2/features/app/helpers/check-version-conflict.test.ts
  packages/api-client/src/v2/features/app/helpers/compute-version-status.test.ts
  packages/api-client/src/v2/features/app/helpers/compute-version-status.ts
  packages/api-client/src/v2/features/app/helpers/create-draft-registry-document.test.ts
  packages/api-client/src/v2/features/app/helpers/create-draft-registry-document.ts
  packages/api-client/src/v2/features/app/hooks/use-active-document-version.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
  packages/api-client/src/v2/features/app/hooks/use-version-conflict-check.test.ts
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
Due: prettier, biome

fix foramtting
  packages/api-client/src/v2/features/app/hooks/use-active-document-version.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
Due: prettier, biome

feat: pr previews for the api client
  .github/workflows/ci.yml
  packages/api-client/package.json
  packages/api-client/vite.playground.config.ts
Due: prettier, biome

chore(playwright): upgrade playwright to 1.59.1 (#8971)
  .changeset/petite-ghosts-relate.md
  .github/workflows/ci.yml
  packages/api-reference/playwright.config.ts
  packages/api-reference/test/README.md
  packages/api-reference/test/snapshots-cdn/README.md
  packages/components/playwright.config.ts
  packages/components/test/README.md
  packages/helpers/package.json
  packages/helpers/src/playwright/README.md
  packages/helpers/src/playwright/docker.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

refactor(api-reference): use isObjectLike in parameter examples helper
  packages/api-reference/src/features/Operation/components/helpers/get-parameter-examples.ts
Due: prettier, biome

chore: clean up
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
Due: prettier, biome

fix(ci): set wrangler-action package manager to npm
  .github/workflows/ci.yml
Due: prettier

refactor: use process env constant again
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/vite.config.ts
  packages/api-reference/vite.standalone.config.ts
Due: prettier, biome

docs(changeset):
  .changeset/sour-grapes-attend.md
Due: prettier

feat: simple asyncapi support for the workspace-store
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/mutators/auth.test.ts
  packages/workspace-store/src/mutators/auth.ts
  packages/workspace-store/src/mutators/cookie.test.ts
  packages/workspace-store/src/mutators/cookie.ts
  packages/workspace-store/src/mutators/document.test.ts
  packages/workspace-store/src/mutators/document.ts
  packages/workspace-store/src/mutators/environment.ts
  packages/workspace-store/src/mutators/operation/body.test.ts
  packages/workspace-store/src/mutators/operation/body.ts
  packages/workspace-store/src/mutators/operation/extensions.test.ts
  packages/workspace-store/src/mutators/operation/extensions.ts
  packages/workspace-store/src/mutators/operation/history.test.ts
  packages/workspace-store/src/mutators/operation/history.ts
  packages/workspace-store/src/mutators/operation/operation.test.ts
  packages/workspace-store/src/mutators/operation/operation.ts
  packages/workspace-store/src/mutators/operation/parameters.test.ts
  packages/workspace-store/src/mutators/operation/parameters.ts
  packages/workspace-store/src/mutators/server.test.ts
  packages/workspace-store/src/mutators/server.ts
  packages/workspace-store/src/mutators/tag.test.ts
  packages/workspace-store/src/mutators/tag.ts
  packages/workspace-store/src/navigation/helpers/get-openapi-object.ts
  packages/workspace-store/src/navigation/helpers/update-order-ids.ts
  packages/workspace-store/src/request-example/context/environment.ts
  packages/workspace-store/src/request-example/context/get-request-example-context.ts
  packages/workspace-store/src/request-example/context/servers.test.ts
  packages/workspace-store/src/request-example/context/servers.ts
  packages/workspace-store/src/schemas.ts
  packages/workspace-store/src/schemas/asyncapi/asyncapi-document.test.ts
  packages/workspace-store/src/schemas/asyncapi/asyncapi-document.ts
  packages/workspace-store/src/schemas/type-guards.test.ts
  packages/workspace-store/src/schemas/type-guards.ts
  packages/workspace-store/src/schemas/workspace.ts
  packages/workspace-store/src/server.test.ts
Due: prettier, biome

feat: asyncapi validation
  packages/workspace-store/src/client.ts
Due: prettier, biome

fix: error message wording drift
  packages/workspace-store/src/mutators/tag.test.ts
  packages/workspace-store/src/mutators/tag.ts
Due: prettier, biome

feat: addInMemoryDocument for asyncapi + openapi
  packages/workspace-store/src/client.ts
Due: prettier, biome

feat: bundle asyncapi documents
  packages/workspace-store/src/client.ts
Due: prettier, biome

test: asyncapi
  packages/workspace-store/src/client.test.ts
Due: prettier, biome

feat: add meta data to asyncapi documents
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/schemas/asyncapi/asyncapi-document.ts
Due: prettier, biome

fix(ci): install wrangler as root dev dependency
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat: add galaxy events
  packages/api-reference/test/utils/sources.ts
Due: prettier, biome

fix: scope everything to openapi documents
  packages/agent-chat/src/helpers.ts
  packages/agent-chat/src/views/Chat/Messages/AskForAuthentication.vue
  packages/agent-chat/src/views/Settings/Auth.vue
  packages/agent-chat/src/views/Settings/DocSettings.vue
  packages/agent-chat/src/views/Settings/Settings.vue
  packages/api-client/src/v2/components/sidebar/Sidebar.vue
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/SidebarItemMenu.vue
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/app/hooks/use-document-watcher.ts
  packages/api-client/src/v2/features/collection/components/DocumentScriptsEditors.vue
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteExample.vue
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImportCurl.vue
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImportPostman.vue
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteRequest.vue
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteTag.vue
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
  packages/api-client/src/v2/features/modal/helpers/resolve-route-parameters.ts
  packages/api-client/src/v2/features/modal/hooks/use-modal-sidebar.ts
  packages/api-client/src/v2/features/modal/modal-events.ts
  packages/api-client/src/v2/helpers/drag-handle-factory.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Auth/Auth.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Operations/TraversedEntry.vue
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
Due: prettier, biome

Delete .changeset/sour-grapes-attend.md
  .changeset/sour-grapes-attend.md
Due: prettier

fix(ci): install wrangler dependency for pages preview deploy (#8993)
  package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(ci): ignore wrangler in knip root dependencies
  knip.jsonc
Due: biome

fix(aspire): avoid container tunnel startup hang
  .changeset/few-flies-applaud.md
  integrations/dotnet/aspire/src/Scalar.Aspire/Extensions/DistributedApplicationBuilderExtensions.cs
  integrations/dotnet/aspire/tests/Scalar.Aspire.Tests/ScalarResourceConfiguratorTests.cs
Due: prettier

docs(aspire): note container tunnel startup workaround
  integrations/dotnet/aspire/CHANGELOG.md
Due: prettier

test(api-reference): increase config test timeout
  packages/api-reference/src/components/ApiReference.config.test.ts
Due: prettier, biome

chore(api-reference): add changeset for timeout update
  .changeset/calm-pumas-sing.md
Due: prettier

Delete .changeset/calm-pumas-sing.md
  .changeset/calm-pumas-sing.md
Due: prettier

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
