Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: Update x-scalar-folder definition (#2890)
  packages/oas-utils/src/spec-extentions/x-scalar-folder.yaml
Due: prettier

fix: bump max models to 10 default shown
  packages/api-reference/src/components/Content/Models/Models.vue
Due: prettier, eslint

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#2901)
  README.md
Due: prettier

docs(changeset): feat: meta clik link request to topnav
  .changeset/purple-tables-boil.md
Due: prettier

feat(api-client): meta click link request to topnav
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

chore: remove vite dependencies and config
  packages/galaxy/package.json
  packages/galaxy/tsconfig.build.json
  packages/galaxy/tsconfig.json
  packages/galaxy/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: copy yaml files for publish script
  packages/galaxy/package.json
  packages/galaxy/rollup.config.ts
  packages/galaxy/scripts/publish.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: build galaxy with rollup
  packages/galaxy/package.json
  packages/galaxy/rollup.config.ts
  packages/galaxy/scripts/format.ts
  packages/galaxy/scripts/publish.ts
  packages/galaxy/src/vite-env.d.ts
  packages/galaxy/tsconfig.json
  packages/galaxy/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: containerize and deploy scalar galaxy mock server
  packages/galaxy/README.md
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  packages/galaxy/playground/vite-env.d.ts
  packages/galaxy/tsconfig.json
  packages/mock-server/Dockerfile
  packages/mock-server/rollup.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: fix mock server test import path
  packages/mock-server/tests/galaxy.test.ts
Due: prettier, eslint

chore: revert build tooling debug change
  cloudbuild.yaml
  packages/galaxy/Dockerfile
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  packages/galaxy/playground/vite-env.d.ts
  packages/galaxy/rollup.config.ts
  packages/galaxy/scripts/publish.ts
  packages/galaxy/src/shims.d.ts
  packages/galaxy/src/vite-env.d.ts
  packages/galaxy/tests/validate.test.ts
  packages/galaxy/tsconfig.build.json
  packages/galaxy/tsconfig.json
  packages/galaxy/tsconfig.test.json
  packages/mock-server/Dockerfile
  packages/mock-server/package.json
  packages/mock-server/playground/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: export yaml and json spec files
  packages/galaxy/package.json
  packages/galaxy/rollup.config.ts
Due: prettier, eslint

Create shaggy-dots-impress.md
  .changeset/shaggy-dots-impress.md
Due: prettier

chore: galaxy dependencies
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(galaxy): migrate galaxy to monorepo (#2868)
  .changeset/shaggy-dots-impress.md
  cloudbuild.yaml
  packages/galaxy/Dockerfile
  packages/galaxy/README.md
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  packages/galaxy/rollup.config.ts
  packages/galaxy/scripts/format.ts
  packages/galaxy/scripts/publish.ts
  packages/galaxy/src/shims.d.ts
  packages/galaxy/tests/validate.test.ts
  packages/galaxy/tsconfig.build.json
  packages/galaxy/tsconfig.json
  packages/galaxy/tsconfig.test.json
  packages/galaxy/vite.config.ts
  packages/mock-server/package.json
  packages/mock-server/playground/index.ts
  packages/mock-server/rollup.config.ts
  packages/mock-server/tests/galaxy.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): command palette import collection
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
Due: prettier, eslint

feat(api-client): command palette import collection state toast
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

docs(changeset): fix: command palette import collection
  .changeset/ninety-elephants-march.md
Due: prettier

fix(api-client): ensure complex auth is correctly initialized
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

docs(changeset): fix(api-client): correctly initialize complex auth, fixes #2874
  .changeset/fuzzy-bears-dress.md
Due: prettier

feat(nuxt): added new dev-nuxt command
  package.json
Due: prettier

fix: galaxy playground example loads spec in dev and prod
  packages/galaxy/Dockerfile
  packages/galaxy/playground/index.ts
  packages/galaxy/rollup.config.ts
Due: prettier, eslint

chore: remove unused env var from dockerfile
  packages/galaxy/Dockerfile
Due: none

fix: galaxy playground example loads spec in dev and prod (#2908)
  packages/galaxy/Dockerfile
  packages/galaxy/playground/index.ts
  packages/galaxy/rollup.config.ts
Due: prettier, eslint

feat(nuxt): added new dev-nuxt command (#2907)
  package.json
Due: prettier

fix(api-client): ensure complex auth is correctly initialized (#2906)
  .changeset/fuzzy-bears-dress.md
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

feat(api-client): meta click request to topnav (#2903)
  .changeset/purple-tables-boil.md
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix: path to galaxy spec
  packages/mock-server/playground/index.ts
Due: prettier, eslint

chore: proper file encoding
  packages/mock-server/playground/index.ts
Due: prettier, eslint

chore: remove console log
  packages/mock-server/playground/index.ts
Due: prettier, eslint

feat: add hono api ref base route
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  packages/mock-server/playground/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add dependencies to dockerfile
  packages/galaxy/Dockerfile
  packages/mock-server/package.json
  packages/mock-server/playground/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: load spec from src not dist
  packages/galaxy/playground/index.ts
  packages/mock-server/playground/index.ts
Due: prettier, eslint

fix(mock-server): path to galaxy spec (#2909)
  packages/galaxy/Dockerfile
  packages/galaxy/package.json
  packages/galaxy/playground/index.ts
  packages/mock-server/package.json
  packages/mock-server/playground/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): feat: update scalar icon disabled state
  .changeset/selfish-paws-jog.md
Due: prettier

fix(api-client): command palette icon + disable server link
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

feat(components): update scalar button disabled state
  packages/components/src/components/ScalarButton/variants.ts
Due: prettier, eslint

feat(api-client): command palette input required on submit
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteFolder.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
