Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

fix(Scalar.AspNetCore): use relative path for assets (#3833)
  .changeset/quiet-avocados-destroy.md
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
Due: prettier

style(api-client): make roadmap cta slightly more prominent (#3830)
  .changeset/wise-moons-pull.md
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

feat(proxy-server): follow redirects (#3818)
  .changeset/green-nails-sparkle.md
  .changeset/lemon-tomatoes-wash.md
  examples/proxy-server/README.md
  examples/proxy-server/main.go
  examples/proxy-server/main_test.go
  examples/proxy-server/package.json
  packages/import/package.json
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.test.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(api-client): change sidenav to header only for web api client view (#3805)
  .changeset/fluffy-snails-knock.md
  packages/api-client-app/src/renderer/index.html
  packages/api-client/src/assets/tailwind.css
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/SideNav/DownloadAppButton.vue
  packages/api-client/src/components/SideNav/SideHelp.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/SideNav/SideNavGroup.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/components/SideNav/SideNavRouterLink.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/hooks/index.ts
  packages/api-client/src/hooks/useLayout.ts
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/App/MainLayout.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/layouts/Web/ApiClientWeb.vue
  packages/api-client/src/layouts/Web/create-api-client-web.test.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix: remove loop from media response
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyPreview.vue
Due: prettier, eslint

docs(changeset): fix: remove loop from media response
  .changeset/old-feet-impress.md
Due: prettier

fix: remove loop from media response (#3837)
  .changeset/old-feet-impress.md
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyPreview.vue
Due: prettier, eslint

style(api-client): fix some visual bugs and add link to scalar on web
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/components/SideNav/DownloadAppButton.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

docs(changeset): style(api-client: link to scalar on client + fix some visual bugs
  .changeset/fair-ties-invent.md
Due: prettier

fix: add utm to download link
  packages/api-client/src/components/SideNav/DownloadAppButton.vue
Due: prettier, eslint

fix: only virtualize text based contents
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

docs(changeset): fix: only virtualize text based contents
  .changeset/lemon-hornets-tickle.md
Due: prettier

style(api-client): fix some visual bugs and add link to scalar on web (#3838)
  .changeset/fair-ties-invent.md
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/components/SideNav/DownloadAppButton.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

fix: add more text types
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

fix: only virtualize text based contents (#3839)
  .changeset/lemon-hornets-tickle.md
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

hotfix: broken proxy
  examples/proxy-server/main.go
  examples/proxy-server/main_test.go
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.test.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.ts
Due: prettier, eslint

docs(changeset): fix: broken proxy
  .changeset/wicked-cats-lie.md
Due: prettier

Revert "feat(proxy-server): follow redirects (#3818)"
  examples/proxy-server/README.md
  examples/proxy-server/main.go
  examples/proxy-server/main_test.go
  examples/proxy-server/package.json
  packages/import/package.json
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.test.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): fix: rollback proxy
  .changeset/chilly-monkeys-tap.md
Due: prettier

fix: rollback "feat(proxy-server): follow redirects (#3818)" (#3842)
  .changeset/chilly-monkeys-tap.md
  examples/proxy-server/README.md
  examples/proxy-server/main.go
  examples/proxy-server/main_test.go
  examples/proxy-server/package.json
  packages/import/package.json
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.test.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: rename api-client-app to scalar-app
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/test-electron-app.yml
  CODEOWNERS
  packages/api-client/src/layouts/App/create-api-client-app.test.ts
  packages/api-client/src/layouts/App/index.ts
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/README.md
  packages/scalar-app/RELEASE.md
  packages/scalar-app/build/entitlements.mac.plist
  packages/scalar-app/build/icon.png
  packages/scalar-app/electron.vite.config.ts
  packages/scalar-app/package.json
  packages/scalar-app/src/main/index.ts
  packages/scalar-app/src/main/resolve.ts
  packages/scalar-app/src/preload/index.d.ts
  packages/scalar-app/src/preload/index.ts
  packages/scalar-app/src/renderer/index.html
  packages/scalar-app/src/renderer/src/main.ts
  packages/scalar-app/todesktop.json
  packages/scalar-app/tsconfig.json
  packages/scalar-app/tsconfig.node.json
  packages/scalar-app/tsconfig.web.json
  playwright/tests/electron.spec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: rename package scalar-api-client > scalar-app
  .github/workflows/ci.yml
  package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  scripts/format-package.ts
Due: prettier, eslint

chore: restore files
  packages/api-client/src/layouts/App/create-api-client-app.test.ts
  packages/api-client/src/layouts/App/index.ts
Due: prettier, eslint

refactor: use route object in the routes
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/routes.ts
Due: prettier, eslint

chore: add names to all routes
  packages/api-client/src/router.ts
Due: prettier, eslint

chore: use route object to redirect to active workspace, remove unused fallbackMissingParams
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/api-client/src/router.ts
  packages/api-client/src/routes.ts
  packages/api-client/src/store/store.ts
Due: prettier, eslint

refactor: move routes to a separate file
  packages/api-client/src/router.ts
  packages/api-client/src/routes.ts
Due: prettier, eslint

refactor: use correct parameter
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
Due: prettier, eslint

refactor: use more route objects
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/router.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-client/src/views/Servers/Servers.vue
Due: prettier, eslint

chore: remove unused component
  packages/api-client/src/components/SubpageHeader.vue
Due: prettier, eslint

docs(changeset): refactor: use route objects instead of strings
  .changeset/grumpy-scissors-join.md
Due: prettier

refactor: use route objects even more
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix: hook into root to redirect to the stored active workspace
  packages/api-client/src/routes.ts
Due: prettier, eslint

fix: TS issues
  packages/api-client/src/views/Request/types/sidebar-item.ts
Due: prettier, eslint

fix: redirect loop
  packages/api-client/src/routes.ts
Due: prettier, eslint

fix: TS issues (really)
  packages/api-client/src/views/Request/types/sidebar-item.ts
Due: prettier, eslint

chore(scalar-app): rename app folder (#3790)
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/test-electron-app.yml
  CODEOWNERS
  package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/README.md
  packages/scalar-app/RELEASE.md
  packages/scalar-app/build/entitlements.mac.plist
  packages/scalar-app/build/icon.png
  packages/scalar-app/electron.vite.config.ts
  packages/scalar-app/package.json
  packages/scalar-app/src/main/index.ts
  packages/scalar-app/src/main/resolve.ts
  packages/scalar-app/src/preload/index.d.ts
  packages/scalar-app/src/preload/index.ts
  packages/scalar-app/src/renderer/index.html
  packages/scalar-app/src/renderer/src/main.ts
  packages/scalar-app/todesktop.json
  packages/scalar-app/tsconfig.json
  packages/scalar-app/tsconfig.node.json
  packages/scalar-app/tsconfig.web.json
  playwright/tests/electron.spec.ts
  pnpm-lock.yaml
  scripts/format-package.ts
Due: package_format, prettier, eslint

style(api-client): response section childs space (#3747)
  .changeset/calm-files-float.md
  .changeset/clean-paws-leave.md
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyVirtual.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, eslint

fix: shows import model when pasting any URL
  packages/api-client/src/components/ImportCollection/DropEventListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/PasteEventListener.vue
  packages/api-client/src/components/ImportCollection/UrlQueryParameterChecker.vue
  packages/api-client/src/components/ImportCollection/hooks/useUrlPrefetcher.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
