Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

RELEASING: Releasing 5 package(s) (#1119)
  .changeset/friendly-goats-begin.md
  .changeset/rare-windows-join.md
  .changeset/strong-lobsters-juggle.md
  .changeset/ten-oranges-yell.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
Due: prettier

refactor: move style reset to themes package
  examples/web/src/components/DevToolbar.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/src/index.ts
  packages/themes/src/components/ResetStyles.vue
  packages/themes/src/index.ts
Due: prettier, eslint

fix: scope scrollbar styles using vue style component
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/themes/package.json
  packages/themes/src/components/ResetStyles.vue
  packages/themes/src/components/ScrollbarStyles.vue
  packages/themes/src/components/ThemeStyles.vue
  packages/themes/src/hooks/useApplyClasses.ts
  packages/themes/src/index.ts
  packages/themes/src/scrollbar.css
Due: prettier, eslint

docs(changeset): refactor: move reset component to themes package
  .changeset/tidy-lies-double.md
Due: prettier

docs(changeset): fix: scope scrollbar styles
  .changeset/real-ravens-serve.md
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
Due: prettier, eslint

fix: import component styles
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
Due: prettier, eslint

fix: scope scrollbar styles (#1081)
  .changeset/real-ravens-serve.md
  .changeset/tidy-lies-double.md
  examples/web/src/components/DevToolbar.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/Content/Authentication/SecuritySchemeScopes.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/src/index.ts
  packages/themes/package.json
  packages/themes/src/components/ResetStyles.vue
  packages/themes/src/components/ScrollbarStyles.vue
  packages/themes/src/components/ThemeStyles.vue
  packages/themes/src/hooks/useApplyClasses.ts
  packages/themes/src/index.ts
  packages/themes/src/scrollbar.css
Due: prettier, eslint

fix: define color-scheme to improve request client selector readability
  packages/themes/src/presets/default.css
Due: prettier

RELEASING: Releasing 9 package(s) (#1121)
  .changeset/real-ravens-serve.md
  .changeset/tidy-lies-double.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: prettier

fix: line numbers on code
  packages/components/postcss.config.js
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
Due: prettier, eslint

fix: move color scheme definition to base CSS with a important flag
  packages/themes/src/base.css
  packages/themes/src/presets/default.css
Due: prettier

docs(changeset): fix: define color-scheme to improve request client selector readability
  .changeset/unlucky-moles-develop.md
Due: prettier

fix: define color-scheme to improve request client selector readability (#1126)
  .changeset/unlucky-moles-develop.md
  packages/themes/src/base.css
Due: prettier

RELEASING: Releasing 9 package(s) (#1128)
  .changeset/unlucky-moles-develop.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/swagger-editor/CHANGELOG.md
  packages/swagger-editor/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Due: prettier

docs(changeset): fix: re-added moving the components css into js so importing the css file is no longer needed
  .changeset/forty-trains-explode.md
Due: prettier

fix: move components css back to js so import of css file no longer required
  .changeset/forty-trains-explode.md
  .prettierrc
  packages/components/.prettierrc
  packages/components/.storybook/preview.ts
  packages/components/postcss.config.js
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarButton/variants.ts
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarTextField/ScalarTextField.vue
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
Due: prettier, eslint

feat: Migrate to configurable toast function for embeddable reference component
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/hooks/useClipboard.ts
  packages/api-reference/src/hooks/useToasts.ts
Due: prettier, eslint

feat: Overhaul of top level reference composition
  examples/web/package.json
  examples/web/src/fixtures/emptySpec.ts
  examples/web/src/pages/ApiReferencePage.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/DownloadSpec.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeIconToggle.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/GettingStarted.vue
  packages/api-reference/src/components/Layouts/BaseLayout.vue
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/specDownloads.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/useParser.test.ts
  packages/api-reference/src/hooks/useParser.ts
  packages/api-reference/src/hooks/useReactiveSpec.test.ts
  packages/api-reference/src/hooks/useReactiveSpec.ts
  packages/api-reference/src/hooks/useSpec.ts
  packages/api-reference/src/index.ts
  packages/api-reference/src/types.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: Move fetchSpecFromUrl to parser package
  packages/api-reference/src/hooks/useReactiveSpec.ts
  packages/swagger-parser/src/helpers/fetch-spec.ts
  packages/swagger-parser/src/helpers/index.ts
Due: prettier, eslint

fix: Correct typechecks and fix unit tests
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Layouts/BaseLayout.vue
  packages/api-reference/src/hooks/useReactiveSpec.test.ts
  packages/api-reference/src/hooks/useReactiveSpec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: move vue to devDepenencies in packages
  packages/api-client-react/package.json
  packages/api-client-react/vite.config.ts
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/components/package.json
  packages/components/vite.config.ts
  packages/swagger-editor/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: API references composition (#1123)
  examples/web/package.json
  examples/web/src/fixtures/emptySpec.ts
  examples/web/src/pages/ApiReferencePage.vue
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/ClassicHeader.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/DownloadSpec.vue
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeIconToggle.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/GettingStarted.vue
  packages/api-reference/src/components/Layouts/BaseLayout.vue
  packages/api-reference/src/components/Layouts/ClassicLayout.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/specDownloads.ts
  packages/api-reference/src/hooks/index.ts
  packages/api-reference/src/hooks/useClipboard.ts
  packages/api-reference/src/hooks/useParser.test.ts
  packages/api-reference/src/hooks/useParser.ts
  packages/api-reference/src/hooks/useReactiveSpec.test.ts
  packages/api-reference/src/hooks/useReactiveSpec.ts
  packages/api-reference/src/hooks/useSpec.test.ts
  packages/api-reference/src/hooks/useSpec.ts
  packages/api-reference/src/hooks/useToasts.ts
  packages/api-reference/src/index.ts
  packages/api-reference/src/types.ts
  packages/swagger-parser/src/helpers/fetch-spec.ts
  packages/swagger-parser/src/helpers/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: update to typescript 5.4
  examples/cdn-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  package.json
  packages/api-client-proxy/package.json
  packages/components/package.json
  packages/echo-server/package.json
  packages/fastify-api-reference/package.json
  packages/swagger-parser/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): chore: update to typescript 5.4
  .changeset/weak-moose-clean.md
Due: prettier

chore: update to typescript 5.4 (#1127)
  .changeset/weak-moose-clean.md
  examples/cdn-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  package.json
  packages/api-client-proxy/package.json
  packages/components/package.json
  packages/echo-server/package.json
  packages/fastify-api-reference/package.json
  packages/swagger-parser/package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat: another try, another fail
  examples/nextjs-api-reference/app/client/components/ClientWrapper.tsx
  packages/api-client-react/vite.config.ts
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/vite.config.ts
Due: prettier, eslint

feat: working react client!
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/vite.config.ts
  packages/themes/vite.config.ts
Due: prettier, eslint

feat: were cookin
  examples/react/src/App.tsx
  examples/react/tsconfig.json
  package.json
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: new comp working inside of vite only
  examples/nextjs-api-reference/app/client/components/ClientWrapper.tsx
  examples/nextjs-api-reference/package.json
  examples/react/package.json
  examples/react/src/App.tsx
  packages/api-client-react/vite.config.ts
  packages/api-reference-react/package.json
  packages/api-reference-react/src/ApiReferenceReact.tsx
  packages/api-reference-react/vite.config.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: remove packages
  packages/components/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: react example
  examples/react/package.json
  examples/react/src/main.tsx
  examples/react/tsconfig.node.json
  examples/react/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add docs to react
  examples/react/README.md
  examples/react/src/App.tsx
  packages/api-reference-react/README.md
Due: prettier, eslint

fix: remove react component from next
  examples/nextjs-api-reference/app/client/components/ClientWrapper.tsx
  examples/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: updated docs
  README.md
  examples/react/postcss.config.js
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
Due: prettier, eslint

fix: add polyfills to react
  packages/api-reference-react/package.json
  packages/api-reference-react/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

docs(changeset): fix: removed extra copy of vue from themes and some dependencies
  .changeset/ninety-buckets-deliver.md
Due: prettier

docs(changeset): feat: added react wrapper for api references
  .changeset/grumpy-windows-exercise.md
Due: prettier
