Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): Allow relative URLs in v3.1 documents
  .changeset/early-cobras-fail.md
Due: prettier

fix(api-client): always uses our public proxy (#3583)
  .changeset/tasty-donkeys-behave.md
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Settings/SettingsGeneral.vue
Due: prettier, eslint

chore(object-utils): disable mutation test (#3531)
  packages/object-utils/src/mutator-record/mutations.test.ts
Due: prettier, eslint

ci: in the reusable build action, only restore from the cache (#3584)
  .github/actions/build/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-examples.yml
  .github/workflows/test-cdn-jsdelivr.yml
  .github/workflows/test-cdn-local.yml
  .github/workflows/test-nuxt-integration.yml
  .github/workflows/validate-openapi-file.yml
  packages/icons/README.md
  packages/mock-server/README.md
Due: prettier

feat(scalar.aspnetcore): add integration configuration property (#3537)
  .changeset/moody-points-juggle.md
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarOptionsExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsExtensionsTests.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: prettier

RELEASING: Releasing 13 package(s) (#3575)
  .changeset/big-cooks-look.md
  .changeset/chatty-fishes-yell.md
  .changeset/cold-phones-bake.md
  .changeset/dry-kangaroos-explain.md
  .changeset/eleven-frogs-smile.md
  .changeset/few-shrimps-buy.md
  .changeset/green-eyes-act.md
  .changeset/modern-phones-jump.md
  .changeset/shaggy-mugs-pay.md
  .changeset/tasty-donkeys-behave.md
  .changeset/thin-toys-draw.md
  .changeset/two-rivers-destroy.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/import/CHANGELOG.md
  packages/import/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

RELEASING: Releasing 1 package(s) (#3594)
  .changeset/moody-points-juggle.md
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

chore: working type
  packages/api-client/src/libs/create-client.ts
Due: prettier, eslint

fix: component
  packages/api-reference/src/features/ApiClientModal/index.ts
Due: prettier, eslint

feat: started pulling out the client
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/legacy/hooks/useApiClient.ts
Due: prettier, eslint

feat: almost got the types working
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/store/store.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Operation/TestRequestButton.vue
  packages/api-reference/src/components/api-client-bus.ts
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/features/ApiClientModal/index.ts
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
  packages/api-reference/src/features/Search/SearchButton.vue
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/hooks/useSidebar.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/api-reference/src/legacy/stores/index.ts
  packages/api-reference/src/legacy/stores/useApiClientStore.ts
Due: prettier, eslint

fix: types
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/store.ts
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
Due: prettier, eslint

docs(changeset): feat: prepare references for the client auth
  .changeset/early-buckets-protect.md
Due: prettier

feat: almost there
  packages/api-client/src/index.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/router.ts
  packages/api-client/src/store/store.ts
Due: prettier, eslint

fix: router creation
  packages/api-client/src/layouts/App/create-api-client-app.ts
Due: prettier, eslint

feat: allow passing in the store
  packages/api-client/src/libs/create-client.ts
Due: prettier, eslint

feat: added selected security to collection
  packages/oas-utils/src/entities/spec/collection.ts
  packages/oas-utils/src/migrations/v-2.1.0/migration.ts
Due: prettier, eslint

fix: set sidebar element focus outline
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

fix: improve screen reader handling of sidebar region
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/Sidebar/Sidebar.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

docs(changeset): fix(api-reference): sidebar a11y improvements
  .changeset/tidy-pandas-tease.md
Due: prettier

fix: correct @scalar/components dependencies
  packages/components/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): Add missing dependencies to package.json
  .changeset/healthy-gifts-clean.md
Due: prettier

fix: correct @scalar/components dependencies (#3597)
  .changeset/healthy-gifts-clean.md
  packages/components/package.json
  pnpm-lock.yaml
Due: package_format, prettier

style(api-client): moves border to top navigation
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/layouts/App/MainLayout.vue
Due: prettier, eslint

style(api-client-app): removes navigation padding
  packages/api-client-app/src/renderer/index.html
Due: prettier

style(api-client): adds overscroll behavior property to web
  packages/api-client/src/layouts/Web/ApiClientWeb.vue
Due: prettier, eslint

docs(changeset): style: updates sidenav icon size
  .changeset/heavy-hotels-grin.md
Due: prettier

docs(changeset): style: removes top border and sets overscroll property
  .changeset/serious-plums-begin.md
Due: prettier

RELEASING: Releasing 14 package(s) (#3598)
  .changeset/healthy-gifts-clean.md
  packages/api-client-app/CHANGELOG.md
  packages/api-client-app/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
  packages/use-codemirror/CHANGELOG.md
  packages/use-codemirror/package.json
Due: prettier

chore: upgrade rollup version
  package.json
  packages/build-tooling/package.json
  packages/build-tooling/src/vite-options.ts
  packages/cli/package.json
  packages/code-highlight/package.json
  packages/config/package.json
  packages/oas-utils/package.json
Due: prettier, eslint

chore: remove rollup from package dependencies
  packages/cli/package.json
  packages/code-highlight/package.json
  packages/config/package.json
  packages/oas-utils/package.json
Due: prettier

chore: upgrade Vite
  examples/cdn-api-reference/package.json
  examples/esm-api-reference/package.json
  examples/express-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/proxy-server/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-app/package.json
  packages/api-client-proxy/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-editor/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/build-tooling/package.json
  packages/code-highlight/package.json
  packages/components/package.json
  packages/config/package.json
  packages/draggable/package.json
  packages/echo-server/package.json
  packages/express-api-reference/package.json
  packages/fastify-api-reference/package.json
  packages/galaxy/package.json
  packages/hono-api-reference/package.json
  packages/icons/package.json
  packages/import/package.json
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/package.json
  packages/oas-utils/package.json
  packages/object-utils/package.json
  packages/play-button/package.json
  packages/snippetz/playground/package.json
  packages/themes/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  projects/client-scalar-com/package.json
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: add @babel/core as dev dependency
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix(api-client): updates scalar hotkey component
  packages/api-client/src/components/ScalarHotkey.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

docs(changeset): fix: updates scalar hotkey component
  .changeset/funny-icons-fry.md
  packages/api-client/src/components/ScalarHotkey.vue
  packages/api-client/src/components/Sidebar/SidebarButton.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

feat(api-client): moves open command palette event to layout level
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/Web/ApiClientWeb.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
Due: prettier, eslint

docs(changeset): fix: contrains event action to route
  .changeset/quiet-dingos-reply.md
Due: prettier

feat(api-client): updates n hotkey event name and constraint action to route
  packages/api-client/src/layouts/App/hotkeys.ts
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/oas-utils/src/entities/hotkeys/hotkeys.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
