Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs: add a note about automatic releases
  packages/api-client-app/RELEASE.md
Due: prettier

ci: enable the build for this PR
  .github/workflows/ci.yml
Due: prettier

chore: add secrets as env variables
  .github/workflows/ci.yml
Due: prettier

chore: don’t check for file changes (wip)
  .github/workflows/ci.yml
Due: prettier

chore: use pnpm —dir to set working directory
  .github/workflows/ci.yml
Due: prettier

ci: omit the build step before the type check
  .github/workflows/ci.yml
Due: prettier

refactor: use dedicated todesktop ci scripts
  .github/workflows/ci.yml
  packages/api-client-app/package.json
Due: prettier

fix: dependencies missing
  .github/workflows/ci.yml
Due: prettier

chore: fix name of toDesktop.json
  packages/api-client-app/todesktop.json
Due: prettier

ci: run todesktop smoke tests
  .github/workflows/ci.yml
  packages/api-client-app/package.json
Due: prettier

chore: clean up
  .github/workflows/ci.yml
Due: prettier

chore: clean up, enable all steps again
  .github/workflows/ci.yml
Due: prettier

chore: disable smoke tests for now
  .github/workflows/ci.yml
Due: prettier

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#2819)
  README.md
Due: prettier

ci(api-client-app): automatically release new app versions (#2817)
  .github/workflows/ci.yml
  packages/api-client-app/RELEASE.md
  packages/api-client-app/package.json
  packages/api-client-app/todesktop.json
Due: prettier

fix(api-client): hotkeys modifier (#2814)
  .changeset/three-snakes-know.md
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

chore: remove rule for all dot files (#2812)
  CODEOWNERS
Due: none

chore: add app output to prettierignore (#2813)
  .prettierignore
Due: none

fix(api-client-app): check whether the renderer is executed in the Electron context (#2815)
  .changeset/gorgeous-spies-hope.md
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

feat(api-client): request sidebar context menu (#2788)
  .changeset/fast-comics-sparkle.md
  .changeset/metal-rats-sin.md
  .changeset/witty-chefs-grin.md
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/package.json
  packages/components/src/components/ScalarContextMenu/ScalarContextMenu.spec.ts
  packages/components/src/components/ScalarContextMenu/ScalarContextMenu.stories.ts
  packages/components/src/components/ScalarContextMenu/ScalarContextMenu.vue
  packages/components/src/components/ScalarContextMenu/index.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownItem.vue
  packages/components/src/index.ts
  packages/object-utils/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(api-client): hotkeys modifier to modifiers
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

feat(api-client): address bar focus hotkey
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

docs(changeset): feat: add topnav and addressbar hotkeys
  .changeset/perfect-scissors-smash.md
Due: prettier

feat(api-client): topnav hotkeys
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
Due: prettier, eslint

fix(api-client): move web hash router to a factory function (#2793)
  .changeset/nice-bikes-type.md
  packages/api-client-app/src/renderer/src/main.ts
  packages/api-client/src/index.ts
  packages/api-client/src/router.ts
Due: prettier, eslint

feat(api-client): hotkeys modifiers (#2816)
  .changeset/perfect-scissors-smash.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/TopNav/TopNav.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

fix: markdown margins and cleanup stuff in intro card
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-reference/src/components/Card/Card.vue
  packages/api-reference/src/components/Card/CardContent.vue
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientLibraries.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/components/Content/Operation/PathResponses/PathResponses.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrl.vue
  packages/api-reference/src/legacy/components/CardForm.vue
  packages/api-reference/src/legacy/components/CardFormTextInput.vue
  packages/api-reference/src/legacy/components/SecuritySchemeScopes.vue
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/code-highlight/src/css/markdown.css
  packages/docusaurus/src/theme.css
Due: prettier, eslint

docs(changeset): fix: markdown fixes and intro card polish
  .changeset/lazy-trains-own.md
Due: prettier

fix: markdown margins and cleanup stuff in intro card (#2821)
  .changeset/lazy-trains-own.md
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-reference/src/components/Card/Card.vue
  packages/api-reference/src/components/Card/CardContent.vue
  packages/api-reference/src/components/Content/Authentication/Authentication.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientLibraries.vue
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Introduction/Description.vue
  packages/api-reference/src/components/Content/Operation/PathResponses/PathResponses.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerUrl.vue
  packages/api-reference/src/legacy/components/CardForm.vue
  packages/api-reference/src/legacy/components/CardFormTextInput.vue
  packages/api-reference/src/legacy/components/SecuritySchemeScopes.vue
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/code-highlight/src/css/markdown.css
  packages/docusaurus/src/theme.css
Due: prettier, eslint

test(api-client): createRequest with circular reference (#2786)
  packages/oas-utils/src/entities/workspace/spec/createRequest.test.ts
Due: prettier, eslint

chore: check package and cli command wip
  packages/cli/package.json
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/check.test.ts
  packages/cli/src/commands/check/invalid.json
  packages/cli/src/commands/check/valid.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/schemas/config.json
  packages/config/src/check.ts
  packages/config/src/configuration.ts
  packages/config/src/index.ts
  packages/config/src/types.ts
  packages/config/test/check.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix(api-client): sidebar title
  packages/api-client/src/components/Sidebar/Sidebar.vue
Due: prettier, eslint

docs(changeset): fix: sidebar title
  .changeset/shaggy-llamas-wonder.md
Due: prettier

feat: new OpenApiDocument component to provide data
  packages/api-reference/package.json
  packages/api-reference/playground/embed/index.html
  packages/api-reference/playground/embed/src/App.vue
  packages/api-reference/playground/embed/src/main.ts
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/embeds/OpenApiDocument/index.ts
  packages/api-reference/src/embeds/index.ts
Due: prettier, eslint

feat: add example request component
  packages/api-reference/playground/embed/src/App.vue
  packages/api-reference/src/components/Content/Operation/Operation.vue
  packages/api-reference/src/embeds/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/embeds/ExampleRequest/index.ts
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/embeds/OpenApiDocument/index.ts
  packages/api-reference/src/embeds/OpenApiDocument/types.ts
  packages/api-reference/src/embeds/index.ts
  packages/api-reference/src/features/BaseUrl/BaseUrl.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/legacy/stores/useServerStore.ts
Due: prettier, eslint

fix: api client doesn’t open
  packages/api-reference/playground/embed/src/App.vue
  packages/api-reference/src/embeds/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/legacy/stores/useServerStore.ts
Due: prettier, eslint

chore: clean up example
  packages/api-reference/playground/embed/src/App.vue
Due: prettier, eslint

docs(changeset): feat: add ExampleRequest embed
  .changeset/perfect-bats-report.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
