Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

docs(changeset): chore: added type safety rule noUncheckedIndexedAccess
  .changeset/brown-fishes-hear.md
Due: prettier

chore: whoops
  packages/cli/rollup.config-1730834666293.mjs
  packages/fetch/rollup.config-1730831908663.mjs
  packages/fetch/rollup.config-1730832853782.mjs
Due: none

fix: coderabbit suggestion
  packages/draggable/src/Draggable.vue
Due: prettier, eslint

chore: get stronger types
  packages/api-reference-react/playground/App.tsx
  packages/api-reference-react/tsconfig.json
  packages/api-reference/tsconfig.json
  packages/build-tooling/src/vite-options.ts
  packages/cli/rollup.config-1730834666293.mjs
  packages/code-highlight/src/code/line-numbers.ts
  packages/draggable/playground/App.vue
  packages/draggable/playground/components/SidebarItem.vue
  packages/draggable/src/Draggable.vue
  packages/fetch/rollup.config-1730831908663.mjs
  packages/fetch/rollup.config-1730832853782.mjs
  packages/fetch/src/request.ts
  packages/import/src/resolve.ts
  packages/nextjs-api-reference/tsconfig.json
  packages/oas-utils/src/entities/spec/request-examples.ts
  packages/oas-utils/src/helpers/findVariables.ts
  packages/oas-utils/src/helpers/makeUrlAbsolute.ts
  packages/oas-utils/src/migrations/v-2.1.0/migration.ts
  packages/oas-utils/src/migrations/v-2.1.0/types.generated.ts
  packages/object-utils/src/mutator-record/mutations.test.ts
  packages/object-utils/src/mutator-record/mutations.ts
  packages/object-utils/src/nested/nested.test.ts
  packages/themes/src/utilities/legacy.ts
  packages/ts-to-openapi/src/node.ts
  packages/ts-to-openapi/src/responses.test.ts
  packages/ts-to-openapi/src/responses.ts
  packages/ts-to-openapi/src/type-nodes.ts
  packages/use-tooltip/src/useTooltip.ts
  packages/void-server/src/createVoidServer.ts
  packages/void-server/src/utils/getRequestData.ts
  tsconfig.json
Due: prettier, eslint

chore: skip the docker build if docker isn’t available (#3789)
  packages/api-reference/docker/package.json
Due: prettier

chore: upgrade vue-tsc
  package.json
  packages/api-client-app/package.json
  packages/snippetz/playground/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: fix nuxt types
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/nuxt/src/types.ts
Due: prettier, eslint

fixed missed comments
  packages/postman-to-openapi/src/helpers/requestBodyHelpers.ts
  packages/postman-to-openapi/src/helpers/responseHelpers.ts
Due: prettier, eslint

chore: upgrade vue-tsc (#3792)
  package.json
  packages/api-client-app/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/ScalarApiReference.vue
  packages/nuxt/src/types.ts
  packages/snippetz/playground/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

update lock file for build
  pnpm-lock.yaml
Due: package_format, prettier

fixed github-advanced-security
  packages/postman-to-openapi/src/helpers/itemHelpers.ts
  packages/postman-to-openapi/src/helpers/urlHelpers.ts
Due: prettier, eslint

fixed persistent github-advanced-security issue
  packages/postman-to-openapi/src/helpers/itemHelpers.ts
Due: prettier, eslint

chore: update test spec bucket name
  packages/postman-to-openapi/src/convert.test.ts
Due: prettier, eslint

docs(mock-server): update the README (#3786)
  packages/mock-server/README.md
  packages/mock-server/src/createMockServer.test.ts
Due: prettier, eslint

refactor: move esm example to a package playground
  examples/esm-api-reference/index.html
  examples/esm-api-reference/package.json
  examples/esm-api-reference/src/main.ts
  examples/esm-api-reference/tsconfig.build.json
  examples/esm-api-reference/tsconfig.json
  examples/esm-api-reference/vite.config.ts
  packages/api-reference/package.json
  packages/api-reference/playground/esm/index.html
  packages/api-reference/playground/esm/vite.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: show servers with no intro
  examples/web/.gitignore
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
Due: prettier, eslint

docs(changeset): fix: show servers when there's no title or description
  .changeset/five-parents-check.md
Due: prettier

fix: width
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, eslint

fix: did I not commit this last time
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: issues
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: better single slash
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: use base server URL in the client
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): fix: ingest base server URL and use it in the api client
  .changeset/healthy-terms-heal.md
Due: prettier

feat: added tests for baseServerUrl
  packages/oas-utils/package.json
  packages/oas-utils/src/transforms/import-spec.test.ts
  packages/oas-utils/src/transforms/import-spec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: vi
  packages/oas-utils/src/transforms/import-spec.test.ts
Due: prettier, eslint

fix: the things
  packages/oas-utils/package.json
  packages/oas-utils/src/transforms/import-spec.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(components): pass open into floating slot
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
Due: prettier, eslint

fix: pnpm lock
  pnpm-lock.yaml
Due: package_format, prettier

fix(api-client): add context bar focus states
  packages/api-client/src/components/ContextBar.vue
Due: prettier, eslint

fix(api-client): add request and response focus states
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/DataTable/DataTableCheckbox.vue
  packages/api-client/src/components/DataTable/DataTableInput.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
Due: prettier, eslint

fix(api-client): request sidebar focus states
  packages/api-client/src/components/Search/useSearch.ts
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

fix: add client focus trap
  packages/api-client/package.json
  packages/api-client/playground/modal/index.html
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: address bar focus states
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/components/src/components/ScalarButton/variants.ts
Due: prettier, eslint

docs(changeset): fix: improve API client modal accessibility
  .changeset/tidy-sheep-sip.md
Due: prettier

fix: adjust layout collapse focus group
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
Due: prettier, eslint

fix: add assistive labelling
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/ContextBar.vue
  packages/api-client/src/components/Sidebar/SidebarToggle.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutCollapse.vue
  packages/api-client/src/components/ViewLayout/ViewLayoutSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBodyDownload.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseMetaInformation.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
Due: prettier, eslint

chore: bump vue-tsc
  pnpm-lock.yaml
Due: package_format, prettier
