Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

Actual fix
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

Add request to children of collection
  packages/api-client/src/store/import-spec.ts
Due: prettier, eslint

Update packages/oas-utils/src/transforms/import-spec.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: Add option to use {documentName} placeholder in the title
  integrations/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  integrations/aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  integrations/aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
Due: none

fix(api-client): No request imported while collection successfully created (#4598)
  .changeset/big-tomatoes-invite.md
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): feature: Support {documentName} placeholder in title
  .changeset/sweet-donuts-reply.md
Due: prettier

feat: added bust cache to github action
  .github/workflows/ci.yml
Due: prettier

fix: add sha
  .github/workflows/ci.yml
Due: prettier

fix: update name
  .github/workflows/ci.yml
Due: prettier

feat(ci): added bust cache to github action (#4611)
  .github/workflows/ci.yml
Due: prettier

RELEASING: Releasing 12 package(s) (#4610)
  .changeset/big-tomatoes-invite.md
  integrations/aspnetcore/CHANGELOG.md
  integrations/aspnetcore/package.json
  integrations/docusaurus/CHANGELOG.md
  integrations/docusaurus/package.json
  integrations/nuxt/CHANGELOG.md
  integrations/nuxt/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
Due: prettier

test: update CDN API Reference snapshots
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Chrome-linux.png
Due: none

feat(Scalar.AspNetCore): add placeholder support for the title (#4609)
  .changeset/sweet-donuts-reply.md
  integrations/aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  integrations/aspnetcore/src/Scalar.AspNetCore/Options/ScalarOptions.cs
  integrations/aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarEndpointTests.cs
Due: prettier

fix(themes): removes inset from box shadow variable
  packages/themes/src/variables.css
Due: prettier

docs(changeset): fix: removes inset from box shadow variable
  .changeset/smart-bears-breathe.md
Due: prettier

fix(components): sets border on inactive checkbox state
  packages/components/src/components/ScalarListbox/ScalarListboxCheckbox.vue
Due: prettier, eslint

docs(changeset): fix: sets border on inactive checkbox state
  .changeset/strange-squids-argue.md
Due: prettier

fix(api-client): updates dropdown checkbox ui
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
Due: prettier, eslint

docs(changeset): fix: updates dropdown checkbox ui
  .changeset/soft-phones-cheat.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
