Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

feat(docs): add /brand page with logos, wordmark, icon, and colors (#8975)
  .gitattributes
  documentation/assets/brand.js
  documentation/assets/brand/scalar-brand-assets.zip
  documentation/assets/brand/scalar-logomark-dark.png
  documentation/assets/brand/scalar-logomark-dark.svg
  documentation/assets/brand/scalar-logomark-light.png
  documentation/assets/brand/scalar-logomark-light.svg
  documentation/assets/brand/scalar-wordmark-dark.png
  documentation/assets/brand/scalar-wordmark-dark.svg
  documentation/assets/brand/scalar-wordmark-light.png
  documentation/assets/brand/scalar-wordmark-light.svg
  documentation/guides/app/getting-started.md
  documentation/guides/brand.md
  documentation/guides/docs/getting-started.md
  documentation/guides/enterprise/enterprise.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
  knip.jsonc
  scalar.config.json
Due: prettier, biome

feat: a whole new world
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/helpers/is-placeholder-path.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/helpers/is-placeholder-path.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/helpers/refocus-blur-target.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/helpers/refocus-blur-target.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.ts
  packages/api-client/src/v2/features/app/helpers/create-temp-operation.ts
Due: prettier, biome

correctly handle cleaning up stale data
  packages/api-client/src/v2/features/app/app-state.ts
  packages/workspace-store/src/persistence/migrations/v2-team-to-local.test.ts
  packages/workspace-store/src/persistence/migrations/v2-team-to-local.ts
Due: prettier, biome

feat: working?
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.ts
  packages/api-client/src/v2/features/app/helpers/create-temp-operation.ts
Due: prettier, biome

chore: remove the bad stuff
  packages/api-reference/src/components/Section/SectionHeader.vue
  packages/api-reference/src/features/Operation/components/SecurityRequirementBadge.test.ts
  packages/api-reference/src/features/Operation/components/SecurityRequirementBadge.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
Due: prettier, biome

fix: tests
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/components/Header.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

fix: css
  packages/api-reference/src/components/Section/SectionHeader.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Due: prettier, biome

chore: update screenies
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-simple.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-enum.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-nested.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-simple.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-example.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-responses-open.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/alternate-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/alternate-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/bluePlanet-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/deepSpace-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/deepSpace-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/default-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/default-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/elysiajs-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/elysiajs-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/fastify-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/fastify-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/kepler-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/laserwave-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/laserwave-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/mars-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/moon-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/moon-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/none-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/none-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/purple-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/purple-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/saturn-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/saturn-modern-light.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/solarized-modern-dark.png
  packages/api-reference/test/snapshots/themes.e2e.ts.snapshots/solarized-modern-light.png
Due: none

feat: remove random changes
  packages/api-reference/src/components/Badge/Badge.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
Due: prettier, biome

docs(changeset): chore: migrate api-client from namespaces to teamSlug and convert team workspaces
  .changeset/silly-cars-chew.md
Due: prettier

remove the logs
  packages/api-client/src/v2/features/app/app-state.ts
Due: prettier, biome

chore: updated tests
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.ts
  packages/api-client/src/v2/helpers/test-utils.ts
Due: prettier, biome

chore: format
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

fix: comment
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

ensure unser have only have one worksapce per team and create the default team worksapce on demand
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/app-state.test.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/helpers/group-workspaces.test.ts
  packages/api-client/src/v2/features/app/helpers/group-workspaces.ts
Due: prettier, biome

docs(changeset): feat: ensure teams can have only one workspace and create default workspcace of the team on demand
  .changeset/public-dolls-laugh.md
Due: prettier

fix foramtting
  .changeset/public-dolls-laugh.md
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/app-state.test.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/workspace-store/src/persistence/index.test.ts
  packages/workspace-store/src/persistence/migrations/v2-team-to-local.test.ts
Due: prettier, biome

fix: a few more things
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome

fix: fpormat
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
Due: prettier, biome

fix knip
  packages/api-client/src/v2/features/app/app-state.ts
Due: prettier, biome

resolve threads
  packages/api-client/src/v2/features/search/hooks/use-document-search.ts
Due: prettier, biome

add download app button
  packages/api-client/src/v2/features/collection/components/GetStarted.vue
Due: prettier, biome

resolve threads
  packages/api-client/src/v2/features/command-palette/helpers/generate-unique-slug.test.ts
  packages/api-client/src/v2/features/command-palette/helpers/generate-unique-slug.ts
Due: prettier, biome

chore: log version in reference component
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/standalone.ts
Due: prettier, biome

docs(changeset): chore: move scalar version logs
  .changeset/tiny-taxes-stay.md
Due: prettier

chore: simplify
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.ts
Due: prettier, biome

docs(changeset): feat: allow masking all temp urls
  .changeset/brave-actors-send.md
Due: prettier

fix: cursor
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

fix: format
  packages/api-client/src/v2/blocks/scalar-address-bar-block/hooks/use-path-masking.ts
Due: prettier, biome

fix: simplify pricing pro plan
  documentation/guides/pricing.md
Due: prettier

fix: closing tag
  documentation/guides/pricing.md
Due: prettier

fix: simplify pricing pro plan (#8988)
  documentation/guides/pricing.md
Due: prettier

feat(api-client): nested workspace sidebar (#8972)
  .changeset/cozy-parts-change.md
  .changeset/crisp-tips-grow.md
  .changeset/dry-worms-grow.md
  packages/api-client/package.json
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/DownloadAppButton.vue
  packages/api-client/src/v2/features/app/helpers/load-registry-document.ts
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/app/hooks/use-document-filter.test.ts
  packages/api-client/src/v2/features/app/hooks/use-document-filter.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
  packages/api-client/src/v2/features/app/index.ts
  packages/api-client/src/v2/features/collection/components/GetStarted.vue
  packages/api-client/src/v2/features/command-palette/helpers/generate-unique-slug.test.ts
  packages/api-client/src/v2/features/command-palette/helpers/generate-unique-slug.ts
  packages/api-client/src/v2/features/search/components/DocumentSearchModal.vue
  packages/api-client/src/v2/features/search/components/SearchResult.vue
  packages/api-client/src/v2/features/search/hooks/use-document-search.ts
  packages/api-client/src/v2/features/search/index.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.test.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.ts
  packages/api-client/src/v2/types/configuration.ts
  packages/code-highlight/src/markdown/markdown.ts
  packages/sidebar/src/components/SidebarItemDecorator.vue
  packages/sidebar/src/index.ts
  packages/workspace-store/src/events/definitions/ui.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

keep track of the version
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
  packages/workspace-store/src/schemas/extensions/document/x-scalar-registry-meta.ts
Due: prettier, biome

inital version handling
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppHeader.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.test.ts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/helpers/load-registry-document.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
  packages/api-client/src/v2/features/collection/DocumentCollection.test.ts
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/workspace-store/src/schemas/extensions/document/x-scalar-registry-meta.ts
Due: prettier, biome

better ui on the versions
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.test.ts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
Due: prettier, biome

track upstream changes
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/helpers/load-registry-document.test.ts
  packages/api-client/src/v2/features/app/helpers/load-registry-document.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
Due: prettier, biome

handle all conflicts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.test.ts
  packages/api-client/src/v2/features/app/components/DocumentBreadcrumb.vue
  packages/api-client/src/v2/features/app/helpers/check-version-conflict.test.ts
  packages/api-client/src/v2/features/app/helpers/check-version-conflict.ts
  packages/api-client/src/v2/features/app/helpers/compute-version-status.test.ts
  packages/api-client/src/v2/features/app/helpers/compute-version-status.ts
  packages/api-client/src/v2/features/app/helpers/detect-document-conflicts.test.ts
  packages/api-client/src/v2/features/app/helpers/detect-document-conflicts.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/schemas/extensions/document/x-scalar-registry-meta.ts
Due: prettier, biome

fix(api-reference): preserve composed schema descriptions in docs
  packages/api-reference/src/components/Content/Schema/Schema.test.ts
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.vue
  packages/api-reference/src/components/Content/Schema/helpers/optimize-value-for-display.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/optimize-value-for-display.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-description.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/should-display-description.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
