Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

fix(ci): update .NET setup action
  .github/workflows/ci.yml
Due: prettier

trigger build
  integrations/dotnet/README.md
Due: prettier

fix(docs): Fix introduction gallery
  documentation/assets/landing.js
  documentation/guides/introduction.md
Due: prettier, biome

fix(docs): Style & behaviour improvements
  documentation/assets/landing.js
  documentation/guides/introduction.md
Due: prettier, biome

fix(docs): Remove comments
  documentation/assets/landing.js
Due: prettier, biome

fix(api-client): resolve oauth URLs with relative servers
  .changeset/relative-oauth-urls.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
  packages/api-client/src/views/Request/libs/oauth2.test.ts
  packages/api-client/src/views/Request/libs/oauth2.ts
Due: prettier, biome

chore: fix knip
  packages/api-client/src/v2/blocks/request-block/helpers/get-default-headers.ts
  packages/workspace-store/src/schemas/extensions/operation/x-scalar-disable-parameters.ts
Due: prettier, biome

fix(docs): Fix mobile - Improve behaviour
  documentation/assets/landing.js
  documentation/guides/introduction.md
Due: prettier, biome

fix(docs): Fix landing page gallery (#7783)
  documentation/assets/landing.js
  documentation/guides/introduction.md
Due: prettier, biome

chore: correctly unescape json pointer
  packages/json-magic/esbuild.ts
  packages/json-magic/package.json
  packages/workspace-store/src/plugins/bundler/helpers.ts
Due: prettier, biome

refactor: clean up mutators and event handlers
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/AuthSelector.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthDataTable.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/hooks/use-workspace-client-modal-events.ts
  packages/api-client/src/v2/features/modal/index.ts
  packages/api-client/src/v2/features/modal/modal-events.ts
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/api-client/src/v2/workspace-events.ts
  packages/workspace-store/src/events/definitions/auth.ts
  packages/workspace-store/src/events/definitions/index.ts
  packages/workspace-store/src/events/definitions/operation.ts
  packages/workspace-store/src/events/index.ts
  packages/workspace-store/src/mutators/auth.ts
  packages/workspace-store/src/mutators/cookie.ts
  packages/workspace-store/src/mutators/document.ts
  packages/workspace-store/src/mutators/environment.ts
  packages/workspace-store/src/mutators/helpers.ts
  packages/workspace-store/src/mutators/index.test.ts
  packages/workspace-store/src/mutators/index.ts
  packages/workspace-store/src/mutators/operation.ts
  packages/workspace-store/src/mutators/request.ts
  packages/workspace-store/src/mutators/security-schemes.ts
  packages/workspace-store/src/mutators/server.ts
  packages/workspace-store/src/mutators/tabs.ts
  packages/workspace-store/src/mutators/tag.ts
  packages/workspace-store/src/mutators/workspace.ts
Due: prettier, biome

fix: Correct filepath to turbo cache (#7779)
  .github/actions/setup-node/action.yml
Due: prettier

update version
  .github/workflows/ci.yml
Due: prettier

fix(ci): update .NET setup action to version 1
  .github/workflows/ci.yml
Due: prettier

ci: switch to `fast-actions/setup-dotnet` (#7782)
  .github/workflows/ci.yml
  integrations/dotnet/README.md
Due: prettier

fix(api-reference): enable `knip`
  .changeset/empty-grapes-write.md
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/playground/ssr/src/App.vue
  packages/api-reference/playground/vue/package.json
  packages/api-reference/playground/vue/src/App.vue
  packages/api-reference/playground/vue/src/x-custom-extension-plugin/my-custom-plugin.ts
  packages/api-reference/playground/vue/vite.config.ts
  packages/api-reference/src/blocks/scalar-server-selector-block/components/ServerSelector.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/components/Content/Schema/helpers/schema-name.ts
  packages/api-reference/src/components/Content/index.ts
  packages/api-reference/src/features/Operation/types/schemas.ts
  packages/api-reference/src/helpers/lazy-bus.ts
  packages/api-reference/src/helpers/markdown.ts
  packages/api-reference/src/helpers/normalize-configurations.ts
  packages/api-reference/src/helpers/openapi.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: remove private workspace in `packages/api-reference/playground/vue`
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/playground/vue/package.json
  packages/api-reference/playground/vue/src/App.vue
  packages/api-reference/playground/vue/src/main.ts
  packages/api-reference/playground/vue/src/x-custom-extension-plugin/my-custom-plugin.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore: cleanup
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/RequestAuthDataTable.test.ts
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/modal-events.ts
  packages/workspace-store/src/mutators/document.ts
  packages/workspace-store/src/mutators/index.ts
Due: prettier, biome

docs: migrate from swagger ui
  documentation/migration/swagger-ui.md
  scalar.config.json
Due: prettier, biome

fix(api-reference): enable `knip` (#7781)
  .changeset/empty-grapes-write.md
  knip.jsonc
  packages/api-reference/package.json
  packages/api-reference/playground/ssr/src/App.vue
  packages/api-reference/playground/vue/src/main.ts
  packages/api-reference/playground/vue/src/x-custom-extension-plugin/my-custom-plugin.ts
  packages/api-reference/playground/vue/vite.config.ts
  packages/api-reference/src/blocks/scalar-server-selector-block/components/ServerSelector.vue
  packages/api-reference/src/components/Content/Schema/helpers/get-compositions-to-render.ts
  packages/api-reference/src/components/Content/Schema/helpers/schema-name.ts
  packages/api-reference/src/components/Content/index.ts
  packages/api-reference/src/features/Operation/types/schemas.ts
  packages/api-reference/src/helpers/lazy-bus.ts
  packages/api-reference/src/helpers/markdown.ts
  packages/api-reference/src/helpers/normalize-configurations.ts
  packages/api-reference/src/helpers/openapi.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-reference): update SearchButton component to use activeDocument prop
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

fix: vue warning for legacy icon
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
Due: prettier, biome

fix: doesn’t scroll to correct position in classic layout
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Section/SectionAccordion.vue
Due: prettier, biome

docs(changeset): fix: can not search in classic layout
  .changeset/plenty-squids-battle.md
Due: prettier

docs(changeset): fix: Vue warning because of deprecated icon syntax
  .changeset/bright-coats-brush.md
Due: prettier

chore: resolve cursor feedback
  packages/api-client/src/v2/blocks/operation-block/helpers/build-request.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/operation-to-har.ts
Due: prettier, biome

fix(workspace-store): normalize securitySchemes 'scheme' (#7763)
  .changeset/ready-bears-arrive.md
  .changeset/wicked-seals-laugh.md
  packages/json-magic/esbuild.ts
  packages/json-magic/package.json
  packages/json-magic/src/bundle/bundle.test.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/plugins/bundler/helpers.test.ts
  packages/workspace-store/src/plugins/bundler/helpers.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

chore: resolve threads
  packages/api-client/src/v2/workspace-events.ts
Due: prettier, biome

chore: fix tests
  packages/workspace-store/src/mutators/cookie.test.ts
  packages/workspace-store/src/mutators/environment.test.ts
  packages/workspace-store/src/mutators/operation.test.ts
Due: prettier, biome

chore: add missing test cases
  packages/workspace-store/src/events/definitions/tabs.ts
  packages/workspace-store/src/mutators/document.test.ts
  packages/workspace-store/src/mutators/environment.test.ts
  packages/workspace-store/src/mutators/operation.test.ts
  packages/workspace-store/src/mutators/tabs.test.ts
  packages/workspace-store/src/mutators/workspace.test.ts
Due: prettier, biome

chore: do not include default headers for reference
  packages/api-client/src/v2/blocks/operation-code-sample/components/OperationCodeSample.vue
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/generate-code-snippet.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/operation-to-har.ts
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.vue
Due: prettier, biome

docs(changeset): chore: refactor mutators in workspace store
  .changeset/big-plums-obey.md
Due: prettier

chore: skip old test
  packages/api-client/src/layouts/Modal/create-api-client-modal.test.ts
Due: prettier, biome

chore: fix failing tests
  packages/api-client/src/v2/blocks/operation-code-sample/components/OperationCodeSample.vue
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/generate-code-snippet.test.ts
Due: prettier, biome

test(api-reference): update snapshots
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-classic-model-simple.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-discriminator.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-enum.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-nested.png
  packages/api-reference/test/snapshots/models.e2e.ts.snapshots/scalar-galaxy-model-simple.png
Due: none

chore: merge conflicts
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/workspace-events.ts
  packages/workspace-store/src/mutators/operation.ts
Due: prettier, biome

chore: updated snapples
  packages/api-client/src/v2/blocks/request-block/helpers/create-parameter-handlers.ts
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-callbacks.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-closed.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-classic-request-responses-open.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-body.png
  packages/api-reference/test/snapshots/operations.e2e.ts.snapshots/scalar-galaxy-request-callbacks.png
Due: prettier, biome
