Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

feat(has-response-content): enhance content detection for falsy values
  packages/api-reference/src/features/example-responses/has-response-content.test.ts
  packages/api-reference/src/features/example-responses/has-response-content.ts
Due: prettier, biome

fix(example-responses): reset selectedExampleKey when response list changes
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
Due: prettier, biome

chore: update lock file
  pnpm-lock.yaml
Due: packages-format, prettier

fix(api-reference): additional properties generate invalid example (#7814)
  .changeset/social-games-work.md
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-example-from-schema.test.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-example-from-schema.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/oas-utils/src/spec-getters/get-example-from-schema.test.ts
  packages/oas-utils/src/spec-getters/get-example-from-schema.ts
Due: prettier, biome

feat(docs): add Zuplo migration guide and update scalar.config.json
  documentation/migration/zuplo.md
  scalar.config.json
Due: prettier, biome

chore: update nestjs and fastify [security] (#7832)
  examples/nestjs/nestjs-api-reference-express/package.json
  examples/nestjs/nestjs-api-reference-fastify/package.json
  integrations/fastify/package.json
  integrations/nestjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

fix: unmet peer dependency warnings
  examples/react/package.json
  examples/sveltekit/package.json
  integrations/nuxt/package.json
  package.json
  pnpm-workspace.yaml
Due: prettier, biome

chore(components): Move storybook dep to dev-dep
  packages/components/package.json
  packages/openapi-upgrader/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

docs(changeset): Fix dev dep issue
  .changeset/public-candles-punch.md
  packages/openapi-upgrader/package.json
Due: prettier, biome

chore(components): fix dev dep issue (#7846)
  .changeset/public-candles-punch.md
  packages/components/package.json
  packages/openapi-upgrader/package.json
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(docs): add Zuplo migration guide and update scalar.config.json (#7836)
  documentation/migration/zuplo.md
  scalar.config.json
Due: prettier, biome

docs(changeset): fix: allow multiple selected security schemes with different scopes
  .changeset/green-clouds-appear.md
Due: prettier

fix: allow multiple requirements with different scopes
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/AuthSelector.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

chore: update changeset
  .changeset/green-clouds-appear.md
Due: prettier

feat: allow adding/removing schemes
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/AuthSelector.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
  packages/api-reference/src/components/Content/Auth/Auth.vue
Due: prettier, biome

fix: is deleted
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
Due: prettier, biome

wip: history support
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/har-to-fetch-response.test.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/har-to-fetch-response.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/har-to-operation.test.ts
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/operation-to-har/har-to-operation.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBarHistory.vue
  packages/api-client/src/v2/features/app/app-events.ts
  packages/api-client/src/v2/workspace-events.ts
  packages/api-client/tsconfig.json
  packages/snippetz/src/index.ts
  packages/types/src/snippetz/index.ts
  packages/types/src/snippetz/snippetz.ts
  packages/workspace-store/src/events/definitions/hooks.ts
  packages/workspace-store/src/events/definitions/ui.ts
  packages/workspace-store/src/mutators/fetch-request-to-har.test.ts
  packages/workspace-store/src/mutators/fetch-request-to-har.ts
  packages/workspace-store/src/mutators/fetch-response-to-har.test.ts
  packages/workspace-store/src/mutators/fetch-response-to-har.ts
  packages/workspace-store/src/mutators/operation.ts
  packages/workspace-store/src/schemas/extensions/operation/x-scalar-history.ts
  packages/workspace-store/src/schemas/v3.1/strict/operation.ts
Due: prettier, biome

fix: remove config from workspace
  packages/api-reference/src/helpers/map-configuration.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/mutators/operation.ts
  packages/workspace-store/src/navigation/get-navigation-options.ts
  packages/workspace-store/src/navigation/helpers/traverse-document.ts
  packages/workspace-store/src/persistence/index.ts
  packages/workspace-store/src/plugins/client/persistence.ts
  packages/workspace-store/src/schemas/inmemory-workspace.ts
  packages/workspace-store/src/schemas/workspace-specification/config.ts
  packages/workspace-store/src/schemas/workspace-specification/index.ts
  packages/workspace-store/src/server.ts
  packages/workspace-store/src/workspace-plugin.ts
Due: prettier, biome

fix: make nav options mandatory
  packages/workspace-store/src/client.ts
Due: prettier, biome

fix: workspace building
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/mutators/document.ts
  packages/workspace-store/src/navigation/get-navigation-options.ts
Due: prettier, biome

feat: proper propogation
  packages/api-client/src/v2/features/collection/components/Settings.vue
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/modal/helpers/map-hidden-clients-config.test.ts
  packages/api-client/src/v2/features/modal/helpers/map-hidden-clients-config.ts
  packages/api-client/src/v2/features/modal/index.ts
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/api-client/src/v2/features/settings/CollectionSettings.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/helpers/index.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/navigation/helpers/traverse-document.ts
Due: prettier, biome

chore: remove extra
  packages/workspace-store/src/mutators/document.ts
Due: prettier, biome

fix: ensure we import specs with fetch
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImport.vue
  packages/api-client/src/v2/helpers/get-fetch.test.ts
  packages/api-client/src/v2/helpers/get-fetch.ts
  packages/api-client/src/v2/helpers/index.ts
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

feat: added server support
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/api-client/src/v2/features/operation/helpers/get-selected-server.test.ts
  packages/api-client/src/v2/features/operation/helpers/get-selected-server.ts
  packages/api-client/src/v2/helpers/get-servers.test.ts
  packages/api-client/src/v2/helpers/get-servers.ts
  packages/api-client/src/v2/helpers/index.ts
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, biome

fix: workspace complete
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/navigation/get-navigation-options.test.ts
  packages/workspace-store/src/navigation/helpers/traverse-document.test.ts
  packages/workspace-store/src/persistence/index.test.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

fix: clients
  packages/api-client/playground/v2/modal/main.ts
  packages/api-client/src/v2/features/modal/Modal.test.ts
Due: prettier, biome

fix: references
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/features/Search/helpers/create-search-index.test.ts
  packages/api-reference/src/features/Search/search-quality.test.ts
  packages/workspace-store/README.md
Due: prettier, biome

docs(changeset): fix: remove unused workspace config
  .changeset/fruity-geese-press.md
Due: prettier

chore: cursor bot fixes
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/workspace-store/src/persistence/index.ts
Due: prettier, biome

fix: enable form params by default
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.vue
Due: prettier, biome

chore: add a test
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.test.ts
Due: prettier, biome

docs(changeset): fix: enable form rows by default
  .changeset/real-days-lay.md
Due: prettier

fix: unmet peer dependency warnings (#7833)
  examples/react/package.json
  examples/sveltekit/package.json
  integrations/nuxt/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

refactor: remove fastify theme and update theme handling in settings
  packages/api-client/src/v2/features/settings/CollectionSettings.vue
  packages/api-client/src/v2/features/settings/helpers/get-theme-colors.ts
  packages/api-client/src/views/Settings/SettingsGeneral.vue
  packages/oas-utils/src/migrations/data-version.ts
  packages/oas-utils/src/migrations/migrator.ts
  packages/oas-utils/src/migrations/v-2.5.0/migration.test.ts
  packages/oas-utils/src/migrations/v-2.5.0/migration.ts
  packages/oas-utils/src/migrations/v-2.5.0/types.generated.ts
  packages/oas-utils/src/migrations/v-2.6.0/migration.test.ts
  packages/oas-utils/src/migrations/v-2.6.0/migration.ts
  packages/oas-utils/src/migrations/v-2.6.0/types.generated.ts
  packages/types/src/api-reference/api-reference-configuration.test.ts
  packages/types/src/api-reference/base-configuration.ts
Due: prettier, biome

refactor: code style
  integrations/fastify/.gitignore
  integrations/fastify/src/fastify.test.ts
  integrations/fastify/src/fastify.ts
  integrations/fastify/src/index.ts
  integrations/fastify/src/utils/get-javascript-file.ts
  integrations/fastify/tsconfig.build.json
  integrations/fastify/tsconfig.json
Due: prettier, biome

refactor: move fastify theme to fastify
  integrations/fastify/src/assets/theme.css
  integrations/fastify/src/fastify.ts
  integrations/fastify/tsconfig.json
  packages/themes/src/index.ts
Due: prettier, biome

feat: try to bundle js and css (wip)
  integrations/fastify/esbuild.ts
  integrations/fastify/package.json
  integrations/fastify/src/assets/.gitignore
  integrations/fastify/src/fastify.ts
  integrations/fastify/src/shim.d.ts
  integrations/fastify/src/utils/get-javascript-file.ts
  integrations/fastify/tsconfig.json
Due: prettier, biome

fix: playground loads scalar.js
  integrations/fastify/esbuild.ts
  integrations/fastify/src/shim.d.ts
  integrations/fastify/src/utils/get-javascript-file.ts
Due: prettier, biome

feat: add esbuild plugin for asset text loading and update theme handling
  integrations/fastify/esbuild.ts
  integrations/fastify/package.json
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/v2/features/settings/helpers/get-theme-colors.ts
  packages/api-client/src/views/Settings/SettingsGeneral.vue
  packages/api-reference/playground/vue/src/components/DebugBar.vue
  packages/api-reference/src/features/toolbar/ApiReferenceToolbarConfig.vue
  packages/oas-utils/src/migrations/v-2.6.0/migration.test.ts
  packages/oas-utils/src/migrations/v-2.6.0/migration.ts
  packages/themes/src/index.ts
  packages/themes/src/presets/elysiajs.css
  pnpm-lock.yaml
Due: packages-format, prettier, biome
