Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: upgrade axios (#2941)
  packages/api-client/package.json
  packages/api-reference/package.json
  packages/oas-utils/package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat(ts-to-openapi): new TypeScript to OpenAPI library (#2915)
  .changeset/late-fans-sin.md
  packages/ts-to-openapi/README.MD
  packages/ts-to-openapi/package.json
  packages/ts-to-openapi/rollup.config.ts
  packages/ts-to-openapi/src/fixtures/more-testing-types.ts
  packages/ts-to-openapi/src/fixtures/test-responses.ts
  packages/ts-to-openapi/src/fixtures/testing-types.ts
  packages/ts-to-openapi/src/index.ts
  packages/ts-to-openapi/src/js-doc.ts
  packages/ts-to-openapi/src/node.ts
  packages/ts-to-openapi/src/responses.test.ts
  packages/ts-to-openapi/src/responses.ts
  packages/ts-to-openapi/src/test-setup.ts
  packages/ts-to-openapi/src/type-nodes.test.ts
  packages/ts-to-openapi/src/type-nodes.ts
  packages/ts-to-openapi/src/types.ts
  packages/ts-to-openapi/tsconfig.build.json
  packages/ts-to-openapi/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: testing next.js openapi generation
  examples/nextjs-api-reference/package.json
  packages/nextjs-api-reference/package.json
  packages/nextjs-openapi/README.md
  packages/nextjs-openapi/package.json
  packages/nextjs-openapi/rollup.config.ts
  packages/nextjs-openapi/src/index.ts
  packages/nextjs-openapi/src/openapi.ts
  packages/nextjs-openapi/src/path.ts
  packages/nextjs-openapi/tsconfig.build.json
  packages/nextjs-openapi/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

refactor: extract collapsible section component
  packages/api-reference/src/components/Content/Models/CollapsedModel.vue
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Section/CompactSection.vue
  packages/api-reference/src/components/Section/index.ts
Due: prettier, eslint

feat: put webhook in collapsible container
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Content/Webhooks/Webhook.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
  packages/api-reference/src/components/Section/CompactSection.vue
Due: prettier, eslint

feat: add show more button for webhooks
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
  packages/api-reference/src/components/Section/CompactSection.vue
Due: prettier, eslint

docs(changeset): feat(api-reference): lazy loading collapsible webhooks
  .changeset/fast-pigs-know.md
Due: prettier

Update packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.ts
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.ts
Due: prettier, eslint

chore: add missing type
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.ts
Due: prettier, eslint

feat(api-reference): multipart and url encoded request data, fix #2902, fix #1451 (#2945)
  .changeset/curly-moose-confess.md
  packages/oas-utils/src/spec-getters/getExampleFromSchema.test.ts
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.test.ts
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.ts
Due: prettier, eslint

chore: remove parser release badge
  packages/openapi-types/README.md
Due: prettier

chore: remove parser release badge (#2956)
  packages/openapi-types/README.md
Due: prettier

feat: add “Check for Updates…” menu entry
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

docs(changeset): feat: add “Check for Updates…” menu entry
  .changeset/two-goats-jam.md
Due: prettier

chore: update @scalar/snippetz
  packages/api-reference/package.json
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: migrate snippetz to monorepo and and httpsnippet convert wrapper
  packages/api-reference/package.json
  packages/snippetz/CHANGELOG.md
  packages/snippetz/package.json
  packages/snippetz/rollup.config.ts
  packages/snippetz/src/core/index.ts
  packages/snippetz/src/core/types.ts
  packages/snippetz/src/core/utils/arrayToObject.ts
  packages/snippetz/src/core/utils/isKeyNeedsQuotes.ts
  packages/snippetz/src/core/utils/objectToString.ts
  packages/snippetz/src/index.ts
  packages/snippetz/src/plugins/js/fetch/fetch.test.ts
  packages/snippetz/src/plugins/js/fetch/fetch.ts
  packages/snippetz/src/plugins/js/fetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/index.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/js/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/fetch/fetch.test.ts
  packages/snippetz/src/plugins/node/fetch/fetch.ts
  packages/snippetz/src/plugins/node/fetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/index.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.test.ts
  packages/snippetz/src/plugins/node/ofetch/ofetch.ts
  packages/snippetz/src/plugins/node/undici/index.ts
  packages/snippetz/src/plugins/node/undici/undici.test.ts
  packages/snippetz/src/plugins/node/undici/undici.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
  packages/snippetz/tsconfig.build.json
  packages/snippetz/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: separate snippetz convert wrapper function
  packages/api-reference/src/helpers/getHarRequest.ts
  packages/api-reference/src/legacy/helpers/getRequestFromAuthentication.ts
  packages/api-reference/src/types.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
  scalar.config.json
Due: prettier, eslint

chore: add scalar config json back in
  scalar.config.json
Due: prettier

chore: remove convert method
  packages/snippetz/src/snippetz.ts
Due: prettier, eslint

feat: snippetz convert function
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/snippetz/src/snippetz.test.ts
  packages/snippetz/src/snippetz.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: example
  packages/nextjs-openapi/src/openapi.ts
Due: prettier, eslint

fix: readme
  packages/nextjs-openapi/README.md
Due: prettier

chore: change port
  examples/web/src/pages/StartPage.vue
  packages/nextjs-openapi/package.json
Due: prettier, eslint

docs(changeset): feat(nextjs-openapi): added next.js openapi generation integration
  .changeset/hungry-mirrors-impress.md
Due: prettier

chore: added next.js to dev script
  package.json
Due: prettier

deleted
  packages/nextjs-openapi/README.md
  packages/nextjs-openapi/package.json
  packages/nextjs-openapi/rollup.config.ts
  packages/nextjs-openapi/src/index.ts
  packages/nextjs-openapi/src/openapi.ts
  packages/nextjs-openapi/src/path.ts
  packages/nextjs-openapi/tsconfig.build.json
  packages/nextjs-openapi/tsconfig.json
Due: prettier, eslint

feat: re-added
  packages/nextjs-openapi/README.md
  packages/nextjs-openapi/package.json
  packages/nextjs-openapi/playground/app/api/characters/[id]/route.ts
  packages/nextjs-openapi/playground/app/api/openapi/[[...slug]]/route.ts
  packages/nextjs-openapi/playground/app/favicon.ico
  packages/nextjs-openapi/playground/next-env.d.ts
  packages/nextjs-openapi/playground/next.config.mjs
  packages/nextjs-openapi/playground/public/next.svg
  packages/nextjs-openapi/playground/public/vercel.svg
  packages/nextjs-openapi/playground/tsconfig.json
  packages/nextjs-openapi/rollup.config.ts
  packages/nextjs-openapi/src/index.ts
  packages/nextjs-openapi/src/openapi.ts
  packages/nextjs-openapi/src/path.ts
  packages/nextjs-openapi/tsconfig.build.json
  packages/nextjs-openapi/tsconfig.json
Due: prettier, eslint

chore: remove extras
  .gitignore
  packages/nextjs-openapi/src/openapi.ts
  packages/nextjs-openapi/src/path.ts
Due: prettier, eslint

fix: add slash prefixing to path
  packages/nextjs-openapi/src/openapi.ts
Due: prettier, eslint

feat(api-client-app): check for updates (#2957)
  .changeset/two-goats-jam.md
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

fix: typescript
  packages/nextjs-openapi/src/path.ts
  packages/ts-to-openapi/src/responses.ts
Due: prettier, eslint

chore: change to ts file
  packages/nextjs-openapi/playground/next.config.mjs
  packages/nextjs-openapi/playground/next.config.ts
Due: prettier, eslint

fix(api-client): set active server url in example
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

fix(api-client): strip variable from function name and cta
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

docs(changeset): fix: strip variable from functio name and cta
  .changeset/nasty-bats-mate.md
Due: prettier

feat(code-highlight): don't force markdown paragraph color
  packages/code-highlight/src/css/markdown.css
Due: prettier

docs(changeset): feat(code-highlight): don't force markdown paragraph color
  .changeset/funny-colts-invent.md
Due: prettier

fix: update webhook collapse spacing
  packages/api-reference/src/components/Content/Models/Models.vue
  packages/api-reference/src/components/Content/Webhooks/Webhook.vue
  packages/api-reference/src/components/Content/Webhooks/Webhooks.vue
  packages/api-reference/src/components/Section/CompactSection.vue
Due: prettier, eslint

fix(api-client): environment wording (#2966)
  .changeset/nasty-bats-mate.md
  packages/api-client/src/views/Environment/Environment.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
