Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): fix(api-reference): add .introduction-section class to Introduction
  .changeset/spotty-meals-report.md
Due: prettier

fix(api-reference): add `.introduction-section` class to Introduction (#4552)
  .changeset/spotty-meals-report.md
  packages/api-reference/src/components/Content/Introduction/Introduction.test.ts
  packages/api-reference/src/components/Content/Introduction/Introduction.vue
Due: prettier, eslint

fix: HiddenClients
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Enums/ScalarClient.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Enums/ScalarTarget.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: none

fix: HiddenClients
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
Due: none

fix: looping on index
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

docs(changeset): fix: add back in using index as a key in a couple places
  .changeset/brave-boxes-jog.md
Due: prettier

docs(changeset): fix: HiddenClients behavior and add missing clients and targets
  .changeset/fluffy-insects-protect.md
Due: prettier

fix(api-client): add back index to template loop (#4553)
  .changeset/brave-boxes-jog.md
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

feat(api-client): query parameters array support (#4512)
  .changeset/clean-planets-fly.md
  packages/api-client/src/components/DataTable/DataTableInputSelect.vue
  packages/api-client/src/libs/send-request/create-fetch-query-params.test.ts
  packages/api-client/src/libs/send-request/send-request.ts
Due: prettier, eslint

fix(Scalar.AspNetCore): HiddenClients configuration behavior (#4554)
  .changeset/fluffy-insects-protect.md
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Enums/ScalarClient.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Enums/ScalarTarget.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Extensions/ScalarEndpointRouteBuilderExtensions.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/Mapper/ScalarOptionsMapper.cs
  packages/scalar.aspnetcore/src/Scalar.AspNetCore/ScalarConfiguration.cs
  packages/scalar.aspnetcore/tests/Scalar.AspNetCore.Tests/ScalarOptionsMapperTests.cs
Due: prettier

RELEASING: Releasing 12 package(s) (#4555)
  .changeset/brave-boxes-jog.md
  .changeset/clean-planets-fly.md
  .changeset/fluffy-insects-protect.md
  integrations/docusaurus/CHANGELOG.md
  integrations/docusaurus/package.json
  integrations/nuxt/CHANGELOG.md
  integrations/nuxt/package.json
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
  packages/scalar-app/CHANGELOG.md
  packages/scalar-app/package.json
  packages/scalar.aspnetcore/CHANGELOG.md
  packages/scalar.aspnetcore/package.json
Due: prettier

feat(api-client): favors scalar popover component for address bar server
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/AddressBar/AddressBarServerItem.vue
  packages/api-client/src/components/Server/ServerVariablesTextbox.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
Due: prettier, eslint

upt
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
Due: prettier, eslint

docs(changeset): feat: revamps address bar server menu
  .changeset/lovely-trains-shout.md
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
Due: prettier, eslint

feat(components): add ScalarFloatingBackdrop component
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownMenu.vue
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/ScalarFloatingBackdrop.vue
  packages/components/src/components/ScalarFloating/index.ts
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarPopover/ScalarPopover.stories.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
  packages/components/src/components/ScalarPopover/types.ts
Due: prettier, eslint

refactor(components): provide offset control as a prop on ScalarFloating
  packages/components/src/components/ScalarFloating/ScalarFloating.stories.ts
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/types.ts
Due: prettier, eslint

feat(api-client): update server dropdown interactions and a11y
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/AddressBar/AddressBarServerItem.vue
  packages/api-client/tailwind.config.ts
Due: prettier, eslint

feat: update address bar history to use Scalar floating
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
Due: prettier, eslint

docs(components): update components readme
  packages/components/.storybook/main.ts
  packages/components/.storybook/preview.css
  packages/components/README.md
  packages/components/src/docs/Introduction.mdx
  packages/themes/README.md
Due: prettier, eslint

docs(changeset): docs(components): update components readme
  .changeset/warm-dolphins-change.md
Due: prettier

docs(changeset): docs(themes): update themes readme
  .changeset/great-rabbits-drum.md
Due: prettier

feat(themes): add scalar danger color
  packages/components/src/components/ScalarButton/ScalarButton.stories.ts
  packages/components/src/components/ScalarButton/variants.ts
  packages/themes/src/presets/default.css
  packages/themes/src/tailwind.ts
Due: prettier, eslint

docs(changeset): feat(themes): add scalar danger color
  .changeset/moody-jeans-pull.md
Due: prettier

chore: format mdx file
  packages/components/src/docs/Introduction.mdx
Due: none

fix(api-client): updates address bar server ui
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/AddressBar/AddressBarServerItem.vue
  packages/api-client/src/components/Server/ServerVariablesSelect.vue
  packages/components/src/components/ScalarFloating/ScalarFloatingBackdrop.vue
  packages/themes/src/variables.css
Due: prettier, eslint

fix(components): removes listbox margin
  packages/components/src/components/ScalarListbox/ScalarListbox.vue
  packages/components/src/components/ScalarListbox/ScalarListboxItem.vue
Due: prettier, eslint

docs(changeset): fix: removes listbox margin
  .changeset/metal-phones-burn.md
Due: prettier

chore: remove dedupe vue, because it doesn’t have vue anyway
  packages/oas-utils/vite.config.ts
Due: prettier, eslint

fix: server variables have ‘default’ as the default value
  packages/oas-utils/src/entities/spec/server.ts
Due: prettier, eslint

chore: use import alias
  packages/oas-utils/src/entities/spec/server.ts
Due: prettier, eslint

docs: add baseServerURL
  documentation/configuration.md
Due: prettier

refactor: server schema to adhere to the OpenAPI specification more
  packages/oas-utils/src/entities/spec/server.ts
Due: prettier, eslint

test: getServersFromOpenApiDocument
  packages/oas-utils/src/transforms/import-spec.test.ts
Due: prettier, eslint

docs(changeset): feat: rewmove custom Server type
  .changeset/three-nails-remember.md
Due: prettier

docs(changeset): refactor: better handle servers
  .changeset/smart-rice-breathe.md
Due: prettier

chore: remove custom Server type
  packages/types/src/legacy/reference-config.ts
Due: prettier, eslint

refactor: move servers logic to a separate function
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

test: server schema
  packages/oas-utils/src/entities/spec/server.test.ts
Due: prettier, eslint

Update packages/oas-utils/src/transforms/import-spec.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
