Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

docs: document AsyncAPI bindings and newly-rendered fields
  documentation/asyncapi.md
Due: prettier

chore(api-reference): drop unused exports to satisfy knip
  packages/api-reference/src/components/Content/AsyncApi/helpers/format-async-api-bindings.ts
Due: prettier, biome

docs(api-reference): correct AsyncAPI security scope comment
  packages/api-reference/src/components/Content/AsyncApi/helpers/get-async-api-required-security.ts
Due: prettier, biome

fix(api-reference): skip nullish AsyncAPI binding values instead of rendering 'null'
  packages/api-reference/src/components/Content/AsyncApi/helpers/format-async-api-bindings.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/format-async-api-bindings.ts
Due: prettier, biome

refactor(api-reference): share AsyncAPI section-title style, drop redundant reply guard
  packages/api-reference/src/components/Content/AsyncApi/AsyncApiBindings.vue
  packages/api-reference/src/components/Content/AsyncApi/AsyncApiOperationReply.vue
  packages/api-reference/src/components/Content/AsyncApi/AsyncApiSectionTitle.vue
Due: prettier, biome

fix(api-reference): skip null AsyncAPI example payloads and stabilize example keys
  packages/api-reference/src/components/Content/AsyncApi/Message.test.ts
  packages/api-reference/src/components/Content/AsyncApi/Message.vue
Due: prettier, biome

fix(api-reference): guard AsyncAPI scopes against non-string values
  packages/api-reference/src/components/Content/AsyncApi/Message.vue
  packages/api-reference/src/components/Content/AsyncApi/helpers/get-async-api-required-security.test.ts
  packages/api-reference/src/components/Content/AsyncApi/helpers/get-async-api-required-security.ts
Due: prettier, biome

refactor(json-magic): resolve $dynamicRef inside the magic proxy
  .changeset/dynamic-anchor-nested.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  packages/workspace-store/src/schemas/v3.1/openapi/dynamic-ref.test.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(json-magic): thread childScope into $dynamicRef-value and make it get-only
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

Revert "fix(api-client): respect per-operation security in the auth dropdown …"
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

fix(api-client): let the test client attach any auth scheme
  .changeset/wise-auth-schemes-return.md
  packages/api-client/src/v2/blocks/request-block/RequestBlock.test.ts
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
Due: prettier, biome

fix(json-magic): scope-key the proxy cache so recursive $dynamicRef terminates
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): collect $dynamicAnchor under unevaluated/additional/content applicators
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

refactor(json-magic): export the $dynamicRef-value key as one source of truth
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

perf(json-magic): probe for $dynamicRef lazily instead of on every proxy
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

docs(json-magic): clarify collectDynamicAnchors sibling-$ref dereferencing
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

Revert "fix(api-client): respect per-operation security in the auth dropdown …" (#9637)
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/security-scheme.ts
Due: prettier, biome

fix(workspace-store): keep $ref-value optional in the reference() helper
  packages/workspace-store/src/helpers/get-resolved-ref-deep.ts
  packages/workspace-store/src/schemas/v3.1/strict/reference.ts
Due: prettier, biome

test(workspace-store): cover unresolved $ref preservation through coercion
  packages/workspace-store/src/schemas/v3.1/strict/reference.test.ts
  packages/workspace-store/src/schemas/v3.1/strict/responses.test.ts
Due: prettier, biome

chore: add changeset
  .changeset/optional-reference-ref-value.md
Due: prettier

fix(workspace-store): match mergeSecurity AsyncAPI type to the generated schema
  packages/types/src/asyncapi/3.1/index.ts
  packages/workspace-store/src/request-example/context/security/merge-security.ts
Due: prettier, biome

docs(agents): update AGENTS.md (#9633)
  AGENTS.md
Due: prettier

@ feat(api-reference): expose global auth state to plugins
  .changeset/plugin-auth-state.md
  documentation/plugins.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/RenderPlugins/RenderPlugins.test.ts
  packages/api-reference/src/plugins/index.ts
  packages/api-reference/src/plugins/plugin-manager.test.ts
  packages/api-reference/src/plugins/plugin-manager.ts
  packages/api-reference/src/plugins/posthog/posthog-plugin.test.ts
  packages/schemas/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/index.ts
  packages/types/src/api-reference/types.ts
Due: prettier, biome

fix(dotnet): pin Microsoft.OpenApi to patched 2.7.5
  integrations/dotnet/Directory.Packages.props
Due: none

chore(dotnet): remove comments
  integrations/dotnet/Directory.Packages.props
Due: none

test(api-reference): add SSR hydration regression test for #4458
  .changeset/blue-bars-admire.md
  packages/api-reference/src/components/ApiReference.hydration.test.ts
Due: prettier, biome

fix(dotnet): pin patched Microsoft.OpenApi per project instead of globally
  integrations/dotnet/Directory.Packages.props
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Microsoft/Scalar.AspNetCore.Microsoft.csproj
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Swashbuckle/Scalar.AspNetCore.Swashbuckle.csproj
Due: none

docs(components): Add grid component docs
  documentation/guides/docs/components/grid.mdx
  documentation/guides/docs/components/row.mdx
  scalar.config.json
Due: prettier, biome

chore(dotnet): remove comments
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Microsoft/Scalar.AspNetCore.Microsoft.csproj
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Swashbuckle/Scalar.AspNetCore.Swashbuckle.csproj
Due: none

docs: document GitHub authentication and access scope
  documentation/guides/docs/content/github.md
  scalar.config.json
Due: prettier, biome

docs: move GitHub page into new Integrations group
  documentation/guides/docs/integrations/github.md
  scalar.config.json
Due: prettier, biome

docs: trim GitHub page
  documentation/guides/docs/integrations/github.md
Due: prettier

ci: upload Playwright reports to Netlify only on failure
  .github/workflows/pr.yml
Due: prettier

ci: bump relative-ci and playwright-report-summary to Node 24 releases
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: prettier

fix(dotnet): pin Microsoft.OpenApi to patched 2.7.5 (#9640)
  integrations/dotnet/Directory.Packages.props
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Microsoft/Scalar.AspNetCore.Microsoft.csproj
  integrations/dotnet/aspnetcore/src/Scalar.AspNetCore.Swashbuckle/Scalar.AspNetCore.Swashbuckle.csproj
Due: none

test(scalar-app): fix flaky get-exchange-token test by mocking the right module
  projects/scalar-app/entrypoints/electron/main/actions/get-exchange-token.test.ts
Due: prettier, biome

fix(api-reference): scroll to response properties on deep link
  .changeset/fix-response-deep-links.md
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/helpers/id-routing.test.ts
  packages/api-reference/src/helpers/id-routing.ts
  packages/api-reference/test/features/response-linking.e2e.ts
Due: prettier, biome

fix(api-reference): link response properties in collapsed responses
  .changeset/fix-collapsed-response-anchors.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/features/Operation/components/ParameterListItem.vue
  packages/api-reference/test/features/response-linking.e2e.ts
Due: prettier, biome

ci: build playwright-runner image with Chromium only
  tooling/scripts/src/commands/playwright-docker/Dockerfile
  tooling/scripts/src/commands/playwright-docker/DockerfileRunner
Due: none

refactor(api-reference): scan for schema markers without a regex
  packages/api-reference/src/helpers/id-routing.ts
Due: prettier, biome
