Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix(snippetz): guard python3 request url type
  packages/snippetz/src/plugins/python/python3/python3.ts
Due: prettier, biome

fix: plugin api has a few issues
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
Due: prettier, biome

fix: TS errors
  packages/oas-utils/src/helpers/client-plugins.ts
Due: prettier, biome

chore: nitpick in the comments
  packages/types/src/api-reference/base-configuration.ts
Due: prettier, biome

test: plugin life cycle
  packages/api-reference/src/plugins/posthog/posthog-plugin.test.ts
Due: prettier, biome

chore: code style
  packages/api-client/src/plugins/posthog/posthog-plugin.test.ts
  packages/api-reference/src/plugins/posthog/index.ts
  packages/api-reference/src/plugins/posthog/posthog-plugin.test.ts
Due: prettier, biome

chore: restore telemetry option for the api client app
  packages/api-client/src/v2/features/app/helpers/create-api-client-app.ts
Due: prettier, biome

chore: format
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
Due: prettier, biome

test(proxy-scalar-com): add self-proxy scalar_url regression
  projects/proxy-scalar-com/main_test.go
Due: none

docs(changeset): refactor: move telemetry to an optional plugin
  .changeset/brown-eels-beam.md
Due: prettier

feat(api-reference, api-client): add optional posthog plugins (#8810)
  .changeset/brown-eels-beam.md
  documentation/configuration.md
  documentation/plugins.md
  knip.jsonc
  packages/api-client/package.json
  packages/api-client/src/plugins/posthog/README.md
  packages/api-client/src/plugins/posthog/index.ts
  packages/api-client/src/plugins/posthog/posthog-plugin.test.ts
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/modal/helpers/create-api-client-modal.ts
  packages/api-client/src/v2/posthog.ts
  packages/api-reference/package.json
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/RenderPlugins/RenderPlugins.test.ts
  packages/api-reference/src/plugins/plugin-manager.test.ts
  packages/api-reference/src/plugins/plugin-manager.ts
  packages/api-reference/src/plugins/posthog/README.md
  packages/api-reference/src/plugins/posthog/index.ts
  packages/api-reference/src/plugins/posthog/posthog-plugin.test.ts
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/base-configuration.ts
  packages/types/src/api-reference/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

refactor(integrations): use client-side rendering package
  .changeset/fair-mangos-tickle.md
  integrations/astro/package.json
  integrations/astro/src/ScalarComponent.astro
  integrations/express/package.json
  integrations/express/src/apiReference.ts
  integrations/express/src/types.ts
  integrations/fastify/package.json
  integrations/fastify/src/fastifyApiReference.ts
  integrations/fastify/src/types.ts
  integrations/hono/package.json
  integrations/hono/src/scalar.ts
  integrations/hono/src/types.ts
  integrations/nestjs/package.json
  integrations/nestjs/src/nestJSApiReference.ts
  integrations/nestjs/src/types.ts
  integrations/nextjs/package.json
  integrations/nextjs/src/ApiReference.ts
  integrations/nextjs/src/types.ts
  integrations/nextjs/test/ApiReference.test.ts
  integrations/sveltekit/package.json
  integrations/sveltekit/src/scalar-api-reference.ts
  integrations/sveltekit/src/types.ts
Due: prettier, biome

chore(lockfile): sync integration dependency changes
  pnpm-lock.yaml
Due: packages-format, prettier

style(fastify): apply biome formatting for html response
  integrations/fastify/src/fastifyApiReference.ts
Due: prettier, biome

test(proxy-scalar-com): cover nested self-referential scalar_url chain
  projects/proxy-scalar-com/main_test.go
Due: none

refactor(snippetz): replace c libcurl legacy converter
  .changeset/chilly-lobsters-wave.md
  packages/snippetz/src/httpsnippet-lite/targets/c/libcurl/client.ts
  packages/snippetz/src/plugins/c/libcurl/libcurl.test.ts
  packages/snippetz/src/plugins/c/libcurl/libcurl.ts
Due: prettier, biome

test(snippetz): align libcurl json escaping assertion
  packages/snippetz/src/plugins/c/libcurl/libcurl.test.ts
Due: prettier, biome

fix(server-side-rendering): preserve function hydration config
  .changeset/fair-lobsters-turn.md
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

test(api-client): update libcurl invalid-url snapshot
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/get-snippet.test.ts
Due: prettier, biome

refactor(integrations): consume types from client-side-rendering
  integrations/astro/package.json
  integrations/astro/src/ScalarComponent.astro
  integrations/express/package.json
  integrations/express/src/types.ts
  integrations/fastify/package.json
  integrations/fastify/src/types.ts
  integrations/hono/package.json
  integrations/hono/src/types.ts
  integrations/nestjs/package.json
  integrations/nestjs/src/types.ts
  integrations/nextjs/package.json
  integrations/nextjs/src/types.ts
  integrations/sveltekit/package.json
  integrations/sveltekit/src/types.ts
  packages/client-side-rendering/src/html-rendering.ts
  packages/client-side-rendering/src/index.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix: escape functions for inline scripts
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

fix: TS errors
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

support custorm request handlers
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.ts
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/oas-utils/src/helpers/index.ts
Due: prettier, biome

fix the type
  packages/oas-utils/src/helpers/client-plugins.ts
Due: prettier, biome

add docuemntation
  documentation/guides/app/plugins.md
  packages/api-client/README.md
  scalar.config.json
Due: prettier, biome

fix formatting
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.ts
Due: prettier, biome

fix linting
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.ts
Due: prettier, biome

add docs
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.ts
Due: prettier, biome

fix formatting
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.ts
  packages/oas-utils/src/helpers/client-plugins.ts
Due: prettier, biome

docs(changeset): feat: add plugin support for custom response body content types
  .changeset/crisp-windows-slide.md
Due: prettier

fix formatting
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.test.ts
Due: prettier, biome

docs: move api client plugins docs to api reference
  documentation/guides/app/plugins.md
  documentation/plugins.md
  scalar.config.json
Due: prettier, biome

fix(server-side-rendering): escape dynamic hydration property keys
  .changeset/soft-pears-protect.md
  packages/server-side-rendering/src/ssr.test.ts
  packages/server-side-rendering/src/ssr.ts
Due: prettier, biome

fix(api-client): align response MIME fallback for plugins
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
  packages/api-client/src/v2/blocks/response-block/helpers/process-response-body.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/process-response-body.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-content-type.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-content-type.ts
Due: prettier, biome

refactor(snippetz): use shared plugin configuration in libcurl
  .changeset/calm-cougars-check.md
  packages/snippetz/src/plugins/c/libcurl/libcurl.ts
Due: prettier, biome

feat(api-reference): add side-effect-free standalone esm entry
  .changeset/forty-tables-lie.md
  packages/api-reference/README.md
  packages/api-reference/package.json
  packages/api-reference/src/standalone-esm.ts
  packages/api-reference/src/standalone.ts
  packages/api-reference/vite.standalone.config.ts
Due: prettier, biome

feat(api-client): add plugin support for custom response body content types (#8865)
  .changeset/crisp-windows-slide.md
  documentation/plugins.md
  packages/api-client/README.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/decode-buffer.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
  packages/api-client/src/v2/blocks/response-block/helpers/process-response-body.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/process-response-body.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-body-handler.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-content-type.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/resolve-response-content-type.ts
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/oas-utils/src/helpers/index.ts
Due: prettier, biome

test(proxy-scalar-com): cover self-proxy scalar_url behavior (#8872)
  projects/proxy-scalar-com/main_test.go
Due: none

fix(nuxt): remove unnecessary optimizeDeps configuration
  integrations/nuxt/playground/nuxt.config.ts
  integrations/nuxt/src/module.ts
Due: prettier, biome

chore: add changeset
  .changeset/fix-nuxt-remove-optimizedeps.md
Due: prettier

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
