Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: add express to toc
  README.md
Due: prettier

chore: update example title
  projects/express-api-reference/src/index.ts
Due: prettier, eslint

chore: format peer deps
  packages/express-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: use summary instead of operationId (#500)
  .changeset/calm-bats-flash.md
  packages/swagger-parser/src/helpers/parse.ts
Due: prettier, eslint

RELEASING: Releasing 5 package(s) (#494)
  .changeset/afraid-carpets-watch.md
  .changeset/breezy-impalas-run.md
  .changeset/calm-bats-flash.md
  .changeset/hot-coins-do.md
  .changeset/strange-baboons-marry.md
  .changeset/swift-peaches-hear.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/swagger-parser/CHANGELOG.md
  packages/swagger-parser/package.json
  projects/ssg/CHANGELOG.md
  projects/ssg/package.json
Due: prettier

chore: merged pnpm-lock
  pnpm-lock.yaml
Due: package_format, prettier

feat: middleware for Express (#503)
  .changeset/wet-jars-dream.md
  README.md
  packages/api-client-proxy/package.json
  packages/echo-server/package.json
  packages/express-api-reference/README.md
  packages/express-api-reference/package.json
  packages/express-api-reference/src/expressApiReference.ts
  packages/express-api-reference/src/index.ts
  packages/express-api-reference/test/index.test.ts
  packages/express-api-reference/tsconfig.json
  packages/express-api-reference/vitest.config.ts
  pnpm-lock.yaml
  projects/express-api-reference/package.json
  projects/express-api-reference/src/index.ts
  projects/express-api-reference/vite.config.ts
  scripts/dev.sh
Due: package_format, prettier, eslint

chore: merged
  pnpm-lock.yaml
Due: package_format, prettier

style: custom Fastify theme (#501)
  .changeset/selfish-candles-dress.md
  packages/fastify-api-reference/README.md
  packages/fastify-api-reference/src/templates/index.ejs
  packages/themes/README.md
  projects/fastify-api-reference/src/index.ts
Due: prettier, eslint

RELEASING: Releasing 2 package(s) (#505)
  .changeset/selfish-candles-dress.md
  .changeset/wet-jars-dream.md
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
Due: prettier

chore: remove babel
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: don’t use the operationId as a fallback for the name
  packages/swagger-parser/src/helpers/parse.ts
Due: prettier, eslint

docs(changeset): chore: don’t use the operationId as a name fallback
  .changeset/tricky-birds-give.md
Due: prettier

chore: do not use the operationId as name (#507)
  .changeset/tricky-birds-give.md
  packages/swagger-parser/src/helpers/parse.ts
Due: prettier, eslint

feat: expose searchmodal events and showSearchModal config option
  packages/api-reference/src/components/ApiReferenceBase.vue
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/SearchModal.vue
  packages/api-reference/src/types.ts
Due: prettier, eslint

docs(changeset): feat: expose searchmodal events and showSearchModal config option
  .changeset/smart-bulldogs-enjoy.md
Due: prettier

chore: remove babel (#504)
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

feat: add support for models with allOf, anyOf, oneOf … (#502)
  .changeset/red-poets-lie.md
  packages/api-reference/src/components/Content/Schema.vue
Due: prettier, eslint

RELEASING: Releasing 6 package(s) (#508)
  .changeset/red-poets-lie.md
  .changeset/tricky-birds-give.md
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/swagger-parser/CHANGELOG.md
  packages/swagger-parser/package.json
  projects/ssg/CHANGELOG.md
  projects/ssg/package.json
Due: prettier

feat(SearchModal): extend search with models
  packages/api-reference/src/components/SearchModal.vue
Due: prettier, eslint

fix: remove empty content update (#479)
  .changeset/strange-dogs-hope.md
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorInput.vue
Due: prettier, eslint

chore: externalize some dependencies to optimize bundle size
  packages/swagger-editor/package.json
  packages/swagger-editor/vite.config.ts
Due: prettier, eslint

docs(changeset): chore: externalize dependencies, optimize bundle size
  .changeset/cyan-news-tell.md
Due: prettier

feat(SearchModal): extend search with models (#511)
  packages/api-reference/src/components/SearchModal.vue
Due: prettier, eslint

chore: add swagger url example
  packages/express-api-reference/README.md
Due: prettier

chore: fix linter warnings
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Authentication/SecurityScheme.vue
  packages/api-reference/src/helpers/getRequestFromOperation.ts
  packages/api-reference/src/stories/ExampleRequest.stories.ts
Due: prettier, eslint

fix: api-references storybook setup
  package.json
  packages/api-client-proxy/package.json
  packages/api-client/package.json
  packages/api-reference/.storybook/main.ts
  packages/api-reference/.storybook/preview.css
  packages/api-reference/.storybook/preview.ts
  packages/api-reference/package.json
  packages/api-reference/src/stories/Card.stories.ts
  packages/api-reference/src/stories/CardContent.stories.ts
  packages/components/package.json
  packages/echo-server/package.json
  packages/express-api-reference/package.json
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/package.json
  packages/swagger-editor/package.json
  packages/swagger-parser/package.json
  packages/themes/package.json
  packages/use-clipboard/package.json
  packages/use-codemirror/package.json
  packages/use-keyboard-event/package.json
  packages/use-modal/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  pnpm-lock.yaml
  projects/api-client-proxy/package.json
  projects/backend/package.json
  projects/echo-server/package.json
  projects/fastify-api-reference/package.json
  projects/react/package.json
  projects/ssg/package.json
  projects/web/package.json
Due: package_format, prettier, eslint

chore: add a MarkdownRenderer story
  packages/api-reference/src/stories/MarkdownRenderer.stories.ts
Due: prettier, eslint

chore: add storybook to dev command
  scripts/dev.sh
Due: none

chore: add storybook for the component library to the startup script
  packages/api-reference/package.json
  packages/components/package.json
  scripts/dev.sh
Due: prettier

chore: run prettier
  README.md
  packages/api-client/src/components/ApiClient/AddressBar.vue
  packages/api-client/src/components/ApiClient/RequestMethodSelect.vue
  packages/api-reference/index.html
  packages/api-reference/src/components/Content/Introduction/ClientSelector.vue
  packages/api-reference/src/components/Content/Introduction/ServerList.vue
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.vue
  packages/api-reference/src/components/FlowLoader.vue
  packages/components/src/components/ScalarButton/ScalarButton.vue
  packages/components/src/components/ScalarLoading/ScalarLoading.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/express-api-reference/src/expressApiReference.ts
  packages/swagger-editor/src/components/FlowLoader.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditor.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorGettingStarted.vue
  packages/swagger-editor/src/components/SwaggerEditor/SwaggerEditorHeader.vue
  projects/react/index.html
  projects/ssg/index.html
  projects/web/index.html
Due: prettier, eslint

chore: remove legacy file
  packages/api-reference/scalar.json
  packages/api-reference/swagger.json
  packages/fastify-api-reference/exports.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  projects/fastify-api-reference/src/scalar.json
  projects/fastify-api-reference/src/swagger.json
  projects/web/scalar.json
  projects/web/swagger.json
Due: prettier, eslint

chore: rename files
  packages/fastify-api-reference/exports.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
Due: prettier, eslint

chore: remove legacy file (#518)
  packages/api-reference/scalar.json
  packages/api-reference/swagger.json
  packages/fastify-api-reference/exports.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  projects/fastify-api-reference/src/scalar.json
  projects/fastify-api-reference/src/swagger.json
  projects/web/scalar.json
  projects/web/swagger.json
Due: prettier, eslint

chore: add swagger url example (#516)
  packages/express-api-reference/README.md
Due: prettier

fix: test
  packages/components/src/components/ScalarIconButton/ScalarIconButton.spec.ts
Due: prettier, eslint

chore: move stories to components, add more stories
  packages/api-reference/src/components/Card/Card.stories.ts
  packages/api-reference/src/components/Card/CardContent.stories.ts
  packages/api-reference/src/components/Content/MarkdownRenderer.stories.ts
  packages/api-reference/src/components/Content/ReferenceEndpoint/ExampleRequest.stories.ts
  packages/api-reference/src/components/Content/Schema.stories.ts
  packages/api-reference/src/components/Content/Schema.vue
  packages/api-reference/src/components/Content/Spinner.stories.ts
  packages/api-reference/src/components/Section/Section.stories.ts
Due: prettier, eslint

chore: set default font family
  packages/api-reference/.storybook/preview.css
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
