Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore: one mroe convert
  packages/postman-to-openapi/src/convert.ts
Due: prettier, biome

fix(openapi-types): restore compat exports across dependents
  packages/api-client/src/components/Server/types.ts
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImportPostman.vue
  packages/api-client/src/views/Request/libs/watch-mode.ts
  packages/mock-server/src/create-mock-server.ts
  packages/mock-server/src/routes/mock-any-response.ts
  packages/mock-server/src/routes/mock-handler-response.ts
  packages/mock-server/src/utils/build-handler-context.ts
  packages/mock-server/src/utils/get-open-auth-token-urls.ts
  packages/mock-server/src/utils/log-authentication-instructions.ts
  packages/mock-server/src/utils/openapi-guards.ts
  packages/mock-server/src/utils/set-up-authentication-routes.ts
  packages/oas-utils/src/spec-getters/get-example-from-schema.ts
  packages/oas-utils/src/spec-getters/get-parameters-from-operation.ts
  packages/oas-utils/src/transforms/import-spec.ts
  packages/openapi-types/index.d.ts
Due: prettier, biome

fix: with deref
  packages/postman-to-openapi/src/helpers/auth.test.ts
  packages/postman-to-openapi/src/helpers/dereference.ts
  packages/postman-to-openapi/src/helpers/form-data.test.ts
  packages/postman-to-openapi/src/helpers/path-items.ts
Due: prettier, biome

chore: fixes
  packages/openapi-types/2.0/index.d.ts
  packages/openapi-upgrader/src/2.0-to-3.0/upgrade-from-two-to-three.ts
  packages/openapi-upgrader/src/upgrade.test.ts
  packages/openapi-upgrader/src/upgrade.ts
Due: prettier, biome

fix(openapi-types): include root index dts in publish files
  .changeset/few-plants-listen.md
  packages/openapi-types/package.json
Due: prettier, biome

fix: schemas
  packages/postman-to-openapi/src/helpers/schemas.ts
Due: prettier, biome

fix(openapi-parser): narrow test unions for strict documents
  packages/openapi-parser/src/utils/dereference.test.ts
  packages/openapi-parser/src/utils/upgrade.test.ts
Due: prettier, biome

fix(ci): resolve agent-chat document typing and formatting
  packages/agent-chat/src/registry/add-documents-to-store.ts
  packages/api-client/src/v2/features/command-palette/components/CommandPaletteImportPostman.vue
Due: prettier, biome

fix(mock-server): remove redundant security scheme guard
  .changeset/small-forks-cheer.md
  packages/mock-server/src/utils/set-up-authentication-routes.ts
Due: prettier, biome

fix: postman to openapi types
  packages/postman-to-openapi/src/helpers/form-data.test.ts
  packages/postman-to-openapi/src/helpers/get-operation-examples.ts
  packages/postman-to-openapi/src/helpers/merge-operation.test.ts
  packages/postman-to-openapi/src/helpers/merge-operation.ts
  packages/postman-to-openapi/src/helpers/parameters.test.ts
  packages/postman-to-openapi/src/helpers/parameters.ts
  packages/postman-to-openapi/src/helpers/path-items.test.ts
  packages/postman-to-openapi/src/helpers/prune-document.test.ts
  packages/postman-to-openapi/src/helpers/rename-operation-example.test.ts
  packages/postman-to-openapi/src/helpers/rename-operation-example.ts
  packages/postman-to-openapi/src/helpers/request-body.test.ts
  packages/postman-to-openapi/src/helpers/responses.test.ts
Due: prettier, biome

chore: fixed auth
  packages/postman-to-openapi/src/helpers/auth.ts
Due: prettier, biome

chore: updated
  packages/openapi-types/README.md
Due: prettier

fix(ci): resolve remaining type and validation regressions
  packages/api-client/src/components/Server/types.ts
  packages/mock-server/src/routes/mock-any-response.ts
  packages/mock-server/src/utils/get-open-auth-token-urls.ts
  packages/mock-server/src/utils/openapi-guards.ts
  packages/oas-utils/src/spec-getters/get-example-from-schema.ts
  packages/openapi-parser/src/utils/validate-path-parameters.test.ts
  packages/openapi-parser/src/utils/validate-path-parameters.ts
  packages/openapi-types/3.1/encoding.d.ts
  packages/openapi-types/index.d.ts
Due: prettier, biome

feat: added namespaced exports
  packages/openapi-types/2.0/index.d.ts
  packages/openapi-types/2.0/namespace.d.ts
  packages/openapi-types/3.0/index.d.ts
  packages/openapi-types/3.0/namespace.d.ts
  packages/openapi-types/3.1/index.d.ts
  packages/openapi-types/3.1/namespace.d.ts
  packages/openapi-types/3.2/index.d.ts
  packages/openapi-types/3.2/namespace.d.ts
  packages/openapi-types/namespace.d.ts
Due: prettier, biome

feat(api-client): handle request runner flow (#8737)
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/collection/components/Runner/components/Runner.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerCard.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerOrderItem.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerResultRow.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerResults.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerTree.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerTreeExample.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerTreeGroup.vue
  packages/api-client/src/v2/features/collection/components/Runner/components/RunnerTreeOperation.vue
  packages/api-client/src/v2/features/collection/components/Runner/hooks/index.ts
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-execution.test.ts
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-execution.ts
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-selection.test.ts
  packages/api-client/src/v2/features/collection/components/Runner/hooks/use-runner-selection.ts
  packages/api-client/src/v2/features/collection/components/Runner/index.ts
  packages/api-client/src/v2/features/collection/components/Tabs.test.ts
  packages/api-client/src/v2/features/collection/components/Tabs.vue
  packages/api-client/src/v2/helpers/safe-run.ts
  packages/helpers/src/formatters/format-milliseconds.test.ts
  packages/helpers/src/formatters/format-milliseconds.ts
  packages/pre-post-request-scripts/src/helpers/get-script.ts
  packages/pre-post-request-scripts/src/index.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.ts
  packages/workspace-store/src/request-example/context/get-request-example-context.ts
  packages/workspace-store/src/request-example/context/index.ts
  packages/workspace-store/src/request-example/index.ts
Due: prettier, biome

fix(void-server): set stream endpoint SSE content type (#8820)
  .changeset/thick-tips-cough.md
  packages/void-server/src/create-void-server.test.ts
  packages/void-server/src/utils/create-stream-response.ts
Due: prettier, biome

refactor(snippetz): migrate js axios plugin off httpsnippet-lite (#8818)
  .changeset/fresh-pears-wink.md
  packages/api-client/src/v2/blocks/operation-code-sample/helpers/generate-code-snippet.test.ts
  packages/snippetz/src/httpsnippet-lite/targets/javascript/axios/client.ts
  packages/snippetz/src/httpsnippet-lite/targets/node/axios/client.ts
  packages/snippetz/src/libs/javascript.test.ts
  packages/snippetz/src/libs/javascript.ts
  packages/snippetz/src/plugins/js/axios/axios.test.ts
  packages/snippetz/src/plugins/js/axios/axios.ts
  packages/snippetz/src/plugins/node/axios/axios.test.ts
  packages/snippetz/src/plugins/node/axios/axios.ts
  packages/snippetz/src/plugins/shared/axios.ts
Due: prettier, biome

docs: SSR (#8811)
  documentation/server-side-rendering.md
  packages/server-side-rendering/README.md
  scalar.config.json
Due: prettier, biome

fix(api-client): prevent address bar text from hiding under fade overlay while typing
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

docs(changeset): fix: prevent address bar text from hiding under fade overlay while typing
  .changeset/wild-pears-relax.md
Due: prettier

chore: removed old files
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/workspace-store/src/request-example/builder/header/filter-global-cookies.ts
  packages/workspace-store/src/request-example/builder/header/matches-domain.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(api-reference): preserve exploded array query params in test requests (#8791)
  .changeset/cuddly-tools-hug.md
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
Due: prettier, biome

fix(api-client): prevent address bar text from hiding under fade overlay while typing (#8823)
  .changeset/wild-pears-relax.md
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

fix(snippetz): deduplicate laravel php escaping helper
  .changeset/fair-bats-smell.md
  packages/snippetz/src/plugins/php/laravel/laravel.ts
Due: prettier, biome

update lock file
  pnpm-lock.yaml
Due: packages-format, prettier

add docs
  packages/workspace-store/src/request-example/builder/build-request.ts
Due: prettier, biome

fix(components): lazy load legacy scalar icon assets
  .changeset/old-paws-matter.md
  packages/components/src/components/ScalarIcon/ScalarIcon.vue
  packages/components/src/components/ScalarIcon/utils/index.ts
Due: prettier, biome

remove faker.js
  packages/workspace-store/package.json
  packages/workspace-store/src/request-example/functions.ts
  packages/workspace-store/src/request-example/random-data.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

add test cases
  packages/workspace-store/src/request-example/functions.test.ts
Due: prettier, biome

fix foramtting
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
  packages/workspace-store/src/request-example/functions.test.ts
  packages/workspace-store/src/request-example/functions.ts
  packages/workspace-store/src/request-example/index.ts
  packages/workspace-store/src/request-example/random-data.ts
Due: prettier, biome

fix(api-reference): prevent legacy icons from bloating standalone
  packages/api-client/package.json
  packages/api-client/src/components/OpenApiClientButton.ts
  packages/api-client/src/components/OpenApiClientButton.vue
  packages/api-reference/src/blocks/scalar-client-selector-block/components/ClientDropdown.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyDefault.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyExamples.vue
  packages/api-reference/src/features/Operation/components/Headers.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/components/src/components/ScalarIcon/utils/index.ts
  packages/components/src/components/ScalarIconButton/ScalarIconButton.test.ts
  packages/components/src/components/ScalarIconButton/ScalarIconButton.vue
Due: prettier, biome

fix tests
  packages/components/src/components/ScalarSidebar/findScrollContainer.ts
Due: prettier, biome

chore: groundwork for removal
  examples/ssg/package.json
  packages/api-client/src/v2/blocks/response-block/components/ResponseMetaInformation.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBarHistory.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/Content/Operations/TraversedEntry.test.ts
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/helpers/should-ignore-entity.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/has-response-content.ts
  packages/mock-server/package.json
  packages/mock-server/src/routes/mock-any-response.ts
  packages/mock-server/src/routes/mock-handler-response.ts
  packages/mock-server/src/utils/build-handler-context.ts
  packages/openapi-to-markdown/package.json
  packages/openapi-to-markdown/src/components/MarkdownReference.vue
  packages/openapi-to-markdown/src/components/XmlOrJson.vue
  packages/openapi-upgrader/src/upgrade.ts
  packages/workspace-store/src/schemas/extensions/security/x-use-pkce.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

revert(component): revert test
  packages/components/src/components/ScalarSidebar/findScrollContainer.ts
Due: prettier, biome

revert: revert lock file
  pnpm-lock.yaml
Due: packages-format, prettier

fix the problem in safari
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

docs(changeset): fix: run intersect for the top of the document
  .changeset/olive-crabs-mix.md
Due: prettier

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
