Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

fix: remove unused export
  packages/api-reference/src/components/AgentScalar/index.ts
Due: prettier, biome

fix: remove tooltip
  packages/api-reference/src/components/AgentScalar/AgentScalarTooltip.vue
Due: prettier, biome

fix: remove agent tooltip (#8017)
  .changeset/tricky-ants-argue.md
  packages/api-reference/src/components/AgentScalar/AgentScalarTooltip.vue
  packages/api-reference/src/components/AgentScalar/index.ts
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

fix(agent): clickout close events
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

docs(changeset): fix(agent): clickout close events
  .changeset/warm-areas-thank.md
Due: prettier

fix(agent): clickout close events (#8018)
  .changeset/warm-areas-thank.md
  packages/api-reference/src/components/AgentScalar/AgentScalarButton.vue
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

chore(agent): tweak info message copy
  packages/agent-chat/src/components/FreeMessagesInfoSection.vue
Due: prettier, biome

docs(changeset): chore(agent): tweak info message copy
  .changeset/hip-shoes-post.md
Due: prettier

chore(agent): tweak info message copy (#8020)
  .changeset/hip-shoes-post.md
  packages/agent-chat/src/components/FreeMessagesInfoSection.vue
Due: prettier, biome

Apply suggestions from code review
  .github/workflows/ci.yml
Due: prettier

ci: standardize quotes in GitHub Actions workflow for scalar configuration validation
  .github/workflows/validate-scalar-configuration.yaml
Due: prettier

docs: deploy multiple projects to the same domain
  documentation/guides/docs/configuration/scalar.config.json.md
Due: prettier

feat: use node 24 for the CLI
  .github/workflows/validate-scalar-configuration.yaml
  documentation/guides/cli/getting-started.md
  documentation/guides/docs/deployment/github-actions.md
  documentation/guides/registry/github-actions.md
  documentation/guides/registry/rules.md
  documentation/guides/registry/schemas.md
  documentation/integrations/aspnetcore/build-time-generation.md
Due: prettier

docs: update migration guide with CLI command
  documentation/guides/docs/configuration/migration.md
Due: prettier

chore: remove examples from actual config
  scalar.config.json
Due: prettier, biome

feat: ignore .scalar folder
  .gitignore
Due: none

fix: broken links to the redirects page
  documentation/migration/stoplight.md
  documentation/migration/zuplo.md
  scalar.config.json
Due: prettier, biome

docs: write about the scalar.config.json in general
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/scalar.config.json.md
  scalar.config.json
Due: prettier, biome

docs: add mdx page
  documentation/guides/docs/configuration/mdx.mdx
  scalar.config.json
Due: prettier, biome

docs: write something about navigation
  documentation/guides/docs/configuration/navigation.md
  documentation/guides/docs/configuration/redirects.md
  scalar.config.json
Due: prettier, biome

docs: add siteConfig page
  documentation/guides/docs/configuration/site.md
  scalar.config.json
Due: prettier, biome

docs: assets
  documentation/guides/docs/configuration/assets.md
  scalar.config.json
Due: prettier, biome

ci: update GitHub Actions workflow for scalar configuration validation
  .github/workflows/validate-scalar-configuration.yaml
Due: prettier

ci: add gha workflow
  .github/workflows/validate-scalar-configuration.yaml
Due: prettier

docs: write something about migrating from 1.0 to 2.0 (wip)
  documentation/guides/docs/configuration/migration.md
Due: prettier

ci: cancel in progress for PRs (#7999)
  .github/workflows/ci.yml
Due: prettier

refactor: move logic to component, add tests
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.vue
Due: prettier, biome

refactor: no stubs
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.test.ts
Due: prettier, biome

docs: headset icon for agent
  scalar.config.json
Due: prettier, biome

docs: headset icon for agent (#8023)
  scalar.config.json
Due: prettier, biome

chore(agent): slight tweak for agent docs
  documentation/guides/agent/getting-started.md
  scalar.config.json
Due: prettier, biome

fix: missing redirect
  scalar.config.json
Due: prettier, biome

feat(api-client): hide code snippets without clients (#7992)
  .changeset/tender-meteors-dress.md
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestCodeSnippet.vue
Due: prettier, biome

fix(api-reference): use flex-start instead of start for better browser support
  packages/api-reference/src/blocks/scalar-info-block/components/IntroductionCardItem.vue
Due: prettier, biome

chore: add changeset for autoprefixer fix
  .changeset/fix-autoprefixer-warning.md
Due: prettier

docs(changeset): feat(agent-chat): registry upload flow
  .changeset/soft-wasps-accept.md
  packages/agent-chat/package.json
  packages/agent-chat/src/App.vue
  packages/agent-chat/src/Chat.vue
  packages/agent-chat/src/components/ActionsDropdown.vue
  packages/agent-chat/src/entities/registry/document.ts
  packages/agent-chat/src/index.ts
  packages/agent-chat/src/state/state.ts
  packages/agent-chat/src/views/Catalog/Catalog.vue
  packages/agent-chat/src/views/Chat/Chat.vue
  packages/agent-chat/src/views/Layout.vue
  packages/agent-chat/src/views/PromptForm.vue
  packages/agent-chat/src/views/Start.vue
Due: prettier, biome

feat: clean-up
  packages/agent-chat/src/App.vue
  packages/agent-chat/src/components/ActionsDropdown.vue
  packages/agent-chat/src/state/state.ts
Due: prettier, biome

chore: type
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
Due: prettier, biome

feat: trying something
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/convert-security-scheme-secrets.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/convert-security-scheme-secrets.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/extract-security-scheme-secrets.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/merge-auth-config.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/merge-auth-config.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/merge-security.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/secret-types.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/index.ts
  packages/api-client/src/v2/features/app/helpers/routes.ts
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/workspace-store/esbuild.ts
  packages/workspace-store/package.json
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/entities/auth/index.ts
  packages/workspace-store/src/entities/auth/schema.ts
  packages/workspace-store/src/entities/history/index.ts
  packages/workspace-store/src/entities/history/schema.ts
  packages/workspace-store/src/events/definitions/auth.ts
  packages/workspace-store/src/mutators/auth.test.ts
  packages/workspace-store/src/mutators/auth.ts
  packages/workspace-store/src/mutators/index.ts
  packages/workspace-store/src/mutators/operation.test.ts
  packages/workspace-store/src/mutators/operation.ts
  packages/workspace-store/src/persistence/index.test.ts
  packages/workspace-store/src/persistence/index.ts
  packages/workspace-store/src/plugins/client/persistence.ts
  packages/workspace-store/src/schemas/inmemory-workspace.ts
  packages/workspace-store/src/schemas/typebox-coerce.test.ts
  packages/workspace-store/src/schemas/v3.1/strict/oauth-flow.ts
  packages/workspace-store/src/schemas/v3.1/strict/openapi-document.ts
  packages/workspace-store/src/schemas/v3.1/strict/operation.ts
  packages/workspace-store/src/schemas/v3.1/strict/ref-definitions.ts
  packages/workspace-store/src/schemas/v3.1/strict/security-scheme.test.ts
  packages/workspace-store/src/schemas/v3.1/strict/security-scheme.ts
  packages/workspace-store/src/workspace-plugin.ts
Due: prettier, biome
