Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

docs(changeset): fix: import modal shows for any URL
  .changeset/sharp-clouds-sneeze.md
Due: prettier

fix: doesn’t reply with xml header
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/createXmlResponse.ts
Due: prettier, eslint

docs(changeset): fix: doesn’t reply with xml header
  .changeset/green-nails-argue.md
Due: prettier

test: http headers for openapi endpoints
  packages/mock-server/tests/openapi.test.ts
Due: prettier, eslint

fix: openapi endpoints don’t have a YAML content type header
  packages/mock-server/src/routes/respondWithOpenApiDocument.ts
  packages/mock-server/tests/openapi.test.ts
Due: prettier, eslint

docs(changeset): fix: openapi endpoints don’t have a YAML content type header
  .changeset/large-zebras-sell.md
Due: prettier

feat(api-reference): replaces variables in url from server state
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.ts
Due: prettier, eslint

fix(api-reference): sets server default variables
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.ts
  packages/api-reference/src/legacy/stores/useServerStore.ts
Due: prettier, eslint

style(api-reference): sets server var select placeholder and style
  packages/api-reference/src/features/BaseUrl/ServerVariablesSelect.vue
Due: prettier, eslint

fix(api-reference): prevents snippet generation if variable
  packages/api-reference/src/helpers/getExampleCode.ts
Due: prettier, eslint

refactor(oas-utils): updates regexHelpers
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.ts
  packages/oas-utils/src/helpers/findVariables.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.ts
  packages/oas-utils/src/spec-getters/getRequestFromOperation.ts
Due: prettier, eslint

docs(changeset): fix: base url server variables
  .changeset/poor-days-rhyme.md
Due: prettier

docs(changeset): refactor: updates regexHelpers
  .changeset/breezy-baboons-admire.md
Due: prettier

fix(api-reference): returns original along modified server url
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/features/ExampleRequest/ExampleRequest.vue
  packages/api-reference/src/helpers/getApiClientRequest.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.test.ts
  packages/api-reference/src/legacy/helpers/getUrlFromServerState.ts
Due: prettier, eslint

fix(void-server): does not respond with XML header (#3855)
  .changeset/green-nails-argue.md
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/createXmlResponse.ts
Due: prettier, eslint

fix(mock-server): OpenAPI YAML endpoints don’t have a YAML content-type header (#3856)
  .changeset/large-zebras-sell.md
  packages/mock-server/src/routes/respondWithOpenApiDocument.ts
  packages/mock-server/tests/openapi.test.ts
Due: prettier, eslint

fix(api-client): import modal shows up for any URL (#3854)
  .changeset/sharp-clouds-sneeze.md
  packages/api-client/src/components/ImportCollection/DropEventListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionListener.vue
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/PasteEventListener.vue
  packages/api-client/src/components/ImportCollection/UrlQueryParameterChecker.vue
  packages/api-client/src/components/ImportCollection/hooks/useUrlPrefetcher.ts
Due: prettier, eslint

style: only apply section colours to non default themes, use browser selection otherwise
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/themes/src/presets/alternate.css
  packages/themes/src/presets/bluePlanet.css
  packages/themes/src/presets/deepSpace.css
  packages/themes/src/presets/default.css
  packages/themes/src/presets/kepler.css
  packages/themes/src/presets/mars.css
  packages/themes/src/presets/moon.css
  packages/themes/src/presets/purple.css
  packages/themes/src/presets/saturn.css
  packages/themes/src/presets/solarized.css
  packages/themes/src/reset.css
  packages/themes/src/variables.css
  packages/use-codemirror/src/hooks/useCodeMirror.ts
  packages/use-codemirror/src/themes/index.ts
Due: prettier, eslint

chore: remove unused import
  packages/api-client/src/store/import-spec.ts
Due: prettier, eslint

chore: remove search index time logging
  packages/api-reference/src/features/Search/useSearchIndex.ts
Due: prettier, eslint

chore: add a TODO
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: update comment
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: track time it takes to create the workspace
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: clean up
  packages/oas-utils/src/transforms/import-spec.test.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

test: better coverage for importSpec
  packages/oas-utils/src/transforms/import-spec.test.ts
Due: prettier, eslint

test: merging path and operation parameters
  packages/oas-utils/src/transforms/import-spec.test.ts
Due: prettier, eslint

docs(changeset): chore: remove time logging for the search index
  .changeset/three-llamas-watch.md
Due: prettier

docs(changeset): chore: add time logging for the workspace store
  .changeset/clever-phones-stare.md
Due: prettier

refactor(api-client): use route names (#3761)
  .changeset/grumpy-scissors-join.md
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/api-client/src/components/SubpageHeader.vue
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/router.ts
  packages/api-client/src/routes.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-client/src/views/Request/types/sidebar-item.ts
  packages/api-client/src/views/Servers/Servers.vue
Due: prettier, eslint

fix: TS issues
  packages/oas-utils/src/transforms/import-spec.test.ts
Due: prettier, eslint

docs(changeset): style: updates introduction card server description
  .changeset/healthy-experts-sneeze.md
Due: prettier

style(api-reference): updates server description style
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
Due: prettier, eslint

style(api-reference): decreases border width in introduction card
  packages/api-reference/src/features/BaseUrl/ServerVariablesForm.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesTextbox.vue
Due: prettier, eslint

style(api-reference): introduction card server description (#3865)
  .changeset/healthy-experts-sneeze.md
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/features/BaseUrl/ServerForm.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesForm.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesSelect.vue
  packages/api-reference/src/features/BaseUrl/ServerVariablesTextbox.vue
Due: prettier, eslint

fix: remove examples before request parsing
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): fix: remove examples from request payload before parsing
  .changeset/moody-pigs-design.md
Due: prettier

chore: update export fields
  packages/components/src/index.ts
Due: prettier, eslint

fix(api-client): remove examples before request parsing (#3866)
  .changeset/moody-pigs-design.md
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

test(oas-utils): more tests for `importSpecToWorkspace` (#3862)
  .changeset/clever-phones-stare.md
  .changeset/three-llamas-watch.md
  packages/api-client/src/store/import-spec.ts
  packages/api-reference/src/features/Search/useSearchIndex.ts
  packages/oas-utils/src/transforms/import-spec.test.ts
  packages/oas-utils/src/transforms/import-spec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint
