Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test(api-reference): cover OpenAPI display fields
  packages/api-client/src/v2/components/server/ServerDropdown.test.ts
  packages/api-reference/src/blocks/scalar-server-selector-block/components/Selector.test.ts
  packages/api-reference/src/features/Operation/components/SecurityRequirementBadgeScheme.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.test.ts
Due: prettier, biome

docs(changeset): align OpenAPI 3.2 release note with rebased scope
  .changeset/render-openapi-3-2-display-fields.md
Due: prettier

fix(api-reference): shorten named server option labels
  .github/pr-artifacts/pr-9852/client_after.png
  .github/pr-artifacts/pr-9852/client_before.png
  .github/pr-artifacts/pr-9852/reference_after.png
  .github/pr-artifacts/pr-9852/reference_before.png
  packages/api-client/src/v2/components/server/ServerDropdown.test.ts
  packages/api-client/src/v2/components/server/ServerDropdown.vue
  packages/api-reference/src/blocks/scalar-server-selector-block/components/Selector.test.ts
  packages/api-reference/src/blocks/scalar-server-selector-block/components/Selector.vue
Due: prettier, biome

chore: remove PR 9852 screenshots
  .github/pr-artifacts/pr-9852/client_after.png
  .github/pr-artifacts/pr-9852/client_before.png
  .github/pr-artifacts/pr-9852/reference_after.png
  .github/pr-artifacts/pr-9852/reference_before.png
Due: none

fix(openapi-upgrader): migrate nullable string formats
  .changeset/quiet-files-upgrade.md
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
Due: prettier, biome

fix(openapi-upgrader): omit missing exclusive bounds
  .changeset/empty-exclusive-bounds.md
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
Due: prettier, biome

fix(openapi-upgrader): preserve raw binary semantics
  .changeset/raw-binary-schema.md
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
Due: prettier, biome

fix(openapi-upgrader): avoid guessing encoded media types
  .changeset/encoded-media-types.md
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.test.ts
  packages/openapi-upgrader/src/3.0-to-3.1/upgrade-from-three-to-three-one.ts
Due: prettier, biome

fix(api-reference): apply document environment defaults
  .changeset/quiet-environment-defaults.md
  .github/assets/environment-default.png
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/helpers/use-document-environment.test.ts
  packages/api-reference/src/helpers/use-document-environment.ts
Due: prettier, biome

chore: remove PR screenshot from branch
  .github/assets/environment-default.png
Due: none

fix(api-reference): preserve explicit environment choices
  packages/api-reference/src/helpers/use-document-environment.test.ts
  packages/api-reference/src/helpers/use-document-environment.ts
Due: prettier, biome

test(localization): update snapshots for translated client labels
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-reference.png
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: none

test(localization): refresh Arabic search background snapshot
  packages/api-reference/test/snapshots/localization.e2e.ts.snapshots/arabic-search-results.png
Due: none

test(api-client): align localization suite name
  packages/api-client/src/v2/features/localization/index.test.ts
Due: prettier, biome

fix(localization): preserve cached contexts across consumer lifetimes
  .changeset/localize-api-client.md
  packages/api-client/src/v2/blocks/request-block/RequestBlock.vue
  packages/localization/src/create-localization.test.ts
  packages/localization/src/create-localization.ts
Due: prettier, biome

test(api-client): verify request body clipboard behavior
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
Due: prettier, biome

feat(api-client): add copy button to the request body editor
  .changeset/request-body-copy-button.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
Due: prettier, biome

fix(workspace-store): resolve nested $dynamicAnchor declarations
  .changeset/dynamic-anchor-nested.md
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  packages/workspace-store/src/schemas/v3.1/openapi/dynamic-ref.test.ts
Due: prettier, biome

refactor(json-magic): resolve $dynamicRef inside the magic proxy
  .changeset/dynamic-anchor-nested.md
  packages/api-reference/package.json
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
  packages/workspace-store/src/schemas/v3.1/openapi/dynamic-ref.test.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

fix(json-magic): thread childScope into $dynamicRef-value and make it get-only
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): scope-key the proxy cache so recursive $dynamicRef terminates
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): collect $dynamicAnchor under unevaluated/additional/content applicators
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

docs(json-magic): clarify collectDynamicAnchors sibling-$ref dereferencing
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
Due: prettier, biome

refactor(json-magic): export the $dynamicRef-value key as one source of truth
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
  packages/json-magic/src/magic-proxy/index.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

perf(json-magic): probe for $dynamicRef lazily instead of on every proxy
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

fix(json-magic): enforce $dynamicRef bookending against the innermost resource
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/workspace-store/src/helpers/dynamic-ref.test.ts
Due: prettier, biome

chore(api-reference): note dynamic-ref property fix in changeset
  .changeset/dynamic-anchor-nested.md
Due: prettier

fix(api-reference): bind $dynamicRef object properties before resolve strips the proxy
  packages/api-reference/src/components/Content/Schema/SchemaObjectProperties.vue
  packages/api-reference/src/components/Content/Schema/dynamic-ref.test.ts
  packages/api-reference/src/components/Content/Schema/helpers/dynamic-scope.ts
Due: prettier, biome

test(api-reference): refresh mobile header baseline after rebase
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header-mobile.png
Due: none

fix(json-magic): preserve enclosing dynamic schema resources
  packages/json-magic/src/magic-proxy/dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
Due: prettier, biome

style(api-reference): format rebased schema binding
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, biome

fix(api-client): display vendor XML responses as text
  .changeset/vendor-xml-response-viewer.md
  .github/pr-artifacts/vendor-xml-response.png
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/media-types.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/media-types.ts
Due: prettier, biome

fix(json-magic): preserve ordinary cache identity beside dynamic refs
  .changeset/dynamic-anchor-nested.md
  packages/json-magic/src/magic-proxy/dynamic-ref.ts
  packages/json-magic/src/magic-proxy/proxy-dynamic-ref.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/workspace-store/src/helpers/dynamic-ref.ts
Due: prettier, biome

chore: remove PR screenshot
  .github/pr-artifacts/vendor-xml-response.png
Due: none

perf(openapi-to-markdown): render large documents with bounded memory
  .changeset/direct-markdown-trees.md
  knip.jsonc
  packages/openapi-to-markdown/README.md
  packages/openapi-to-markdown/package.json
  packages/openapi-to-markdown/playground/index.ts
  packages/openapi-to-markdown/src/compatibility.test.ts
  packages/openapi-to-markdown/src/components/MarkdownReference.vue
  packages/openapi-to-markdown/src/components/Schema.test.ts
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/openapi-to-markdown/src/components/Security.vue
  packages/openapi-to-markdown/src/components/XmlOrJson.vue
  packages/openapi-to-markdown/src/create-markdown-from-openapi.test.ts
  packages/openapi-to-markdown/src/create-markdown-from-openapi.ts
  packages/openapi-to-markdown/src/create-openapi-markdown-renderer.test.ts
  packages/openapi-to-markdown/src/fixtures/compatibility.json
  packages/openapi-to-markdown/src/fixtures/legacy.md
  packages/openapi-to-markdown/src/index.ts
  packages/openapi-to-markdown/src/load-document.ts
  packages/openapi-to-markdown/src/markdown-nodes.test.ts
  packages/openapi-to-markdown/src/markdown-nodes.ts
  packages/openapi-to-markdown/src/parse-description.test.ts
  packages/openapi-to-markdown/src/parse-description.ts
  packages/openapi-to-markdown/src/parse-html-description.ts
  packages/openapi-to-markdown/src/render-document.test.ts
  packages/openapi-to-markdown/src/render-document.ts
  packages/openapi-to-markdown/src/render-operation.ts
  packages/openapi-to-markdown/src/render-schema.test.ts
  packages/openapi-to-markdown/src/render-schema.ts
  packages/openapi-to-markdown/src/render-security.ts
  packages/openapi-to-markdown/src/select-document.ts
  packages/openapi-to-markdown/src/selection.test.ts
  packages/openapi-to-markdown/tsconfig.build.json
  packages/openapi-to-markdown/tsconfig.json
  packages/openapi-to-markdown/vite.config.ts
  packages/openapi-to-markdown/vitest.config.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

feat(api-reference): load external examples on demand
  .changeset/lazy-external-examples.md
  documentation/openapi.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseEmpty.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/modal/Modal.vue
  packages/api-client/src/v2/features/operation/Operation.vue
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/features/example-responses/ExampleResponse.test.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.external.test.ts
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/helpers/get-example-content.ts
  packages/api-reference/test/features/external-examples.e2e.ts
  packages/blocks/src/code-example/components/CodeExample.external.test.ts
  packages/blocks/src/code-example/components/CodeExample.vue
  packages/blocks/src/code-example/mount.ts
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/external-examples.integration.test.ts
  packages/workspace-store/src/helpers/external-examples.test.ts
  packages/workspace-store/src/helpers/external-examples.ts
  packages/workspace-store/src/helpers/operation-examples.ts
  packages/workspace-store/src/helpers/use-external-examples.test.ts
  packages/workspace-store/src/helpers/use-external-examples.ts
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome

fix(openapi-to-markdown): coerce plain documents before rendering
  .changeset/direct-markdown-trees.md
  packages/openapi-to-markdown/README.md
  packages/openapi-to-markdown/src/create-markdown-from-openapi.test.ts
  packages/openapi-to-markdown/src/load-document.ts
Due: prettier, biome

chore: updated
  packages/openapi-to-markdown/src/fixtures/legacy.md
Due: prettier

test(openapi-to-markdown): replace removed golden fixture
  packages/openapi-to-markdown/src/compatibility.test.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
