Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

celan up
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyRaw.vue
Due: prettier, biome

update snapshots
  projects/scalar-app/test/response-body-raw-json-bigint.e2e.ts-snapshots/response-preview-json-bigint.png
  projects/scalar-app/test/response-body-raw-json-bigint.e2e.ts-snapshots/response-raw-json-bigint.png
Due: none

fix: adress bar layout issue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
Due: prettier, biome

docs(changeset): fix: adress bar layout issue
  .changeset/hot-rats-stare.md
Due: prettier

update changeset
  .changeset/hot-rats-stare.md
Due: prettier

add e2e tests
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: prettier, biome

fix failing tests
  projects/scalar-app/test/collection-editor.monaco.e2e.ts
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: prettier, biome

fix tests
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyRaw.vue
  projects/scalar-app/test/response-body-raw-json-bigint.e2e.ts
Due: prettier, biome

update snapshots
  packages/api-reference/test/snapshots/client.e2e.ts.snapshots/scalar-galaxy-classic.png
  packages/api-reference/test/snapshots/client.e2e.ts.snapshots/scalar-galaxy.png
Due: none

fix(api-client): hide OAuth2 client secret when PKCE is enabled and omit it from token requests
  .changeset/pkce-hide-client-secret.md
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/helpers/oauth.ts
Due: prettier, biome

fix(api-client): remove language attr from response preview
  packages/api-client/src/v2/blocks/response-block/components/ResponseBody.vue
Due: prettier, biome

docs(api-client): clarify PKCE public client secret behavior
  documentation/configuration.md
Due: prettier

feat(workspace-store): add `getDocumentType` helper
  .changeset/get-document-type-helper.md
  packages/api-reference/src/components/Content/Content.vue
  packages/workspace-store/src/schemas/type-guards.test.ts
  packages/workspace-store/src/schemas/type-guards.ts
Due: prettier, biome

chore(ci): harden GitHub Actions workflows
  .github/actions/build/action.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-api-client.yml
  .github/workflows/renovate-config-validation.yml
  .github/workflows/teardown-api-client-preview.yml
  .github/workflows/update-contributors.yml
  .github/workflows/update-scalar-cli-documentation.yml
  .github/workflows/validate-scalar-configuration.yaml
Due: prettier, biome

auto expand and removoe search for small number or items
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
Due: prettier, biome

resolve
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
Due: prettier, biome

resolve threads
  packages/workspace-store/src/mutators/auth.ts
Due: prettier, biome

use arrow fn
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
Due: prettier, biome

fix the placement of the action buttons
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
Due: prettier, biome

fix the thread
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuth2.vue
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
  packages/workspace-store/src/mutators/auth.test.ts
  packages/workspace-store/src/mutators/auth.ts
Due: prettier, biome

revert config changes
  scalar.config.json
Due: prettier, biome

chore: add the release notes
  scalar.config.json
Due: prettier, biome

docs(changeset): fix(scalar-app): enable transparent Electron window to reduce resize flash
  .changeset/smart-bugs-take.md
  projects/scalar-app/entrypoints/electron/main/application/window.ts
Due: prettier, biome

update changeset
  .changeset/smart-bugs-take.md
Due: prettier

resolve threads
  projects/scalar-app/entrypoints/electron/main/application/window.ts
Due: prettier, biome

docs(agents): always scope test runs to the affected package
  AGENTS.md
Due: prettier

make the modal resize
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesAddModal.vue
Due: prettier, biome

enable scope on create
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.test.ts
  packages/api-client/src/v2/blocks/scalar-auth-selector-block/components/OAuthScopesInput.vue
  packages/workspace-store/src/events/definitions/auth.ts
  packages/workspace-store/src/mutators/auth.test.ts
  packages/workspace-store/src/mutators/auth.ts
Due: prettier, biome

enable the transparent bg for the linux as well
  projects/scalar-app/entrypoints/electron/main/application/window.ts
Due: prettier, biome

docs: add documentation for versions configuration
  .agents/skills/scalar-docs/SKILL.md
  documentation/guides/docs/configuration/scalar.config.json.md
  documentation/guides/docs/configuration/versions.md
  scalar.config.json
Due: prettier, biome

test(workspace-store): add bundled path-item ref reproduction
  .changeset/repro-sentry-bundled-empty-endpoints.md
  packages/workspace-store/src/navigation/helpers/traverse-paths.test.ts
Due: prettier, biome

fix(api-client): validate merged request URLs in
  .changeset/block-send-without-server.md
  packages/api-client/playground/test/index.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-reference/src/helpers/map-config-plugins.ts
  packages/helpers/src/types/safe-run.test.ts
  packages/helpers/src/types/safe-run.ts
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/build-request.ts
  packages/workspace-store/src/request-example/builder/index.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.ts
  packages/workspace-store/src/request-example/index.ts
  projects/scalar-app/src/features/app/components/AppSidebar.vue
  projects/scalar-app/src/features/app/components/DocumentBreadcrumb.vue
  projects/scalar-app/src/features/collection/components/Runner/hooks/use-runner-execution.ts
  projects/scalar-app/src/helpers/safe-run.ts
Due: prettier, biome

write better
  .changeset/block-send-without-server.md
Due: prettier

fix failing tests
  packages/workspace-store/src/request-example/builder/build-request.test.ts
  packages/workspace-store/src/request-example/builder/resolve-request-factory-url.test.ts
Due: prettier, biome

feat(api-client): add Cmd/Ctrl+S for so hosts (e.g. scalar-app) can match the header Save control for local workspaces
  .changeset/api-client-local-save-hotkey.md
  packages/api-client/src/v2/helpers/handle-hotkeys.test.ts
  packages/api-client/src/v2/helpers/handle-hotkeys.ts
  packages/workspace-store/src/events/definitions/ui.ts
  projects/scalar-app/src/features/app/App.vue
Due: prettier, biome

feat(api-client): use CodeInputLite for plain-text CodeInput callsites
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesTable.test.ts
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesTable.vue
Due: prettier, biome

fix(api-client): align CodeInputLite input + overlay so selection no longer scrolls
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

perf(api-client): make CodeInputLite lazy until the user interacts
  packages/api-client/src/v2/components/code-input/CodeInputLite.test.ts
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

fix(api-client): match CodeInput's 14px font and use the native selection
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

feat(api-client): replace AddressBar's CodeInput with a lightweight CodeInputLite
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.test.ts
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/components/code-input/CodeInputLite.test.ts
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
  packages/api-client/src/v2/components/code-input/PillTooltipHost.vue
  packages/api-client/src/v2/components/code-input/code-variable-widget.ts
  packages/api-client/src/v2/components/code-input/index.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
