Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

lefthook.yml:

pre-commit:
  commands:
    packages-format:
      glob: 'pnpm-lock.yaml'
      run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files}'
      stage_fixed: true
    biome:
      glob: '*.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}'
      run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

feat(docs): Add python SDK documentation
  documentation/guides/agent/sdk.md
Due: prettier

feat(docs): Update python docs
  documentation/guides/agent/sdk.md
Due: prettier

feat(docs): Add python SDK documentation (#8362)
  documentation/guides/agent/sdk.md
Due: prettier

sync flow
  packages/api-client/src/v2/features/collection/DocumentCollection.test.ts
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/collection/components/Editor/hooks/use-diff-editor.ts
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
  packages/api-client/src/v2/features/collection/components/test.html
  packages/api-client/vite.config.ts
Due: prettier, biome

chore(openapi-parser): add changeset, tests, and docs for v3.2 AJV fix
  .changeset/openapi-parser-ajv-fix.md
  packages/openapi-parser/src/schemas/README.md
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/no_containers.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/no_containers.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_empty.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_empty.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_unknown.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/server_enum_unknown.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/unknown_container.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/fail/unknown_container.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/comp_pathitems.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/comp_pathitems.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/info_summary.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/info_summary.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/license_identifier.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/license_identifier.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/mega.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/mega.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_comp.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_comp.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_hooks.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_hooks.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_paths.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/minimal_paths.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_no_response.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_no_response.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_var_empty_pathitem.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/path_var_empty_pathitem.yaml
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/schema.test.ts
  packages/openapi-parser/tests/openapi3-examples/3.2/pass/schema.yaml
Due: prettier, biome

feat(scalar.com): add cookie preferences button to footer
  documentation/guides/docs/getting-started.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
Due: prettier

feat(scalar.com): update terms of service and privacy policy
  documentation/legal/privacy-policy.md
  documentation/legal/terms-and-conditions.md
Due: prettier

feat(scalar.com): update cookie terms and policies (#8358)
  documentation/guides/docs/getting-started.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
  documentation/legal/privacy-policy.md
  documentation/legal/terms-and-conditions.md
Due: prettier

fix(api-client): make fallback theme reactive (#8356)
  .changeset/silver-beds-wear.md
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/helpers/create-api-client-app.ts
Due: prettier, biome

3 way diff editor
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
Due: prettier, biome

test(components): add snapshot tests for search and text inputs
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.e2e.ts
  packages/components/src/components/ScalarSearchInput/snapshots/base-1-empty.png
  packages/components/src/components/ScalarSearchInput/snapshots/base-2-with-content.png
  packages/components/src/components/ScalarSearchInput/snapshots/loading.png
  packages/components/src/components/ScalarSearchResults/ScalarSearchResults.e2e.ts
  packages/components/src/components/ScalarSearchResults/snapshots/base-1-default.png
  packages/components/src/components/ScalarSearchResults/snapshots/base-2-hovered.png
  packages/components/src/components/ScalarSearchResults/snapshots/base-3-selected.png
  packages/components/src/components/ScalarSearchResults/snapshots/no-results.png
  packages/components/src/components/ScalarTextArea/ScalarTextArea.e2e.ts
  packages/components/src/components/ScalarTextArea/ScalarTextArea.stories.ts
  packages/components/src/components/ScalarTextArea/snapshots/base-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/base-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/base-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/base-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-1-empty.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-2-focused.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-3-short-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-4-long-content.png
  packages/components/src/components/ScalarTextArea/snapshots/with-max-height-5-scrolled.png
  packages/components/src/components/ScalarTextInput/ScalarTextInput.e2e.ts
  packages/components/src/components/ScalarTextInput/ScalarTextInput.stories.ts
  packages/components/src/components/ScalarTextInput/snapshots/base-1-empty.png
  packages/components/src/components/ScalarTextInput/snapshots/base-2-focused.png
  packages/components/src/components/ScalarTextInput/snapshots/base-3-short-content.png
  packages/components/src/components/ScalarTextInput/snapshots/base-4-long-content.png
  packages/components/src/components/ScalarTextInput/snapshots/readonly.png
  packages/components/src/components/ScalarTextInput/snapshots/with-aside-1-empty.png
  packages/components/src/components/ScalarTextInput/snapshots/with-aside-2-focused.png
  packages/components/src/components/ScalarTextInput/snapshots/with-aside-3-short-content.png
  packages/components/src/components/ScalarTextInput/snapshots/with-aside-4-long-content.png
  packages/components/src/components/ScalarTextInput/snapshots/with-copy.png
  packages/components/src/components/ScalarTextInput/snapshots/with-prefix-1-empty.png
  packages/components/src/components/ScalarTextInput/snapshots/with-prefix-2-focused.png
  packages/components/src/components/ScalarTextInput/snapshots/with-prefix-3-short-content.png
  packages/components/src/components/ScalarTextInput/snapshots/with-prefix-4-long-content.png
  packages/components/src/components/ScalarTextInput/snapshots/with-suffix-1-empty.png
  packages/components/src/components/ScalarTextInput/snapshots/with-suffix-2-focused.png
  packages/components/src/components/ScalarTextInput/snapshots/with-suffix-3-short-content.png
  packages/components/src/components/ScalarTextInput/snapshots/with-suffix-4-long-content.png
Due: prettier, biome

test(api-reference): add snapshot tests for search
  packages/api-reference/test/snapshots/search.e2e.ts
  packages/api-reference/test/snapshots/search.e2e.ts.snapshots/search-filled.png
  packages/api-reference/test/snapshots/search.e2e.ts.snapshots/search.png
Due: prettier, biome

fix(components): override items center for text area
  packages/components/src/components/ScalarTextArea/ScalarTextArea.vue
Due: prettier, biome

fix(api-reference): clean up search input
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.stories.ts
  packages/components/src/components/ScalarSearchInput/ScalarSearchInput.vue
  packages/components/src/components/ScalarSearchInput/snapshots/base-2-with-content.png
  packages/components/src/components/ScalarSearchInput/snapshots/loading.png
Due: prettier, biome

fix(api-reference): clean up search results
  packages/components/src/components/ScalarSearchResults/ScalarSearchResultItem.vue
  packages/components/src/components/ScalarSearchResults/snapshots/base-1-default.png
  packages/components/src/components/ScalarSearchResults/snapshots/base-2-hovered.png
  packages/components/src/components/ScalarSearchResults/snapshots/base-3-selected.png
  packages/components/src/components/ScalarSearchResults/snapshots/no-results.png
Due: prettier, biome

test(api-reference): update snapshots
  packages/api-reference/test/snapshots/search.e2e.ts.snapshots/search-filled.png
  packages/api-reference/test/snapshots/search.e2e.ts.snapshots/search.png
Due: none

docs(changeset): fix(components): clean up search components and add snapshots
  .changeset/violet-icons-watch.md
Due: prettier

feat: add mcp in sidebar for localhost
  documentation/configuration.md
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/AgentScalar/index.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/types/src/api-reference/api-reference-configuration.ts
Due: prettier, biome

fix: test we dont show client button by default anymore
  packages/api-reference/test/configuration/hide-client-button.e2e.ts
Due: prettier, biome

fix: add button e2e tests
  packages/api-reference/test/configuration/mcp-button.e2e.ts
  packages/types/src/api-reference/api-reference-configuration.ts
Due: prettier, biome

fix: update default test
  packages/api-reference/src/components/ApiReference.config.test.ts
Due: prettier, biome

fix: build error
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
Due: prettier, biome

update the entire conflcit resolution logic
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/api-client/src/v2/features/collection/components/SyncConflictResolutionEditor.vue
Due: prettier, biome

fix: remove unused code
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

fix: add missing class to link
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
Due: prettier, biome

fix: add openapi document link to register flow
  packages/api-reference/src/components/AgentScalar/OpenMCPButton.vue
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, biome

fix: up tests
  packages/api-reference/test/configuration/mcp-button.e2e.ts
Due: prettier, biome

fix: update tests
  packages/api-reference/test/configuration/mcp-button.e2e.ts
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header-mobile.png
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/scalar-galaxy-sidebar.png
Due: prettier, biome

fix: force update of tests
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-closed.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
Due: none

fix: force update new test
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
Due: none

fix: force new snapshot
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/scalar-galaxy-sidebar.png
Due: none

force: update snapshot
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/scalar-galaxy-sidebar.png
Due: none

wip: use real docuemnt for syncing
  packages/api-client/src/v2/features/collection/DocumentCollection.vue
  packages/workspace-store/src/client.ts
Due: prettier, biome

fix(api-reference): hide auth panel when test requests are disabled
  .changeset/rich-rabbits-wave.md
  packages/api-reference/src/components/ApiReference.config.test.ts
  packages/api-reference/src/components/Content/Content.vue
Due: prettier, biome

test(api-reference): verify built css does not contain deep selectors
  packages/api-reference/src/dist.test.ts
Due: prettier, biome

fix: snapshots
  packages/api-reference/test/snapshots/header.e2e.ts.snapshots/scalar-galaxy-header-mobile.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/custom-width.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/long-strings-sidebar.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-closed.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/scalar-galaxy-sidebar.png
Due: none

fix: snapshots
  packages/api-reference/test/snapshots/sidebar.e2e.ts.snapshots/mobile-sidebar-open.png
Due: none

fix: correctly preserve param ordering and
  packages/workspace-store/src/mutators/operation/helpers/sync-path-parameters.test.ts
  packages/workspace-store/src/mutators/operation/helpers/sync-path-parameters.ts
  packages/workspace-store/src/mutators/operation/operation.test.ts
  packages/workspace-store/src/mutators/operation/operation.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
  packages/workspace-store/src/plugins/bundler/index.ts
Due: prettier, biome
