Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

feat: add links to http headers
  packages/api-client/src/components/DataTable/DataTableText.vue
  packages/api-client/src/data/httpHeaders.ts
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
  packages/api-reference/src/legacy/fixtures/index.ts
Due: prettier, eslint

docs(changeset): feat: add links to http headers
  .changeset/polite-gifts-deny.md
Due: prettier

chore: clean up
  packages/api-reference/src/components/HelpfulLink.vue
Due: prettier, eslint

chore: add more headers
  packages/api-client/src/data/httpHeaders.ts
Due: prettier, eslint

fix(api-reference): improve enum support
  packages/api-reference/src/components/Content/Schema/SchemaProperty.vue
Due: prettier, eslint

docs(changeset): feat(api-reference): improve enum support
  .changeset/funny-rivers-watch.md
Due: prettier

fix(themes): removes focus visible style from reset
  packages/themes/src/reset.css
Due: prettier

docs(changeset): fix: removes focus visible style from reset
  .changeset/thirty-paws-sleep.md
Due: prettier

fix(api-client): removes duplicated utility class in request header
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
Due: prettier, eslint

docs(changeset): fix: removes duplicated utility class in request header
  .changeset/big-candles-hammer.md
Due: prettier

style(api-client): updates sidenav gap and sidehelp hover
  packages/api-client/src/components/SideNav/SideHelp.vue
  packages/api-client/src/components/SideNav/SideNav.vue
Due: prettier, eslint

docs(changeset): style: updates sidenav gap and sidehelp hover
  .changeset/shy-bobcats-try.md
Due: prettier

style(api-client): sidenav fixtures (#3488)
  .changeset/shy-bobcats-try.md
  packages/api-client/src/components/SideNav/SideHelp.vue
  packages/api-client/src/components/SideNav/SideNav.vue
Due: prettier, eslint

chore: downgrade to thollander/actions-comment-pull-request@v2 (#3484)
  .github/workflows/ci.yml
Due: prettier

feat(api-client): add links to HTTP header docs (#3457)
  .changeset/polite-gifts-deny.md
  packages/api-client/src/components/DataTable/DataTableText.vue
  packages/api-client/src/data/httpHeaders.ts
  packages/api-client/src/views/Request/ResponseSection/ResponseHeaders.vue
  packages/api-reference/src/components/HelpfulLink.vue
  packages/api-reference/src/legacy/fixtures/index.ts
Due: prettier, eslint

Update packages/oas-utils/src/entities/spec/spec-objects.ts
  packages/oas-utils/src/entities/spec/spec-objects.ts
Due: prettier, eslint

docs(changeset): feat: make collection.info.version optional
  .changeset/yellow-singers-count.md
Due: prettier

fix: add collection.info.version optional
  packages/oas-utils/src/entities/spec/spec-objects.ts
Due: prettier, eslint

fix: remove import to: copy
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix(api-client): add collection.info.version optional (#3472)
  .changeset/yellow-singers-count.md
  packages/oas-utils/src/entities/spec/spec-objects.ts
Due: prettier, eslint

fix(themes): reset (#3486)
  .changeset/thirty-paws-sleep.md
  packages/themes/src/reset.css
Due: prettier

chore: update `@todesktop/cli` (#3482)
  packages/api-client-app/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix(api-client): removes duplicated utility class in request header (#3487)
  .changeset/big-candles-hammer.md
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
Due: prettier, eslint

chore: switch to js-yaml
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/utils/getOpenApiDocumentVersion.ts
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/oas-utils/package.json
  packages/oas-utils/src/helpers/parse.ts
  packages/openapi-parser/package.json
  packages/openapi-parser/rollup.config.ts
  packages/openapi-parser/src/utils/isYaml.ts
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/normalize.ts
  packages/openapi-parser/src/utils/openapi/openapi.test.ts
  packages/openapi-parser/src/utils/toYaml.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: remove import to: copy (#3491)
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix: test
  packages/api-reference/src/hooks/useReactiveSpec.test.ts
Due: prettier, eslint

chore: add types
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/utils/getOpenApiDocumentVersion.ts
  packages/fastify-api-reference/package.json
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/oas-utils/package.json
  packages/oas-utils/src/helpers/parse.ts
  packages/openapi-parser/package.json
  packages/openapi-parser/src/utils/isYaml.ts
  packages/openapi-parser/src/utils/load/load.test.ts
  packages/openapi-parser/src/utils/normalize.ts
  packages/openapi-parser/src/utils/openapi/openapi.test.ts
  packages/openapi-parser/src/utils/toYaml.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: wrap command palette
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
Due: prettier, eslint

fix: reduce icon stroke thickness slightly + add back indent lines
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

docs(changeset): fix: sidebar indent lines + icon stroke thickness
  .changeset/calm-coats-hammer.md
Due: prettier

fix: comment out import collection
  packages/api-client/src/layouts/App/ApiClientApp.vue
Due: prettier, eslint

fix: comment out import collection pt 2
  packages/api-client/src/layouts/App/ApiClientApp.vue
Due: prettier, eslint

fix: create custom workspace selector
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/ImportNowButton.vue
  packages/api-client/src/components/ImportCollection/WorkspaceSelector.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
Due: prettier, eslint

docs(changeset): feat(api-client): create custom workspace selector
  .changeset/breezy-numbers-jam.md
Due: prettier

fix: sidebar indent lines and stroke thickness (#3494)
  .changeset/calm-coats-hammer.md
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

chore: enable dependabot for the app (#3481)
  .github/dependabot.yml
Due: prettier

chore: update to Electron 33 (#3480)
  packages/api-client-app/package.json
  pnpm-lock.yaml
Due: package_format, prettier

test(api-client): update render test
  packages/api-client/src/layouts/App/create-api-client-app.test.ts
  packages/api-client/src/layouts/Modal/create-api-client-modal.test.ts
  packages/api-client/src/layouts/Web/create-api-client-web.test.ts
Due: prettier, eslint

docs(changeset): fix(api-reference): search modal a11y improvements
  .changeset/nasty-elephants-fry.md
Due: prettier

feat(api-client): add web app playground (#3479)
  .changeset/rude-berries-hunt.md
  package.json
  packages/api-client/package.json
  packages/api-client/playground/web/index.html
  packages/api-client/playground/web/main.ts
  turbo.json
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
