Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

test: retry mutations test
  packages/object-utils/src/mutator-record/mutations.test.ts
Due: prettier, eslint

fix(api-client): enables sidebar item toggle on readonly
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

docs(changeset): fix: enables sidebar item toggle on readonly
  .changeset/slimy-birds-check.md
Due: prettier

fix: retry flaky mutation test (#3196)
  packages/object-utils/src/mutator-record/mutations.test.ts
Due: prettier, eslint

fix(api-client): address typo style (#3194)
  .changeset/unlucky-mice-film.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/libs/errors.ts
Due: prettier, eslint

added postman-to-openapi package
  packages/postman-to-openapi/package.json
  packages/postman-to-openapi/rollup.config.ts
  packages/postman-to-openapi/src/index.ts
  packages/postman-to-openapi/tsconfig.build.json
  packages/postman-to-openapi/tsconfig.json
Due: prettier, eslint

fix: lint and formatting issues
  packages/postman-to-openapi/src/index.ts
Due: prettier, eslint

docs(changeset): hello @scalar/postman-to-openapi, let’s free the postman. :)
  .changeset/flat-islands-repeat.md
Due: prettier

chore: wording
  packages/postman-to-openapi/package.json
Due: prettier

refactor: use our openapi-types
  packages/postman-to-openapi/package.json
  packages/postman-to-openapi/src/index.ts
  packages/postman-to-openapi/src/types.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

test: add a basic test
  packages/postman-to-openapi/env.d.ts
  packages/postman-to-openapi/src/convert.test.ts
  packages/postman-to-openapi/src/convert.ts
  packages/postman-to-openapi/src/fixtures/collection-v2.json
  packages/postman-to-openapi/src/index.ts
  packages/postman-to-openapi/tsconfig.json
Due: prettier, eslint

chore: add rollup config to typescript config
  packages/postman-to-openapi/tsconfig.json
Due: prettier

docs: add README
  packages/postman-to-openapi/README.md
Due: prettier

fix(api-client): sidebar folder toggle (#3197)
  .changeset/slimy-birds-check.md
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

chore: upgrade typescript
  package.json
  packages/nextjs-openapi/package.json
  packages/ts-to-openapi/package.json
Due: prettier

docs(changeset): chore: upgrade typescript to 5.6.2
  .changeset/six-apricots-play.md
Due: prettier

fix: typescript
  examples/web/src/pages/ApiReferenceTestPage.vue
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

chore: remove typescript dev dependency from package, it’s available in the workspace anyway
  packages/nextjs-openapi/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: bootstrap script fails to run
  scripts/bootstrap-package/bootstrap-package.ts
  scripts/bootstrap-package/package.json
Due: prettier, eslint

chore: semantic versions start at 0.1.0
  examples/cdn-api-reference/package.json
  examples/esm-api-reference/package.json
  examples/proxy-server/package.json
Due: prettier

chore: new @scalar/import package
  packages/import/package.json
  packages/import/playground/index.ts
  packages/import/rollup.config.ts
  packages/import/src/index.ts
  packages/import/tsconfig.build.json
  packages/import/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add the missing pieecs
  packages/import/README.md
  packages/import/playground/index.ts
  packages/import/src/index.ts
  packages/import/src/normalize.ts
  packages/import/src/resolve.ts
  packages/import/tsconfig.build.json
Due: prettier, eslint

refactor: move findOpenApiDocumentUrl helper to @scalar/import
  packages/api-client-app/package.json
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/main/utils/find-openapi-document-url.ts
  packages/api-client-app/src/main/utils/index.ts
  packages/api-client-app/todesktop.json
  packages/import/src/resolve.test.ts
  packages/import/src/resolve.ts
Due: prettier, eslint

feat: add normalize helper to upgrade OpenAPI documents
  packages/import/package.json
  packages/import/src/normalize.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: more improvements
  scripts/bootstrap-package/bootstrap-package.ts
Due: prettier, eslint

chore: wording
  packages/build-tooling/src/entry.ts
Due: prettier, eslint

fix(api-client): teleport http methods dropdown
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
Due: prettier, eslint

docs(changeset): fix: teleports http methods dropdown
  .changeset/hungry-rules-stare.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

docs(contributor): contrib-readme-action has updated readme (#3206)
  README.md
Due: prettier

chore: upgrade to TypeScript 5.6 (#3150)
  .changeset/six-apricots-play.md
  examples/web/src/pages/ApiReferenceTestPage.vue
  package.json
  packages/nextjs-openapi/package.json
  packages/ts-to-openapi/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: modal dark mode background
  README.md
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

docs(changeset): fix: modal dark mode bg
  .changeset/olive-drinks-join.md
Due: prettier

fix: modal background in dark mode (#3207)
  .changeset/olive-drinks-join.md
  README.md
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/components/src/components/ScalarModal/ScalarModal.vue
  packages/themes/src/tailwind.ts
Due: prettier, eslint

fix(api-client): address bar http methods (#3204)
  .changeset/hungry-rules-stare.md
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/HttpMethod/HttpMethod.vue
Due: prettier, eslint

fix: bootstrap script doesn’t run (#3199)
  examples/cdn-api-reference/package.json
  examples/esm-api-reference/package.json
  examples/proxy-server/package.json
  packages/build-tooling/src/entry.ts
  scripts/bootstrap-package/bootstrap-package.ts
  scripts/bootstrap-package/package.json
Due: prettier, eslint

chore: updateing vue
  examples/api-client/package.json
  examples/ssg/package.json
  examples/web/package.json
  packages/api-client-app/package.json
  packages/api-client-react/package.json
  packages/api-client/package.json
  packages/api-reference-editor/package.json
  packages/api-reference-react/package.json
  packages/api-reference/package.json
  packages/code-highlight/package.json
  packages/components/package.json
  packages/draggable/package.json
  packages/fastify-api-reference/package.json
  packages/play-button/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  scripts/bootstrap-package/package.json
Due: prettier

fix: web example build breaks
  examples/web/src/components/MonacoEditor.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
