Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

docs(changeset): fix: default proxy for client app and revert to scalar galaxy
  .changeset/eleven-fans-tap.md
Due: prettier

fix: add back spotify example
  packages/api-client/src/App.vue
Due: prettier, eslint

fix: make headless classses added safely
  packages/api-client/src/Modal/ApiClientModal.vue
  packages/components/src/helpers/add-scalar-classes.ts
Due: prettier, eslint

fix: default proxy for client app and revert to scalar galaxy (#2323)
  .changeset/eleven-fans-tap.md
  packages/api-client/src/App.vue
Due: prettier, eslint

docs(changeset): fix: made adding of scalar classes to headless more robust
  .changeset/twelve-rings-explain.md
Due: prettier

feat: watch spec and update
  packages/api-client/src/Modal/api-client-modal.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/api-client-bus.ts
Due: prettier, eslint

docs(changeset): feat: watch spec and update
  .changeset/four-zoos-grab.md
Due: prettier

feat: watch spec and update (#2327)
  .changeset/four-zoos-grab.md
  packages/api-client/src/Modal/api-client-modal.ts
  packages/api-reference/src/components/ApiClientModal.vue
  packages/api-reference/src/components/api-client-bus.ts
Due: prettier, eslint

fix: move to pure css solution for client modal no more headless ui
  packages/api-client/src/Modal/ApiClientModal.vue
Due: prettier, eslint

chore: remove unused css
  packages/api-client/src/Modal/ApiClientModal.vue
Due: prettier, eslint

docs(changeset): fix: move to pure css solution for client modal no more headless ui
  .changeset/lovely-bikes-sin.md
Due: prettier

feat: add scrolling block and vue unmount
  packages/api-client/src/Modal/ApiClientModal.vue
  packages/api-client/src/Modal/api-client-modal.ts
  packages/api-reference/src/components/ApiClientModal.vue
Due: prettier, eslint

fix: move to pure css solution for client modal no more headless ui (#2326)
  .changeset/lovely-bikes-sin.md
  packages/api-client/src/Modal/ApiClientModal.vue
  packages/api-client/src/Modal/api-client-modal.ts
  packages/api-reference/src/components/ApiClientModal.vue
Due: prettier, eslint

RELEASING: Releasing 14 package(s) (#2325)
  .changeset/eleven-fans-tap.md
  .changeset/four-zoos-grab.md
  .changeset/lovely-bikes-sin.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix: only send query params with a value
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

docs(changeset): fix: only send query params with a value
  .changeset/violet-owls-wave.md
Due: prettier

fix: only send query params with a value (#2330)
  .changeset/violet-owls-wave.md
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

RELEASING: Releasing 14 package(s) (#2331)
  .changeset/violet-owls-wave.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix: toRaw
  packages/api-client/src/Modal/api-client-modal.ts
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

fix: remove some toRaw
  packages/api-client/src/Modal/api-client-modal.ts
Due: prettier, eslint

ci: publish packages on Stackblitz (#2310)
  .github/workflows/publish-on-stackblitz.yml
Due: prettier

fix: ensure path and operation params are merged on import
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

docs(changeset): fix: ensure path and operation params are merged on import
  .changeset/happy-taxis-join.md
Due: prettier

fix: proper spread and null check on parameters
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: remove log
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: ensure path and operation params are merged on import (#2335)
  .changeset/happy-taxis-join.md
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

RELEASING: Releasing 16 package(s) (#2336)
  .changeset/happy-taxis-join.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/oas-utils/CHANGELOG.md
  packages/oas-utils/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

fix(api-client): required after content out of tailwind
  packages/api-client/src/components/DataTable/DataTableInput.vue
Due: prettier, eslint

docs(changeset): fix: api client required after content out of tailwind
  .changeset/plenty-ducks-poke.md
Due: prettier

fix(api-client): prevent required path params key update
  packages/api-client/src/views/Request/RequestSection/RequestPathParams.vue
Due: prettier, eslint

docs(changeset): fix: prevent api client path param key update
  .changeset/stupid-jokes-own.md
Due: prettier

chore: remove env defintion file
  packages/components/env.d.ts
  packages/components/tsconfig.json
Due: prettier, eslint

chore: remove env file from tsconfig
  packages/components/tsconfig.json
Due: prettier

feat: Move components to standard tooling
  package.json
  packages/components/package.json
  packages/components/tsconfig.build.json
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/components/vitest.config.ts
Due: prettier, eslint

chore: update lock file
  pnpm-lock.yaml
Due: package_format, prettier

feat: form data and multipart form data
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

docs(changeset): feat: form data and multipart form data
  .changeset/cool-worms-lie.md
Due: prettier

refactor: use parseBody instead of formData, add support for dot syntax
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

feat: add support for multiple files in a single field
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

test: blob requests
  packages/void-server/src/createVoidServer.test.ts
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
