Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'
    cloudbuild:
      run: 'pnpm scripts:generate-cloudbuild && git add cloudbuild.json'

fix: type check
  packages/openapi-parser/tests/benchmark/single-reference.bench.ts
Due: prettier, eslint

fix: build
  packages/fastify-api-reference/vite.config.ts
Due: prettier, eslint

fix: tests (finally)
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
Due: prettier, eslint

refactor: use .ts extension instead .js in the fastify package
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/src/index.ts
  packages/fastify-api-reference/src/proxy.test.ts
  packages/fastify-api-reference/tests/exports.test.ts
  packages/fastify-api-reference/tsconfig.build.json
  packages/fastify-api-reference/vite.config.ts
  packages/openapi-parser/src/lib/Validator/Validator.ts
  packages/openapi-parser/tsconfig.build.json
  packages/types/tsconfig.build.json
Due: prettier, eslint

fix: build (no really)
  packages/fastify-api-reference/src/fastifyApiReference.ts
  packages/fastify-api-reference/tests/exports.test.ts
Due: prettier, eslint

fix(api-client): updates request params global cookies style
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

docs(changeset): fix: updates request params global cookies style
  .changeset/weak-boxes-film.md
Due: prettier

test: update CDN API Reference snapshots
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-Mobile-Chrome-linux.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-chromium-linux.png
  playwright/tests/jsdelivr.spec.ts-snapshots/jsdelivr-snapshot-firefox-linux.png
Due: none

fix(api-client): read-only cookies visualisation (#4684)
  .changeset/weak-boxes-film.md
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

Create SECURITY.md
  SECURITY.md
Due: prettier

chore: add operation alias
  packages/oas-utils/src/entities/spec/index.ts
  packages/oas-utils/src/entities/spec/operation.ts
  packages/oas-utils/src/entities/spec/requests.ts
Due: prettier, eslint

docs(changeset): chore: alias request to operation
  .changeset/poor-peaches-exist.md
Due: prettier

fix: pr fixes
  packages/api-client/src/libs/decode-buffer.test.ts
  packages/api-client/src/libs/send-request/create-fetch-auth.test.ts
  packages/oas-utils/src/helpers/redirectToProxy.ts
Due: prettier, eslint

feat: divide up send-request file into lib
  packages/api-client/src/libs/send-request/create-fetch-body.test.ts
  packages/api-client/src/libs/send-request/create-fetch-body.ts
  packages/api-client/src/libs/send-request/create-fetch-headers.test.ts
  packages/api-client/src/libs/send-request/create-fetch-headers.ts
  packages/api-client/src/libs/send-request/create-fetch-query-params.test.ts
  packages/api-client/src/libs/send-request/create-fetch-query-params.ts
  packages/api-client/src/libs/send-request/create-request-operation.test.ts
  packages/api-client/src/libs/send-request/create-request-operation.ts
  packages/api-client/src/libs/send-request/decode-buffer.test.ts
  packages/api-client/src/libs/send-request/decode-buffer.ts
  packages/api-client/src/libs/send-request/ensure-protocol.ts
  packages/api-client/src/libs/send-request/index.ts
  packages/api-client/src/libs/send-request/merge-urls.test.ts
  packages/api-client/src/libs/send-request/merge-urls.ts
Due: prettier, eslint

docs(changeset): chore: refactored send request with extensive test suite
  .changeset/blue-deers-invent.md
Due: prettier

chore: rename last func
  packages/api-client/src/libs/send-request/index.ts
  packages/api-client/src/libs/send-request/merge-urls.test.ts
Due: prettier, eslint

Update regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
Due: prettier, eslint

feat: add new regex for checking protocol
  packages/api-client/src/libs/send-request/ensure-protocol.test.ts
  packages/api-client/src/libs/send-request/ensure-protocol.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.ts
Due: prettier, eslint

chore: remove old send request
  packages/api-client/src/libs/send-request/send-request.ts
Due: prettier, eslint

chore: remove concatenateUrlAndPath
  packages/api-client/src/libs/send-request/merge-urls.test.ts
  packages/api-client/src/libs/send-request/merge-urls.ts
Due: prettier, eslint

chore: replace concatenate helper
  packages/api-client/src/libs/send-request/create-request-operation.ts
  packages/api-client/src/libs/send-request/index.ts
  packages/api-client/tsconfig.json
  packages/oas-utils/src/helpers/concatenateUrlAndPath.test.ts
  packages/oas-utils/src/helpers/concatenateUrlAndPath.ts
  packages/oas-utils/src/helpers/ensure-protocol.test.ts
  packages/oas-utils/src/helpers/ensure-protocol.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/merge-urls.test.ts
  packages/oas-utils/src/helpers/merge-urls.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: remove extra replaces
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

chore: remove extra only
  packages/oas-utils/src/helpers/merge-urls.test.ts
Due: prettier, eslint

chore: set jsdom on test
  packages/oas-utils/src/helpers/merge-urls.test.ts
Due: prettier, eslint

feat(oas-utils): alias request with operation (#4692)
  .changeset/poor-peaches-exist.md
  packages/oas-utils/src/entities/spec/index.ts
  packages/oas-utils/src/entities/spec/operation.ts
  packages/oas-utils/src/entities/spec/requests.ts
Due: prettier, eslint

chore: remove only
  packages/oas-utils/src/helpers/merge-urls.test.ts
Due: prettier, eslint

refactor(api-client): send request lib (#4691)
  .changeset/blue-deers-invent.md
  packages/api-client/src/libs/send-request/create-fetch-auth.test.ts
  packages/api-client/src/libs/send-request/create-fetch-body.test.ts
  packages/api-client/src/libs/send-request/create-fetch-body.ts
  packages/api-client/src/libs/send-request/create-fetch-headers.test.ts
  packages/api-client/src/libs/send-request/create-fetch-headers.ts
  packages/api-client/src/libs/send-request/create-fetch-query-params.test.ts
  packages/api-client/src/libs/send-request/create-fetch-query-params.ts
  packages/api-client/src/libs/send-request/create-request-operation.test.ts
  packages/api-client/src/libs/send-request/create-request-operation.ts
  packages/api-client/src/libs/send-request/decode-buffer.test.ts
  packages/api-client/src/libs/send-request/decode-buffer.ts
  packages/api-client/src/libs/send-request/index.ts
  packages/api-client/tsconfig.json
  packages/oas-utils/src/helpers/concatenateUrlAndPath.test.ts
  packages/oas-utils/src/helpers/concatenateUrlAndPath.ts
  packages/oas-utils/src/helpers/ensure-protocol.test.ts
  packages/oas-utils/src/helpers/ensure-protocol.ts
  packages/oas-utils/src/helpers/index.ts
  packages/oas-utils/src/helpers/merge-urls.test.ts
  packages/oas-utils/src/helpers/merge-urls.ts
  packages/oas-utils/src/helpers/redirectToProxy.ts
  packages/oas-utils/src/helpers/regexHelpers.test.ts
  packages/oas-utils/src/helpers/regexHelpers.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix(api-client): updates scalar hotkey class binding
  packages/api-client/src/components/ScalarHotkey.vue
Due: prettier, eslint

docs(changeset): feat: adds empty state
  .changeset/serious-needles-lay.md
Due: prettier

feat(api-client): extracts empty state component
  packages/api-client/src/components/EmptyState.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
Due: prettier, eslint

feat(api-client): adds empty state to cookies and servers page
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Servers/Servers.vue
Due: prettier, eslint

feat(api-client): empty state (#4697)
  .changeset/serious-needles-lay.md
  packages/api-client/src/components/EmptyState.vue
  packages/api-client/src/components/Form/Form.vue
  packages/api-client/src/components/ScalarHotkey.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Servers/Servers.vue
Due: prettier, eslint

fix(components): improve combobox resizing
  packages/components/src/components/ScalarCombobox/ScalarCombobox.stories.ts
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarCombobox/types.ts
Due: prettier, eslint

fix: add optional chaining
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
Due: prettier, eslint

docs(changeset): fix(components): improve combobox resizing
  .changeset/slimy-pillows-sin.md
Due: prettier

docs(changeset): fix(components): set z-index on ScalarMenu by default
  .changeset/mean-experts-count.md
Due: prettier

fix(api-client): sets domain input as optional in cookies
  packages/api-client/src/views/Cookies/CookieModal.vue
Due: prettier, eslint

docs(changeset): fix: sets domain input as optional in cookies
  .changeset/smart-glasses-joke.md
Due: prettier

fix(components): improve combobox resizing (#4694)
  .changeset/mean-experts-count.md
  .changeset/slimy-pillows-sin.md
  packages/components/src/components/ScalarCombobox/ScalarCombobox.stories.ts
  packages/components/src/components/ScalarCombobox/ScalarCombobox.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxMultiselect.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
  packages/components/src/components/ScalarCombobox/types.ts
Due: prettier, eslint
