Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test(workspace-store): cover unresolved $ref preservation through coercion
  packages/workspace-store/src/schemas/v3.1/strict/reference.test.ts
  packages/workspace-store/src/schemas/v3.1/strict/responses.test.ts
Due: prettier, biome

test(blocks): drop now-unused ts-expect-error for optional $ref-value
  packages/blocks/src/code-example/components/CodeExample.test.ts
Due: prettier, biome

fix(json-magic): preserve schema scope in bundled references
  packages/json-magic/src/bundle/bundle.test.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/json-magic/src/bundle/document-references.test.ts
  packages/json-magic/src/bundle/document-references.ts
  packages/json-magic/src/helpers/convert-to-local-ref.test.ts
  packages/json-magic/src/helpers/convert-to-local-ref.ts
  packages/json-magic/src/helpers/get-schemas.ts
  packages/workspace-store/src/plugins/bundler/index.test.ts
Due: prettier, biome

feat(api-client): add date and time picker for date/date-time/time fields
  .changeset/date-time-picker.md
  packages/api-client/package.json
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/blocks/request-block/helpers/validate-parameter.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/validate-parameter.ts
  packages/api-client/src/v2/components/date-picker/DatePicker.vue
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
  packages/api-client/src/v2/components/date-picker/date-parts.ts
  packages/api-client/src/v2/components/date-picker/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

feat(api-client): parse live JSON and multipart response streams
  .changeset/live-response-streams.md
  .github/pr-artifacts/live-response-streams.png
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyStreaming.test.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyStreaming.vue
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream-multipart.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream-multipart.ts
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.ts
Due: prettier, biome

feat(workspace-store): share OpenAPI 3.2 example value selection
  .changeset/shared-example-values.md
  .github/pr-artifacts/openapi-example-fields.png
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
  packages/api-reference/src/features/example-responses/ExampleResponses.vue
  packages/api-reference/src/features/example-responses/helpers/get-example-content.test.ts
  packages/api-reference/src/features/example-responses/helpers/get-example-content.ts
  packages/blocks/src/code-example/helpers/operation-to-har/process-body.test.ts
  packages/blocks/src/code-example/helpers/operation-to-har/process-body.ts
  packages/workspace-store/src/helpers/get-example-value.test.ts
  packages/workspace-store/src/helpers/get-example-value.ts
  packages/workspace-store/src/mutators/operation/body.ts
  packages/workspace-store/src/request-example/builder/body/build-request-body.ts
  packages/workspace-store/src/request-example/builder/body/get-request-body-example.ts
  packages/workspace-store/src/schemas/v3.2/openapi/index.ts
Due: prettier, biome

fix(api-client): keep wrapping controls accessible and editors in flow
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyRaw.test.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyRaw.vue
  packages/api-client/src/v2/components/code-input/CodeInput.test.ts
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome

Delete .github/pr-artifacts/openapi-example-fields.png
  .github/pr-artifacts/openapi-example-fields.png
Due: none

feat(api-client): select multiple files for array form fields
  .changeset/multi-file-upload.md
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.vue
Due: prettier, biome

refactor(api-client): keep wrapping controls internal
  packages/api-client/src/v2/components/code-input/CodeInput.vue
Due: prettier, biome

test(api-client): verify request body clipboard behavior
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
Due: prettier, biome

fix(api-client): preserve structured primitives in body form view
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBody.vue
Due: prettier, biome

fix(api-client): preserve streaming response metadata and framing
  .github/pr-artifacts/live-response-streams.png
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.test.ts
  packages/api-client/src/v2/blocks/operation-block/helpers/send-request.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.test.ts
  packages/api-client/src/v2/blocks/response-block/ResponseBlock.vue
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.ts
Due: prettier, biome

fix(api-reference): retry preparation after configuration recovery
  packages/api-reference/playwright/test/ssr-hydration.e2e.ts
  packages/api-reference/src/standalone/lib/html-api.ts
Due: prettier, biome

test(workspace-store): strictly assert unresolved references
  packages/workspace-store/src/schemas/v3.1/strict/reference.test.ts
Due: prettier, biome

fix(api-reference): preserve bounded legacy example formatting
  packages/api-reference/src/features/example-responses/helpers/get-example-content.test.ts
  packages/api-reference/src/features/example-responses/helpers/get-example-content.ts
  packages/workspace-store/src/helpers/get-example-value.test.ts
  packages/workspace-store/src/mutators/operation/body.test.ts
  packages/workspace-store/src/mutators/operation/body.ts
  packages/workspace-store/src/request-example/builder/body/build-request-body.test.ts
Due: prettier, biome

fix(api-client): enforce streaming limits in UTF-8 bytes
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyStreaming.test.ts
  packages/api-client/src/v2/blocks/response-block/components/ResponseBodyStreaming.vue
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.test.ts
  packages/api-client/src/v2/blocks/response-block/helpers/response-stream.ts
Due: prettier, biome

test(api-reference): assert bundled schema reference precisely
  packages/api-reference/src/helpers/prepare-api-reference.test.ts
Due: prettier, biome

feat(openapi-to-markdown): render individual reference pages (#10169)
  .changeset/fresh-reference-pages.md
  packages/openapi-to-markdown/README.md
  packages/openapi-to-markdown/src/components/MarkdownReference.vue
  packages/openapi-to-markdown/src/components/Schema.vue
  packages/openapi-to-markdown/src/components/Security.vue
  packages/openapi-to-markdown/src/create-markdown-from-openapi.ts
  packages/openapi-to-markdown/src/selection.test.ts
  packages/openapi-to-markdown/vitest.config.ts
Due: prettier, biome

refactor(workspace-store): isolate OpenAPI document identity handling
  .changeset/tidy-orders-resolve.md
  packages/agent-chat/src/registry/add-documents-to-store.ts
  packages/json-magic/README.md
  packages/json-magic/src/bundle/bundle.test.ts
  packages/json-magic/src/bundle/bundle.ts
  packages/json-magic/src/bundle/document-references.test.ts
  packages/json-magic/src/bundle/document-references.ts
  packages/json-magic/src/bundle/index.ts
  packages/json-magic/src/helpers/get-schemas.ts
  packages/json-magic/src/magic-proxy/proxy.test.ts
  packages/json-magic/src/magic-proxy/proxy.ts
  packages/mock-server/src/utils/process-openapi-document.test.ts
  packages/mock-server/src/utils/process-openapi-document.ts
  packages/workspace-store/README.md
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/plugins/bundler/index.ts
  packages/workspace-store/src/plugins/bundler/openapi-document.test.ts
  packages/workspace-store/src/plugins/bundler/openapi-document.ts
  packages/workspace-store/src/server.ts
Due: prettier, biome

Delete .github/pr-artifacts/live-response-streams.png
  .github/pr-artifacts/live-response-streams.png
Due: none

fix(openapi-upgrader): preserve semantics when upgrading to OpenAPI 3.2
  .changeset/fix-openapi-three-two-upgrade.md
  documentation/guides/openapi-upgrader/getting-started.md
  packages/openapi-upgrader/src/3.1-to-3.2/clone-document.ts
  packages/openapi-upgrader/src/3.1-to-3.2/migrate-objects.ts
  packages/openapi-upgrader/src/3.1-to-3.2/migrate-tag-groups.ts
  packages/openapi-upgrader/src/3.1-to-3.2/upgrade-from-three-one-to-three-two.test.ts
  packages/openapi-upgrader/src/3.1-to-3.2/upgrade-from-three-one-to-three-two.ts
  packages/openapi-upgrader/src/upgrade.test.ts
  packages/openapi-upgrader/src/upgrade.ts
Due: prettier, biome

fix(workspace-store): strip fragments from document base URIs
  packages/workspace-store/src/plugins/bundler/openapi-document.test.ts
  packages/workspace-store/src/plugins/bundler/openapi-document.ts
Due: prettier, biome

docs(workspace-store): add OpenAPI self example
  packages/workspace-store/README.md
  packages/workspace-store/examples/openapi-self.yaml
Due: prettier

fix(openapi-upgrader): resolve references through own property descriptors
  packages/openapi-upgrader/src/3.1-to-3.2/migrate-objects.ts
  packages/openapi-upgrader/src/3.1-to-3.2/upgrade-from-three-one-to-three-two.test.ts
Due: prettier, biome

Revert "docs(workspace-store): add OpenAPI self example"
  packages/workspace-store/README.md
  packages/workspace-store/examples/openapi-self.yaml
Due: prettier

refactor(types): remove unnecessary type error suppressions
  .changeset/quiet-types-check.md
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/components/Content/Schema/helpers/merge-all-of-schemas.ts
  packages/api-reference/src/components/Content/Schema/helpers/optimize-value-for-display.ts
  packages/code-highlight/playground/main.ts
  packages/code-highlight/playground/vite-env.d.ts
  packages/schemas/src/api-reference/api-reference-configuration.ts
  packages/types/src/api-reference/api-reference-configuration.ts
  packages/validation/src/coerce.test.ts
Due: prettier, biome

fix(api-client): keep multipart file selections together
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.test.ts
  packages/api-client/src/v2/blocks/request-block/components/RequestBodyForm.vue
Due: prettier, biome

fix(api-client): polish date picker and preserve time offsets
  packages/api-client/src/v2/components/date-picker/DatePicker.test.ts
  packages/api-client/src/v2/components/date-picker/DatePicker.vue
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
  packages/api-client/src/v2/components/date-picker/date-parts.ts
  packages/api-client/src/v2/components/date-picker/snapshots/date-picker.png
Due: prettier, biome

fix(pre-post-request-scripts): expose response duration (#10160)
  .changeset/friendly-scripts-response-time.md
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.test.ts
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/oas-utils/src/helpers/client-plugins.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.test.ts
  packages/pre-post-request-scripts/src/consts/example-scripts.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/execute-post-response-script.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-adapter.test.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-adapter.ts
  packages/pre-post-request-scripts/src/libs/execute-scripts/postman-adapter/sandbox-protocol.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.test.ts
  packages/pre-post-request-scripts/src/plugins/request-scripts/request-scripts-plugin.ts
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: prettier, biome

test(openapi-validator): check duplicate required properties (#10158)
  .changeset/quiet-trees-validate.md
  packages/openapi-validator/tests/openapi3-examples/3.0/fail/duplicateRequired.test.ts
Due: prettier, biome

test(api-reference): cover nested schema selector titles (#10159)
  .changeset/nested-composition-test.md
  packages/api-reference/src/components/Content/Schema/SchemaProperty.test.ts
Due: prettier, biome

test(api-client): assert complete date picker values
  packages/api-client/src/v2/components/date-picker/date-parts.test.ts
Due: prettier, biome

fix(api-client): match composed form checkboxes to sent fields (#10170)
  .changeset/quiet-forms-match-requests.md
  packages/api-client/src/v2/blocks/request-block/helpers/get-form-body-rows.test.ts
  packages/api-client/src/v2/blocks/request-block/helpers/get-form-body-rows.ts
Due: prettier, biome

docs(docs): explain switching Git repositories (#10184)
  documentation/guides/docs/integrations/github.md
Due: prettier

docs(dashboard): update API management navigation (#10187)
  documentation/guides/agent/mcp.md
  documentation/guides/registry/upload.md
Due: prettier

fix(openapi-validator): explain invalid URI references (#10202)
  .changeset/friendly-reference-errors.md
  packages/json-schema-validator/src/create-specification-validator.ts
  packages/json-schema-validator/src/prettify-ajv-errors.ts
  packages/json-schema-validator/src/validate.test.ts
  packages/openapi-parser/src/utils/resolve-references.ts
  packages/openapi-parser/src/utils/validate.test.ts
  packages/openapi-validator/src/explain-component-references.test.ts
  packages/openapi-validator/src/explain-component-references.ts
  packages/openapi-validator/src/validate.test.ts
  packages/openapi-validator/src/validate.ts
Due: prettier, biome

fix(workspace-store): honor discriminator `defaultMapping` in examples (#10199)
  .changeset/tidy-pets-fallback.md
  packages/workspace-store/src/request-example/builder/helpers/get-example-from-schema.test.ts
  packages/workspace-store/src/request-example/builder/helpers/get-example-from-schema.ts
Due: prettier, biome

docs(api-client): show grouped multipart files
  packages/api-client/src/v2/blocks/request-block/components/snapshots/multipart-files.png
Due: none

feat(api-reference): add opt-in Mermaid Markdown plugin
  .changeset/mermaid-markdown-plugin.md
  knip.jsonc
  packages/api-reference/playground/mermaid/index.html
  packages/api-reference/playground/mermaid/main.ts
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/plugins/plugin-manager.test.ts
  packages/api-reference/src/plugins/plugin-manager.ts
  packages/components/src/components/ScalarMarkdown/ScalarMarkdown.vue
  packages/components/src/components/ScalarMarkdown/index.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.test.ts
  packages/components/src/components/ScalarMarkdown/useMarkdownRenderHooks.ts
  packages/components/src/index.ts
  packages/helpers/src/markdown/markdown-render-hook.ts
  packages/mermaid-plugin/CHANGELOG.md
  packages/mermaid-plugin/README.md
  packages/mermaid-plugin/package.json
  packages/mermaid-plugin/screenshots/modal.png
  packages/mermaid-plugin/screenshots/reference.png
  packages/mermaid-plugin/src/create-diagram.test.ts
  packages/mermaid-plugin/src/create-diagram.ts
  packages/mermaid-plugin/src/index.ts
  packages/mermaid-plugin/src/render-mermaid.test.ts
  packages/mermaid-plugin/src/render-mermaid.ts
  packages/mermaid-plugin/tsconfig.build.json
  packages/mermaid-plugin/tsconfig.json
  packages/schemas/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/api-reference-plugin.ts
  packages/types/src/api-reference/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
