Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

fix: stop propogation on menu
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

feat: creating workspaces works
  packages/api-client/src/App.vue
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

fix: upload spec properly without overwriting
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

fix: some missing data
  packages/api-client/src/App/ApiClientApp.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteCollection.vue
Due: prettier, eslint

fix: workspace button + add workspace icon
  packages/api-client/src/components/CommandPalette/CommandPalette.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownItem.vue
  packages/components/src/components/ScalarIcon/icons/Workspace.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
Due: prettier, eslint

fix: add request to folder
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/store/workspace.ts
Due: prettier, eslint

fix: activeRoute highlight
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/constants.ts
  packages/api-client/src/router.ts
  packages/api-client/src/store/topNav.ts
  packages/api-client/src/store/workspace.ts
  packages/oas-utils/src/helpers/string.ts
Due: prettier, eslint

feat: multiple workspaces complete
  packages/api-client/src/App.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
Due: prettier, eslint

RELEASING: Releasing 15 package(s) (#2512)
  .changeset/fresh-grapes-occur.md
  .changeset/great-nails-live.md
  .changeset/itchy-beds-happen.md
  .changeset/lemon-pillows-bathe.md
  packages/api-client-react/CHANGELOG.md
  packages/api-client-react/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

chore(hono): move example to package folder (#2423)
  .dockerignore
  cloudbuild.yaml
  examples/hono-api-reference/Dockerfile
  examples/hono-api-reference/package.json
  examples/hono-api-reference/tsconfig.json
  examples/hono-api-reference/vite.config.ts
  package.json
  packages/api-client-app/package.json
  packages/build-tooling/src/entry.ts
  packages/hono-api-reference/Dockerfile
  packages/hono-api-reference/package.json
  packages/hono-api-reference/playground/index.ts
  packages/hono-api-reference/rollup.config.ts
  packages/hono-api-reference/src/honoApiReference.test.ts
  packages/hono-api-reference/tsconfig.build.json
  packages/hono-api-reference/tsconfig.json
  packages/hono-api-reference/vitest.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(mock-server): check OpenAuth2 password grant authentication is required (#2505)
  .changeset/six-laws-attack.md
  .changeset/soft-rules-float.md
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/utils/anyOpenAuthPasswordGrantAuthentication.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrl.ts
  packages/mock-server/src/utils/isOpenAuthPasswordGrantRequired.ts
  packages/mock-server/tests/basicAuthentication.test.ts
  packages/mock-server/tests/oAuthPasswordGrant.test.ts
Due: prettier, eslint

chore(mock-server): update build setup (#2506)
  .changeset/happy-onions-cough.md
  packages/mock-server/env.d.ts
  packages/mock-server/package.json
  packages/mock-server/playground/index.ts
  packages/mock-server/rollup.config.js
  packages/mock-server/rollup.config.ts
  packages/mock-server/tsconfig.build.json
  packages/mock-server/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: set background color on body
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

docs(changeset): fix: set background color on body
  .changeset/tidy-peas-call.md
Due: prettier

feat: add defaultHttpClient configuration
  documentation/configuration.md
  packages/api-reference/index.html
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/stores/useHttpClientStore.test.ts
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

test: test the default http client state
  packages/api-reference/src/stores/useHttpClientStore.test.ts
Due: prettier, eslint

docs(changeset): feat: configure the `defaultHttpClient`
  .changeset/ninety-dolphins-search.md
Due: prettier

chore: make react and next a peer dependency
  packages/api-reference-react/package.json
  packages/docusaurus/package.json
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

docs(changeset): chore: make react and next a peer dependency
  .changeset/pink-dots-march.md
Due: prettier

feat(api-reference): configure `defaultHttpClient`, fix #2075 (#2504)
  .changeset/ninety-dolphins-search.md
  documentation/configuration.md
  packages/api-reference/index.html
  packages/api-reference/src/components/ApiReference.vue
  packages/api-reference/src/stores/useHttpClientStore.test.ts
  packages/api-reference/src/stores/useHttpClientStore.ts
  packages/api-reference/src/types.ts
Due: prettier, eslint

fix(api-reference): set background color on body, fix #2496 (#2517)
  .changeset/tidy-peas-call.md
  packages/api-reference/src/components/ApiReference.vue
Due: prettier, eslint

chore: make react a peer dependency, fix #2482 (#2518)
  .changeset/pink-dots-march.md
  packages/api-reference-react/package.json
  packages/docusaurus/package.json
  packages/nextjs-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: router types
  packages/api-client/src/router.ts
Due: prettier, eslint

RELEASING: Releasing 13 package(s) (#2516)
  .changeset/happy-onions-cough.md
  .changeset/ninety-dolphins-search.md
  .changeset/pink-dots-march.md
  .changeset/six-laws-attack.md
  .changeset/soft-rules-float.md
  .changeset/tidy-peas-call.md
  packages/api-reference-editor/CHANGELOG.md
  packages/api-reference-editor/package.json
  packages/api-reference-react/CHANGELOG.md
  packages/api-reference-react/package.json
  packages/api-reference/CHANGELOG.md
  packages/api-reference/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/docusaurus/CHANGELOG.md
  packages/docusaurus/package.json
  packages/express-api-reference/CHANGELOG.md
  packages/express-api-reference/package.json
  packages/fastify-api-reference/CHANGELOG.md
  packages/fastify-api-reference/package.json
  packages/hono-api-reference/CHANGELOG.md
  packages/hono-api-reference/package.json
  packages/mock-server/CHANGELOG.md
  packages/mock-server/package.json
  packages/nestjs-api-reference/CHANGELOG.md
  packages/nestjs-api-reference/package.json
  packages/nextjs-api-reference/CHANGELOG.md
  packages/nextjs-api-reference/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/play-button/CHANGELOG.md
  packages/play-button/package.json
Due: prettier

feat(doc 2095): handle multiple workspace part 2 (#2514)
  .changeset/fuzzy-insects-shake.md
  packages/api-client/src/App.vue
  packages/api-client/src/App/ApiClientApp.vue
  packages/api-client/src/components/CommandPalette/CommandPalette.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteExample.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteFolder.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteImport.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteRequest.vue
  packages/api-client/src/components/CommandPalette/CommandPaletteWorkspace.vue
  packages/api-client/src/components/SideNav/SideNav.vue
  packages/api-client/src/components/SideNav/SideNavLink.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/components/TopNav/TopNavItem.vue
  packages/api-client/src/constants.ts
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/router.ts
  packages/api-client/src/store/topNav.ts
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Collection/Collection.vue
  packages/api-client/src/views/Components/Schemas/Schemas.vue
  packages/api-client/src/views/Cookies/Cookies.vue
  packages/api-client/src/views/Environment/Environment.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/api-client/src/views/Request/components/index.ts
  packages/api-client/src/views/Servers/Servers.vue
  packages/components/src/components/ScalarDropdown/ScalarDropdownItem.vue
  packages/components/src/components/ScalarIcon/icons/Workspace.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
  packages/oas-utils/src/helpers/string.ts
Due: prettier, eslint

fix: code input add border radius
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

chore: hoist workspace packages
  examples/cdn-api-reference/package.json
  examples/express-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/hono-api-reference/package.json
  examples/nestjs-api-reference-express/package.json
  examples/nestjs-api-reference-fastify/package.json
  examples/proxy-server/package.json
  examples/react/package.json
  examples/ssg/package.json
  examples/web/package.json
  package.json
  packages/api-client-proxy/package.json
  packages/api-client/package.json
  packages/api-reference-editor/package.json
  packages/api-reference/package.json
  packages/build-tooling/package.json
  packages/cli/package.json
  packages/code-highlight/package.json
  packages/components/package.json
  packages/draggable/package.json
  packages/echo-server/package.json
  packages/fastify-api-reference/package.json
  packages/galaxy/package.json
  packages/mock-server/package.json
  packages/nuxt/package.json
  packages/oas-utils/package.json
  packages/play-button/package.json
  packages/themes/package.json
  packages/use-codemirror/package.json
  packages/use-toasts/package.json
  packages/use-tooltip/package.json
  packages/void-server/package.json
  pnpm-lock.yaml
  scripts/bootstrap-package/package.json
Due: package_format, prettier

chore: remove deprecated tsc package
  package.json
  pnpm-lock.yaml
Due: package_format, prettier

chore: resolve lockfile conflicts
  pnpm-lock.yaml
Due: package_format, prettier

chore: rollback addressbar code variables
  packages/api-client/src/components/AddressBar/AddressBar.vue
Due: prettier, eslint

chore: fix lockfile
  packages/hono-api-reference/package.json
  pnpm-lock.yaml
Due: package_format, prettier

fix: make variable dropdowns not in readonly mode
  packages/api-client/src/components/CodeInput/CodeInput.vue
Due: prettier, eslint

fix(api-client): clipped border radius in requests
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

docs(changeset): fix: clipped border radius in requests items
  .changeset/breezy-insects-explode.md
Due: prettier

fix: table checkbox for required params on import
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

docs(changeset): fix: table checkbox for required params on import
  .changeset/honest-news-yawn.md
Due: prettier

fix(api-client): clipped border radius in requests (#2520)
  .changeset/breezy-insects-explode.md
  packages/api-client/src/views/Request/RequestSection/RequestTable.vue
Due: prettier, eslint

chore: remove formatting
  packages/api-client/src/components/AddressBar/AddressBar.vue
Due: prettier, eslint

chore: remove server widget
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/CodeInput/codeServerWidget.ts
Due: prettier, eslint

chore: remove unused variable dropdown component
  packages/api-client/src/components/DataTable/DataTableInput.vue
Due: prettier, eslint
