Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: improve test
  packages/mock-server/tests/authentication/apiKey.test.ts
Due: prettier, eslint

feat: add oauth code flow to OpenAPI example
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

chore: remove localhost
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

chore: add more tests
  packages/mock-server/src/utils/honoRouteFromPath.test.ts
Due: prettier, eslint

chore: clean up
  packages/mock-server/tests/authentication/oAuth.test.ts
Due: prettier, eslint

chore: authorize page a11y
  packages/mock-server/src/routes/respondWithAuthorizePage.ts
Due: prettier, eslint

Update packages/mock-server/src/routes/respondWithOpenApiDocument.ts
  packages/mock-server/src/routes/respondWithOpenApiDocument.ts
Due: prettier, eslint

chore: add a www-authenticate header default
  packages/mock-server/src/utils/handleAuthentication.ts
Due: prettier, eslint

chore: add missing scope
  packages/galaxy/src/specifications/3.1.yaml
Due: prettier

chore: validate more parameters in the token endpoint handler
  packages/mock-server/src/routes/respondWithToken.ts
Due: prettier, eslint

feat: add most auth methods
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/respondWithAuthorizePage.ts
Due: prettier, eslint

chore: improve basic auth test
  packages/mock-server/tests/authentication/basicAuthentication.test.ts
Due: prettier, eslint

Update packages/mock-server/src/utils/getOpenAuthTokenUrls.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrls.ts
Due: prettier, eslint

chore: use OpenAPI url instead of embedded content
  packages/mock-server/playground/index.ts
Due: prettier, eslint

chore: make mocked headers more robust
  packages/mock-server/src/routes/mockAnyResponse.ts
Due: prettier, eslint

Update packages/mock-server/src/utils/setupAuthenticationRoutes.ts
  packages/mock-server/src/utils/setupAuthenticationRoutes.ts
Due: prettier, eslint

docs(changeset): feat: add OAuth code flow
  .changeset/wild-bees-perform.md
Due: prettier

feat: add www-authenticate header
  packages/mock-server/src/utils/handleAuthentication.ts
  packages/mock-server/tests/authentication/bearerAuthentication.test.ts
Due: prettier, eslint

fix: undo strange changes
  packages/api-client/src/libs/create-client.ts
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
Due: prettier, eslint

ci: skip deploy-examples for forks and bot PRs (#3604)
  .github/workflows/ci.yml
Due: prettier

fix: Add future import for annotations for more version of python. (#3603)
  packages/scalar_fastapi/scalar_fastapi/scalar_fastapi.py
Due: none

style(api-client): updates active setting option ui state (#3607)
  .changeset/empty-pianos-bathe.md
  packages/api-client/src/views/Settings/SettingsGeneral.vue
  packages/api-client/src/views/Settings/SettingsGeneralMode.vue
Due: prettier, eslint

fix(openapi-parser): update `uri` types to be `uri-reference` in schema v3.1 (#3593)
  .changeset/early-cobras-fail.md
  packages/openapi-parser/src/schemas/v3.1/schema.json
Due: prettier

feat: added standalone build
  packages/api-client/license-banner-template.txt
  packages/api-client/package.json
  packages/api-client/vite.standalone.config.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(api-reference): create workspace store in references (#3595)
  .changeset/early-buckets-protect.md
  packages/api-client/src/index.ts
  packages/api-client/src/layouts/App/create-api-client-app.ts
  packages/api-client/src/layouts/Web/create-api-client-web.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/router.ts
  packages/api-client/src/store/store.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Operation/TestRequestButton.vue
  packages/api-reference/src/components/api-client-bus.ts
  packages/api-reference/src/embeds/OpenApiDocument/OpenApiDocument.vue
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/features/ApiClientModal/index.ts
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
  packages/api-reference/src/features/Search/SearchButton.vue
  packages/api-reference/src/helpers/index.ts
  packages/api-reference/src/helpers/openClientFor.ts
  packages/api-reference/src/hooks/useSidebar.ts
  packages/api-reference/src/legacy/components/SecurityScheme.vue
  packages/api-reference/src/legacy/stores/index.ts
  packages/api-reference/src/legacy/stores/useApiClientStore.ts
  packages/oas-utils/src/entities/spec/collection.ts
  packages/oas-utils/src/migrations/v-2.1.0/migration.ts
Due: prettier, eslint

chore: moved preferredSecurityScheme to authentication (state)
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/import-spec.ts
  packages/api-reference/index.html
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/features/ApiClientModal/ApiClientModal.vue
  packages/api-reference/src/features/ApiClientModal/useApiClient.ts
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

fix: prefill client auth
  packages/api-client/src/store/import-spec.ts
  packages/api-reference/index.html
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: sync selected auth to collection
  packages/api-client/src/layouts/Modal/create-api-client-modal.ts
  packages/api-client/src/store/import-spec.ts
  packages/api-reference/src/legacy/components/SecuritySchemeSelector.vue
  packages/oas-utils/src/transforms/import-spec.ts
Due: prettier, eslint

feat: display collection auth OR request
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
Due: prettier, eslint

docs(changeset): feat: synced up client auth with references
  .changeset/two-tables-invent.md
Due: prettier

docs(changeset): feat: added a standalone build
  .changeset/unlucky-pumas-sneeze.md
Due: prettier

fix(api-reference): sidebar a11y improvements (#3596)
  .changeset/tidy-pandas-tease.md
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/Sidebar/Sidebar.vue
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

feat(mock-server): add all the auth methods (#3591)
  .changeset/wild-bees-perform.md
  .changeset/wild-zebras-crash.md
  packages/galaxy/package.json
  packages/galaxy/src/specifications/3.1.yaml
  packages/mock-server/playground/index.ts
  packages/mock-server/src/createMockServer.ts
  packages/mock-server/src/routes/mockAnyResponse.ts
  packages/mock-server/src/routes/respondWithAuthorizePage.ts
  packages/mock-server/src/routes/respondWithOpenApiDocument.ts
  packages/mock-server/src/routes/respondWithToken.ts
  packages/mock-server/src/types.ts
  packages/mock-server/src/utils/anyBasicAuthentication.ts
  packages/mock-server/src/utils/anyOpenAuthPasswordGrantAuthentication.ts
  packages/mock-server/src/utils/createOpenAPIDocument.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrl.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrls.test.ts
  packages/mock-server/src/utils/getOpenAuthTokenUrls.ts
  packages/mock-server/src/utils/handleAuthentication.ts
  packages/mock-server/src/utils/honoRouteFromPath.test.ts
  packages/mock-server/src/utils/index.ts
  packages/mock-server/src/utils/isAuthenticationRequired.test.ts
  packages/mock-server/src/utils/isBasicAuthenticationRequired.ts
  packages/mock-server/src/utils/isOpenAuthPasswordGrantRequired.ts
  packages/mock-server/src/utils/logAuthenticationInstructions.ts
  packages/mock-server/src/utils/setupAuthenticationRoutes.ts
  packages/mock-server/tests/authentication/apiKey.test.ts
  packages/mock-server/tests/authentication/basicAuthentication.test.ts
  packages/mock-server/tests/authentication/bearerAuthentication.test.ts
  packages/mock-server/tests/authentication/oAuth.test.ts
  packages/mock-server/tests/basicAuthentication.test.ts
  packages/mock-server/tests/galaxy.test.ts
  packages/mock-server/tests/oAuthPasswordGrant.test.ts
  packages/mock-server/tests/onRequest.test.ts
Due: prettier, eslint

chore: update wording
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
Due: prettier, eslint

feat: the button wip
  packages/api-reference/src/components/DarkModeToggle/DarkModeToggle.vue
  packages/api-reference/src/components/Layouts/ModernLayout.vue
Due: prettier, eslint

docs(changeset): feat: add the sidebar button
  .changeset/perfect-ducks-crash.md
Due: prettier

fix: always imports to default workspace
  packages/api-client/src/components/ImportCollection/ImportNowButton.vue
Due: prettier, eslint

chore: add new web playground
  packages/api-client/package.json
Due: prettier

chore: remove padding from workspace dropdown
  packages/api-client/package.json
  packages/api-client/src/components/ImportCollection/ImportCollectionModal.vue
  packages/api-client/src/components/ImportCollection/hooks/useUrlPrefetcher.ts
Due: prettier, eslint

fix: relative URLs can’t be imported
  packages/api-reference/src/components/OpenApiClientButton.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
