Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

test: more htmlFromMarkdown tests
  packages/code-highlight/src/markdown/htmlFromMarkdown.test.ts
Due: prettier, eslint

test: headings in useSidebar
  packages/api-reference/src/hooks/useSidebar.test.ts
  packages/api-reference/src/hooks/useSidebar.ts
Due: prettier, eslint

chore: delete changeset, no need for docs changes
  .changeset/cool-kiwis-run.md
Due: prettier

fix: use workflow file in same branch
  .github/workflows/ci.yml
Due: prettier

fix: wrong branch context variable
  .github/workflows/ci.yml
Due: prettier

refactor: additionalProperties in getExampleFromSchema
  packages/oas-utils/src/spec-getters/getExampleFromSchema.test.ts
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
Due: prettier, eslint

docs: add x-additionalPropertiesName
  documentation/openapi.md
Due: prettier

style: improve the rendering of additional attributes
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

style: fix font size for additional properties
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
Due: prettier, eslint

docs(changeset): fix: additionalProperties are not rendered correctly
  .changeset/weak-fishes-burn.md
Due: prettier

chore: clean up
  packages/api-client-app/src/main/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

chore: improve types
  packages/api-client-app/src/preload/index.ts
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

chore(fastify-api-reference): change default routePrefix (#2785)
  .changeset/forty-ravens-teach.md
  packages/fastify-api-reference/src/fastifyApiReference.test.ts
  packages/fastify-api-reference/src/fastifyApiReference.ts
Due: prettier, eslint

docs: documented new showNavLink option in docusaurus plugin (#2784)
  packages/docusaurus/README.md
Due: prettier

chore: extend the list of codeowners
  CODEOWNERS
Due: none

chore: add code owner to @scalar/build-tooling
  CODEOWNERS
Due: none

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: prettier

chore: update example key
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

fix: tests
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

docs(contributor): contrib-readme-action has updated readme (#2790)
  README.md
Due: prettier

chore: remove testing space
  packages/api-client/src/libs/event-busses/hot-key.ts
Due: prettier, eslint

feat: hotkey arc
  packages/api-client/package.json
  packages/api-client/playground/modal/index.html
  packages/api-client/playground/modal/main.ts
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/event-busses/command-palette.ts
  packages/api-client/src/libs/event-busses/execute-requestBus.ts
  packages/api-client/src/libs/event-busses/hot-key.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/libs/event-busses/requestStatusBus.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
  packages/oas-utils/src/entities/workspace/consts/index.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

feat: added modifiers
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/event-busses/hot-key.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

chore: code cleanup
  packages/api-client/src/libs/event-busses/hot-key.ts
Due: prettier, eslint

chore: remove extra lettes
  packages/api-client/playground/modal/main.ts
Due: prettier, eslint

fix: base url random scrollbar
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

fix: overflow hide scrollbar height
  packages/api-reference/src/features/BaseUrl/ServerUrlSelect.vue
Due: prettier, eslint

fix: client libraries hover effect fix
  packages/api-reference/src/components/Content/ClientLibraries/ClientSelector.vue
Due: prettier, eslint

chore: merge conflicts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/libs/event-busses/request-status-bus.ts
  packages/api-client/src/libs/eventBusses/index.ts
Due: prettier, eslint

chore: rename lint to check
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/ScalarConfigJsonSchema.json
  packages/cli/src/commands/check/check.test.ts
  packages/cli/src/commands/check/check.ts
  packages/cli/src/commands/check/invalid.json
  packages/cli/src/commands/check/types.ts
  packages/cli/src/commands/check/valid.json
Due: prettier, eslint

chore: separate config package
  packages/cli/src/commands/check/CheckCommand.ts
  packages/cli/src/commands/check/check.test.ts
  packages/cli/tsconfig.json
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/src/ScalarConfigJsonSchema.json
  packages/config/src/check.test.ts
  packages/config/src/check.ts
  packages/config/src/index.ts
  packages/config/src/invalid.json
  packages/config/src/types.ts
  packages/config/src/valid.json
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat(api-client): adds the ability for custom hotkeys (#2742)
  packages/api-client/package.json
  packages/api-client/playground/modal/index.html
  packages/api-client/playground/modal/main.ts
  packages/api-client/src/components/CommandPalette/TheCommandPalette.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/layouts/Modal/ApiClientModal.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/event-busses/command-palette.ts
  packages/api-client/src/libs/event-busses/execute-requestBus.ts
  packages/api-client/src/libs/event-busses/hot-key.ts
  packages/api-client/src/libs/event-busses/index.ts
  packages/api-client/src/libs/event-busses/request-status-bus.ts
  packages/api-client/src/libs/eventBusses/index.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebarItemMenu.vue
  packages/api-client/src/views/Request/components/WorkspaceDropdown.vue
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/consts/hot-keys.ts
  packages/oas-utils/src/entities/workspace/consts/index.ts
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

chore: extend the list of codeowners (#2789)
  CODEOWNERS
Due: none

fix(api-reference): additional properties, fix #2457, fix #1858, fix #2606 (#2787)
  .changeset/weak-fishes-burn.md
  documentation/openapi.md
  packages/api-reference/src/components/Content/Schema/Schema.vue
  packages/api-reference/src/components/Content/Schema/SchemaPropertyHeading.vue
  packages/oas-utils/src/spec-getters/getExampleFromSchema.test.ts
  packages/oas-utils/src/spec-getters/getExampleFromSchema.ts
  packages/oas-utils/src/spec-getters/getRequestBodyFromOperation.test.ts
Due: prettier, eslint

chore: setup build and test scripts for @scalar/config package
  packages/cli/src/commands/index.ts
  packages/config/package.json
  packages/config/rollup.config.ts
  packages/config/src/check.test.ts
  packages/config/src/check.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add required lint scripts
  packages/config/package.json
Due: prettier

chore: readme and test organization
  packages/config/README.md
  packages/config/test/check.test.ts
  packages/config/test/invalid.json
  packages/config/test/valid.json
Due: prettier, eslint

fix(themes): sets a default for scalar brightness filters
  packages/themes/src/variables.css
Due: prettier

docs(changeset): fix(themes): sets a default for scalar brightness filters
  .changeset/flat-books-leave.md
Due: prettier

fix(use-toasts): set parent class for scalar toasts
  packages/use-toasts/src/components/ScalarToasts.vue
Due: prettier, eslint

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
