Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

chore(astro): add transition playground route
  integrations/astro/playground/src/pages/about.astro
  integrations/astro/playground/src/pages/client.astro
Due: biome

clean up
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/NewSidear.vue
Due: prettier, biome

fix formatting
  packages/api-client/src/v2/features/search/components/DocumentSearchModal.vue
  packages/api-client/src/v2/features/search/components/SearchResult.vue
Due: prettier, biome

docs(contributing): add AI assisted coding guidelines (#8962)
  CONTRIBUTING.md
Due: prettier

docs(agents): merge guidance and symlink claude (#8961)
  AGENTS.md
  CLAUDE.md
Due: prettier

docs(mock-server): add mock-server agent skill (#8960)
  .agents/skills/mock-server/SKILL.md
  documentation/guides/docs/configuration/agent-skills.md
  documentation/guides/mock-server/agent-skills.md
  scalar.config.json
Due: prettier, biome

add empty state
  packages/api-client/src/v2/features/app/components/NewSidear.vue
Due: prettier, biome

refactor: remove the old app sidebar
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/components/NewSidear.vue
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-documents.ts
Due: prettier, biome

clean up
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/hooks/use-document-filter.test.ts
  packages/api-client/src/v2/features/app/hooks/use-document-filter.ts
Due: prettier, biome

refacotr th econtext menu
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.test.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.ts
Due: prettier, biome

wip
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.test.ts
Due: prettier, biome

clean up
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
  packages/sidebar/src/components/SidebarItemDecorator.vue
Due: prettier, biome

docs(changeset): feat: support new ui events for the client
  .changeset/cozy-parts-change.md
Due: prettier

docs(changeset): fix: remove the broder from the item decorators
  .changeset/dry-worms-grow.md
Due: prettier

docs(changeset): feat: implement the new workspace sidebar
  .changeset/crisp-tips-grow.md
Due: prettier

clean up stuff
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/DownloadAppButton.vue
  packages/api-client/src/v2/features/app/helpers/load-registry-document.ts
  packages/api-client/src/v2/features/app/hooks/use-document-filter.test.ts
  packages/api-client/src/v2/features/app/hooks/use-document-filter.ts
  packages/api-client/src/v2/features/app/hooks/use-sidebar-context-menu.test.ts
Due: prettier, biome

resolve
  packages/api-client/src/v2/features/app/components/AppSidebar.vue
Due: prettier, biome

remove teh slot
  packages/api-client/src/v2/features/app/App.vue
Due: prettier, biome

docs(pricing): simplify pricing page layout
  documentation/guides/pricing.md
Due: prettier

fix(docs): add borders to pricing table
  documentation/guides/pricing.md
Due: prettier

fix(docs): 1px height sticky fix
  documentation/guides/pricing.md
Due: prettier

chore(playwright): upgrade playwright to 1.59.1
  .github/workflows/ci.yml
  packages/api-reference/playwright.config.ts
  packages/components/playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages-format, prettier, biome

feat(helpers): add a helper playwright utilities
  packages/api-reference/playwright.config.ts
  packages/components/playwright.config.ts
  packages/helpers/package.json
  packages/helpers/src/playwright/README.md
  packages/helpers/src/playwright/docker.ts
  pnpm-lock.yaml
Due: packages-format, prettier, biome

chore(playwright): set platform flag
  packages/api-reference/playwright.config.ts
  packages/components/playwright.config.ts
Due: prettier, biome

feat(playwright): update docs
  .github/workflows/ci.yml
  packages/api-reference/test/README.md
  packages/api-reference/test/snapshots-cdn/README.md
  packages/components/test/README.md
Due: prettier

docs(changeset): feat(helpers): add a helper playwright utilities
  .changeset/petite-ghosts-relate.md
Due: prettier

fix(docs): pricing mobile layout
  documentation/guides/pricing.md
Due: prettier

feat(api-client): rename initial draft request from '/' to 'First Request'
  .changeset/rename-initial-draft-request.md
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-state.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/workspace-store/src/mutators/document.test.ts
  packages/workspace-store/src/mutators/document.ts
Due: prettier, biome

feat: almsot there but not quite
  packages/api-client/src/v2/blocks/operation-block/OperationBlock.vue
  packages/api-client/src/v2/blocks/operation-block/components/Header.vue
  packages/api-client/src/v2/blocks/scalar-address-bar-block/components/AddressBar.vue
  packages/api-client/src/v2/features/app/app-state.ts
Due: prettier, biome

feat(docs): add /brand page with logos, wordmark, icon, and colors
  .gitattributes
  documentation/assets/brand.js
  documentation/assets/brand/scalar-brand-assets.zip
  documentation/assets/brand/scalar-logomark-dark.png
  documentation/assets/brand/scalar-logomark-dark.svg
  documentation/assets/brand/scalar-logomark-light.png
  documentation/assets/brand/scalar-logomark-light.svg
  documentation/assets/brand/scalar-wordmark-dark.png
  documentation/assets/brand/scalar-wordmark-dark.svg
  documentation/assets/brand/scalar-wordmark-light.png
  documentation/assets/brand/scalar-wordmark-light.svg
  documentation/guides/app/getting-started.md
  documentation/guides/brand.md
  documentation/guides/docs/getting-started.md
  documentation/guides/enterprise/enterprise.md
  documentation/guides/introduction.md
  documentation/guides/pricing.md
  documentation/guides/registry/getting-started.md
  documentation/guides/sdks/getting-started.md
  knip.jsonc
  scalar.config.json
Due: prettier, biome

feat(components): add sidebar group loading state
  packages/components/src/components/ScalarSidebar/ScalarSidebar.e2e.ts
  packages/components/src/components/ScalarSidebar/ScalarSidebar.stories.ts
  packages/components/src/components/ScalarSidebar/ScalarSidebarGroup.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarLoading.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarNestedItems.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarSearchInput.vue
  packages/components/src/components/ScalarSidebar/ScalarSidebarSection.vue
  packages/components/src/components/ScalarSidebar/snapshots/loading-groups-1-base.png
  packages/components/src/components/ScalarSidebar/snapshots/loading-groups-2-nested.png
  packages/components/src/components/ScalarSidebar/types.ts
Due: prettier, biome

docs(changeset): feat(components): add sidebar group loading state
  .changeset/plenty-beds-hug.md
Due: prettier

chore: add the header with the worksapce switcher
  packages/api-client/playground/web/index.html
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppHeader.vue
Due: prettier, biome

docs(changeset): feat: add app header
  .changeset/flat-llamas-stop.md
Due: prettier

feat(api-client): add the app header with the workspace switcher (#8977)
  .changeset/flat-llamas-stop.md
  packages/api-client/playground/web/index.html
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppHeader.vue
Due: prettier, biome

add the settings
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppHeader.vue
Due: prettier, biome

fix height issues
  packages/api-client/src/v2/features/app/App.vue
Due: prettier, biome

docs(changeset): fix: layout height collapse and improve menu behavior
  .changeset/plain-otters-flow.md
Due: prettier

fix(api-client): layout height collapse and improve menu behavior (#8978)
  .changeset/plain-otters-flow.md
  packages/api-client/src/v2/features/app/App.vue
  packages/api-client/src/v2/features/app/components/AppHeader.vue
Due: prettier, biome

handle the migration
  packages/api-client/src/v2/features/app/app-state.ts
  packages/api-client/src/v2/features/app/helpers/filter-workspaces.test.ts
  packages/api-client/src/v2/features/app/helpers/filter-workspaces.ts
  packages/api-client/src/v2/features/app/helpers/group-workspaces.test.ts
  packages/api-client/src/v2/features/app/helpers/group-workspaces.ts
  packages/oas-utils/src/migrations/migrate-to-indexdb.ts
  packages/workspace-store/src/persistence/index.test.ts
  packages/workspace-store/src/persistence/index.ts
  packages/workspace-store/src/persistence/indexdb.ts
  packages/workspace-store/src/persistence/migrations/v2-team-to-local.test.ts
  packages/workspace-store/src/persistence/migrations/v2-team-to-local.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
