Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: packages-format, prettier, biome

packages-format:
  run: pnpm script packages format; git add \*package.json pnpm-lock.yaml;

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix: comments
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
  packages/api-client/src/v2/components/code-input/helpers/build-pill-context.ts
  packages/api-client/src/v2/components/code-input/helpers/lookup-variable-value.test.ts
  packages/api-client/src/v2/components/code-input/helpers/lookup-variable-value.ts
Due: prettier, biome

chore: cut down comments
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

fix: comments
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

chore; more
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
Due: prettier, biome

fix(api-client): close CodeInputLite parity gaps with CodeInput
  packages/api-client/src/v2/blocks/request-block/components/RequestTable.vue
  packages/api-client/src/v2/blocks/request-block/components/RequestTableRow.vue
  packages/api-client/src/v2/components/code-input/CodeInputLite.test.ts
  packages/api-client/src/v2/components/code-input/CodeInputLite.vue
  packages/api-client/src/v2/components/data-table/DataTableInput.vue
  packages/api-client/src/v2/features/environments/components/EnvironmentVariablesTable.vue
Due: prettier, biome

fix: some csp issues
  projects/scalar-app/entrypoints/electron/renderer/index.html
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

fix(api-reference): prevent text wrapping in SecurityRequirementBadge
  packages/api-reference/src/features/Operation/components/SecurityRequirementBadge.vue
Due: prettier, biome

chore: remove web stuff from electron csp
  projects/scalar-app/entrypoints/electron/renderer/index.html
Due: prettier

chore: add changeset
  .changeset/fix-security-badge-wrapping.md
Due: prettier

chore: update screeny
  projects/scalar-app/test/scalar-app-page-tour.e2e.ts-snapshots/operation-example-long-request-url.png
Due: none

test(api-client): add CodeInput parity coverage for CodeInputLite
  packages/api-client/src/v2/components/code-input/CodeInputLite.test.ts
Due: prettier, biome

add vite plugin to inject csp localhost for dev mode
  .changeset/five-gifts-visit.md
  projects/scalar-app/dev-localhost-csp-plugin.ts
  projects/scalar-app/electron.vite.config.ts
  projects/scalar-app/vite.config.ts
Due: prettier, biome

add gaps on the changelog modal
  projects/scalar-app/src/features/whats-new/components/ReleaseNoteContent.vue
Due: prettier, biome

ci: remove Go setup and test servers from test-packages job
  .github/workflows/ci.yml
Due: prettier

update the changelog modal
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

fix formatting
  projects/scalar-app/RELEASE_NOTES.schema.json
Due: prettier, biome

ci: restore test-proxy-server job, remove Go + test servers from unit test shards only
  .github/workflows/ci.yml
Due: prettier

perf(api-reference): add benchmark suite for search, helpers, and configuration
  .changeset/add-api-reference-benchmarks.md
  packages/api-reference/src/features/Search/search.bench.ts
  packages/api-reference/src/helpers/normalize-configurations.bench.ts
  packages/api-reference/src/helpers/openapi.bench.ts
  packages/api-reference/src/standalone.bench.ts
Due: prettier, biome

push the changelog
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

lint
  projects/scalar-app/RELEASE_NOTES.schema.json
Due: prettier, biome

fix(docs): add patched for overridden styles
  documentation/assets/styles.css
  documentation/guides/introduction.md
Due: prettier

docs(changeset): fix(scalar-app): csp issue
  .changeset/few-weeks-juggle.md
Due: prettier

add the csp
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

chore: update notes
  projects/scalar-app/CHANGELOG.md
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

format file
  projects/scalar-app/RELEASE_NOTES.schema.json
Due: prettier, biome

docs(changeset): chore: bumping release
  .changeset/slick-doors-stick.md
Due: prettier

docs(changeset): chore: deploy scalar app
  .changeset/upset-shrimps-smell.md
Due: prettier

docs(changeset): chore: bump
  .changeset/young-snakes-fry.md
Due: prettier

fix tests
  .agents/skills/cloud-agents-starter/SKILL.md
  .github/workflows/ci.yml
  projects/scalar-app/package.json
  projects/scalar-app/src/features/collection/WorkspaceCollection.test.ts
  projects/scalar-app/test/vitest.setup.ts
  tooling/scripts/delete-cloudflare-pages-preview.sh
Due: prettier, biome

run the tests for the projects dir
  .github/workflows/ci.yml
Due: prettier

chore: fix changelogs
  projects/scalar-app/CHANGELOG.md
  projects/scalar-app/RELEASE_NOTES.json
  projects/scalar-app/RELEASE_NOTES.md
Due: prettier, biome

fix: format
  projects/scalar-app/RELEASE_NOTES.schema.json
Due: prettier, biome

fix: csp
  projects/scalar-app/entrypoints/web/index.html
Due: prettier

docs(changeset): fix: csp issue
  .changeset/goofy-geckos-sit.md
Due: prettier

fix: ci releasing string
  .github/workflows/ci.yml
Due: prettier

chore: format
  .github/workflows/ci.yml
Due: prettier

fix: the gate
  .github/workflows/ci.yml
Due: prettier

fix client issues
  packages/components/src/components/ScalarMenu/ScalarMenu.test.ts
  packages/components/src/components/ScalarMenu/ScalarMenu.vue
Due: prettier, biome

fix tests
  packages/components/src/components/ScalarMenu/ScalarMenu.test.ts
  packages/components/src/components/ScalarMenu/ScalarMenuLink.test.ts
  packages/components/src/components/ScalarMenu/openScalarMenuPanel.ts
Due: prettier, biome

Path conditions:
  packages-format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  biome: any of: *.{js,ts,cjs,mjs,d.ts,d.cts,d.mts,jsx,tsx,json,jsonc,vue,svelte,astro}
