Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    package_format:
      glob: 'pnpm-lock.yaml'
      run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED
    prettier:
      glob: '*.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}'
      run: 'pnpm prettier --write {staged_files} && git add {staged_files}'
    eslint:
      glob: '*.{js,ts,jsx,tsx,vue}'
      run: 'pnpm eslint {staged_files} --fix && git add {staged_files}'

chore: update links (#2974)
  README.md
  packages/openapi-parser/README.md
Due: prettier

feat(api-client): add environment selector to addressbar (#2667)
  .changeset/thick-wasps-care.md
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/store/workspace.ts
  packages/api-client/src/views/Request/Request.vue
  packages/oas-utils/src/entities/workspace/workspace.ts
Due: prettier, eslint

feat: respond with no content for /204
  packages/void-server/src/createVoidServer.test.ts
  packages/void-server/src/createVoidServer.ts
Due: prettier, eslint

docs(changeset): feat: respond with no content for /204
  .changeset/swift-rings-chew.md
Due: prettier

fix: update galaxy dockerfile dependencies
  packages/galaxy/Dockerfile
Due: none

feat: Add basic diffing logic
  .vscode/settings.json
  packages/oas-utils/package.json
  packages/oas-utils/src/diff/diff.test.ts
  packages/oas-utils/src/diff/diff.ts
  packages/oas-utils/src/diff/fixtures/a-basic.test.yaml
  packages/oas-utils/src/diff/fixtures/b-basic-add.test.yaml
  packages/oas-utils/src/diff/fixtures/b-basic-delete.test.yaml
  packages/oas-utils/src/diff/fixtures/b-basic-modify.test.yaml
  packages/oas-utils/src/diff/index.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: update galaxy dockerfile dependencies (#2975)
  packages/galaxy/Dockerfile
Due: none

test: sendRequest with no content
  packages/api-client/src/libs/sendRequest.test.ts
Due: prettier, eslint

fix: cli init test deletes scalar config file
  packages/cli/package.json
  packages/cli/src/commands/format/format.test.ts
  packages/cli/src/commands/init/init.test.ts
  packages/cli/src/commands/validate/validate.test.ts
Due: prettier, eslint

fix(next-openapi): remove ts config from playground
  packages/nextjs-openapi/playground/next.config.js
  packages/nextjs-openapi/playground/next.config.ts
Due: prettier, eslint

docs(changeset): fix(nextjs-openapi): convert next config back to js from ts
  .changeset/few-ladybugs-swim.md
Due: prettier

fix(next-openapi): remove ts config from playground (#2979)
  .changeset/few-ladybugs-swim.md
  packages/nextjs-openapi/playground/next.config.js
  packages/nextjs-openapi/playground/next.config.ts
Due: prettier, eslint

fix: Initial sweep of fixes to get client running
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarHistory.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/layouts/App/ApiClientApp.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/libs/index.ts
  packages/api-client/src/libs/local-storage.ts
  packages/api-client/src/libs/pathParams.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Environment/EnvironmentVariableDropdown.vue
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestBody.vue
  packages/api-client/src/views/Request/RequestSection/RequestParams.vue
  packages/api-client/src/views/Request/components/OAuth2.vue
  packages/api-client/src/views/Request/components/OAuthScopesInput.vue
  packages/api-client/src/views/Servers/Servers.vue
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/spec/server.ts
  packages/oas-utils/src/transforms/import-spec.test.ts
  packages/oas-utils/src/transforms/import-spec.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: cli init test deletes scalar config file (#2977)
  packages/cli/package.json
  packages/cli/src/commands/format/format.test.ts
  packages/cli/src/commands/init/init.test.ts
  packages/cli/src/commands/validate/validate.test.ts
Due: prettier, eslint

fix: upgrade returns correct OpenAPI document version type
  packages/openapi-parser/src/types/index.ts
  packages/openapi-parser/src/utils/upgrade.test-d.ts
  packages/openapi-parser/src/utils/upgrade.test.ts
  packages/openapi-parser/src/utils/upgrade.ts
Due: prettier, eslint

docs(changeset): fix: upgrade returns correct OpenAPI document version type
  .changeset/slimy-actors-invent.md
Due: prettier

chores: eslint script max lines
  .eslintrc.cjs
Due: none

feat: register app as default handler for scalar:// links
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

feat: open app links on windows and linux, too
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

docs(changeset): feat: register as the default app for `scalar://` links
  .changeset/dirty-months-jump.md
Due: prettier

fix(api-client): request sidebar item ellipsis menu events
  packages/api-client/src/views/Request/RequestSidebarItem.vue
Due: prettier, eslint

docs(changeset): fix: request sidebar item ellipsis menu events
  .changeset/dull-owls-brake.md
Due: prettier

chore: remove duplicate code
  packages/api-client-app/src/renderer/src/main.ts
Due: prettier, eslint

docs(changeset): chore(api-client): removed axios dependency
  .changeset/funny-turkeys-arrive.md
Due: prettier

feat: removed axios dependency
  packages/api-client/package.json
  packages/api-client/src/libs/normalizeHeaders.test.ts
  packages/api-client/src/libs/normalizeHeaders.ts
  packages/api-client/src/libs/sendRequest.test.ts
  packages/api-client/src/libs/sendRequest.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseBody.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseSection.vue
  packages/api-reference/package.json
  packages/api-reference/src/helpers/getHarRequest.ts
  packages/oas-utils/package.json
  packages/oas-utils/src/entities/workspace/spec/requests.ts
  pnpm-lock.yaml
Due: package_format, prettier, eslint

chore: add some disabled debugging lines to the getBody helper
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

feat: handle bad form data requests
  packages/void-server/src/utils/getBody.ts
Due: prettier, eslint

fix: body is JSON stringified, no matter what’s in there
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

chore: remove extra
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

chore: comment
  packages/api-client/src/views/Request/Request.vue
Due: prettier, eslint

chore: split form data tests, mark formdata file test as todo
  packages/api-client/src/libs/sendRequest.test.ts
Due: prettier, eslint

fix: fetch sets wrong content type header
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

fix: delete content type
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

fix: broken import
  packages/api-reference/src/legacy/helpers/normalizeHeaders.ts
Due: prettier, eslint

chore: add filenames to form data
  packages/api-client/src/libs/sendRequest.ts
Due: prettier, eslint

fix: headers aren’t normalized
  packages/api-reference/src/helpers/getHarRequest.ts
  packages/api-reference/src/legacy/helpers/normalizeHeaders.test.ts
  packages/api-reference/src/legacy/helpers/normalizeHeaders.ts
Due: prettier, eslint

feat: add example HTML page to open an OpenAPI document in Scalar
  packages/api-client-app/open/index.html
  packages/api-client-app/package.json
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

chore: prevent multiple windows
  packages/api-client-app/src/main/index.ts
Due: prettier, eslint

feat: Break up Request.vue
  packages/api-client/src/libs/event-busses/hot-keys-bus.ts
  packages/api-client/src/store/request.test.ts
  packages/api-client/src/store/requests.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-client/src/views/Request/handle-drag.ts
  packages/api-client/tsconfig.json
Due: prettier, eslint
