Repository scalar/scalar: changes, and which lefthook commands are due for each by the changed paths.
All: package_format, prettier, eslint

package_format:
  run: pnpm format:packages; git add \*package.json pnpm-lock.yaml; echo PACKAGE FILES FORMATTED

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

eslint:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

chore: add back in const export
  packages/components/src/components/ScalarIcon/icons/icons.ts
  packages/components/src/components/ScalarIcon/icons/index.ts
Due: prettier, eslint

docs(changeset): chore: added new lint rule for type importing for better perf
  .changeset/curly-pandas-joke.md
Due: prettier

feat: animated readme image
  README.md
Due: prettier

fix: safari svg
  README.md
Due: prettier

fix: mobile svg
  README.md
Due: prettier

Update README.md (#1608)
  README.md
Due: prettier

fix: disable scroll observer on sidebar click (#1605)
  packages/api-reference/src/components/Sidebar/SidebarElement.vue
Due: prettier, eslint

feat(#1500): allow multiple specs for nuxt integration (#1603)
  .changeset/hip-spies-walk.md
  packages/api-reference/src/components/Sidebar/SidebarHttpBadge.vue
  packages/nuxt/README.md
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/module.ts
  packages/themes/src/components/DefaultFonts.vue
Due: prettier, eslint

fix: remove ts extension from tailwind export (#1602)
  .changeset/quick-boats-thank.md
  packages/components/src/tailwind/index.ts
Due: prettier, eslint

feat: allow toggling of password fields (#1599)
  .changeset/bright-horses-search.md
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardForm.vue
  packages/api-client/src/components/ApiClient/Request/RequestAuthentication/CardFormTextInput.vue
  packages/components/src/components/ScalarIcon/icons/Hide.svg
  packages/components/src/components/ScalarIcon/icons/Show.svg
  packages/components/src/components/ScalarIcon/icons/icons.ts
Due: prettier, eslint

feat: add events and tests to standalone references (#1601)
  .changeset/six-humans-visit.md
  README.md
  packages/api-reference/package.json
  packages/api-reference/src/standalone.spec.ts
  packages/api-reference/src/standalone.ts
  packages/use-toasts/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

feat: add gif to readme
  README.md
Due: prettier

feat: add gif to readme (#1611)
  README.md
Due: prettier

feat: add scalar popover (#1596)
  .changeset/nice-buckets-appear.md
  packages/components/src/components/ScalarDropdown/ScalarDropdown.stories.ts
  packages/components/src/components/ScalarDropdown/ScalarDropdown.vue
  packages/components/src/components/ScalarDropdown/index.ts
  packages/components/src/components/ScalarFloating/ScalarFloating.vue
  packages/components/src/components/ScalarFloating/types.ts
  packages/components/src/components/ScalarFloating/useResizeWithTarget.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.spec.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.stories.ts
  packages/components/src/components/ScalarPopover/ScalarPopover.vue
  packages/components/src/components/ScalarPopover/index.ts
  packages/components/src/index.ts
Due: prettier, eslint

fix: docusaurus README example
  packages/docusaurus/README.md
Due: prettier

fix: docusaurus README example (#1612)
  packages/docusaurus/README.md
Due: prettier

fix: mimetypes with charsets and variants are ignored, see #920 (#1606)
  .changeset/small-dancers-call.md
  packages/api-reference/src/components/Content/Operation/PathResponses/PathResponses.vue
  packages/oas-utils/src/getRequestBodyFromOperation.test.ts
  packages/oas-utils/src/getRequestBodyFromOperation.ts
  packages/oas-utils/src/index.ts
  packages/oas-utils/src/normalizeMimeTypeObject.test.ts
  packages/oas-utils/src/normalizeMimeTypeObject.ts
  packages/oas-utils/src/types.ts
Due: prettier, eslint

fix: get port from env (#1598)
  examples/nestjs-api-reference-fastify/Dockerfile
  examples/nestjs-api-reference-fastify/src/main.ts
Due: prettier, eslint

fix: nestjs express example (#1595)
  examples/nestjs-api-reference-express/.dockerignore
  examples/nestjs-api-reference-express/Dockerfile
  examples/nestjs-api-reference-express/src/main.ts
Due: prettier, eslint

fix: run server with PORT from env (#1597)
  examples/react/Dockerfile
Due: none

feat: containerize and deploy hono example app (#1578)
  cloudbuild.yaml
  examples/api-client-proxy/package.json
  examples/cdn-api-reference/package.json
  examples/echo-server/package.json
  examples/express-api-reference/package.json
  examples/fastify-api-reference/package.json
  examples/hono-api-reference/.dockerignore
  examples/hono-api-reference/Dockerfile
  examples/hono-api-reference/package.json
  examples/hono-api-reference/src/index.ts
  examples/hono-api-reference/tsconfig.json
  package.json
  packages/api-client-proxy/package.json
  packages/cli/package.json
  packages/echo-server/package.json
  packages/mock-server/package.json
  pnpm-lock.yaml
Due: package_format, prettier, eslint

fix: set env variable in Dockerfile and add comments (#1600)
  examples/express-api-reference/Dockerfile
Due: none

chore: remove generated files
  packages/nuxt/src/runtime/plugins/hydrateClient.d.ts
  packages/nuxt/src/runtime/plugins/hydrateClient.mjs
Due: prettier, eslint

fix: gitignore entries in gitignore are ignored
  packages/nuxt/.gitignore
Due: none

fix: generated files landed in the repository (#1617)
  packages/nuxt/.gitignore
  packages/nuxt/src/runtime/plugins/hydrateClient.d.ts
  packages/nuxt/src/runtime/plugins/hydrateClient.mjs
Due: prettier, eslint

docs(changeset): fix: failed to execute structuredClone
  .changeset/unlucky-carrots-act.md
Due: prettier

fix: failed to execute structuredClone
  packages/oas-utils/src/normalizeMimeTypeObject.ts
Due: prettier, eslint

fix: can not execute structuredClone (#1615)
  .changeset/unlucky-carrots-act.md
  packages/oas-utils/src/normalizeMimeTypeObject.ts
Due: prettier, eslint

fix: received NaN as the port
  examples/nestjs-api-reference-express/src/main.ts
Due: prettier, eslint

fix: received NaN as the port (#1616)
  examples/nestjs-api-reference-express/src/main.ts
Due: prettier, eslint

chore: increase wait for dom tests
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

chore: increase wait for dom tests (#1618)
  packages/api-reference/src/standalone.spec.ts
Due: prettier, eslint

fix: useSidebar heading entries
  packages/api-reference/src/hooks/useSidebar.ts
Due: prettier, eslint

docs(changeset): fix: sidebar headings don’t reset
  .changeset/lazy-zebras-yell.md
Due: prettier

ci: give permission to mint an ID-token
  .github/workflows/release.yml
Due: prettier

ci: enable provenance statements
  .npmrc
Due: none

docs(changeset): chore: add provenance statement
  .changeset/poor-geckos-collect.md
Due: prettier

Path conditions:
  package_format: any of: pnpm-lock.yaml
  prettier: any of: *.{js,ts,jsx,tsx,vue,md,json,css,scss,html,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx,vue}
